[2016-02-29 16:40] JKillian opened #2 "Added this repo to the TSLint docs"
Hi @mgechev - just wanted to let you know that I've added your repository to the [TSLint README](https://github.com/palantir/tslint#custom-rules) and [documentation](http://palantir.github.io/tslint/usage/custom-rules/) as a place to find custom rules for TSLint. Neat idea to make a collection of Angular2 rules!

[2016-02-29 16:40] #2 closed

[2016-02-29 19:06] mgechev commented on #2
Thanks!

[2016-03-02 13:30] mgechev opened #4 "Do not rename inputs/outputs"
In case the file looks like:

[code]

This is not a rename but the rule will throw an error. [The assertion](https://github.com/mgechev/ng2lint/blob/master/src/inputPropertyDirectiveRule.ts#L9-L11) should be slightly refactored.

[2016-03-06 17:34] mgechev commented on #4
Fixed in https://github.com/mgechev/ng2lint/commit/c960b5f9b9fd558cafef5c17fd2ee93d3d0ac33c

[2016-03-06 17:34] #4 closed

[2016-03-06 17:35] mgechev opened #6 "Create higher level visitor to make the code DRYier"
Create Angular 2 specific visitor which extends `SyntaxWalker` with methods like:

- `visitDecorator`
- `visitDirective`
- `visitComponent`
- `visitHostListener`
- `visitHostBinding`
- `visitInput`
- `visitOutput`
- etc.

[2016-03-08 16:04] #6 closed

[2016-03-08 16:05] mgechev opened #7 "feat(ng2Walker): verify that the decorators are Angular 2 specific"
In the `Ng2Walker` verify that the decorators to visit are imported from `angular2/core`.

[2016-03-08 16:06] mgechev opened #8 "refactor(rules): use ng2Walker instead of the default tslint walker in rules"

[2016-03-08 16:07] mgechev opened #9 "feat(ng2Walker): use metadata reader for less boilerplates"
Once a stable version of the metadata reader lands in the `advanced` branch, pass more descriptive information to:

- `visitNg2Component`
- `visitNg2Directive`

[2016-03-14 11:11] mgechev opened #11 "Use metadata reader"
@chuckjaz implemented much more advanced metadata reader which soon will land in the Angular 2 official repository https://github.com/angular/angular/pull/7492.

We can use both:
- [ ] `MetadataReader`, for the module which warns/ensures correctness of the program.
- [ ] `Evaluator` for the linting module, which can help us get "foldable" values.

// cc @preslavsh

[2016-03-18 12:39] amcdnl opened #12 "non-ts version?"
A non-typescript version would be nice! is this on your roadmap?

[2016-03-18 12:45] mgechev commented on #12
There's a major refactoring coming soon and we will concentrate mostly on TypeScript.

Are you using Angular 2 with ES2016?

[2016-03-18 13:06] amcdnl commented on #12
I'm rolling stage-0 Babel.

[2016-03-22 19:35] mgechev commented on #12
Without type annotations we won't be able to achieve the same functionality as what we're planning. Most likely non-ts version will not be implemented.

[2016-03-22 19:35] #12 closed

[2016-03-22 21:11] amcdnl commented on #12
Thanks for feedback either way; cheers!

[2016-03-25 15:24] randyaa opened #13 "Attempting to contribute a fileNameBase rule & failing miserably"
I've started [a fork with some changes around creating a fileNameBase rule](https://github.com/randyaa/ng2lint/commit/52aee8bd4fb4e1542ae639cacb3efedb31a14aae) with the idea of eventually getting to supporting the styleguide's concept of kebab-case (configurable of course) with .component.ts suffix's.

I've never written any sort of linting rule before so this is all new to me, so I appologize if

[2016-03-25 15:27] mgechev commented on #13
If you are referencing `_super` with `_` prefix, you should remove it.

[2016-03-25 15:40] randyaa commented on #13
Thanks, but i definitely have and i'm not doing anything with `_super` that's just the transpiled version of my TS lint rule. Also, I'm definitely extending Lint.RuleWalker.

[2016-03-27 13:45] #8 closed

[2016-03-27 13:46] mgechev commented on #7
It'll be resolved once we include https://github.com/mgechev/codelyzer/issues/11.

[2016-03-27 13:46] #7 closed

[2016-03-27 13:46] mgechev commented on #9
It's better to use the official metadata reader https://github.com/mgechev/codelyzer/issues/11.

[2016-03-27 13:46] #9 closed

[2016-03-27 13:47] mgechev commented on #13
I'll take a look today.

[2016-03-30 01:56] elijahiuu opened #14 "selectors with classes"
This selector is not passing the checker:

[code]

it supposed to target `<abc class="xyz"></abc>`.

[2016-03-30 08:08] preslavsh commented on #14
What is your typescript version?

[2016-03-30 08:12] mgechev commented on #14
The selector `abc.xyz` is not kebab-case so this is the expected behavior.

You can disable the rule by:

[code]

[2016-03-30 08:12] #14 closed

[2016-03-30 08:26] mgechev opened #15 "Develop selector validators compatible with spec"
Currently the selectors' validators are not compatible with [spec](https://www.w3.org/TR/css3-selectors/).

[2016-03-30 08:29] mgechev commented on #14
@elijahiuu although I think in this case we need to rise a warning, there's still issue in our selector validators that is [addressed here](https://github.com/mgechev/codelyzer/issues/15).

[2016-04-06 11:15] tsm91 opened #16 "[question] is it possible to port this to eslint?"
Hi @mgechev,

since it is possible to write the very same* syntax in js with [babel-plugin-angular2-annotations](https://github.com/shuhei/babel-plugin-angular2-annotations) i wonder if it is possible to modify codelyzer to also support eslint.

I have to admit i haven't looked into how to create custom eslint, tslint rules. If they have similar APIs or if it is possible to re-create each rule wit

[2016-04-06 12:22] mgechev commented on #16
Hey @tsm91, in theory it is possible - we can turn the JS and TS ASTs to a common format and write our walkers/visitors for their shape. On the other hand, this way we'll loose metadata we get from the type annotations which exists in the TS AST.

Although it is possible, I'd prefer to keep this feature once we have full feature set for TypeScript development.

[2016-04-06 12:22] #16 closed

[2016-04-06 12:29] tsm91 commented on #16
Okay, thanks for the info

fair enough

[2016-04-18 19:39] Hotell opened #20 "docs - usage"
It would be cool to have usage in docs, because it is not immediately obvious how to use this tool. :)

[2016-04-19 07:27] #20 closed

[2016-04-19 18:40] t0rrro opened #23 "Atom Issues"
I have a tslint.json in my base directory with
`"rulesDirectory": ["node_modules/codelyzer/dist/src"]`

But I get constant errors from Atom saying Could not find custom rule directory: /node_modules/codelyzer/dist/src

I saved codelyzer to both global and as a dev dependency

[2016-04-20 00:37] laco0416 opened #24 "Rules destination"
I think `node_modules/codelyzer/dist/src` is not intuitive. Mainly **dist/src** part.

I'd like to import rules from `node_modules/codelyzer/dist/rules` or `.../dist/ng2lint`

[2016-04-20 11:31] mgechev commented on #24
Fixed by https://github.com/mgechev/codelyzer/commit/c8217cbeda1e79639f858fe234b57a32cac9202e.

[2016-04-20 11:31] #24 closed

[2016-04-20 13:57] laco0416 commented on #24
Thank you!

[2016-04-20 14:02] bluEEil commented on #23
I had similiar problem
I changed it to the following:
"rulesDirectory": ["node_modules/codelyzer"]

after that I still had problem that it missed the typescript package in my project (I had it in the global node_modules folder and not the project one) so I added the typescript folder to the project node_modules and than it worked

[2016-04-20 15:49] t0rrro commented on #23
Still can't find it. I see the codelyzer folder in node_modules

[2016-04-20 16:04] mgechev commented on #23
Go to Settings -> Packages -> Linter Tslint

In "Custom rules directory (absolute path)" add the absolute path pointing to your rules directory (in my case "/Users/mgechev/Projects/angular2-seed/node_modules/codelyzer").

[2016-04-20 16:04] #23 closed

[2016-04-20 20:35] bluEEil commented on #23
Is the path you stated "node_modules/codelyzer/dist/src" really exists? for me it was incorrect after installing like the README said (I had not dist folder in there)

[2016-04-20 21:22] mgechev commented on #23
Today I just changed codelyzer...let me update the readme.

[2016-04-20 21:28] t0rrro commented on #23
Yep, that fixed it for me. Thanks

[2016-05-05 01:16] denodaeus opened #28 "Issue parsing ts file"
[code]

A gist of the file:  [here](https://gist.github.com/denodaeus/99617ff838cb6215b4757411a86165cb)
tslint.json:  [here](https://gist.github.com/denodaeus/f3b8201498cbcbe32b71e37b715acad0)

[code]

[code]

[2016-05-05 04:09] mgechev commented on #28
Thanks for reporting this out! I can take a look right after ng-conf.

@preslavsh can you take a look at the issue by then?

[2016-05-05 11:38] preslavsh commented on #28
The problems occurs, when class is declared as property.
`  static SampleTestCase = class extends TestCase {
    constructor() {
    }`

It is fixed here: #29

[2016-05-06 15:00] preslavsh commented on #28
Thanks for sharing the problem. The issue is fixed.

[2016-05-06 15:00] #28 closed

[2016-05-06 15:37] Hotell opened #30 "component/directive selector rules doesn't work with es6 template string literals"
I know it's strange to use string literals for selectors, but it's valid js :)

used rules:
[code]

![codelyzer-bug-es6-string-literals](https://cloud.githubusercontent.com/assets/1223799/15077929/0bf79f92-13b1-11e6-9f11-e07c53cd756e.gif)

[2016-05-06 16:48] preslavsh commented on #30
Thank you for mentioning. We will take a look.

[2016-05-06 16:56] Hotell commented on #30
I'm already working on fix ;) PR incoming

[2016-05-06 17:03] Hotell opened #32 "docs: contribution guidelines"
contribution guidelines are missing :)

when #31 will be merged, I can add basic guideline, because it will be easy as
- npm install
- npm run test:watch

[2016-05-06 17:21] mgechev commented on #30
Soon we'll add the evaluator from the metadata collector and such issues will be gone.

[2016-05-06 17:22] #30 closed

[2016-05-07 04:55] antonybudianto opened #33 "[feat] Can we store the default prefix?"
Hi @mgechev , thanks for a great Codelyzer!
I would like to integrate it with my [starter](https://github.com/antonybudianto/angular2-starter), so far no issue, but I found some rules value is repetitive, for example:
[code]

the repetitive part is `"as"` one, it'd be cool if I can store the prefix default in variable like
[code]
so I need to change only one part to reflect all of them, of course

[2016-05-09 09:55] yahyaKacem opened #34 "Could not find the following rules specified in the configuration"
first thanks for this I have been struggling on how to enforce this rules, I just installed this and tried it it worked without the [Recommended configuration](https://github.com/mgechev/codelyzer#recommended-configuration), but once I add those it gives me this error (with tslint cli):
`global tslint v: 3.9.0`

        throw new Error(errorMessage);
        ^
Error: Could not find the following r

[2016-05-09 10:16] mgechev commented on #34
With gulp-tslint you need to specify the rulesDirectory property inline, in gulpfile.js. Take a look at angular.io's gulpfile for details.

[2016-05-09 10:16] #34 closed

[2016-05-10 01:33] laco0416 opened #35 "kebab-case shouldn't allow non-hyphened string"
As [Style Guide](https://angular.io/styleguide#!#components) says, a component name should be named in kebab-case. And it should follow Custom Elements spec.

Custom Elements spec says the following:

But currently codelyzer allows a name doesn't contain hyphen as kebab-case.

- `selector: "foobar"` : passed
- `selector: "foo-bar"` : passed
- `selector: "fooBar"` : invalid

**Expected**

`selector

[2016-05-10 06:17] #35 closed

[2016-05-11 10:40] blacksonic opened #37 "Support for Javascript"
Since Angular 2 applications can be written in Javascript and [can use the same syntax as Typescript](http://shuheikagawa.com/blog/2016/05/08/angular-2-with-babel/) is it a viable option to Codelyzer supports Javascript projects through custom ESLint rules?

[2016-05-11 12:28] mgechev commented on #37
Currently codelyzer's implementation is only proof-of-concept (although still kind of  useful). There are much more features that are under design and should land by the end of the year. They, most likely, will be very tightly coupled with the TypeScript AST, and syntax. Also, the lack of static typing in JavaScript will limit the support of advanced features we're planning to introduce.

For sure

[2016-05-11 12:28] #37 closed

[2016-05-11 16:02] denodaeus commented on #28
Awesome, thanks.

[2016-05-12 22:56] Foxandxss opened #38 "Prefixes could to be more restrictive"
If we force our prefix to be `my` it will accept `mys-foo` or any string that starts with `my` actually.

Perhaps I am a bit nitpick here, but I just realized this when I was trying to report anything else :P

[2016-05-12 22:58] Foxandxss opened #39 "Prefixes are not necessarily at the beginning of the string"
We could have something like:

[code]

That won't work even if it has the correct prefix.

![](http://puu.sh/oPLli/0049ea3dd8.png)

As a bonus, it doesn't think it is an attribute directive.

[2016-05-13 09:10] mgechev commented on #39
This is duplication of https://github.com/mgechev/codelyzer/issues/15. Currently we support only basic selectors but this is in the roadmap for sure.

[2016-05-13 09:10] #39 closed

[2016-05-13 09:10] mgechev commented on #38
Do you want to open a PR with this fix?

[2016-05-13 09:51] Foxandxss commented on #39
Welp, I swear I looked.

[2016-05-13 10:07] mgechev commented on #39
Haha, no worries!

[2016-05-13 18:33] Blackbaud-PaulCrowder opened #40 "Add validation for Style 03-05 Import Destructuring Spacing"
The official Angular Style Guide has a rule called "Import Destructuring Spacing" that says that one space should be present after the opening brace and before the closing brace of `import` statements.  For example:

**Bad**
`import {Component, EventEmitter} from '@angular/core';`

**Good**
`import { Component, EventEmitter } from '@angular/core';`

This rule should probably also be applied to `ex

[2016-05-17 06:26] nerumo opened #41 "Forbidden Imports"
I'd like to forbid imports to a certain file to avoid that too much code is loaded even if not all is used. As an example I want to import rxjs. I do that through

[code]

and wow, I have all the operators available and no further import statement has to be made. But this loads all the 100 operators event if I just need the 'map' operator. What I should import is only

[code]

I'd like to tell cod

[2016-05-18 12:03] jmbarbier opened #42 "noForwardRefFule throws TypeError"
On a code like this one
[code]

noForwardRefRule throws an exception :
[code]

seems that failureConfig is using a currentNode without name : from `codelyzer/noForwardRefRule.js`

[code]

[2016-05-18 12:52] preslavsh commented on #42
Thank you for sharing the problem. We will work on it.

[2016-05-18 12:53] johnpapa opened #43 "add commands to the readme"
please :)

[2016-05-18 15:34] mgechev commented on #43
The commands for triggering linting with different tools? I can add this for `tslint` and the angular-cli, will ease developers a lot!

[2016-05-18 15:36] johnpapa commented on #43
yeah. those 2 would be nice.

[2016-05-19 07:45] preslavsh commented on #42
PR here #44 will fix the problem

[2016-05-19 08:25] #42 closed

[2016-05-24 12:51] cladera opened #46 ""no-console" rule"
I want to enable tslint's ["no-console"](http://palantir.github.io/tslint/rules/no-console/) rule. I tried by adding this line `"no-console": [true, ["log", "error"]]` to my tslint.json file but it didn't work.

Does codelyzer override tslint's built-in rules or it just adds spcefic rules?

Regards!

[2016-05-27 03:46] kjdevocht opened #47 "Show Lint errors when running the ng lint command"
Is the ng lint command supposed to tell me what the lint errors actually are?  Right now when I run it, it just says "Lint errors found in the listed files"  and does not tell me what the lint errors are

[2016-06-03 05:18] huyph opened #48 "More than one prefix for directive/component/pipe"
I think at the moment there is only one prefix allowed. Should we have more than one for a project?

The example styleguide seems to say yes
https://angular.io/docs/ts/latest/guide/style-guide.html#!#style-02-07

[2016-06-03 07:35] achimha opened #49 "noForwardRefRule crash"
Using Typescript 1.8.10, tslint 3.10.2 and codelyzer 0.0.19, I get a crash when evaluating the following code:

[code]

This is what appears in the log, executed via Webstorm:

[code]

[2016-06-03 09:13] mgechev commented on #49
Seems like a duplication of https://github.com/mgechev/codelyzer/issues/42, so the issue is already fixed. I'll release `0.0.20` today, let me know if you still experience it.

I also added an extra test case https://github.com/mgechev/codelyzer/commit/80dd6737e3041223384cb849c1deb4f50ae4886d.

[2016-06-03 09:13] #49 closed

[2016-06-03 09:20] mgechev commented on #48
Yes, this is a limitation. We can allow multiple prefixes as part of the configuration:   `"directive-selector-prefix": [true, "sg", "another-prefix", "yet-another", "fourth"]`.

@filipesilva, @Brocco do you think this is going to fit well with the cli?

// cc @preslavsh

[2016-06-03 11:21] filipesilva commented on #48
I think multiple prefixes are a good idea. The CLI already allows for multiple individual apps to be present in a project (angular2-material makes use of this) so it's not hard to see that these might need different prefixes.

It would also help giving the user flexibility in the recommendation here https://github.com/angular/angular-cli/pull/740#issuecomment-218821516.

[2016-06-03 13:33] Brocco commented on #48
The CLI currently supports a single prefix, but there have been discussions surrounding feature-based prefixes. I'm not sure if/when this will be supported by the CLI, but I don't see a reason that the CLI should restrict the analysis of a project. If I have a default prefix of `foo` and want to change it manually after the fact I think this tool should support it even if the CLI does not.

[2016-06-03 13:49] filipesilva commented on #48
Well we support overriding the prefix so it stands to reason that prefixes shouldn't be limited via linting as well.

[2016-06-03 15:34] mgechev commented on #48
Sounds good. So we'll add context independent prefix checking. It'll be cool to make it context dependent one day.

[2016-06-03 21:08] frederikschubert opened #51 "Feature request: Add rule to prohibit use of document and window"
As using `window` and `document` prevents the app to be run in a web worker there should be a rule to prohibit the use of them.
This aligns with the rule of not using `ElementRef.nativeElement` for the same reason.
Additionally, but I don't know whether this is possible, the rule should also detect if `window` is implicitly accessed.

[2016-06-04 11:44] mgechev commented on #51
The first two are doable. The second one should be defined slightly differently since the renderer accepts as argument the `nativeElement` property of the `ElementRef`. Something like that should work: do not directly access properties and methods of the `nativeElement` property of any object of type `ElementRef`. It won't always rise a warning, for instance:

[code]

The third one will be very ha

[2016-06-04 12:27] huyph commented on #48
what are the difficulties in making the checking context dependent?

[2016-06-07 22:14] mpetkov opened #54 "Custom prefix error being confused for kebab-case error"
Latest update of this library is confusing the following 2 rules:
- Custom Prefix for Components (Style 02-07)
- Components Selector Naming (Style 05-02)

So if you have a selector **app**, the error you get is the the kebab-case (05-02) error instead of the custom prefix error.  Could it be updated so that kebab-case is proper checking where app would not fail?  That way if a user would want to t

[2016-06-08 06:37] mgechev commented on #54
This PR is related to the issue https://github.com/mgechev/codelyzer/pull/50.

[2016-06-09 20:55] cexbrayat opened #55 "import-destructuring-spacing with alias imports"
I was giving a try to the new `import-destructuring-spacing` rule, and it breaks in our codebase on imports that use an alias:

    import * as moment from 'moment';

produces `You need to leave whitespaces inside of the import statement's curly braces`.

It would be better if that was ignored (but perhaps I'm missing something).

[2016-06-10 11:03] #55 closed

[2016-06-10 11:04] mgechev commented on #55
It is fixed in 0.0.23.

[2016-06-10 11:32] rushi216 opened #56 "directive-selector-name rule gives error for "[validateEmail][ngControl],[validateEmail][ngModel],[validateEmail][ngFormControl]" syntax"
I have custom email validator like below

[code]

but it gives

even it is in camel case

[2016-06-10 11:35] mgechev commented on #56
This is a known issue, already reported here https://github.com/mgechev/codelyzer/issues/15.

[2016-06-10 11:35] #56 closed

[2016-06-10 19:08] farley911 opened #57 "importDestructuringSpacing isn't added via npm install"
When doing npm install --save-dev codelyzer I don't have any js file created for the importDestructingSpacing rules which causes that rule to fail when added to tsconfig

[2016-06-10 19:16] mgechev commented on #57
Thanks for reporting this issue! I'll fix it tomorrow.

[2016-06-13 19:35] Foxandxss opened #58 "import destructuring space fails on one case"
I got a report that something like `import * as foo from './foo'` makes it cry.

So a reminder to fix it.

[2016-06-13 19:36] mgechev commented on #58
It is fixed in master.

[2016-06-13 19:36] #58 closed

[2016-06-13 19:37] Foxandxss commented on #58
Ah, I am blind, sorry.

[2016-06-13 19:38] mgechev commented on #58
No problem. Would you try with the latest version?

[2016-06-14 15:23] Foxandxss opened #60 "useLifeCycleInterfaceRule failing with a Symbol.iterator"
Having this class:

[code]

I get this error:

`TypeError: Cannot read property 'substr' of undefined` at `useLifeCycleInterfaceRule.js:58:44`

Is not the interface itself, is the Symbol.iterator.

[2016-06-16 20:33] eppsilon opened #61 "Feature request: allow use of host property in @Component if values are strings"
I would like a way to allow using the host property in component/directive decorators as long as the keys are being set to `string` values. For example, this code:

[code]

seems more readable than:

[code]

[2016-06-17 06:54] mgechev commented on #61
@eppsilon would you open an issue for this in the [angular.io](https://github.com/angular/angular.io/issues) repository. Here's a template issue https://github.com/angular/angular.io/issues/1301.

[2016-06-20 08:27] arnaudvalle commented on #46
@cladera had the same issue but I realised their documentation example was actually incorrect.

Change it to `"no-console": [true, "log", "error"]` and it should work ok.

[2016-06-20 08:49] cladera commented on #46
It worked!

Thanks @arnaudvalle

[2016-06-20 08:49] #46 closed

[2016-06-22 03:49] cindoum commented on #47
Same here...

[2016-06-28 07:47] cementito opened #62 "Angular2 style guide links wrong"
The links do not resolve to the proper guide section anchor:

Example:

        [11, 1]: Implement lifecycle hook interfaces (https://goo.gl/uhVsrr)

links to
[https://angular.io/docs/ts/latest/guide/style-guide.html#!#style-09-01](https://angular.io/docs/ts/latest/guide/style-guide.html#!#style-09-01)

should link to
[https://angular.io/docs/ts/latest/guide/style-guide.html#!#09-01]
(https://angu

[2016-06-28 07:51] mgechev commented on #62
@cementito thanks for the issue! I'll fix it in a sec.

[2016-06-28 08:02] mgechev commented on #62
Fixed in 0.0.24.

[2016-06-28 08:02] #62 closed

[2016-07-04 07:00] mgechev commented on #57
@farley911 does it work now?

[2016-07-05 07:09] Delagen opened #63 "support of Typescript 2.0"
Error: Unsupported TypeScript version: 2.0.0-dev.20160703

[2016-07-06 11:55] #63 closed

[2016-07-06 11:56] mgechev commented on #63
Fixed by https://github.com/mgechev/codelyzer/commit/82121b770ac03b2df361f5b9705cc8bcda2d9412.

[2016-07-06 11:59] mgechev commented on #63
@Delagen actually tslint doesn't support TypeScript 2.0 yet so codelyzer cannot support it neither.

[2016-07-06 12:43] Delagen commented on #63
@mgechev you are kidding me? tslint works with typescript@2.0
palantir/tslint#1355

[2016-07-06 14:02] mgechev commented on #63
It is still in `dev`, which means that it won't be installed by default with `npm i tslint`.

Would you verify that the rules work with `tslint@3.12.0-dev.2`?

[2016-07-06 15:34] Delagen commented on #63
@mgechev already 3.13.0 published to npm

[2016-07-06 15:43] Delagen commented on #63
Almost week has passed. And it must not install with npm I tslint as it in peerDependencies, but semver range >=1.7.3 does not prevent it to be 2.0

[2016-07-06 16:02] david-driscoll opened #64 "use-life-cycle-interface support for inheritance"
If I have the following, would it be possible for the rule `use-life-cycle-interface` to not throw a lint error?

[code]

[2016-07-06 18:48] preslavsh commented on #64
I will play with it next week. If you can do it make a PR

[2016-07-10 09:03] preslavsh commented on #60
#65  Fixes it.

[2016-07-10 09:04] preslavsh commented on #64
I don't see a good way that can be done know.

[2016-07-10 11:23] #60 closed

[2016-07-12 13:41] webtrix opened #66 "Feature request: allow kebab-case class selectors for components and directives"
I'm sorry if this is already available, but I can't find the right configuration in my `tslint.json` file to get this working.

For components and directives, when using a class selector, I think it would be better to keep to the Google CSS style guides in mind and not use `camelCase` but `kebab-case`, with or without a prefix.

[2016-07-18 07:55] geoHeil opened #67 "Export codelyzer to IDE autoformat rules"
Hi,

is it possible to export codelyzer's rules e.g. space around import statements to a IDE's auto-formatting e.g. intelliJ?

[2016-07-18 16:56] mgechev commented on #67
I've been working on an auto-format functionality [here](https://github.com/mgechev/codelyzer/tree/refactoring). In the next a couple of weeks I won't be able to release it but I'll try to have something working by this fall.

[2016-07-19 09:33] chapati23 opened #68 "component-selector-name: should it really warn for names without dashes?"
I'm a fan of concise code and naming (not obscure acronyms , just short names). So I like to keep my component names short. For example:
[code]

This throws a no-kebab-case warning. IMO a simple string without any capitalisation or special characters should _pass_ this rule and not fail.

@mgechev, bug or just different opinions?

[2016-07-19 09:54] mgechev commented on #68
Yes, it should throw a warning. `transaction` is not a valid name for a custom Web Component.

[2016-07-19 09:54] #68 closed

[2016-07-19 20:11] natejgardner opened #69 "Component selector prefix"
With the current configuration, this lints all of the components to match only one feature. The Angular2 styleguide encourages use of prefixes for some selectors that may be otherwise ambiguous. These prefixes are supposed to be centered around the specific feature the component is associated with. For example, toh-heroes or admin-users. The current configuration makes the desired prefix static, w

[2016-07-19 20:36] mgechev commented on #69
Duplication of https://github.com/mgechev/codelyzer/issues/48.

[2016-07-19 20:36] #69 closed

[2016-07-21 15:57] JohannesRudolph opened #70 "Use Injectable() instead of Injectable"
According to https://angular.io/docs/ts/latest/guide/dependency-injection.html

It would be great if codelyzer could enforce this as a tslint rule (unless it's already enforced somehow?)

[2016-07-21 15:59] mgechev commented on #70
Nice suggestion! I'll work on this issue during the weekend.

[2016-07-25 08:24] httpdigest opened #72 "Codelyzer does not work with Typescript@next (2.1.0)"
We currently need typescript@next to have a bug with Promise.all fixed (among others). But codelyzer does not work with that Typescript version:

The following error message is printed:
[code]

[2016-07-25 08:26] httpdigest commented on #72
When I fix the source `syntaxKind.js` and simply add another case like this, it works:
[code]

[2016-07-25 08:28] mgechev commented on #72
Hey @httpdigest it is kind of risky to use a fix like the one you provided because we're not sure the syntax tokens have the same values. I'll fix this issue in a couple of days.

[2016-07-25 08:29] mgechev commented on #48
Implemented by @preslavsh here https://github.com/mgechev/codelyzer/pull/71.

[2016-07-25 08:29] #48 closed

[2016-07-25 08:32] #13 closed

[2016-07-25 08:34] mgechev commented on #33
At the moment we're not planning to implement such feature but we can consider it in future once we catch-up with more critical functionality.

Lets close the issue for now.

[2016-07-25 08:34] #33 closed

[2016-07-25 08:34] mgechev commented on #67
Since it is in the roadmap and in an experimental branch, lets close the issue for now.

[2016-07-25 08:34] #67 closed

[2016-07-25 08:35] mgechev commented on #66
We do not support CSS selectors (except element selectors) yet. Most likely we'll switch to something like https://github.com/mdevils/node-css-selector-parser in more advanced version which is in progress.

[2016-07-25 08:36] mgechev commented on #66
FYI here's an issue to keep an eye on https://github.com/mgechev/codelyzer/issues/15.

[2016-07-25 08:36] #66 closed

[2016-07-26 14:52] MFateen opened #73 "There should be some rules covering the templates"
There is currently no way to lint the templates and check whether the selectors are correctly written or even if they are closed. for example if I have a component *Sample* with selector **sample** and then in a different file I have :

    Import Sample from './sample.ts';
    @Component({
      selector: 'example',
      template: `<samples></samples>`
    })

This currently doesn't produce any

[2016-07-26 19:02] mgechev commented on #73
This requires offline compilation and is already in the roadmap.

[2016-07-26 19:02] #73 closed

[2016-07-29 12:36] chapati23 commented on #68
in case anyone else stumbles over this: http://www.w3.org/TR/custom-elements/#valid-custom-element-name

custom element spec requires a hypen to "force-avoid" naming conflicts with other custom elements.

[2016-07-29 13:35] KevinFernandes opened #74 "Install Codelyzer globally"
Can Codelyzer be installed globally next to a globally installed tslint?
What path would I specify in my local tslint.json?

When I try to use locally installed Codelyzer with a globally installed tslint, it looks like Codelyzer expects to be installed side-by-side with tslint, I get the following error:

Error: Cannot find module 'tslint/lib/lint'
    at Function.Module._resolveFilename (module.j

[2016-07-29 14:31] mgechev commented on #74
Codelyzer is an addition to tslint (extra, Angular specific rules on top). When (if) we fork tslint we are going to export it as a global executable file.

[2016-07-29 14:31] #74 closed

[2016-08-05 17:10] gdi2290 opened #75 "request| feat(NgModule): warn users of all the NgModule gotchas"
It's very easy to declare Types in more than one module which throws an error in bootstrap or forget to use `declarations` with `entryComponents`

[2016-08-09 13:50] jppellerin commented on #72
Any news on this?  (Same issue with any version >= 2.0.0)

[2016-08-09 13:52] mgechev commented on #72
@jppellerin should [be working for 2.0.0](https://github.com/mgechev/codelyzer/blob/master/src/util/syntaxKind.ts#L2123-L2124). Are you using 0.0.26? I'll fix it for >2.0.0 in the next week.

[2016-08-09 13:56] jppellerin commented on #72
@mgechev : Yup... user error on that one.  Apologies.  Not sure why it didn't upgrade with ^0.0.23... but forced it to 0.0.26 and it worked.  Thank you.

[2016-08-11 09:46] huerlisi opened #76 "Dependency on tslint"
This package assumes there is a dependency on tslint in the consuming application. I think this is what the npm `peerDependencies` can be used for.

Shouldn't we add a `peerDependency` on `tslint`?

[2016-08-11 10:34] #76 closed

[2016-08-11 10:40] huerlisi commented on #76
Wow you're fast! That's an incredible nice experience, thanks a lot!

[2016-08-11 13:44] arkon commented on #76
@mgechev Is there any reason why the peer dependency is specifically version 3.9.0?

[2016-08-14 01:59] TheRealMrCrowley opened #78 "TS parse Error"
[code]

The issue is caused when using `@Injectable()` without the parenthases

i fixed the real issue by sheer dumb luck, so if you could create an error that is readable for these mistakes that would be great

[2016-08-14 05:56] #78 closed

[2016-08-15 23:21] DethAriel opened #79 "Pipe/Directive/Component naming conventions should be more consistent"
Here are the current naming-related options:

[code]

Not only are they inconsistent (I mean `"pipe-*"` versus `"component-*"`), there's just too many of them. Maybe the below format would be more appropriate/easier:

[code]

[2016-08-17 09:15] VladimirAmiorkov opened #80 "[Question] Can I use 'codelyzer' with VS Code editor?"
I just found out about codelyzer and did the `npm install --save-dev codelyzer`, hopped over to my {N} project, added an `tslint.json` in to root and pasted the recommended [configuration](https://github.com/mgechev/codelyzer#recommended-configuration) from the readme. After all that I checkted VS code, did a TypeScript transpile but no errors were found, I changed some declarations intentionally

[2016-08-17 12:30] Doomape commented on #80
I am having the same issue, in VS code i thought it's some kind of a bad configuration on my side but when i use  "extends": "tslint:recommended" i get errors and warnings back so i am not sure what's the issue.

[2016-08-17 16:43] mgechev commented on #80
Here's how your `settings.json` should look like https://gist.github.com/mgechev/3622937a235a80ce2742.

[2016-08-17 16:43] #80 closed

[2016-08-19 20:54] DethAriel opened #81 "Provide "recommended" and "latest" configurations"
### Enhancement Request

`tslint` supports configuration extensions via `"extends"` json option. This is a very convenient way of reusing configurations and keeping up-to-date with latest linter advancements.

Given the roadmap for codelyzer, it's obvious that there will be linting rules added in the future. To allow developers take advantage of these, it would be convenient if `codelyzer` provide

[2016-09-03 01:30] Igonato commented on #35
Wait. What if the name is just one word? Like "person" or "toolbar"?

[2016-09-03 01:34] Igonato commented on #35
Nevermind. There is #68 with more info

[2016-09-03 02:45] Igonato commented on #68
@mgechev how about an option that would allow names without a hyphen. Would be happy to make a PR if you are ok with it.

[2016-09-03 03:12] mgechev commented on #68
Since selectors without a dash are not valid I don't think we should consider them.

[2016-09-09 15:07] ValeryVS opened #82 "Best way for multiple prefix rules"
Is it possible to change prefixes for directory (without rewriting all rules)?

Styleguide says, that different modules can use different prefixes: `toh-hero`, `admin-users`.
https://angular.io/styleguide#!#02-07

**Module versions**
tslint: 3.13.0
codelyzer: 0.0.28

Now, I can write all prefixes in tslint.json in root directory.

[code]

If I create `app/heroes/tslint.ts`, and write only rulesDir

[2016-09-09 16:49] mgechev commented on #82
It should be possible to implement such behavior since we know the path of the file.

[2016-09-11 18:43] rolandjitsu opened #83 "TypeError: Cannot read property 'kind' of undefined"
I get the following:
[code]

I'm using:
- *codelyzer*: `0.0.28`
- *tslint*: `3.15.1`
- *ts-node*: `1.3.0`
- *typescript*: `2.0.2`

[2016-09-11 20:59] preslavsh commented on #83
Can I see a code snippet of the file you are running codelyzer on?

[2016-09-11 21:04] rolandjitsu commented on #83
@preslavsh Unfortunately I run it on probably around 200+ TS files, so I am not sure where it fails. Also, due to an NDA, I am not allowed to disclose any code. And the error does not seem to provide any clue which file that may be.

[2016-09-13 15:06] VladimirAmiorkov opened #84 "[Question] Does "codelyzer" work with NativeScript"
I have been trying to run the "codelyzer" with an [NativeScript](http://docs.nativescript.org/angular/tutorial/ng-chapter-0) project but I do not know if it is actually possible. NativeScript does support Angular 2 RC6 and what I am trying is:

- add codelyzer with `npm install --save-dev codelyzer`
- add an `tslint.json` file in the root of the app where the `package.json` with the following cont

[2016-09-13 23:00] rolandjitsu commented on #83
At least I can tell you that the following rules cause that error:
[code]

[2016-09-14 09:03] preslavsh commented on #83
I have created PR for that, but it's only a smart guess.

[2016-09-14 14:07] netstart opened #86 "no-unused-variable from tslint is not sufficient to angular 2 project"
no-unused-variable from tslint is not sufficient to angular 2 project. We need verify teamplate html

"no-unused-variable": true,

Look researched variable for exemple.
If use this variable only in tamplate we receive a Message:
    Failed to lint: login/modulos/components/areabox/area-box-list.component.ts [38, 20]: Unused property: 'researched'.

![image](https://cloud.githubusercontent.com/asse

[2016-09-14 17:30] mgechev commented on #86
It makes sense to create a rule `ng-no-unused-variable`. With what we have in the `templates` branch I think we're not far from one.

[2016-09-14 18:56] rolandjitsu commented on #83
Ok, so it boils down to this:
[code]

I have a service that creates dynamic modules/components.

[2016-09-14 19:06] rolandjitsu commented on #83
The following does not throw:
[code]

But then I get errors for the shorthand rule:
[code]

[2016-09-14 19:07] mgechev commented on #83
@rolandjitsu thanks for digging into this! With the information you provided we should be able to fix it in by a day or two.

[2016-09-14 19:09] rolandjitsu commented on #83
@mgechev no worries, @preslavsh pointed me in the right direction.

[2016-09-15 07:17] meriturva opened #87 "@Input @Outpur - marked as "public""
Hi to all
with new AoT compiler released in RC 5 i guess we have to mark all input/output as "public".
am i right?

so i think a new rule has to be introduced.

[2016-09-15 07:47] mgechev commented on #87
We may introduce even more generic rule - mark as public all properties/method used in the templates. Should be straightforward with the updates in the `templates` branch.

[2016-09-15 08:27] meriturva commented on #87
@mgechev Correct!

[2016-09-16 00:28] mgechev commented on #84
Yes, it supports NativeScript. At this point codelyzer is a set of rules for tslint so it is supported by all text editors and IDEs with tslint plugin (that is one of the reason we decided to build on top of tslint instead of developing yet another linter):

![](http://i.giphy.com/l3vQZXleufd3Qqwnu.gif)

All you need for VSCode is to set `tslint.rulesDirectory` in your `settings.json`:

[code]

Fr

[2016-09-16 00:28] #84 closed

[2016-09-16 14:50] VladimirAmiorkov commented on #84
Thank you for the detailed explanation it helped a lot and not its runs like a charm.

[2016-09-18 00:14] #83 closed

[2016-09-18 00:14] mgechev commented on #83
@rolandjitsu I will not publish to npm in the next a couple of days. I'm planning a bigger release which includes template support.

[2016-09-18 01:27] mgechev opened #88 "fix(template): mark the entire expression as invalid when the linter finds an error"
Currently the `sourceSpan` produced by the template parser doesn't show a detailed enough information of where exactly a `propertyRead`, `propertyWrite` or a `methodCall` is. Another bonus of marking the entire expression as invalid is to have a more visible (as being also longer in terms of characters) notification produced by the text editor.

[2016-09-18 01:30] mgechev opened #89 "fix(interfaces): mark only the method which corresponds to non-implemented interface"
Currently the text editors mark the entire class and it can get quite noisy. It'll be better to mark only the method which requires implementation of an interface, for instance:

[code]

Should mark only the substring:

[code]

This requires changes for:

- `useLifeCycleInterfaceRule`.
- `usePipeTransformInterfaceRule`

And their test files.

[2016-09-19 03:39] mgechev commented on #87
@meriturva once https://github.com/mgechev/codelyzer/pull/90 gets merged we'll have this rule up and running!

[2016-09-19 07:41] meriturva commented on #87
@mgechev Perfect....i will test it surely!
So thanks!

[2016-09-19 08:56] httpdigest commented on #72
Is this still being worked on? Using codelyzer with TypeScript 2.1.0-\* does not work with the following error message (as mentioned in the first post of this issue):
[code]

[2016-09-19 14:18] EricSch opened #91 "use-life-cycle-interface: Don't throw error in this case"
I have this code:

[code]
This shouldn't be an error. Txs

[2016-09-20 18:36] #88 closed

[2016-09-20 18:36] #87 closed

[2016-09-21 12:36] preslavsh commented on #91
#92  Fixes that

[2016-09-21 12:36] preslavsh commented on #89
#92  Updates that

[2016-09-21 20:29] #89 closed

[2016-09-21 20:30] mgechev commented on #86
@netstart I was thinking that might be a good idea to keep this rule for the next version when we support external templates. Currently it will be only misleading for the users if we mark a variable as unused.

[2016-09-21 20:34] #91 closed

[2016-09-21 20:36] mgechev commented on #75
This is useful in the same time not that hard, but in the same time not sure how it is going to work with tslint running the linter over only a single file.

I'll move it to beta 2 for now.

[2016-09-21 20:40] mgechev commented on #41
Seems useful, I'm not sure how Angular specific it is.

I'll suggest to close it for now and limit the scope of the tool until we reach a point where we can afford to spend effort on similar enhancements.

[2016-09-21 20:40] #41 closed

[2016-09-21 20:40] #38 closed

[2016-09-21 20:41] mgechev commented on #47
Error reporter is not part of the project. We'll even try to keep it independent from the underlying platform. I guess this is an issue that should be reported to tslint instead.

[2016-09-21 20:41] #47 closed

[2016-09-21 20:43] mgechev commented on #61
Closing it for now. @eppsilon let me know if the style guidelines change if I don't notice.

[2016-09-21 20:43] #61 closed

[2016-09-21 20:43] #57 closed

[2016-09-21 20:45] mgechev commented on #81
This is tslint specific, probably with the guys there we can discuss something like that. The tslint extensibility is something which is great and can be even further improved. Lets close the issue here and move the discussion to the right place.

[2016-09-21 20:45] #81 closed

[2016-09-21 20:47] mgechev opened #94 "Support for external templates"

[2016-09-21 20:50] #43 closed

[2016-09-21 20:50] #40 closed

[2016-09-21 20:54] mgechev commented on #54
Lets track the selectors validation progress here https://github.com/mgechev/codelyzer/issues/15.

[2016-09-21 20:54] #54 closed

[2016-09-22 09:50] stefanaerts opened #95 "ad this rule in tslint.json -> https://ponyfoo.com/articles/template-literals-strictly-better-strings"
@mgechev
Hi,
I think its a good idea to add this(see article) rule to my tslint.json file.
Do you agreed this is a good rule mgechev?
If so, how do i put the eslint rule "quotes": ["error", "backtick"]
in my tslint.json config file generated with angular-cli?

![image](https://cloud.githubusercontent.com/assets/3684599/18743757/c94727a4-80ba-11e6-8bc4-557204f112f1.png)

Thx,
Kind Rg,
Stefan.

[2016-09-22 09:56] stefanaerts opened #96 "host property decorator = true?"
![image](https://cloud.githubusercontent.com/assets/3684599/18743869/65753a44-80bb-11e6-98e0-86800b782504.png)

![image](https://cloud.githubusercontent.com/assets/3684599/18743887/7660b09a-80bb-11e6-99e9-be0b3b38024d.png)

@mgechev
What is the recommended way?
the style guide or the codelyzer,it should be in sync?

[2016-09-22 15:11] mgechev commented on #96
The rule does exactly what the style guide says but the rule name may sound misleading to you. It means: use host property decorator which is:

    @HostListener('click')
    foo() {}

[2016-09-22 15:11] #96 closed

[2016-09-22 15:13] mgechev commented on #95
Thanks for the suggestion! This is more like a rule which should be considered for tslint, I believe. With a few small exceptions, we are trying to keep this repository focused on Angular.

[2016-09-22 15:13] #95 closed

[2016-09-22 15:27] stefanaerts commented on #96
Ok thx

[2016-09-25 00:46] #70 closed

[2016-09-25 01:01] #72 closed

[2016-09-25 08:12] cexbrayat opened #97 "no-access-missing-member: bug when using a method on an object?"
When linting this component with codelyzer `beta.0` and `no-access-missing-member: true`:

[code]

and `PonyModel` is:

[code]

I'm running into the linting error:
`(no-access-missing-member) tests/pony.ts[9, 44]: The method "pony" that you're trying to access does not exist in the class declaration.`

whereas we should have no error (the `pony` field has indeed a `color` attribute of type `string

[2016-09-25 17:35] aitboudad commented on #97
Hi, I get the same issue when the property is defined in the parent class
[code]

[2016-09-26 11:24] NightkingCH opened #98 "component-selector-name - Emits false error when the component uses an attribute selector"
Hi there

If you don't specify the "component-selector-type" rule but you want to use the "component-selector-name"-rule and you do following:

tslint.json
`
"component-selector-name": [ true, "kebab-case" ]
`

row-performance.component.ts
`
@Component({
    selector: '[row-performance-object]'
})
`

The codlyzer emits an error when the component uses an attribute-selector. In my opinion this is w

[2016-09-26 13:15] JohannesRudolph commented on #70
Cool, thanks a lot for implementing this!

[2016-09-26 15:42] zoehneto opened #99 "Cannot read property 'split' of undefined with beta 0"
In a project without any linting issues I get the following error since updating to beta 0:
[code]

The respective component looks like this:
[code]

[2016-09-26 18:03] mgechev commented on #99
Thanks for the issue. I'll take a look at it and fix I as soon as I can.

[2016-09-26 18:05] mgechev commented on #98
Hey @NightkingCH, thanks for pointing this out! This is a know issue and we'll include a fix in the next release https://github.com/mgechev/codelyzer/issues/15.

[2016-09-26 18:05] #98 closed

[2016-09-27 03:48] mgechev commented on #97
@cexbrayat thanks for pointing this out. This one will be easy to fix. @aitboudad yeah, this is in the roadmap. We will need to use the TypeScript language service in order to resolve the symbol location in such locations.

[2016-09-29 07:00] vikashkumar29 commented on #99
Hi  @mgechev,

I am also using the codelyser beta.0 and facing the same issue with the interpolation. I just checked this pull request #101 and meanwhile integrated the changes in the required file as per the pull request.

After integrating the changes, I was able pass though this issue, however later on I started getting exception on :

[code]

my respective component look like :

**home.compone

[2016-09-29 15:34] mgechev commented on #99
Thanks for the comment and the snippet! The issue should be fixed but I haven't published it yet on npm.

[2016-10-01 19:12] chrisse27 opened #103 "component-selector-prefix should match first word of selector instead of prefix"
If I have the component-selector-prefix rule configured such that the prefix is set to "app" then the rule still allows me to use "apps-my-component" as selector.

I think it would be better if the component-selector-prefix rule would match the first word of the selector against the configured prefix. The scanning algorithm to find the first word should depend on the configured value for the "comp

[2016-10-02 15:51] mgechev opened #104 "Rise a warning if given class implements PipeTransform but is not decorated with @Pipe"

[2016-10-02 16:32] mgechev commented on #86
Better to wait for the official Angular language service.

[2016-10-02 17:22] mgechev commented on #15
During the last meeting, we decided to use the `CssSelector` and it's `parse` method from `@angular/compiler`. This way we'll be able to have semantical check based on the selector type.

For instance, for `@Component`s the check should look like:

[code]

[2016-10-02 17:25] mgechev commented on #82
The following format makes sense to be used:

[code]

The keys are the directory names, relative to the project root, and the values are list of prefixes.

@ValeryVS any opinion?

[2016-10-03 13:13] ValeryVS commented on #82
@mgechev
Looks good.

`"./heroes/bar": ["bar"]` will redeclare prefixes to this drectory, so using `toh` or `app` will not be valid.
If we want to use some default prefix, we need to add it.

[code]

[2016-10-03 13:38] #97 closed

[2016-10-03 14:07] preslavsh commented on #99
Having same issue using branch fix-99
Snippet
`  import {Component } from '@angular/core';
@Component({
    selector: "sg-buy-form-component",
    template: \`
        <form>
        <input type="submit" [hidden]="hasOrdered" (click)="order(item.en_name);" class="btn-menu" value="Поръчай"/>
            <button [hidden]="!hasOrdered" class="bnt-red">Вече е
        поръчано
        </button>

[2016-10-03 14:16] preslavsh commented on #99
Having same issue using branch fix-99
Snippet:
[code]
StackTrace:
[code]

At the end turns out that hasOrderder in my case is string and cannot be visited.

[2016-10-03 17:50] mgechev commented on #99
@preslavsh awesome catch! The issue you found is fixed now. I was overriding something which I wasn't supposed to.

[2016-10-03 20:22] #99 closed

[2016-10-05 09:34] bonaparte89 commented on #99
I ran into the error yesterday.. so first updated all deps. That wasn't working either. so cloned your seed-project again. Issue still around?

`C:\Users\user\Documents\WebProjects\Archiv\node_modules\codelyzer\angular\recursiveAngularExpressionVisitor.js:45
        var parts = ast.expression.split(/\{\{|\}\}/g).map(function (s) {
                                  ^
TypeError: Cannot read property

[2016-10-05 10:18] jtomaszewski opened #106 "Template parsing raises an error if I'm dynamically injecting template f.e. via webpack"
[code]

This currently raises an error while trying to tslint the file:
[code]

This is a 'brutal' error: it stops the tslint process, and f.e. in Atom editor, it shows a big red alert. Which forces me to turn off the tslint for the whole project ;/

I can see that https://github.com/mgechev/codelyzer/issues/94 is in progress. Instead of waiting for it, maybe could we have some workaround for it?

[2016-10-05 16:30] mgechev commented on #106
Yes, the template rules don't work with external templates and support for webpack is not on the roadmap for near future. I'll take a look at the issue and make sure that this syntax doesn't throw an error.

[2016-10-05 16:32] mgechev commented on #99
Yes, the fix is not on npm yet. You can clone and build the rules manually to verify that the problem doesn't occur anymore.

[2016-10-06 15:29] mgechev opened #107 "Update template parsing logic"
Some private APIs in Angular 2.0.2 has changed which causes an error on template parsing.

https://github.com/angular/angular/issues/12120

[2016-10-09 06:05] farshidmk opened #109 "missing script: start"
I use npm start to run the project but it get the error "missing script: start"
how can i run the project and see what is codelyzer and test it?

[2016-10-09 19:29] mgechev commented on #107
Done.

[2016-10-09 19:29] #107 closed

[2016-10-09 19:45] mgechev commented on #106
Fixed. Will be in master later today.

[2016-10-09 19:45] #106 closed

[2016-10-09 19:58] mgechev commented on #32
Will be in master shortly.

[2016-10-09 19:58] #32 closed

[2016-10-09 20:10] mgechev opened #110 "Error on non-invoked `@Component` decorator"
This snippet throws:

[code]

[2016-10-09 20:10] mgechev commented on #110
Fixed by https://github.com/mgechev/codelyzer/commit/5ee2422d71b7cb1ff25014ec65a0dba1ae59d9dc.

[2016-10-09 20:10] #110 closed

[2016-10-09 20:47] mgechev commented on #109
Hey @farshidmk take a look at [this section in the readme](https://github.com/mgechev/codelyzer#custom-setup).

[2016-10-09 20:47] #109 closed

[2016-10-10 08:01] jtomaszewski commented on #106
Works like a charm. Thanks! ;)

[2016-10-11 10:14] aitboudad opened #111 "Error on `@Pipe` decorator"
[code]

[code]

[2016-10-11 10:23] preslavsh commented on #111
This error occurs from lack of metadata.

[2016-10-11 13:16] devguysin opened #112 "[Question] Codelyzer is not working with VS Code"
Hi,

I created an Angular2 project using angular-cli. Then I updated VS Code (version: 1.6) workspace setting file to:

[code]

I also intentionally created a Codelyzer error, and run "ng lint" ang got the following error:

However, VS Code does not mark AppComponen with a red underline.

Can someone please explain what I should do to make VS Code detect Codelyzer errors?

[2016-10-11 15:21] mgechev commented on #112
Most likely it is misconfiguration. Make sure the directories you are pointing to in VSCode's settings exist. Do you get tslint errors in VSCode by following the instructions for the custom setup?

[2016-10-11 15:22] mgechev commented on #111
I will take this issue, we had it some time in the past for components.

[2016-10-11 16:58] mgechev commented on #111
@aitboudad in the next a couple of days the fix will be in master and after that we'll push it to npm.

[2016-10-11 17:00] aitboudad commented on #111
awesome! thanks ;)

[2016-10-11 20:54] mgechev commented on #103
Yes, we'll make a lot of improvements in near future (next release) here are some more details https://github.com/mgechev/codelyzer/issues/15.

[2016-10-11 20:57] mgechev commented on #104
I can take this one.

[2016-10-12 15:58] wesleycho opened #114 "Support template directives"
I am using directives with selector of the form `template[myPrefixDirectiveName]` in my app, ala what [ng-bootstrap](https://ng-bootstrap.github.io/) does currently (see the documentation for the modal for example and the note on the `<template ngbModalContainer>` usage), and get warning messages like
[code]
This should be supported by Codelyzer IMO.

[2016-10-12 16:46] mgechev commented on #114
We're working on improving the selector-related rules so "[prefixRest].bar" and "[prefixBar][foo]" will work.

The selector of the template directives doesn't have to include element so most likely even after the improvements your selector is going to fail for directive-selector-type.

[2016-10-12 16:46] #114 closed

[2016-10-12 22:22] devguysin commented on #112
Folders exist. When I run the following:

I get:

To create this folder I only installed angular-cli and then ran "ng new Angular2-app", so if there is a misconfiguration in the folder, it is probably angular-cli bug.

[Here ](https://sinapisisrael-my.sharepoint.com/personal/sinapis_sinapistech_com/_layouts/15/guestaccess.aspx?guestaccesstoken=uEqFzncHTnPTp%2bryYZ2XmQxdjmys5R%2f5bE9AneB%2fah0%3d&d

[2016-10-12 22:47] mgechev commented on #112
Would you verify that?

[2016-10-12 23:08] devguysin commented on #112
I installed [tslint ](https://marketplace.visualstudio.com/items?itemName=eg2.tslint) extensions for VSCode. I get green underline with the error above, prefixed with [tslint].

I ran the following command:

`C:\Angular2-app>npm i codelyzer tslint typescript @angular/core@2.0.2 @angular/compiler@2.0.2 rxjs@5.0.0-beta.12 zone.js@0.6.21`

This is the output I got:

I then ran:

`C:\Angular2-app>node

[2016-10-12 23:13] devguysin commented on #112
ok, when I put component.ts in C:\Angular2-app\src VSCode did show the errors.
But it only works if I have tslint extensions installed. Is having this extension installed a requirement?

[2016-10-12 23:43] mgechev commented on #112
Oh, sorry I have forgotten to mentioned this as requirement 😞 .

Yes, in order to make the tool as portable as possible we reuse the error reporting mechanism of tslint. Maybe at some point we'll abstract it to allow ESLint plugin support too but it wasn't necessary at this point.

[2016-10-12 23:43] #112 closed

[2016-10-12 23:49] devguysin commented on #112
OK, thanks. I suggest documenting that to avoid similar questions from newcomers.

BTW after I installed tslint, it also works even if I delete the rules configuration from user/workspace setting file, I mean the following line:
[code]

[2016-10-13 06:52] mgechev opened #115 "Migrate to Angular 2.1.0"

[2016-10-13 09:03] karlhaas commented on #115
Problem with current versiona nd Angular 2.1.0:

[code]

Will this be fixed by this issue or should i create a new issue?

[2016-10-13 10:25] FabienDehopre opened #117 "directive-selector-name does not work with multiple selector"
I have a directive declared as follow:
[code]

And my tslint.json file:
[code]

When I run tslint on the directive, I receive the following warning:
[code]

If I change the selector to remove the multiple selector then the warning does not show up anymore.
Is there an option to activate multiple selector for a directive?

[2016-10-13 15:20] mgechev commented on #115
If you are using beta.1 this issue should be fine. The changes in 2.1.0 are not critical for codelyzer. Only an problem with the interpolation spans that I had to workaround was fixed.

[2016-10-13 15:23] mgechev commented on #117
Thanks for the feedback! Yes, it's a known issue and we're working on improving the selector-related rules. For now I'd recommend you to disable the rule for either the entire project or for this specific line with /* tslint:disable-next-line */

[2016-10-13 15:23] #117 closed

[2016-10-13 16:21] karlhaas commented on #115
@mgechev: thx! were using beta.0

[2016-10-13 18:00] #111 closed

[2016-10-13 18:00] #115 closed

[2016-10-14 17:57] cyrilletuzi opened #118 "no-access-missing-member rule not considering ES6 property getters"
ES6 property getters are not considered by codelyzer, so the "no-access-missing-member" rule is raising an error in such cases :

[code]

[2016-10-14 17:59] mgechev commented on #118
Good catch! I'll fix this during the weekend and push the update early next week.

[2016-10-14 18:08] cyrilletuzi opened #119 "no-access-missing-member rule not considering template references"
Angular template references are not considered by codelyzer, so the "no-access-missing-member" rule is raising an error (on loginForm) in such cases :

[code]

[2016-10-17 19:58] dzonatan commented on #86
Before implementing it take a look at https://github.com/angular/angular/issues/11422 about accessing private properties when using AoT.

Also some key notes from http://stackoverflow.com/a/39000046/2320455:

I'd think about creating the converse rule: to verify that all properties usages in template are with public access.

[2016-10-17 20:56] mgechev commented on #86
Thanks for the comment! We have such [rule already](https://github.com/mgechev/codelyzer/blob/master/src/templatesUsePublicRule.ts).

[2016-10-18 12:12] spzSource commented on #55
Hi
Still have this issue on 0.0.28

[2016-10-19 07:54] mgechev opened #122 "no-access-missing-member should verify usage of proper accessor"
Once https://github.com/mgechev/codelyzer/commit/6060ce0442a22c8dfb694138b51854f721fd00ef lands in master, the next step is to throw a warning in case there's a `propertyRead` with a set-only accessor or `propertyWrite` with a get-only accessor.

[2016-10-19 08:07] mgechev opened #123 "Do not skip template defined variables"
In `no-access-missing-member` the code:

[code]

Won't work because `bar` won't be found.

[2016-10-19 08:08] mgechev commented on #119
This might get tricky. I'm not sure the template references are resolvable without collecting metadata/compilation of templates.

[2016-10-19 13:42] cyrilletuzi commented on #119
Would like to help but not used to that kind of stuff. Can't we just regexp the template to find "#" ?

[2016-10-19 15:08] abbazabacto commented on #119
not sure if this is the place, but automated generated references like `$event` aren't considered as well...

[code]

[2016-10-19 20:15] mgechev commented on #119
@abbazabacto this one will be fixed by [this PR](https://github.com/mgechev/codelyzer/pull/124/files). Here's [the test](https://github.com/mgechev/codelyzer/pull/124/files#diff-30955923cbafc5a4ecbec285d88d5a56R468).

[2016-10-19 23:02] mgechev opened #125 "Do not recompute Angular component metadata"
At this point we recompute the metadata for components in different linting rules and the logic for gathering this metadata is with **coincidental cohesion** spread inside the `utils` directory which sucks.

Define a class `Metadata` which contains the metadata for Angular components/directives (such as template, styles, view encapsulation, is a template/style external, etc.). Define a class `Shal

[2016-10-20 00:03] ghsyeung commented on #125
Is "recompute" referring to parsing template AST multiple times for each lint rule?

And the reference to metadata collector in AoT, are you referring to this?
https://github.com/angular/angular/blob/76dd026447011823770e23fb5c4168c7d96a494b/modules/%40angular/compiler/src/metadata_resolver.ts#L119

[2016-10-20 00:51] mgechev commented on #125
Here is [the collector](https://github.com/angular/angular/blob/14ee75924b6ae770115f7f260d720efa8bfb576a/tools/%40angular/tsc-wrapped/src/collector.ts). Not parsing the template/styles for each rule is the next step. First, when we find an Angular component/directive we need to extract the data from it's class decorator and store it into an object. For instance:

[code]

Should become:

[code]

It

[2016-10-20 12:12] abbazabacto commented on #119
@mgechev sorry just realised the `$event` as an argument of function isn't checked in the current version at all...

The no-access-missing-member error regarding `$event` I got was when I used it in the template directly f.e.
[code]
For now bypassed it by passing it to a method handling the stopPropagation.

Your test succeeding might be because it just doesn't check the arguments...

[2016-10-20 13:13] ValeryVS opened #126 "feature: if class uses lifecycle hooks it must had proper name decorator"
For example, `ngOnInit` or `ngOnDestroy` can be used on service, but it is component/directive hooks.

[code]

Lifecycle sequence
https://angular.io/docs/ts/latest/guide/lifecycle-hooks.html
Some are "component-only", some - "directive/component".

Variant 1
- show error when class have not `@Component` or `@Directive` decorator

Variant 2
- show error when class have `@Injectable` decorator, beca

[2016-10-20 15:35] mgechev commented on #119
@abbazabacto should be fine [here](https://github.com/mgechev/codelyzer/pull/124/files#diff-968ef9a197df82277aff3a1da77e646cR126). I'm maintaining a symbol table currently containing only variable name.

[2016-10-20 22:16] ghsyeung commented on #125
Spend a bit of time researching the code. I'll restate the problem here to make sure I have the correct understanding.

So basically in `Ng2Walker.visitClassDecorator`, `ShallowMetadataCollector` would extract and normalize the `ts.ObjectLiteralExpression` into something like `type Metadata = ComponentMetadata | DirectiveMetadata`.

Then, utils like `getDecoratorPropertyInitializer` would group un

[2016-10-21 01:53] mgechev commented on #125
Yes, correct. I am also thinking of including one more field in the `Metadata` class which references to the class's AST (i.e. `ClassDeclaration`). This way it'll be easier to extract other data which doesn't exist in `Metadata`.

Not sure how to approach here. Maybe it'll be better to keep the metadata as property inside these visitors. For instance now some of them have `this.context` which poin

[2016-10-21 06:42] ghsyeung commented on #125
How about start with `ShallowMetadataCollector` first? I think passing as `this.context` would be a good first step. Once that is cleaned up, it'll be easier to see how some of the rules can be refactored.

One thing I notice is `Ng2Walker` may be exposing too much API. For example, `SelectorNameValidatorWalker` overrides `visitClassDeclaration` which in the ideal scenario, if there's `ComponentMe

[2016-10-21 13:44] mgechev commented on #125
You can take a look at the styles branch for the latest version of what we have.

I thought about having a separate visitor for Angular and probably it will be cleaner, following the interface segregation principle stricter. What bothers me with this approach is that we will have 5 visitors - 4 ng specific (template, styles, expressions, the directive/component classes) and the previous one, other

[2016-10-22 14:16] SebastianM opened #127 "feature: Support @angular/compiler 2.1.x"
When using angular 2.1.x I get this error when running: `tslint -c tslint.json 'src/**/*.ts'`

[code]

[2016-10-22 15:30] mgechev commented on #127
This is [already implemented](https://github.com/mgechev/codelyzer/pull/124/commits/787ff3bad21be0309896ef6a7508e2bb1e8991fc). I'll push to npm tomorrow.

[2016-10-22 15:30] #127 closed

[2016-10-23 08:07] jSherz opened #128 "__compiler_private__ removed from Angular 2.1.1"
The `__compiler_private__` export was removed in Angular 2.1.1 and is used by `codelyzer/src/angular/templates/templateParser.ts`, leading to the following error when codelyzer is used with the latest Angular.

[code]

If you've got any hints as to how I could fix this in a PR I'd love to contribute :)

[2016-10-23 08:16] #118 closed

[2016-10-23 08:16] #123 closed

[2016-10-23 09:54] SebastianM commented on #127
thx Minko!

[2016-10-23 12:41] preslavsh commented on #128
This is fixed with the last merged and soon will be published in npm.

[2016-10-23 12:41] #128 closed

[2016-10-23 14:24] jSherz commented on #128
That was super quick, thank you for your hard work! :+1:

[2016-10-24 16:51] mgechev opened #129 "Do not warn for $event being non-declared symbol in templates"

[2016-10-24 16:52] #129 closed

[2016-10-31 10:01] gingters opened #130 "Linting throws TypeError: value.slice is not a function"
Hi,

I get the following error while linting:

[code]

I'm using the following packages to lint my project:

[code]

And this is running on node 6.9.1 (also tried with 4.6.1).

[2016-10-31 10:07] gingters commented on #130
Argh. Sorry, just noticed that I forgot to update the rules when updating...

[2016-10-31 10:07] #130 closed

[2016-11-02 04:39] KiT106 opened #131 "Cannot read property 'TemplateParser' of undefined"
I create new sample project using angular-cli v1.0.0-beta.19 and follow Tour of Heroes tutorial.
When I run `$ ng lint`, everything work fine.
However, when I run `$ tslint src/**/*.ts` or run it inside WebStorm, I get bellow error:
[code]

[2016-11-02 15:50] mgechev commented on #131
This issue is already fixed in the newest version of codelyzer (and the CLI, I suppose https://github.com/angular/angular-cli/pull/2615).

[2016-11-02 15:50] #131 closed

[2016-11-02 19:10] mgechev commented on #131
@KiT106 as a fix you can install the latest version of codelyzer:

[code]

[2016-11-02 19:26] plmetz opened #132 "Ionic 2 Support"
I have been using Codelyzer with an Ng2 project and loving it. I have started an Ionic 2 project that uses Codelyzer and it works almost perfectly except for an issue with pages. In Ionic the Component decorator is used for pages but the class name is suffixed with "Page." For example the file **hello-ionic.page.ts** would be:

[code]

This causes Codelyzer to state that "The name of the class Hel

[2016-11-03 08:12] KiT106 commented on #131
@mgechev Thanks you.
I'm using angular-cli to generate project.
Seem angular-cli isn't using latest codelyzer version yet.

[2016-11-03 16:11] Maloric opened #133 "New linting rules to fail if a test is focused or skipped"
It is fairly common in our team to focus on an individual test or describe in order to run it quickly whilst working on that part of the system.  However we don't want to commit this focused test as it may cause the build to pass whilst only running a subset of the tests.  This lint rule ensures that such a build would fail, because we do not allow focused tests or skipped tests to be pushed to th

[2016-11-04 11:13] Maloric commented on #133
I realised that this repo is not the right place for this issue.

[2016-11-04 11:13] #133 closed

[2016-11-04 12:11] philipbulley opened #135 "Feature request: Enforce value of @Component.changeDetection"
In the project I'm currently working on, it'd be useful to ensure that all components are set to use `changeDetection: ChangeDetectionStrategy.OnPush`.

[2016-11-04 15:31] ajafff opened #136 "ComponentSelectorNameRule crashes if @Component() has no arg"
Using `"component-selector-name": true` results in a crash of tslint

Example code:
[code]
Console Output:
[code]

Expected bahaviour:
Maybe print error that one argument is required, but do not crash.

This problem is really nasty if your IDE automatically runs tslint, which then crashes.

[2016-11-04 18:05] mgechev commented on #135
Sounds good, I'm only afraid it could be misleading for components which produce/rely on side-effects.

I'm not sure there's a good way to predict if a component is suitable for `OnPush` `ChangeDetectionStrategy`. Do you have any ideas?

[2016-11-05 16:13] preslavsh commented on #15
#137  Needs reviewing

[2016-11-05 19:04] karptonite opened #138 "directive-selector-prefix rule clashes (sort of) with no-input-rename"
A common use case for an attribute directive is some sort of decoration, passing an input.

For example, you might have a selector, `[prefixHighlightColor]`, and want to pass it as an input without the prefix, `@Input('prefixHighlightColor') highlightColor: string;`.

It seems that removing the prefix should not count as "renaming" for the no-input-rename rule. That rule seems sensible rule in any

[2016-11-07 18:15] mgechev opened #139 "Warn if there's @Injectable() on top of another decorator"
In case we have a component decorated with `@Component` it is pointless to use `@Injectable` on top.

Create a rule which warns users who have decorated their classes with two or more known decorators.

Note: From semantical point of view it makes sense to warn the users on any two or more decorators, i.e. in case given service is used with aspect.js:

[code]

However, from semantical perspective,

[2016-11-07 18:23] MarkPieszak opened #140 "Warn if @Injectable() not included on exported class with no other Decorators"
Issue described here: https://github.com/angular/angular/issues/12745

It'd be great to provide some type of warning message when there's

            // <-- Warning: Are you forgetting Injectable() ?
    export class SomeService { }

Maybe some better phrasing :)

[2016-11-07 18:25] mgechev commented on #140
We can take this even further and warn only when:

- The class is exported.
- The class has non-primitive arguments of it's constructor.

[2016-11-07 18:28] MarkPieszak opened #141 "[Proposal] Visual Studio IDE integration"
I'm not sure if it's a limitation of VStudio or not, and I can most definitely help look into this if pointed in the right direction @mgechev!

It'd be great to have similar real-time analyzing that's in Atom or VSCode.

Just creating an issue so it's on the radar.

Codelyzer 💯

[2016-11-08 22:34] fabianluque commented on #141
Count me in here if you need any help. I'd love to have this in VS.

[2016-11-08 22:56] mgechev commented on #141
Should be possible through [Web Analyzer](https://visualstudiogallery.msdn.microsoft.com/6edc26d4-47d8-4987-82ee-7c820d79be1d).

[2016-11-09 14:01] antonybudianto opened #142 "The pipe class has the Pipe decorator, so it should implement the PipeTransform interface"
Hi,

I'm upgrading to TypeScript 2.0.8, and then one rule breaks that told my pipe has the Pipe decorator (yes, it does), and should implement the PipeTransform interface (already does)

It didn't happen in 2.0.7.

Thank you

[2016-11-09 17:49] mgechev commented on #142
It seems the AST changed in 2.0.8 and a lot of tests are failing. I'll try to fix this as soon as possible.

[2016-11-09 18:08] mgechev commented on #142
Would you share a code snippet? Using TypeScript 2.0.8 all the tests are passing for me.

[2016-11-09 19:32] MarkPieszak commented on #141
Web Analyzer doesn't work with 2015, but great news! @fabianluque
The very latest "preview" of .NET Core **1.1.0** automatically has TSLint etc in it, so it works!

![image](https://cloud.githubusercontent.com/assets/2574412/20151746/4f9925d4-a689-11e6-9187-03ba7e53d28f.png)

Added PR #143 to note it in the readme for codelyzer @mgechev

[2016-11-09 19:50] fabianluque commented on #141
Yes, I knew about the extension but it's not the same thing:

- It does not support custom rules like codelyzer
- It displays the errors in the error list pane instead of inside the editor

In that particular screenshot you've shared, it's actually TS compiler that's warning you, not TSLint.

[2016-11-09 19:58] MarkPieszak commented on #141
Oh shoot, let me test. Have you tried the 1.1.0-preview and had no luck?

[2016-11-09 20:05] MarkPieszak commented on #141
You're right for example:

    "component-selector-prefix": [ true, "app" ],

Doesn't get triggered if I remove the prefix `app-` from a Component's selector.
Hmm what is missing here...

[2016-11-09 20:21] fabianluque commented on #141
Like I said above, it's not supported. The extension was the former WebAnalyzer and now they are bundling it with ASP.NET Core Tooling extension.

It also does not support using a different TSLint version, so for example if you switch to TS 2.0, you get a lot of wrong warnings.

See here: https://github.com/aspnet/Tooling/issues?utf8=%E2%9C%93&q=is%3Aissue%20tslint%20

[2016-11-09 21:55] xtianus79 opened #144 "Build fails at the end after running tslint from command line"
the error is completely generic but it is Exit Status 2:

The command I am using to run is this.
    `"lint":` "tslint \"src/**/*.ts\"",`

`0 info it worked if it ends with ok
1 verbose cli [ '/Users/mbp06/.nvm/versions/node/v6.2.2/bin/node',
1 verbose cli   '/Users/mbp06/.nvm/versions/node/v6.2.2/bin/npm',
1 verbose cli   'run',
1 verbose cli   'lint' ]
2 info using npm@3.9.5
3 info using node@v6

[2016-11-09 22:10] mgechev commented on #144
Would you try  `npm i -g tslint` and `tslint "src/**/*.ts"`?

Right after that change `tslint.json` and drop all codelyzer rules. This way we can see if the problem is here.

[2016-11-09 23:13] antonybudianto commented on #142
https://github.com/antonybudianto/angular-webpack-starter

[2016-11-09 23:17] antonybudianto commented on #142
Full error log
[code]

[2016-11-10 15:54] xtianus79 commented on #144
@mgechev Ok... I have figured out that if there is an error and it returns something then the error is thrown... if nothing is wrong then i proceeds to check and return nothing but a new console line.

[2016-11-10 16:09] xtianus79 commented on #144
here is my tsling.json

[code]

[2016-11-10 20:19] xtianus79 opened #145 "this codelyzer check seems broken for pipes"
when using this command

"use-pipe-transform-interface": false, // what is this -- seems to be broken

it always fails and the code seems correct

[code]

[2016-11-10 20:25] mgechev commented on #145
I have the following code:

[code]

It works fine for me. Can you reproduce the issue on http://codelyzer.com?

[2016-11-10 21:02] xtianus79 commented on #145
@mgechev i put it in codelyzer and it says no issue...

however the same error is occuring....

src/app/components/admin/person/order-by-active.pipe.ts[4, 1]: The OrderByActivePipe class has the Pipe decorator, so it should implement the PipeTransform interface

[2016-11-11 00:03] antonybudianto commented on #145
looks like #142

[2016-11-11 00:17] antonybudianto commented on #142
@mgechev , I solved it by having fixing my module declaration from
[code]

to

[code]

[2016-11-11 14:21] jstuparitz opened #146 "directive-selector-name can't handle multiple selectors"
I have a custom Angular 2 directive with a selector like:

selector: '[equalValidator][formControlName],[equalValidator][formControl],[equalValidator][ngModel]'

This doesn't pass tslint, but this does

selector: '[equalValidator][formControlName]'

Also, the disable comment doesn't work.  Though it might be how I'm using it

  // tslint:disable-line:directive-selector-name
  selector: '[equalVali

[2016-11-11 16:32] mgechev commented on #146
Thanks for reporting this! It is a known issue aimed to be resolved by an open PR.

[2016-11-11 16:32] #146 closed

[2016-11-12 11:07] khodev commented on #145
npm will install typescript 2.1.x

codelyzer/src/util/syntaxKind.ts > SyntaxKind.current().ImplementsKeyword returns 106 where it should be 107 starting from TypeScript version 2.1.0

The breaking change is here:

https://github.com/Microsoft/TypeScript/commit/6814c1d883791a1ad976f3146315de30e00dc0b9#diff-9a9b25e2950a3c3c611c9e2e095e2e41

before: ImplementsKeyword = 106
after: ImplementsKeyword =

[2016-11-13 01:53] mgechev commented on #145
@khodev, thanks for pointing this out! Here's the fix https://github.com/mgechev/codelyzer/commit/d49cc26bb7d554da55ae71cda8a9fba0ff522d10.

[2016-11-13 01:53] #145 closed

[2016-11-13 01:54] mgechev commented on #144
@xtianus79 what's your TypeScript version? Might be related to https://github.com/mgechev/codelyzer/issues/145.

[2016-11-13 01:55] mgechev commented on #142
It seems problem related to TypeScript 2.1. Fixed by https://github.com/mgechev/codelyzer/commit/d49cc26bb7d554da55ae71cda8a9fba0ff522d10. Should be on npm by the end of next week.

[2016-11-13 01:55] #142 closed

[2016-11-13 01:55] mgechev commented on #15
Fixed by https://github.com/mgechev/codelyzer/commit/3373dffe7962f5e919161d60bc152f0d82dcb5d2.

[2016-11-13 01:55] #15 closed

[2016-11-13 01:57] mgechev commented on #82
Currently you can list a few prefixes in an array. In the next release, most likely we'll include directory specific prefixes.

[2016-11-13 01:58] mgechev commented on #135
Let's close it since it's very hard to guess if a component produces a side-effect &/|| depends on global state or not.

[2016-11-13 01:58] #136 closed

[2016-11-13 02:38] mgechev opened #148 "Should work with multiple comma separated selectors"
[code]
Should succeed.

[2016-11-13 08:41] #103 closed

[2016-11-13 08:41] #148 closed

[2016-11-14 17:15] sasxa opened #149 "Unsupported TypeScript version: 2.2.0-dev"
I'm getting an error when I use `typescript@next` (angular-cli project, vscode editor).
It works with `typescript@latest` 2.0.9, and `typescript@rc` 2.1.1, but not with `typescript@next` 2.2.0-dev. My guess is that this is related to the new features - Object spread and rest.

Any chance to add support for this?

[code]

[2016-11-14 17:37] mgechev commented on #149
Yes there's not support for TypeScript 2.2.0 at this point. We'll add it in the next a couple of days.

[2016-11-14 17:44] mgechev commented on #79
We have improvement in this direction. We will change the configuration a bit in near future, for sure, but for now I think the current configuration makes a lot of sense.

Closed by https://github.com/mgechev/codelyzer/commit/3373dffe7962f5e919161d60bc152f0d82dcb5d2.

[2016-11-14 17:44] #79 closed

[2016-11-15 13:16] michaeljota commented on #141
I think this should be more like creating a proper TSLint extension for VS IDE, instead of creating a Codelyzer extension.

[2016-11-15 13:19] MarkPieszak commented on #141
@michaeljota Yeah I think that's what we've realized, it's the lack of a good TSLinter in VStudio that's the problem :/

[2016-11-15 13:27] michaeljota commented on #86
The `no-unused-vars` rule will be deprecated in tslint 4. See [#1481](https://github.com/palantir/tslint/issues/1481).

[2016-11-15 13:31] michaeljota opened #151 "Can't resolve template variables"
I try to search for this, but I did not find anything, so sorry if this is duplicated. When using template variables, inside the template they are not recognized and throws cause they don't exist in the class component.

[code]

throws: `The property "todoForm" that you're trying to access does not exist in the class declaration.`

Edit: It is related to #123

[2016-11-15 19:16] mgechev opened #152 "Update to the new compiler API introduced by Angular 2.2.0"

[2016-11-15 19:16] mgechev commented on #152
https://github.com/mgechev/codelyzer/commit/fe3083bd9e106cf8338a743d8bf2c52774e20152

[2016-11-15 19:16] #152 closed

[2016-11-16 08:54] bertrandg opened #153 "Error when access modules injected with 'public' in constructor (inside template)"
Here is a simple example better to understand:

[code]

Tested with 1.0.0-beta.4 and directly on http://codelyzer.com/

[2016-11-16 16:28] abierbaum commented on #132
I think it would be a great addition to let user's configure an optional regex that is used to test all naming conventions that Codelyzer checks.  Then for your code you could allow either Component or Page.  Some other people may have other conventions they want to allow.  (for example we would like to allow "Panel" for some types of components)

[2016-11-16 16:43] gruppjo opened #154 "Could not find implementations for the following rules... Error"
Hi everybody,

### Description
I just tried to setup codelyzer for my project and I ran into the following problem:

[code]
### Reproduce
I prepared a minimal setup to reproduce the issue https://github.com/gruppjo/codelyzer-issue

[2016-11-16 18:20] mgechev commented on #154
Thanks for the detailed explanation of the issue you have! Yes, currently `directive-selector` and `component-selector` are in master but not yet published. You can use the [configuration explained on npm](https://www.npmjs.com/package/codelyzer). Good luck! Let me know if you have any other problems.

[2016-11-16 18:20] #154 closed

[2016-11-16 21:05] xtianus79 commented on #144
@mgechev typescript ^2.1

[2016-11-16 21:08] xtianus79 commented on #145
@mgechev just to ask what is the latest version?  I don't see releases...

[2016-11-16 21:11] mgechev commented on #145
The latest version is `beta.4`:

[code]

[2016-11-17 07:15] nikolaiwu opened #155 "Separate dependencies and dev dependencies"
Hi, I'm trying to create a webpack configuration to build in multiple directories. I have my webpack config in the root dir, where I have my dev dependencies (webpack, typescript, tslint, codelyzer, etc.) and I want to separate my dev dependencies i.e. @angular, core-js, rxjs, etc. in a sub dir installed separately (there will be many sub dirs e.g. themes). When I run webpack it says: `Module buil

[2016-11-17 09:26] nikolaiwu commented on #155
Fixed it! I added codelyzer, tslint and typescript as dev dependencies to the theme, moved the tslint.json to theme dir, and I also added this to my tsconfig.json:
[code]
Build passes without any problems and codelyzer works perfectly.

Feel free to add something, but I consider this issue as closed.

[2016-11-17 09:26] #155 closed

[2016-11-18 11:09] gruppjo commented on #154
Oh. Wasn't aware of that. Sorry! And thanks for the swift response! :)

[2016-11-19 04:10] #151 closed

[2016-11-19 04:10] #153 closed

[2016-11-19 15:19] michaeljota commented on #151
Thanks!

[2016-11-19 18:20] mgechev commented on #151
Thanks for pointing this out!

[2016-11-19 21:15] rolandjitsu opened #157 "Upgrade to tslint 4"
It would be nice to upgrade the tslint version to v4.

[2016-11-19 21:39] mgechev commented on #157
Thanks for the suggestion! The migration is completed here https://github.com/mgechev/codelyzer/pull/158.

[2016-11-20 18:32] #157 closed

[2016-11-21 13:22] ammarhaider7 opened #159 "importDestructuringSpacingRule.js causing "Error: Cannot find module 'tslint/lib/lint'""
Running npm run lint from the latest [angular2-webpack-starter repo](https://github.com/AngularClass/angular2-webpack-starter) causes the following error that seems to be originating from importDestructuringSpacingRule.js which wasn't happening a few days ago.

[code]

[2016-11-21 14:01] paralin commented on #157
Can you roll a release with this?

[2016-11-21 16:02] #159 closed

[2016-11-21 16:04] mgechev commented on #159
They have updated to tslint 4, which support is not released yet by codelyzer. By the end of the week it should be in npm. You can open an issue in angular2-webpack-starter, most likely they have mismatched peerDependencies.

[2016-11-21 18:36] altschuler opened #160 "Emacs integration"
Are there any plan for integration with Emacs? If not, are there any pointers for how to integrate in new editors?

[2016-11-21 19:00] mgechev commented on #160
We reuse the error reporting mechanism of tslint. If there's a tslint plugin for emacs, or anything like syntastic/neomake, you should be able to integrate it in your editor.

[2016-11-22 08:30] negberts opened #161 "Cannot find module 'tslint\lib\lint'"
Upgraded tslint to 4.0.1 and gulp-tslint to 7.0.1.

Codelyzer gives the error mentioned in the title in file selectorNameBase.js

var Lint = require("tslint/lib/lint");

[2016-11-22 09:53] 4kochi commented on #161
Tslint 4.0 API has changed:

https://github.com/palantir/tslint/pull/1720

[2016-11-22 10:20] devoto13 commented on #161
I think it can be closed as duplicate of #157.

[2016-11-22 10:22] #161 closed

[2016-11-22 10:48] ammarhaider7 commented on #159
@mgechev thanks Minko!

[2016-11-22 12:59] e-cloud commented on #149
what should be updated for supporting TS 2.2.0. I may give a hand on this :smile:

[2016-11-22 15:33] michaeljota opened #162 "Error with TSLint 4.0.1"
When trying to run with lastes TSLint v4.0.1, throws:

[code]

[2016-11-22 17:53] mgechev commented on #162
Duplication of https://github.com/mgechev/codelyzer/issues/161 and https://github.com/mgechev/codelyzer/issues/157.

[2016-11-22 17:53] #162 closed

[2016-11-22 18:35] altschuler commented on #160
Roger, got it working. For reference, make sure that `tslint` is globally installed, then it should work out of the box with flycheck. Thanks!

[2016-11-22 18:35] #160 closed

[2016-11-22 21:11] gligoran commented on #162
Hey! Any plans on releasing this soon?

[2016-11-22 21:37] mgechev commented on #162
Once we have external template support. Probably by the beginning of the next week.

[2016-11-22 21:37] mgechev commented on #157
Yes, in a few days. It will be part of a big release which introduces support for external templates.

[2016-11-23 03:42] mgechev commented on #86
This is even greater motivation to include such rule in codelyzer. Now we support external templates so we can make it happen. I'm afraid that the release will become too big so I'd suggest to move this feature as part of the next one.

[2016-11-24 01:42] mgechev opened #164 "Support for external style & template DSLs"
- [x] Support hooks defined in `.codelyzer.js`.
- [x] Support commonly used extensions (`*.scss`, `*.less`, `*.haml`).
- [x] Use source maps to point to the correct location in the original file.

[2016-11-24 12:25] mlc-mlapis opened #165 "vscode-tslint: 'Cannot find module 'tslint/lib/lint''"
Configuration:
[code]

VS Code: 1.7.2

at Function.Module._resolveFilename (module.js:455:15)
at Function.Module._load (module.js:403:25)
at Module.require (module.js:483:17)
at require (internal/module.js:20:19)
**at Object.<anonymous> (...\node_modules\codelyzer\selectorNameBase.js:8:12)**
at Module._compile (module.js:556:32)
at Object.Module._extensions..js (module.js:565:10)
at Module.load (m

[2016-11-24 19:43] mgechev commented on #165
It's duplication of https://github.com/mgechev/codelyzer/issues/162.

By the end of the week I'll release version which works with tslint 4.0.0. In order to stop getting this error try: `rm -rf node_modules/tslint && npm i tslint@^3.0.0`.

[2016-11-24 19:43] #165 closed

[2016-11-24 20:51] mlc-mlapis commented on #165
Minko, tkank you.

[2016-11-24 21:15] mgechev commented on #165
Sure, let me know if you have any other problems.

[2016-11-25 08:27] mgechev opened #166 "Incorrect position of the style-related errors"

[2016-11-25 12:52] michaeljota opened #167 "Widget Proposal"
I like this tool, cause it enforce consistency through the code, like all linters I guess. In my projects I use the concept of `widget`, witch are 'dummy components'. I would like to be able to set a rule, that allows the name of `widget`, and ensure, or try hard to, the component only have inputs and outputs properties.

## Motivation
React community have develop their own 'dummy components', and

[2016-11-26 13:12] piq9117 opened #168 "Cannot find module 'tslint/lib/lint'"
When I dug into the node_modules/codelyzer/importDestructuringSpacingRule.js I see
[code]
and the same thing in node_modules/codelyzer/importDestructuringSpacingRule.d.ts, its importing
[code]
and if I change the path to `tslint/lib/index` it totally  works. <br />
So, I forked the `codelyzer` project to see what's going on. I ran `build` and `prepare:package`, and it gives out the right path. It

[2016-11-26 18:21] mgechev commented on #168
Duplication of https://github.com/mgechev/codelyzer/issues/165. Downgrade to tslint 3.x.x until we release the next version.

[2016-11-26 18:21] #168 closed

[2016-11-26 21:19] mgechev commented on #94
Implemented by https://github.com/mgechev/codelyzer/commit/67d5a07a56163f05e1e3d49e446fa6b0fde15ea2.

[2016-11-26 21:19] #94 closed

[2016-11-26 21:20] mgechev opened #170 "Provide fake classes for the rules with changed names for backwards compatibility"

[2016-11-27 01:43] mgechev commented on #170
Doesn't seem necessary since we need to change the list of peerDependencies anyway so we'll introduce a breaking change.

[2016-11-27 01:43] #170 closed

[2016-11-27 19:24] #164 closed

[2016-11-27 19:24] #166 closed

[2016-11-28 01:45] mgechev commented on #168
You can use `2.0.0-beta.1` which works with tslint 4.

[2016-11-28 01:45] mgechev commented on #162
You can now use `2.0.0-beta.1` which works with tslint 4.

[2016-11-28 01:45] mgechev commented on #165
You can now use `2.0.0-beta.1` which works with tslint 4.

[2016-11-28 01:45] mgechev commented on #161
You can now use `2.0.0-beta.1` which works with tslint 4.

[2016-11-28 01:45] mgechev commented on #157
You can now use `2.0.0-beta.1` which works with tslint 4.

[2016-11-28 01:46] piq9117 commented on #168
wow! a personal message from the main contributor. thanks @mgechev! Your project has been helping me tremendously!

[2016-11-28 01:48] paralin commented on #157
Thanks :)

[2016-11-28 06:31] mlc-mlapis commented on #165
Great, I will test it.

[2016-11-28 08:07] crebuh opened #171 "TypeError: Cannot read property 'parse' of undefined"
Hi guys! First of all I like the idea of this project very much.

Unfortunatley I have problems running the linting tool on my project. I'm running the following versions:

    chuber@XIAOMI-MI:~$ tsc -v
    Version 2.2.0-dev.20161128
    chuber@XIAOMI-MI:~$ tslint -v
    4.0.2

But when I try to run the linter via the command line like:

     ./node_modules/.bin/tslint -c tslint.json src/app/app.

[2016-11-28 09:46] markheron91 opened #172 "prefix.join is not a function"
Hi there,

Previous Working Versions:

 - Codelyzer: 1.0.0-beta.4
 - TsLint: 3.15.1

Upgraded to the Following Versions:

 - Codelyzer: 2.0.0-beta.1
 - TsLint: 4.0.2

When upgrading from the previous to the new versions shown above, I can see the following error reported by the tslint extension in my vscode.

vscode-tslint: 'prefix.join is not a function' while validating: d:\Dev\Onevolve-BPO\src\

[2016-11-28 14:13] markheron91 commented on #172
Ok, think I've worked out what the problem might be, and if I'm right then it is more a problem with the changelog documentation. The changelog shows the directive-selector-name and directive-selector-type have been merged into one rule (directive-selector), but from looking at the code it looks like the directive-selector-prefix rule has also been merged to this rule aswell.

This was causing me

[2016-11-28 14:21] Manduro opened #173 "Failing edge cases for noAccessMissingMemberRule"
Some cases below that fail the linting, while I think they should pass.

---

[code]
[code]
`The property "_id" that you're trying to access does not exist in the class declaration.`
Probably `get` functions that are not handled correctly?

---

[code]
`
The property "menuContent" that you're trying to access does not exist in the class declaration.
`
While it is true that `menuContent` does not e

[2016-11-28 15:53] mgechev commented on #172
Yes, you're correct. I'll update the documentation.

[2016-11-28 15:53] #172 closed

[2016-11-28 15:57] mgechev commented on #173
Hey @Manduro, thanks for reporting this issue! I'll fix it as part of the next release.

[2016-11-28 15:59] Manduro commented on #173
No problem. Thank you for building this awesome tool!

[2016-11-28 16:02] mgechev commented on #171
At the moment codelyzer [doesn't support TypeScript 2.2.x](https://github.com/mgechev/codelyzer/blob/master/src/util/syntaxKind.ts#L2442-L2463), although I'm not sure the local version of tslint you're running uses your global `tsc`. Would you give me the output of:

[code]

It will be also great if you can share the content of `src/app/app.ts` so I can fix the issue and introduce a test case.

Mo

[2016-11-28 17:33] crebuh commented on #171
@mgechev

thx for the quick response here is the output within the project folder:

    chuber@XIAOMI-MI:~/app$ ./node_modules/.bin/tsc -v
    Version 2.0.2
    chuber@XIAOMI-MI:~/app$ ./node_modules/.bin/tslint -v
    4.0.2

the project is still using typescript 2.0.2. here is a copy of my app.ts http://pastebin.com/mk0GK0hN

I am not sure maybe the project it self is causing problems? Currently

[2016-11-28 17:38] mgechev commented on #171
Great! Thanks for the information; I will see if I can publish a fix as part of the next release.

Until then you can disable tslint or just a subset of rules for the files where codelyzer fails.

[2016-11-28 18:03] mgechev commented on #171
@crebuh what version of Angular are you using? Did you get any peerDependencies errors? This doesn't seem like an issue in codelyzer, most likely the version of `@angular/compiler` that you have in your `node_modules` doesn't export `CssSelector`.

[2016-11-28 18:04] crebuh commented on #171
@mgechev

I'm using angular at version 2.1.0. also the compiler

[2016-11-28 18:14] mgechev commented on #173
@Manduro the fix is [here](https://github.com/mgechev/codelyzer/commit/d7db6e7cee10e488d30bdc0cae22171a8216c90e). I will publish it together with a few other improvements in the next week or two.

[2016-11-28 18:15] mgechev commented on #171
Yes, this is a violation of the `peerDependencies`, which require Angular `^2.2.0`. You can update the dependencies of your project and it should work.

[2016-11-28 18:15] #171 closed

[2016-11-28 18:46] #173 closed

[2016-11-28 18:51] mgechev commented on #132
This rule can be made configurable and by default the suffix will be `Component`. It is going to be part of the next release.

[2016-11-28 18:53] mgechev commented on #138
@karptonite the issue makes sense. Probably we should move the discussion at https://github.com/angular/angular.io/issues. Please mention me in the issue if you open one there.

[2016-11-28 18:53] #138 closed

[2016-11-28 18:57] mgechev commented on #167
Hey @michaeljota as part of the next release we'll introduce an option to set a custom suffix for your components & directives which by default will be `Component` & `Directive`. This way you'll be able to easily introduce custom naming convention.

For further details take a look at this issue https://github.com/mgechev/codelyzer/issues/132.

[2016-11-28 18:57] #167 closed

[2016-11-28 19:05] michaeljota commented on #132
Thanks! Will follow this then. 👍

[2016-11-28 23:02] Ks89 opened #175 "[Question] is it possibile to use codelyzer with tslint 4?"
Is it possibile to use codelyzer with tslint 4 and the latest version of tslint-loader?

[2016-11-28 23:13] mgechev commented on #175
Yes, you need codelyzer@^2.0.0-beta.1.

[2016-11-28 23:13] #175 closed

[2016-11-29 06:08] mgechev commented on #138
Just for completeness: the rules can be disabled by setting:

[code]

in your tslint.json file.

[2016-11-29 20:43] surenrao opened #176 "Does this check template if its in a seperate file using TemplateUrl?"
I am not able to get any warnings or error when the template is a file. Is there a setting i am missing? or it only supports inline template? Thanks

[2016-11-29 22:20] mgechev commented on #176
What version are you using? Are you running the linter over command line or you're expecting warnings inline in your text editor/IDE? The later is not going to work for now since I'm reusing the tslint plugin for VSCode/Atom/etc. which lints only ts & tsx files.

[2016-11-30 02:00] surenrao commented on #176
i am using latest angular 2.2 and codelyzer 0.0.26. I am using webpack in dev mode under console.

[2016-11-30 05:47] mgechev commented on #176
You need codelyzer@2.0.0-beta.1.

[2016-11-30 05:47] #176 closed

[2016-12-01 14:02] mnn commented on #78
Oh my god, just spent half an hour figuring out what is causing build suddenly crashing and it turns out it's missing parentheses :(. What a useless crash message.

[2016-12-01 16:39] mgechev commented on #78
@mnn you can try updating to the latest version of codelyzer, the issue should have been fixed.

[2016-12-02 21:13] mgechev commented on #144
@xtianus79 would you try with the latest version? It's 2.0.0-beta.1.

[2016-12-06 11:51] mastertinner opened #178 "Component as attribute"
The rule `component-selector-name` allows to only allow components either to be elements **or** attributes. We would like to allow both in our project but still keep the rule for its other aspects (e.g. checking if component's selectors are kebab-case). Is that somehow possible? It would be nice to be able to specify the following:

`"component-selector": [true, ["attribute", "element"], "ec", "ca

[2016-12-06 12:13] mastertinner opened #179 "False positive of no-access-missing-member"
I think the rule `no-access-missing-member` is throwing false positives in the following case of a component template:

[code]

In this case, I'm getting `The property "myThing" that you're trying to access does not exist in the class declaration.` which shouldn't matter because `myThing` is defined in the HTML. Does it need to be defined again in the class? I think adding it as a `#myThing` attri

[2016-12-06 13:52] mgechev commented on #178
I understand there are some cases when using components as attributes is required, another example is a resizable component. For such cases I'd recommend disabling the rule for the specific line. We're still using tslint as error reporting mechanism so you can take advantage of the ["disabled intervals"](https://palantir.github.io/tslint/usage/rule-flags/).

[2016-12-06 13:55] mgechev commented on #179
Yes, this seems like an issue. I haven't formed properly the "symbol table" that I use for checking for existing in case of references.

[2016-12-07 10:59] JohannesRudolph opened #181 "Certain Codelyzer Rules hang linting on angular-cli project after upgrading codelyzer 1.0->2.0 and tslint 3.x->4.x"
See discussion in https://github.com/angular/angular-cli/issues/3404

I could pinpoint it down to these rules, each of which makes linting take forever:
[code]

Anyway I can debug into codelyzer live on my project? It's a proprietary codebase, so it's difficult to produce a repro.

[2016-12-07 13:00] mgechev commented on #181
The best you can do is to run:

tslint -c tslint.config path/to/file.ts

See which file causes codelyzer to hang and share its content. This way I will be able to debug it and push a fix as soon as possible.

[2016-12-07 13:02] mgechev commented on #181
PS: in order to find the file easier you can first locate the directory into which it is located:

tslint -c dir1/**/*.ts
...

[2016-12-07 16:13] #179 closed

[2016-12-07 16:13] mgechev commented on #179
@mastertinner the fix will be published in the next beta.

[2016-12-07 20:01] mastertinner commented on #179
Awesome! Thx, @mgechev!

[2016-12-08 12:42] nicolashenry opened #182 "Angular 2.3.0"
Can you update the peer dependencies to the version 2.3.0 ?

I got this message updating angular :
[code]

[2016-12-08 13:03] spali opened #183 "error in atom-typescript"
I have an error with some specific rules of codelyzer in atom-typescript.
The strange thing is, it works on cli with tslint.
Probably it's a tslint issue, but I only can reproduce it with codelyzer and only since switching to tslint 4 and codelyzer 2.
I detected it in a project based on angular-seed. And it started with the following commit mgechev/angular-seed@d3eb166.

I could make it down to th

[2016-12-08 13:16] mgechev commented on #183
This is a known issue and it's fixed in master. Should be out in a couple of days/week. https://github.com/mgechev/codelyzer/pull/177

[2016-12-08 13:16] #183 closed

[2016-12-08 13:57] spali commented on #183
thanks! :+1:
searched at least a couple of times for this specific error here and didn't got this Issue in the search results :(

[2016-12-08 14:51] mgechev commented on #183
No worries, hopefully I will be able to release it soon.

[2016-12-08 15:30] guojenman opened #184 "false positives with typescript 2.1.4"
### Bug Report

- __Codelyzer version__: 2.0.0-beta.1
- __TSLint version__: 4.0.2
- __TypeScript version__: 2.1.4
- __Running TSLint via__: CLI/ Visual Studio / ts-loader

Note: TSLint passes if i remove codelyzer rules & codelyzer from rulesDirectory

#### TypeScript code being linted

__In code below, it's complaining about missing whitespace after equals (=) in the string literal__
[code]
__In

[2016-12-08 16:32] mikhailmelnik commented on #184
Not sure my issues are the same but I would say it looks like false positive too.

For the following template (based on [ng-boostrap popover example](https://ng-bootstrap.github.io/#/components/popover))
[code]
 `ng lint` says `The property "popContent" that you're trying to access does not exist in the class declaration.`

And for the following statement in template
[code]
`ng lint` says `The pro

[2016-12-08 18:20] mgechev commented on #184
@mikhailmelnik your issue is duplication of https://github.com/mgechev/codelyzer/issues/179 and fixed but not yet published.

I believe I worked on `{{t.errorData.errorMessages[0].message}}` as well, not sure if it is in beta.1 yet but I'll verify and if it isn't there I'll work on it.

@guojenman your issues are not related to codelyzer but seems related to tslint. It is weird that you're no long

[2016-12-08 18:26] mikhailmelnik commented on #184
@mgechev it is 2.0.0-beta.1, installed with angular-cli v1.0.0-beta.22

[2016-12-09 13:54] psurrey commented on #181
I've had the same issue and took the time to go through the files in order to figure out what caused tslint to hang.
Result: We use stylus for our css styles and in one of the *.styl files there was the following line:

`position: relative // relative for .tableConfigs position: absolute"`
changing it to (removing the `"` at the end of the line fixes it):
`position: relative // relative for .table

[2016-12-09 14:26] mgechev commented on #181
Yeah, it can analyze stylus files as well but by default it doesn't. Take a look at the [advanced configuration](https://github.com/mgechev/codelyzer#advanced-configuration). Currently it thinks of the stylus files as CSS and thins seems to break something.

[2016-12-09 14:34] guojenman commented on #184
Thanks @mgechev. Weird indeed. I've created minimum reproducible project, which I should've included with the original bug report, but attached below instead.

after npm install,
if you run "npm run lint", it will fail.
if you run "npm run lint-no", which is not using codelyzer in rulesDirectory, then works.

[codelyzer-lint.zip](https://github.com/mgechev/codelyzer/files/642379/codelyzer-lint.zip

[2016-12-09 14:40] mgechev commented on #184
@guojenman thanks for this! It'll be really helpful!

[2016-12-10 17:10] mgechev opened #185 "Issue in noAccessMissingMemberRule when accessing KeyedReads"
By @mikhailmelnik:

[2016-12-10 17:11] #185 closed

[2016-12-10 17:11] mgechev commented on #184
@mikhailmelnik the issue is fixed here https://github.com/mgechev/codelyzer/commit/20ce61a64346b9ac17a1d5d5f364889ef90e6d47.

[2016-12-10 17:12] mgechev commented on #182
Fixed here https://github.com/mgechev/codelyzer/commit/20ce61a64346b9ac17a1d5d5f364889ef90e6d47. Will be released by the end of the day (hopefully).

[2016-12-10 17:12] #182 closed

[2016-12-10 17:22] mgechev commented on #144
I'm closing it for now, found an issue in the `SyntaxKind` definition. I'll push the changes in beta.2.

Ref: https://github.com/mgechev/codelyzer/commit/20ce61a64346b9ac17a1d5d5f364889ef90e6d47

[2016-12-10 17:22] #144 closed

[2016-12-10 17:27] #149 closed

[2016-12-10 17:31] mgechev opened #186 "Do not process non-css files by default"

[2016-12-10 17:48] mgechev opened #187 "Allow custom typescript version for more flexible SyntaxKind"

[2016-12-10 18:02] nicolashenry commented on #182
@mgechev Thanks!

[2016-12-10 18:05] #187 closed

[2016-12-10 18:11] #181 closed

[2016-12-10 18:11] #186 closed

[2016-12-10 18:12] mgechev commented on #181
This seems the issue https://github.com/mgechev/codelyzer/issues/186 and should be already fixed. I'll push the new version tonight.

[2016-12-10 18:12] #184 closed

[2016-12-10 18:13] #178 closed

[2016-12-10 18:26] #132 closed

[2016-12-10 18:43] plmetz commented on #132
Great! Thanks for all your work on this project

[2016-12-10 19:11] #125 closed

[2016-12-10 19:11] #119 closed

[2016-12-10 19:12] mgechev commented on #119
It was fixed in the previous release. Now the template references can also be configured in `.condelyzer.js` because the tool doesn't analyze the entire component tree.

[2016-12-10 19:12] mgechev commented on #11
Not relevant at the moment.

[2016-12-10 19:12] #11 closed

[2016-12-10 19:40] mgechev opened #188 "Support >=2.2.0 & <=2.3"

[2016-12-10 19:40] mgechev commented on #188
https://github.com/mgechev/codelyzer/commit/08a0029b716252f23a2797ec703b683eb226d753

[2016-12-10 19:40] #188 closed

[2016-12-10 20:40] michaeljota commented on #167
@mgechev I see the new option. I would want to suggest to this option to accept an array of suffixes, cause in a project it may get sense to have more than one suffix.

[2016-12-11 00:51] mgechev commented on #167
I'm not sure that this will be with alignment with the style guide. It suggest only a single suffix, also we did an exception for Ionic 2 where we allow `Page` suffix.

[2016-12-12 17:13] k-schneider opened #189 "View-only variable - does not exist in the class declaration"
I'm using the default settings from angular-cli and this markup is causing a lint error:

[code]

The output is:

`The method "d" that you're trying to access does not exist in the class declaration.`

What can I do here if I don't actually want to declare 'd' in my component?

[2016-12-13 09:53] mgechev commented on #189
What do you mean by "View-only variable"? Why is it fine to not have this variable declared?

You can disable the rule by using:

[code]

[2016-12-13 09:53] #189 closed

[2016-12-13 14:45] UnwrittenFun commented on #140
Perhaps an option to only warn if the class name ends in Service, not all exported classes we use are services.

[2016-12-13 16:27] pierre-hilt opened #190 "no-access-missing-member and async pipe"
Hello,

I have no-access-missing-member error in my project when linting this template:

[code]

I have error only when accessing async pipe in inputs (ngif is working fine).
packages:
"codelyzer": "^2.0.0-beta.3",
"tslint": "~4.0.0",
"typescript": "2.0.3"

Do you have any idea?

Thanks,

Pierre

[2016-12-13 16:35] UnwrittenFun commented on #190
Having the exact same problem, something that made the error go away was changing things like this
[code]
to
[code]

Though I think this might just be hiding the problem, or just preventing the rule from checking properly, so not really a long-term or good solution

[2016-12-13 17:52] mgechev commented on #190
Thanks for pointing this out! I'll fix it during the holidays.

[2016-12-13 21:00] robisim74 opened #191 "no-access-missing-member and extended classes"
Hi Minko,

I don't know if the following problem is related to #190, but if I set the property on the subject to true (as recommended) when I have an extended class I get warnings.
For example:

[code]

[code]

I get the following warnings:
[code]

Packages:
"codelyzer": "2.0.0-beta.3",
"tslint": "4.0.2",
"typescript": "2.0.10"

Note that up to codelyzer 2.0.0-beta.1 I didn't get any error.

Thank

[2016-12-13 21:32] bradyisom commented on #173
Using 2.0.0-beta.3, I am still getting the second issue reported here. Specifically, referencing a local variable in the template.

[2016-12-13 21:42] mgechev commented on #191
Since recently Angular didn't support metadata for inheritance so this issue was low priority. Probably I will work on it as part of the next release.

[2016-12-13 21:44] mgechev commented on #173
Would you share a demo where I can reproduce the problem?

[2016-12-13 22:13] bradyisom commented on #173
Sure. Here is a simple project generated by angular-cli (1.0.0-beta.22-1):

https://github.com/bradyisom/codelyzer-173

The only addition is an angular material menu that matches the sample: https://github.com/angular/material2/blob/master/src/lib/menu/README.md

With this simple project, I get the following error by running `ng lint`:

[code]

[2016-12-14 01:04] mgechev commented on #173
Codelyzer analyzes only the current file which means that it doesn't know if you have template references like ngForm, mdMenu, etc. available in the current position of the component tree. As workaround, there's a configuration property in `.codelyzer.js`, which allows you to set a list of pre-defined directives, by declaring their selector and exportAs identifier. Take a look at the section "Adva

[2016-12-14 07:54] joachimprinzbach opened #192 "component-selector: kebab-casing of components without prefix"
Hey Minko

for the following component I do get a linting error:
[code]

Rule:
[code]
Linting result: The selector of the component "DogComponent" should be named kebab-case (https://goo.gl/mBg67Z)
In my opinion, the selector dog is perfectly kebab cased. When I change the selector to "d-og" it does work - but shouldn't it be possible to have selectors without dash for components that are named to

[2016-12-14 09:33] mgechev commented on #192
Yes, the error message is not correct.

[2016-12-14 09:49] pierre-hilt commented on #190
Thanks @UnwrittenFun for the workaround :+1:

[2016-12-14 09:58] pierre-hilt commented on #190
And so that points out that ngif is not check for no-access-missing-member as well

[2016-12-14 10:11] pierre-hilt opened #193 "ngif not check"
Hello,

It seems that ngif is not check properly.
For example, using no-access-missing-member, ngif is not check:

[code]

That should fail because foo is not a known property but that passes.

[2016-12-14 11:02] pierre-hilt opened #194 "feature: component-class-suffix give a list of possible suffixes"
Hello,

In our project we use several Suffix for our component depending if they are Component or Simple View (so we use Component and View suffix).

It could be great to propose a list of possible suffix for component-class-suffix.

I have already done some code and ready to do a PR if you think that can be a good idea to add this.

[code]

Pierre

[2016-12-14 11:42] pierre-hilt commented on #51
Hello,

Maybe BAN rule from TSLint can answer your need:
https://palantir.github.io/tslint/rules/ban/

[2016-12-14 11:44] mgechev commented on #194
Hey @pierre-hilt, we already had [a discussion](https://github.com/mgechev/codelyzer/issues/167) about this. I'm not confident how good idea is it because we're going in a different direction from the official style guide. In the same time we're only expanding the set of features without preventing developers align their codebase to best practices.

I'd love to get a PR with this functionality.

[2016-12-14 11:50] mgechev commented on #51
Yeah, `ban` seems like a good way to limit the usage of some APIs which directly mutate the DOM.

[2016-12-14 12:29] joachimprinzbach commented on #192
Is it only the error message? Or shouldn't there be any error at all?

[2016-12-14 12:54] pierre-hilt commented on #194
#195

[2016-12-14 12:57] pierre-hilt commented on #194
I see that is not compliant with Angular best practices. But I will need to disable completely the rule in my project without this feature.

[2016-12-14 13:13] mgechev commented on #192
Probably the rule doesn't validate the selector properly.

[2016-12-14 13:37] UnwrittenFun opened #196 "transformStyle eats errors"
Given this in .codelyzer.js

[code]

When running the lint task it will not display the error, which makes it look like the styles are passing lint!

transformTemplate does not suffer from the same issue.

Node: 6.9.1
Tslint: 4.0.2
Codelyzer: 2.0.0-beta.3
Angular: 2.2.3

[2016-12-14 14:20] #194 closed

[2016-12-14 14:21] mgechev commented on #196
It's intentional to not throw when a style is not transformed successfully but this doesn't eat linting errors.

[2016-12-14 14:21] #196 closed

[2016-12-14 14:23] UnwrittenFun commented on #196
😕 Lost a couple hours due to this. No warning whatsoever that your transform or styles are broken is pretty worrying to me

[2016-12-14 15:00] mgechev commented on #196
I agree, I will add a bolded warning to the `README.md` file.

[2016-12-14 16:51] bradyisom commented on #173
Is that file used by angular-cli? I added that file and tried to add configuration that will fix this problem, but there was no visible effect. It looks like `ng lint` just executes `tslint "src/**/*.ts`. Does that go through the right code path where codelyzer can load this advanced configuration?

[2016-12-14 17:57] mgechev commented on #173
@bradyisom create a file called `.codelyzer.js` in the root of your project (right where `node_modules` is) and add the following content:

[code]

[2016-12-14 18:02] bradyisom commented on #173
Thank you. That is working for me now. I did have the `.codelyzer.js` in the right place. I got hung up on the example in the "Advanced Configuration" section of the documentation. Copying and pasting that example does not work. It did not have an `=` after `module.exports` and there was no error in the console. It was also not clear what I was supposed to use for the `exportAs` parameter. Thank y

[2016-12-14 18:09] mgechev commented on #173
Oh, thanks for pointing this out. I wrote it on-the-fly, just before published the package. I'll fix the file right now.

[2016-12-16 14:07] TomDemulierChevret commented on #82
It would be nice to allow the same behaviour for sufixes.
In Ionic2 app, most of the time you use the "*Component" suffix in /components and "*Page" in /pages.
It would reinforce the multi-suffix approach.

[2016-12-16 14:07] TomDemulierChevret commented on #132
Can you confirm that currently (beta3) it's not possible to specify an array of suffixes in tslint.json ?
Since Ionic 2 use both "*Component" and "*Page", we still got an error.

I saw there was a more recent commit allowing this.
Is the master version stable enough to use or do we need to wait for beta4 ?

Thanks

[2016-12-16 14:19] mgechev commented on #132
Beta3 doesn't support multiple suffixes. Yes, master is usually stable so you can give it a try.

[2016-12-16 14:20] mgechev commented on #82
As mentioned in the previous issue, this is in master.

[2016-12-16 14:43] michaeljota commented on #132
@mgechev so this will support an array of suffixes? Thanks you. 👍

[2016-12-16 14:44] mgechev commented on #132
Yes, master does.

[2016-12-16 17:51] aitboudad commented on #191
@mgechev I think you missed https://github.com/angular/angular/commit/f5c8e09 since `2.3`

[2016-12-16 18:08] mgechev commented on #191
Yes, I said "didn't", this is the reason the issue is still open :-)

[2016-12-17 13:35] alain38 opened #198 "no-access-missing-member and template local variables"
I get _"The property "loginControl" that you're trying to access does not exist in the class declaration"_ when i try to tslint the following template (this is  in a template driven form)

### The template
          <div class="form-group" [ngClass]="{'has-success': loginControl.valid, 'has-danger': !loginControl.valid && loginControl.dirty}">
          <label for="login" class="sr-only">Your name

[2016-12-17 14:01] mgechev commented on #198
With the`predefinedDirectives` which you can declare in `.codelyzer.js`, you can declare that you have: `{ selector: "[ngModel]", exportAs: "ngModel" }`.

Take a look at this issue https://github.com/mgechev/codelyzer/issues/173

[2016-12-17 14:01] #198 closed

[2016-12-17 14:21] alain38 commented on #198
Thank you very much. I should have read the advanced documentation.
this code did the trick in .codelyzer.js for the example above

[code]

[2016-12-17 15:07] mgechev commented on #198
No problem. I will add all these by default on the next release.

[2016-12-17 15:08] mgechev opened #199 "Add built-in and material directives by default"

[2016-12-17 20:44] guojenman commented on #41
@nerumo

I also wanted this feature today, so I quickly hacked something together.

[code]

see https://palantir.github.io/tslint/develop/custom-rules/ for how to use the code above

it's my first attempt at a rule and only spent only a few minutes on it, so it's very specific to rxjs/Rx but you could imagine making this configurable

[2016-12-17 20:51] nerumo commented on #41
@guojenman thanks for the example. but @mgechev was right, this project only contains angular specific rules. so rules that apply for all kind of ts projects should be added to tslint. and some days ago they merged this feature on tslint: https://github.com/palantir/tslint/pull/1549

[2016-12-17 21:13] guojenman commented on #41
I also agree, which is why the example is a custom rule for tslint and not an addition to codelyzer

[2016-12-20 11:38] emilio-simoes opened #200 "False positive in pipe parameter"
I'm getting a false positive when using angular2localization translate pipe. The pipe requires some parameters like:

`<h1>{{ 'toolbar.title' | translate:lang }}</h1>`

but the `lang` parameter is causing the following error:

`src/client/app/shared/toolbar/toolbar.component.html[1, 36]: The property "lang" that you're trying to access does not exist in the class declaration.`

Using codelyzer 2.0

[2016-12-20 14:54] mgechev commented on #200
It seems `lang` is not defined, and codelyzer is correct in this case. I saw a couple of examples of the `translate` pipe where it uses a missing `lang` property, which is later passed to a method of a service that as default argument uses the default locale. I didn't find a definition of a local view property through setting a property of the current context.

Does your code work with AoT compila

[2016-12-20 14:54] #200 closed

[2016-12-20 16:33] emilio-simoes commented on #200
Yes, the code is working with AoT compilation. The translations are working fine both with Aot and JIT compilations.

I don't think is an issue os the `lang` not being defined since the angular2localization explicitly defines it. See [https://github.com/robisim74/angular2localization/blob/master/doc/spec.md#2](https://github.com/robisim74/angular2localization/blob/master/doc/spec.md#2).

The trans

[2016-12-20 16:38] emilio-simoes commented on #200
I've been looking into it and it seems that this issues is related with issue #191

My component is extending angular2localization `Locale` wich defines `lang`, so `lang`is definitely defined.

[2016-12-20 17:23] mgechev commented on #200
@emilio-simoes thanks for the insight. I'll work on support for extended classes in the next release.

[2016-12-20 21:10] clydin opened #201 "New beta release possible?"
Time permitting, is there any chance a beta4 could be released with the tslint peer dep update?

[2016-12-20 22:59] clydin commented on #201
Also, I added a PR (#202) to update the dependencies for angular 2.4.

[2016-12-20 23:05] mgechev commented on #201
Thanks for the PR! I'll try to publish new version tomorrow morning.

[2016-12-21 09:02] vapits opened #203 "New angular tslint releases support?"
Hi there,

I upgraded my angular app to the latest stable release `2.4.0` and when I'm doing a clean install I'm getting this errors related with codelyzer:

[code]

I'm using `2.0.0-beta.3` in my devDependencies.
Do you planning a new release soon?

[2016-12-21 09:41] mgechev commented on #203
Today.

[2016-12-21 09:41] #203 closed

[2016-12-21 10:04] mhoyer commented on #201
@mgechev what do you think about my comment https://github.com/mgechev/codelyzer/pull/202#pullrequestreview-13933863

[2016-12-21 10:19] #199 closed

[2016-12-21 10:38] mgechev commented on #192
Actually, this is against the standard - Web Components must have at least one dash in their name. The error message is not correct. I'll update it to:

[code]

I know it's a bit more restrictive so we can come up with a better solution in future.

[2016-12-21 10:39] #192 closed

[2016-12-21 10:44] mgechev opened #204 "Use tslint@^4.0.0"

[2016-12-21 10:45] mgechev commented on #204
Fixed by https://github.com/mgechev/codelyzer/commit/910fcef6474c9883dbbbccb738ad7a0e49a2bac2.

[2016-12-21 10:45] #204 closed

[2016-12-21 10:48] mgechev commented on #201
Beta.4 is out.

[2016-12-21 10:48] #201 closed

[2016-12-26 10:00] loicsalou opened #205 "TypeError: Cannot read property 'AbstractRule' of undefined"
facing blocking issue when trying to use codelyzer in my projects.
Stack is
TypeError: Cannot read property 'AbstractRule' of undefined
    at Object.<anonymous> (C:\tools\Workspaces\Angular2\zas-angular2-starter\node_modules\codelyzer\propertyDecoratorBase.js:34:13)
    at Module._compile (module.js:570:32)
    at Object.Module._extensions..js (module.js:579:10)
    at Module.load (module.js:487:

[2016-12-26 10:03] loicsalou commented on #205
can't seem to be able to attach zip I'm afraid. So here's my package.json deps part:

[2016-12-26 11:15] mgechev commented on #205
It does, you need codelyzer 2.0.0-beta.4.

[2016-12-26 11:22] loicsalou commented on #205
that's the one I'm using...
Any clue / adivce I can investigate in order to solve this ?
Thanks

[2016-12-26 11:23] mgechev commented on #205
You need tslint@^4.0.0.

[2016-12-26 12:13] loicsalou commented on #205
using 4.2.0.
my command-line: "tslint \"components/**/*.ts\" -o linters/tslint.txt -t verbose"

[2016-12-26 13:43] mgechev commented on #205
Use `./node_modules/.bin/tslint "components/**/*.ts" -o linters/tslint.txt -t verbose`.

[2016-12-26 13:43] #205 closed

[2016-12-26 14:15] loicsalou commented on #205
exactly the same result (tslint is installed globally and same version locally). As you closed the issue I suppose I have missed something. Still got the issue on 2 projects. Will note here if I can find a solution.

[2016-12-26 14:58] mgechev commented on #205
It's a version mismatch between codelyzer and tslint.

You can try the ["Custom setup"](https://github.com/mgechev/codelyzer#custom-setup) in another directory and verify if everything works together.

[2016-12-26 21:41] marco-eckstein opened #206 "Rule "templates-use-public" does not correctly distinguish public from private members"
There is a bug in rule "templates-use-public": If only modifier "readonly" is present, a member is public, but the rule considers it private.

Tested with 2.0.0-beta.3.

[2016-12-26 21:53] mgechev commented on #206
Thanks for reporting the issue! I will introduce a fix in the next release.

[2016-12-28 09:44] loicsalou commented on #205
So this is the end. Thanks for helping you are totally right I had a version mismatch with tslint. I ended specifying tslint+codelyzer in the dev dependencies of my projects in order to make sure each of them is using consistent versions in all linters.
my current versions are tslint 4.2.0 and codelyzer-2.0.0-beta.4.

[2016-12-28 13:01] mgechev commented on #205
Awesome! I am glad it worked in the end.

[2016-12-30 16:15] SteveVanOpstal opened #208 "RFC: Allow attribute selectors for SVG"
SVG does not allow the use of custom elements like HTML5 does. SVG's will not render the contents of a custom element ([example](https://plnkr.co/edit/7xXFQ5?p=preview)). The solution for that is to use attribute selectors (https://github.com/angular/angular/issues/1632#issuecomment-152285672).

**Current behavior**
Codelyzer does not allow attribute selectors on components (Due to [style guide 05

[2016-12-31 11:27] mgechev commented on #190
After debugging this further, it turns out that the issue is related with the `*ngIf` directive, not the async pipe itself.

[2017-01-01 11:51] #193 closed

[2017-01-01 11:52] #206 closed

[2017-01-04 23:56] karlhiramoto commented on #191
Is there any workaround to ignore these?

[2017-01-07 20:51] robisim74 commented on #191
@mgechev Thanks!

[2017-01-10 15:39] Bigous opened #211 "Support the tslint fix"
Hi,

This is a feature request.

Some rules can be automatically fixed by tslint. They've created a mechanism to know if it's a [fixable](https://github.com/palantir/tslint/blob/master/src/rules/quotemarkRule.ts#L32) rule and creates a [fix](https://github.com/palantir/tslint/blob/master/src/rules/quotemarkRule.ts#L125) if it was required.

Some of codelyzer rules are fixable, (white space for exa

[2017-01-10 17:34] mgechev commented on #211
Autofixes are in the roadmap. Since I have a few other things on my plate before that, it'll be lovely if anyone is willing to help.

The API is user friendly. (Un)Fortunately because of the current format of the TypeScript AST it is mostly an abstraction on top of primitive string manipulations.

[2017-01-10 20:34] Bigous commented on #211
I'll try to help in this.

[2017-01-12 20:44] Ismaestro opened #212 "You can bind only to public class members (templates-use-public)"
I'm having some troubles with this rule (templates-use-public) and Webstorm. You can see it here:
[http://stackoverflow.com/questions/41622122/tslint-you-can-bind-only-to-public-class-members-templates-use-public](url)

What's the main purpose for this rule? What's wrong?

[2017-01-12 21:37] mgechev commented on #212
Hey @Ismaestro! This doesn't seem like an issue in codelyzer. It's not recommended to bind to `private` members because the templates are considered consumers of the components' controller instances (take a look [here](https://github.com/angular/angular/issues/11422) and [here](http://blog.mgechev.com/2016/08/14/ahead-of-time-compilation-angular-offline-precompilation/)).

Also, it seems the WebSt

[2017-01-12 21:37] #212 closed

[2017-01-13 07:59] Delagen opened #213 "no-access-missing-member reporting missing member for referenced template variables"
[code]

[2017-01-13 08:46] mgechev commented on #213
You need to declare the template reference in `.codelyzer.js`. Take a look at the advanced configuration in the readme.

[2017-01-13 08:46] #213 closed

[2017-01-13 08:55] Delagen commented on #213
So this not usable in production, cause nobody do writing list of this in large project

[2017-01-13 09:18] mgechev commented on #213
If you have that many template references that you can't list in a file, you can disable this rule/do not use the tool.

[2017-01-14 21:59] asadsahi commented on #191
@mgechev not sure if this has to be part of this issue.  I have disabled tslinting in html for the whole file:

![image](https://cloud.githubusercontent.com/assets/3470892/21958354/7c312994-daa4-11e6-999c-10196f8fed32.png)

But still getting this error:

`The property "message" that you're trying to access does not exist in the class declaration.`

Note: message is a base class property of this co

[2017-01-14 22:20] saithis commented on #191
@asadsahi You have to disable the rule/tslint in the component, not the template.

[2017-01-14 23:17] asadsahi commented on #191
@saithis Thanks. sorted. :)

[2017-01-15 08:08] thekalinga opened #214 "Support angular 4.0.0-beta.3"
Currently codelyzer restricts the compatibility with only 2.x version of angular. Can you extend this to 4.0.0 aswell

[2017-01-17 09:31] ocombe opened #215 "Warn me when I break AoT"
Hello,

I would love if Codelyzer could warn me when I do something in my code that will break AoT.
The current error messages when you try to add AoT to an existing app are really cryptic and not useful at all.

Do you think that Codelyzer could check for that? I think that it would make this lib so useful that it would be included in all angular apps :-)

Let's start a list of the things that br

[2017-01-17 10:16] teropa commented on #215
See also this documentation gist by @chuckjaz https://gist.github.com/chuckjaz/65dcc2fd5f4f5463e492ed0cb93bca60

[2017-01-17 10:25] ocombe commented on #215
Interesting, thanks @teropa ! This explains a lot of the errors that I listed and should be helpful to @mgechev if he decides to do that :)

[2017-01-17 15:31] mgechev commented on #215
Nice list! We have partial support at the moment by warning when you try to bind to missing or non-public properties or methods.

I'm not sure to what extent it's worth implementing the above rules in case soon in development we switch to ngc from tsc and get all the errors from there. I will sync with Alex Eagle on that.

[2017-01-17 17:17] fkolar opened #216 "TsLint= >Implement lifecycle hook interface OnInit for method ngOnInit"
Keep tslint checks upto date with latest implementations.

### Running
angular-cli: 1.0.0-beta.24
node: 4.6.0
os: darwin x64

### Description
Tried to utilize latest Angular's addition for the inheritance
[Angular Commit](https://github.com/angular/angular/commit/f5c8e0989d85bc064f689fc3595207dfb29413f4)

where lifecycle hook interface is implemented on the parent level and Child component just ov

[2017-01-17 18:13] mgechev commented on #216
Seems duplicate of https://github.com/mgechev/codelyzer/issues/64.

[2017-01-17 18:13] #216 closed

[2017-01-21 23:45] mgechev opened #217 "Gather project's metadata"
Use the released language service to gather the project's matadata instead of providing it explicitly as part of the configuration.

[2017-01-22 12:10] deepu105 opened #218 "usePipeTransformInterfaceRule failure on valid pipe"
The simple below pipe fails the validation, I'm unable to figure out the root cause
[code]
[code]

[2017-01-22 12:17] deepu105 commented on #218
looks like there is a closed issue https://github.com/mgechev/codelyzer/issues/145 for the same.
I'm on `"codelyzer": "2.0.0-beta.4"` , `"typescript": "2.1.4"` and `"webpack": "2.2.0"`

here is my entire package.json
[code]

[2017-01-22 15:37] mgechev commented on #218
I tried to reproduce the issue on http://codelyzer.com/ but I wasn't able to. Would you try the same and let me know if you get an error?

[2017-01-22 22:45] deepu105 commented on #218
I couldnt reproduce on the site but on the project it gives this warning. we are using this in [JHipster](jhipster.github.io). So i think it has something to do with typescript or some other dependency version

[2017-01-22 23:01] mgechev commented on #218
Could be related to TypeScript version mismatch. Can you verify which one are you using in your project?

[2017-01-23 14:10] amcdnl opened #219 "Bug: Component Inheritance is not getting inferred"
If I have a component that inherits from another component and the template of the inherited component accesses variables from the base component, those variables are not being inferred on the inherited component.

Error:
[code]

Example:

In base class, I define `title`...

[code]

then inherited class template, I use `title`...

[code]

[2017-01-23 15:13] mgechev commented on #219
Hey, this is a known issue https://github.com/mgechev/codelyzer/issues/191. I will work on it soon, I hope. In the mean time, if anyone finds some spare time a PR will be appreciated.

[2017-01-23 15:13] #219 closed

[2017-01-23 22:08] artaommahe opened #220 "Template micro-syntax closure and 'bind only to public class members'"
This
[code]
[code]
will provide error
[code]

[2017-01-23 22:23] mgechev commented on #220
Good catch! I'll include fix in one of the next releases. Since the issue is not very high-priority, the fix might not be introduced as part of beta.5.

[2017-01-23 22:25] mgechev commented on #214
I'll prefer to release the support once Angular 4 is out because otherwise I'll have to keep track of all the breaking changes in the private APIs codelyzer uses.

[2017-01-23 22:26] mgechev commented on #208
Sounds like a good to have feature. I'll include it into the backlog.

Until it's implemented, you can disable the rule for this file/component.

[2017-01-23 22:28] mgechev commented on #191
Excuse me for the delay. There were a lot of things on my plate. I'll try to come up with a fix in the next a couple of days/week.

[2017-01-23 22:28] mgechev commented on #141
I'll close the issue for now since it's related to tslint integration in the IDE, doesn't seem codelyzer specific.

[2017-01-23 22:28] #141 closed

[2017-01-24 19:20] mgechev opened #221 "Compilation with `declaration` enabled doesn't work"
After the recent refactoring the generation of type definitions stopped working.

@ghsyeung would you have chance to take a look at it?

[2017-01-24 19:29] ghsyeung commented on #221
will take a look tonight

On Tue, Jan 24, 2017 at 11:20 AM, Minko Gechev <notifications@github.com>
wrote:

[2017-01-24 19:30] michaeljota opened #222 "Patterns proposal (input-set and template-get)"
This is just an idea that I've seen in a couple of projects, and I want your opinion about it. The main principle behind them, it's to decouple the properties that have to be exposed to the template, off the properties that the component receives with an input.

Input-Set
----------
The properties that need to be `input`ed, should be just set functions to a private property.

Using model:
[code]

[2017-01-24 19:33] ghsyeung commented on #221
how can I reproduce? "npm run release"?

On Tue, Jan 24, 2017 at 11:29 AM, Gary Yeung <ghsyeung@gmail.com> wrote:

[2017-01-24 19:34] mgechev commented on #221
Thanks! Yes, I'm assigning it to you.

[2017-01-25 17:47] ghsyeung commented on #221
Took a look last night, still deciding how not to leak implementation types
at the library level.
I should have something ready soon.

On Tue, Jan 24, 2017 at 11:34 AM, Minko Gechev <notifications@github.com>
wrote:

[2017-01-25 19:43] michaeljota commented on #86
Still, the no-unused-vars will rise only for private members, and as @dzonatan said, all template binded properties should be public. (There is a rule for that already)

[2017-01-25 19:47] michaeljota commented on #132
I think README.md should be updated with an example for using both, the single syntax and the array syntax, or at least mention it. :). Do you mind if I do it?

[2017-01-27 23:09] karptonite opened #224 "include exception for no-input-rename rule"
See issue #138.

The style guide has now been amended to include the exception mentioned in that issue:
https://angular.io/docs/ts/latest/guide/style-guide.html#!#05-13

If possible, the linter should catch when the directive selector is the same as the name of the input being renamed, and not flag it in that case.

[2017-01-27 23:26] mgechev commented on #224
Thanks for pointing this out. I'll add it as a low priority enhancement. Before we implement this feature in codelyzer this rule can be selectively disabled.

[2017-01-27 23:49] ddancziger commented on #224
Hi its my first time and i would love to contribute, understood the issue, can you help me pointing where to start with this?
thanks

[2017-01-28 00:35] mgechev commented on #224
Awesome! In general each TypeScript file is being parsed, by a couple of parsers, which in the end extract the metadata for the components (this includes the one attached with `@Component`, or `@Directive`).

There's the so called `Ng2Walker` class which is responsible for collecting this metadata. If the class is a component the metadata will be an instance of `ComponentMetadata`, otherwise of `D

[2017-01-28 00:55] ddancziger commented on #224
thanks
2 questions
1) we need to Avoid renaiming the @Input and @Output like @Input('nameChange') name?
2) how can i test if it works (firs time in this project) with tests? or there is another way before making a test? so i can debug
thanks

[2017-01-28 01:43] mgechev commented on #224
Yes, in the above case it should not fail.

You can run the tests with `npm t`. Once you're sure everything works fine, you can run `npm run build` to make sure the declarations are generated properly. During development, you can run:

[code]

This way on change the tests are going to run automatically.

[2017-01-28 17:54] ddancziger commented on #224
sorry for many questions but im learning a lot
i just wondering how to get the Directive decorator selector inside the visitNg2Input i have the metadata declaration and inside the parent.text i have the info.
how can i get from there the name of the selector ['name']
thanks

[2017-01-28 22:42] mgechev commented on #224
Here's the example from above:

[code]

The directive metadata is being extracted by the `MetadataReader` in `visitClassDeclaration`. You can save the metadata for use by the `visitNg2Input` class.

[2017-01-29 00:14] ddancziger commented on #224
he thanks for all the help im not beeing able to get done this i write this
[code]
i dont understand how to get the directive selector i only get the input
i think its taking me to much time to understand if you think someone else can take it and i will do my next time something more for starter
sorry
and thanks

[2017-01-29 01:01] mgechev commented on #224
You can get the selector with: `this.metadata.selector`, [here's the declaration](https://github.com/mgechev/codelyzer/blob/master/src/angular/metadata.ts#L28-L32) of the `DirectiveMetadata` interface.

[2017-01-29 08:28] ddancziger commented on #224
thank you for your time i managed to pass the test and the only thing its that i need to have the selector like 'label', its not in ['label'] (its not take in it)

 @Directive({
        selector: 'label'
})
class ButtonComponent {
   @Input('labelAttribute') label: string;
}`;

[2017-01-29 18:43] mgechev commented on #224
Make sure you're parsing the selector with `CssSelector.parse` because there could be a lot of corner cases of nested selectors.

What behavior are you planning to implement for this case?

[2017-01-30 09:35] ddancziger commented on #224
1) When i use metadata.selector if its like ['label'] says that is undefined so its an issue i cant found the label selector.
2) the behavior for that case needs to be the name of the input is equal to the selector name you can rename the input.
3)
[code]
how to use with the CssSelector.parse

[2017-01-30 16:28] pjpsoares opened #225 ""The property that you're trying to access does not exist in the class declaration" is wrongly failing when using inheritance"
Imagine this:
[code]

[2017-01-30 17:14] mgechev commented on #225
https://github.com/mgechev/codelyzer/issues/191

[2017-01-30 17:14] #225 closed

[2017-01-31 03:11] mgechev opened #226 "RFC: Split codelyzer in two modules"
## Introduction

At the moment, codelyzer uses different APIs for parsing Angular projects, including:

- TypeScript for producing an AST. This logic is delegated to tslint.
- Angular for producing a template AST.
- Custom fork of the CSS parser for producing a CSS AST.

On top of that, codelyzer contains a set of tslint rules which traverse these ASTs in order to allow analysis over them.

## Pro

[2017-01-31 04:08] ghsyeung commented on #226
I understand the premise of the issue, and the split makes a lot of sense.

The split should decouple `metadata gathering` and `parsing` phase of angular specific code. It opens up the Parser API to allow lint rules that requires non-local AST information (i.e. rules that need to know parent class).

How can we help?

I have a tangential question that would like to hear your thoughts on. Is tslint

[2017-01-31 11:38] filipesilva commented on #226
I think it makes sense. Can you give an example of how usage would be affected by the split?

The separate parser could also be used separately by other projects, which is very cool.

[2017-01-31 18:35] mgechev commented on #226
@ghsyeung my main motivation to reuse tslint is the tooling built around it. Most text editors/IDEs have already well tested plugins which show the rule failures. On the other hand, non of these plugins lints templates or styles which is an issue in our case.

@filipesilva if we keep using tslint there won't be any breaking changes in the way codelyzer is being used.

[2017-01-31 20:55] mgechev opened #227 "Log template parsing errors on log-level debug"

[2017-02-01 21:28] scttcper commented on #218
I'm getting the same bug on atom-tslint and also not able to reproduce on the codelyzer website.

project
[code]

atom `linter-tslint v0.13.1`

[2017-02-01 21:47] scttcper commented on #218
this silences it. I think there's an issue with tslint Pipe and the Pipe class name? Atom seems to think `Pipe` is a keyword like class or number.

[code]

[2017-02-01 22:31] mgechev commented on #218
@scttcper unfortunately this doesn't work at this point. Probably it'll be fixed in future releases when we reuse the language service in our front-end.

[2017-02-03 17:18] RuSTer1241 opened #228 "Installation Fail (Failed at the node-sass@4.5.0 install script 'node scripts/install.js'.)"
**

[npm-debug.log.tar.gz](https://github.com/mgechev/codelyzer/files/751114/npm-debug.log.tar.gz)

Ubuntu terminal log:**
developer@image-4963-l:~/Projects/angular-quickstart/angular_tutor/codelyzer_demo$ **sudo npm install -g @angular/cli**
npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
/usr/local/bin/ng -> /usr/local/lib/node_modules

[2017-02-03 19:56] mgechev commented on #228
Is it related to codelyzer or an angular-cli issue?

[2017-02-05 10:33] RuSTer1241 commented on #228
Angular CLI!  I tried to install angular CLI.

On 3 Feb 2017 9:56 pm, "Minko Gechev" <notifications@github.com> wrote:

[2017-02-05 16:53] #228 closed

[2017-02-05 21:30] mgechev commented on #226
FYI, I'm experimenting with the compiler [right here](https://github.com/mgechev/ngast).

I'll try to expose a synchronous API which allows to:

- Get all the static symbols from a file (including pipes, directives, components and modules).
- Provide random access to the metadata associated with these symbols.

[2017-02-05 22:43] mgechev commented on #226
Also, some random thoughts - linting with codelyzer can get more efficient if we don't use tslint in the core since we can visit only constructs in symbols which have directive/pipe/component metadata.

[2017-02-06 06:17] ghsyeung commented on #226
Will look into ngast in a bit and report back.

That should be feasible if ngast pans out. It should work for directive/pipe/component, but what about services?

Possibly, would angular compiler be able to provide TS AST, template AST and style AST all with a single call?

[2017-02-06 06:44] mgechev commented on #226
[code]

This doesn't really works at the moment since the `StaticSymbolResolver` messes up the references to `selector` and `template`. The current master differs a bit from version 2.4.6 but still doesn't seem to work properly.

Yes, the compiler will read the entire project. I meant that there are a lot of files which needs to be read. I was thinking of creating proxies for the templates, someth

[2017-02-06 08:28] victornoel commented on #190
@mgechev Is there another issue open for this bug? I'm experiencing it currently (see angular/angular-cli#4351), and I don't understand from your comment why you closed the present issue…
Thanks :)

[2017-02-06 15:43] mgechev commented on #190
It's caused by lack of metadata for the ngIf directive. This can be workarounded by updating .codelyzer.js/disabling codelyzer for this file.
As part of the new release, we'll work on improvements in this direction.

[2017-02-06 16:03] victornoel commented on #190
Thank you for the explanation

[2017-02-06 23:26] mgechev commented on #226
From the experiments in ngast it seems that the prototype will most likely work. I think we may be able to introduce the library as part of the next release by using it for collection of the project's metadata. Since there's some pretty heavy static code analysis going on under the hood, some dynamic constructs cannot be resolved at build-time. For instance, the following fail:

[code]

Also:

[co

[2017-02-07 01:12] mgechev commented on #226
It'll be awesome if you can take a look at the [repo and give me feedback about the API](https://github.com/mgechev/ngast/tree/master/lib).

[2017-02-07 01:42] mgechev commented on #218
@scttcper I meant that codelyzer doesn't know that `NgPipe` refers to `Pipe`. The lint rule should not fail.

[2017-02-07 01:42] #218 closed

[2017-02-07 01:44] mgechev commented on #215
I think it'll be better to wait until `ngc` becomes the default in Angular CLI and we get the compiler errors during the incremental compilation.

This should happen at some point (hopefully soon). However, if anyone is willing to help with the listed rules I'll be happy to assist. Otherwise, there are a few more critical issues to take care about such as missing context for the template parser an

[2017-02-07 01:44] #215 closed

[2017-02-07 11:38] ghsyeung commented on #226
still part way through ngast, went through some impl of project-symbols and directive-symbols and went through the API for both.

project-symbols and directive-symbols looking pretty good, it feels pretty complete for the use case of "visiting all" (i.e. visiting all components, visiting all pipes, etc). Would there be any use case where the user would have a `ts.Node` and try to look up the `Stat

[2017-02-07 18:24] mgechev commented on #226
@ghsyeung thanks for the feedback! `ts.Node -> StaticSymbol` sounds like a good idea!

Maybe it can be introduced as a static method of `ProjectSymbols`: `ProjectSymbol.getStaticSymbolByNode`.

I'll take care of that.

I haven't experimented with it because tslint requires the rules to run synchronously.

[2017-02-07 22:58] #214 closed

[2017-02-08 02:38] mgechev commented on #226
Writing tests for the current implementation I feel like `getAnalyzedModules` is too low level. Maybe we should drop it?

[2017-02-08 08:32] victornoel commented on #190
@mgechev sorry to bother you again but could you give an example of what you meant by:

I really don't get how to make it work…

And by the way, why close this issue if it is not fixed (I just tried latest release)?

[2017-02-08 15:42] mgechev commented on #190
I will take a look at the issue today. Until then, let's reopen it.

[2017-02-09 00:47] wlngwang commented on #191
@mgechev I'm having this issue now. Any progress on this?

[2017-02-09 00:50] guojenman commented on #191
@mgechev @wlngwang as a workaround while this issue is resolved, you can use this['your_prop_name'] in your template. Not ideal, but it gets the warning out of the way for now.

[code]

[2017-02-09 00:53] wlngwang commented on #191
@guojenman Thanks. Another workaround could be re-declaring the property used in template in the child class.

[2017-02-09 07:49] negberts opened #229 "Better logging of errors required"
With the new package we get errors like 'You can bind only to public class members.' with occur to happen at line 1, column 1 of the HTML template. But the template has `<div class="main-menu-button"> `on the first line.

If I look to the code of the templatesUsePublicRule the specific member is known. So could we at least have the name of the member or method that is causing the error in the erro

[2017-02-09 18:29] mgechev commented on #229
Yes, I'll include this in the backlog.

[2017-02-10 09:45] lestard opened #230 "Document all rules in a single place"
At the moment it's quite hard to find out what the reasons for some of the rules is because (as far as I know)  there is no single place where all rules are documented.

In the past I've worked with Java checking tools and they typically have a good documentation of all rules including the reasoning behind the rule, examples for failing code and configuration parameters.

Examples:
- [PMD](https:/

[2017-02-10 10:29] ghsyeung commented on #230
I think rules follows mostly 3 categories,

1. Angular style guide (https://angular.io/styleguide)
2. AOT related
3. others

Category 1 should be just adding a link to the Angular style guide page.
I am not sure if there's a single source on category 2.

Maybe we can start a wiki page to organize rules into categories and then evolve from there?

[2017-02-10 12:33] Shahor commented on #191
I'm doing this (redeclaring the var) but it's quite annoying :(

[2017-02-11 01:51] mgechev commented on #191
I've been working on [ngast](https://github.com/mgechev/ngast) for better metadata extraction.

Tomorrow I'll reuse the [RecursiveReferenceExtractor](https://github.com/mgechev/codelyzer/blob/advanced/src/reference_extractors/recursive_reference_extractor_strategy.ts) to find the base class and all symbols. Setting it as a todo item in Things! 👨‍💻

[2017-02-11 09:12] mpetkov commented on #191
What is the tslint property to disable this check for time being?

[2017-02-14 11:36] KhodeN commented on #191
`no-access-missing-member`?

[2017-02-14 21:23] adamgordonIBM commented on #191
@guojenman your workaround worked for me. Was not just a property but a method.

`
class Base {
  bar(arg){return 'x'};
}

@Component({
  selector: 'child',
  template: '{{ this["bar"](arg) }}'
})
class Child extends Base {}
`

[2017-02-15 13:46] meriturva commented on #64
Hi @preslavsh any news here? so thanks!

[2017-02-15 14:40] victornoel commented on #190
@mgechev anything we can do to help fix this issue? or maybe could you share an easy workaround (via `.codelyzer.js` I guess) to ignore that issue on html files?

[2017-02-16 23:13] DethAriel commented on #64
Not 100% related, but I'm wondering whether other rules can take inheritance into account, too? Like the `The property "xyz" that you're trying to access does not exist in the class declaration`, although it exists in parent class. This is kinda annoying and the reason why I have to keep this rules disabled.

[2017-02-16 23:30] DethAriel opened #231 "Access to inline template objects results in "no-access-missing-member" rule being triggerred"
Consider this code:
[code]

If you run `tslint` with codelyzer's `"no-access-missing-member"` rule enabled, you get an error:

This is not right. Of course, `"myModal"` is indeed not a method, and it does not exist in the class declaration. Yet, this is perfectly valid code

[2017-02-16 23:44] DethAriel opened #232 ""templates-use-public" results in a false-positive when inheritance is in play"
Consider this code:

[code]

If you run `tslint` with `"templates-use-public"` rule enabled, you'll get an error:

which is kinda true, but this is still a false positive.

[2017-02-16 23:49] ghsyeung commented on #232
Related to #191

[2017-02-16 23:51] DethAriel commented on #232
@ghsyeung I would even say that it's a duplicate. Closing the issue

[2017-02-16 23:51] #232 closed

[2017-02-17 03:39] mgechev opened #233 "Inconsistent links to the style guide sections"
This issue is reproducible in both http://codelyzer.com and master.

[2017-02-17 09:16] ghsyeung commented on #226
Agreed. It seems like `getModules` provides sufficient access without `getAnalyzedModules()`.

The one extra use case would be a lookup of Module/Directive/Pipe by StaticSymbol (like part of ContextSymbol), which likely be useful if you traverse module dependencies without exposing `getAnalyzedModules`.

Another use case would be search by name (which can be provided through a util lib), for explo

[2017-02-17 13:03] JohannesRudolph commented on #184
I'm seeing another instance of this:

[2017-02-18 20:44] mgechev opened #234 "Add metadata to the rules"
tslint 4 introduced metadata attached to each `AbstractRule`. Each rule in this repository should have associated metadata as well.

Here's an example from the [tslint repository](https://github.com/palantir/tslint/blob/a037f1fda5fdf2fea1f21e29defce15dd6199f69/src/rules/noVoidExpressionRule.ts#L25-L33):

[code]

[2017-02-19 00:28] mgechev commented on #191
Good news! I pushed code which introduces support for extended classes. You can find it [here](https://github.com/mgechev/codelyzer/commit/d23d83cf2512a3365fd84a1d0e08aaabf6f09c4f).

I will release 2.0.1 once I make sure everything works properly.

[2017-02-19 01:03] mgechev commented on #64
Will be fixed once we merge [this](https://github.com/mgechev/codelyzer/commit/d0d71387ab322f7bbb612c79bc673fe9dbf4880f).

[2017-02-19 01:06] mgechev commented on #231
This issue will be fixed when we start gathering metadata with [ngast](https://github.com/mgechev/ngast). The timeline is not very clear but probably will happen somewhen next month. Until then, you can update your `.codelyzer.js` and add the directive declaration manually.

[2017-02-19 01:10] mgechev commented on #230
This issue is related to https://github.com/mgechev/codelyzer/issues/234. If anyone is willing to add the metadata we can automatically generate the documentation.

At the moment I'm working on the metadata collection, support for inheritance and testing improvements. Help will be appreciated!

[2017-02-19 01:13] mgechev commented on #222
Sounds like a reasonable idea. I'll suggest to propose it at [angular.io](https://github.com/angular/angular.io/issues) and if it gets approved, we can implement a corresponding rule.

If you open an issue there, please add link in the discussion here.

Until the proposition gets approved, I'd suggest to close this issue.

[2017-02-19 01:13] #222 closed

[2017-02-19 01:14] #221 closed

[2017-02-19 01:15] mgechev commented on #190
Probably this is caused by the incomplete metadata collection. Introducing [ngast](https://github.com/mgechev/ngast) should fix the issue. Moving to 2.0.2.

[2017-02-19 01:16] mgechev commented on #208
Lets close the issue for now and reopen it if there's more interest.

[2017-02-19 01:16] #208 closed

[2017-02-19 01:18] #139 closed

[2017-02-19 01:19] #86 closed

[2017-02-19 01:20] #51 closed

[2017-02-19 01:21] #75 closed

[2017-02-19 01:22] mgechev commented on #126
@ValeryVS at the moment I'm working on other parts of codelyzer. Would appreciate a PR!

[2017-02-19 01:26] mgechev opened #235 "Improve testing"
Similarly to tslint's tests, it'll be much more convenient to mark the position where an error is expected with:

[code]

[2017-02-19 02:09] #235 closed

[2017-02-19 03:24] #227 closed

[2017-02-19 03:25] mgechev commented on #191
Btw, if you see any test cases which may fail, please comment in the issue.

[2017-02-19 03:26] mgechev commented on #229
@negberts it'll be amazing if you have time to open a PR! The change will not require deep understanding of the project.

[2017-02-19 03:28] mgechev commented on #140
Lets close this issue for now. It'll be great if anyone is willing to open a PR!

[2017-02-19 03:28] #140 closed

[2017-02-19 04:29] #229 closed

[2017-02-19 06:13] negberts commented on #229
Sorry, just had a little baby girl so no spare time left :) But I see somebody else was helpfull!

[2017-02-19 20:15] #64 closed

[2017-02-19 20:15] #191 closed

[2017-02-19 20:34] #233 closed

[2017-02-19 20:55] mgechev opened #240 "Support inheritance in `template-use-public`"

[2017-02-19 20:57] mgechev commented on #240
Fix by https://github.com/mgechev/codelyzer/commit/2e285e22efb7bdc031ded2721c52cf8e041b9901.

[2017-02-19 20:57] #240 closed

[2017-02-19 21:16] mgechev commented on #191
And here are some bad news https://github.com/Microsoft/vscode-tslint/issues/70.

Since these rules require type checking, they can be used only via the CLI. Most likely I'll releases the new features under version 3.0.0-rc.0.

[2017-02-19 21:26] aitboudad commented on #191
with the next version of typescript `2.3` I think we can use https://github.com/angelozerr/tslint-language-service to solve that issue

[2017-02-19 22:07] mgechev opened #241 "Support Angular 4.0.0-beta.8 breaking compiler API changes"

[2017-02-19 22:08] mgechev commented on #241
Fixed by https://github.com/mgechev/codelyzer/commit/98639a9fbf4b8b4f39d9260be69b5f5a9e5d387d

[2017-02-19 22:08] #241 closed

[2017-02-20 23:48] mgechev opened #242 "Drop unused CSS selectors"
Currently we mark CSS as unused only when all the rules for the block are unused.

In a better 🌍 we'd also mark individual selectors which are unused.

[2017-02-21 02:01] ndcunningham opened #243 "Analyze Html interpolated strings for custom localization"
It would be a great feature if we could have our html interpolation satisfy one or many rules especially for localization.

Example
`<div>{{ myVariable }}</div>`

A rule for interpolated strings would be it needs to call a given function which would translate if necessary. This is really helpful if we have split teams and during a push, we could just check the _lint_ to see if all strings used ins

[2017-02-21 02:03] mgechev commented on #243
That's for the detailed description. `localeService` doesn't seem to be part of the official Angular i18n API, right?

I'm not sure if we should support third-party solutions since the scope of the project will constantly grow.

[2017-02-21 02:04] mgechev opened #244 "Support automatic removal of unused styles"

[2017-02-21 02:06] mgechev opened #245 "Improve position to line & character and line & character to position"
The current implementation is very quick, dirty and buggy. Better to reuse approach implemented by TypeScript internals.

[2017-02-21 20:14] mgechev commented on #191
I'd love to hear your opinion: do you prefer to release this fix as 3.0.0-rc.0 and get available now but only through CLI, or you prefer to wait and use it in VSCode?

[2017-02-22 00:20] KhodeN commented on #191
CLI

[2017-02-22 01:26] ndcunningham commented on #243
That's true, I just wanted to know if you would support something like this.

[2017-02-22 02:09] akhileshcoer opened #247 "Template parsing"
I'm trying to write custom rule by parsing HTML files or template in ts files.
What is right way to start on, any links would be appreciated.

[2017-02-22 02:38] mgechev commented on #247
You can use [this rule as a base](https://github.com/mgechev/codelyzer/blob/master/src/noAccessMissingMemberRule.ts).

At some point I'll extract the parsing logic [as a separate package](https://github.com/mgechev/ngast).

[2017-02-22 02:38] #247 closed

[2017-02-22 02:39] mgechev commented on #243
At this point I think it's better to not include such rule.

Once I move the parsing logic into a separate class, you'll be able to reuse it and write a custom rule for your specific case.

[2017-02-22 02:39] #243 closed

[2017-02-22 07:46] maxime1992 commented on #191
@mgechev sooner the better so our lint can pass on CI with that rule :)

[2017-02-22 14:30] victornoel commented on #191
@mgechev same as @maxime1992, the sooner the better, and like this we will be able to report problems sooner too if we find some ;)

[2017-02-22 17:13] Shahor commented on #220
Having the same exact problem right now.
Quite annoying :D

[2017-02-22 18:57] tmair opened #249 "no-unused-css ignores elements with structural directives"
When a template contains a structural directive, the `no-unused-css` rule ignores the element.

The following example will report a `Unused Style` violation.
[code]

If we change the code slightly to the following, the violation is not present anymore.
[code]

[2017-02-22 23:47] #249 closed

[2017-02-25 00:54] #244 closed

[2017-02-25 00:54] #245 closed

[2017-02-26 01:25] mgechev commented on #191
Alright, it's out in `codelyzer@3.0.0-beta.0`. I'll work on beta.1 in the next few days, to make the metadata collection smarter.

[2017-02-26 02:28] mgechev opened #251 "Get directive metadata and parsed template by ClassDeclaration"
Using `ngast` get the directive unresolved metadata and parsed template/styles using the following algorithm:

[code]

[2017-02-26 20:27] samvloeberghs commented on #40
@mgechev why is this removed in 3.0.0 beta? I think I missed something here :O

[2017-02-26 21:19] mgechev commented on #40
I dropped it because it's not an Angular related best practice but a code-style preference.

It can be enforced by the TypeScript rule [whitespace](https://palantir.github.io/tslint/rules/whitespace/).

[2017-02-26 21:39] #251 closed

[2017-02-26 21:39] mgechev commented on #251
wontfix because this introduces heuristic which is not always correct.

[2017-02-27 13:34] victornoel commented on #190
@mgechev not exactly sure why, but since `@angular/cli` `1.0.0-rc0`, this problem disappeared.
I tested with codelyzer 2.0.1 and both `@angular/cli` `1.0.0-beta.32.3` and `1.0.0-rc.0`: the first shows me the error discussed here and the second does not!

[2017-02-27 14:43] jdjuan opened #252 "Cannot read property 'full' of undefined"
The following set of rules are giving me an error when I run `npm run lint`:

**Context**

1. I created an Angular 2 project using the CLI (using `ng new`)
2. Upgraded to tslint version: ^4.4.2
3. Upgraded to codelyzer version: ^3.0.0-beta.0
4. Angular version used: 2.2.1
5. Run the commands using: `npm run lint` or `ng lint`

**Rules causing it:**

1. "no-attribute-parameter-decorator": true
2. "

[2017-02-27 15:45] mgechev commented on #190
Thanks! I will close the issue when I have a chance to verify it's gone.

[2017-02-27 15:47] mgechev commented on #252
I'll take a look at this issue today. At first, it looks like`version` imported from `@angular/core` is undefined but looks unlikely.

[2017-02-27 21:16] jdjuan commented on #252
@mgechev my bad, when I installed the latest version of Codelyzer I didn't notice the UNMET PEER DEPEDENCY warning of @angular packages (core, compiler, compiler-cli). After updating them as well, I had it working. Thanks for your time @mgechev , sorry for this unnecessary issue.

[2017-02-27 21:16] #252 closed

[2017-02-27 21:50] mgechev commented on #252
Thanks for sharing your comment!

[2017-02-27 21:55] Matmo10 commented on #231
@mgechev Is there a way to disable this rule in an external template only, but not for the whole project? I don't have a .codelyzer.js config, I just reference the codelyzer rules from tslint.json.

[2017-02-27 22:04] mgechev commented on #231
You can create a `.codelyzer.js` in the root of your project.

That's correct.

[2017-02-28 18:01] mgechev commented on #190
Yes, it seems `async` pipe is not causing any issue in the latest release. @victornoel thanks for pointing your observation out!

[2017-02-28 18:01] #190 closed

[2017-03-01 02:47] jessezhang91 opened #253 "useLifeCycleInterfaceRule causing warning about getFullWidth() on undefined"
I noticed a new warning show up when using 3.0.0-beta.0:
`Warning: Cannot read property 'getFullWidth' of undefined`

Tracing the warning back to the source, it seems the sourceFile at https://github.com/mgechev/codelyzer/blob/3.0.0-beta.0/src/useLifeCycleInterfaceRule.ts#L30 is undefined for a select few barrel index.ts files. They just contain a few `export * from "..."`. The odd thing is I have

[2017-03-01 03:07] mgechev commented on #253
Thanks for pointing this out. If you provide a code snippet which allows me to reproduce the problem it'll be even more helpful.

[2017-03-01 03:42] jessezhang91 commented on #253
I ended up logging `languageService.getProgram().getSourceFiles()` and `sourceFile.fileName` and saw that `sourceFile.fileName` was a relative path from root of project while `languageService.getProgram().getSourceFiles()` contained largely absolute paths with some relative paths.

I *think* this might be due to `paths` aliasing in tsconfig.json . I noticed that the few barrels that did end up exh

[2017-03-01 04:06] jessezhang91 commented on #253
I managed to repro with:

tsconfig.json
[code]

package.json
[code]

src/test-0.ts
[code]

src/test-1.ts
[code]

Running `npm run test` causes:
`Warning: Cannot read property 'getFullWidth' of undefined`

[2017-03-02 13:08] NKjoep commented on #252
@mgechev I have this issue when an older version of @angular/core is resolved (or stays unresolved). This happens if you have an old project or your main package.json is outdated.

I would suggest to add a fallback or throw a friendlier error. `ngVersion.js` is something like:

[code]

That would be nice to prevent `.VERSION.full` to fail

[2017-03-02 13:36] rthewhite commented on #190
I'm using codelyzer 2.0.1 and @angular/cli 1.0.0-rc0 and the problem seems to still exist for me? Anyone else still having issues with this?

[2017-03-02 13:54] victornoel commented on #190
@rthewhite last time I checked, it worked with exactly both these settings.

Are you sure you configured your angular project exactly as it is in a `ng new` from latest angular cli? Because lots of things changed so it could be linked…

[2017-03-02 16:41] mgechev commented on #252
What's the value of `.Version.full` in that older version? I suppose `Version` is not exported?

[2017-03-02 16:51] NKjoep commented on #252
Exactly, there's no `VERSION` at all, unfortunately.

[2017-03-03 23:37] mgechev opened #256 "Warn for redundant NgModule imports"

[2017-03-04 20:35] dylanjmorgan commented on #228
I am also unable to install angular cli becasue of this...

[2017-03-05 02:11] k1xme commented on #228
+1, trying to install Laravel Mix but failed in there

[2017-03-05 23:39] mgechev commented on #217
Implemented by https://github.com/mgechev/codelyzer/commit/de13cebd0f243415fb0fe6cd67e8a8838c4a895f.

[2017-03-05 23:39] #217 closed

[2017-03-05 23:41] mgechev commented on #231
Implemented by https://github.com/mgechev/codelyzer/commit/d10e9809531b6795a6ab403f87b5f68b05c8afb6.

Will be released as part of 3.0.0-beta.1.

[2017-03-05 23:41] #231 closed

[2017-03-06 01:39] mgechev opened #257 "Set the peerDependency ngast to ^0.0.4"

[2017-03-06 01:39] mgechev commented on #257
Fixed by https://github.com/mgechev/codelyzer/commit/30e921a48fb98b9d929d46f905aa87d3d7e81d98.

[2017-03-06 01:39] #257 closed

[2017-03-06 02:07] Owain94 commented on #257
npm ERR! notarget No compatible version found: ngast@^0.0.4
npm ERR! notarget Valid install targets:
npm ERR! notarget 0.0.0, 0.0.1, 0.0.2, 0.0.3, 0.0.5

[2017-03-06 02:33] mgechev commented on #257
You can try with codelyzer@3.0.0-beta.3.

[2017-03-06 02:59] Owain94 commented on #257
Builds are passing with beta 3 again, thanks!

[2017-03-06 09:42] rokerkony opened #258 "Methods not exist in the class when class extended with decorator"
Hey guys,
I'm getting an error from templates:
`The method "areElementsValid" that you're trying to access does not exist in the class declaration.`

I will try to describe my case.

I have a component where I define form and this component is extended by decorator `@AddValidationHandling()` which is extending prototype of the class with some methods including `areElementsValid`. So code itself is

[2017-03-06 11:37] shamim4063 commented on #215
dynamic-component-loader will not work but it will not throw any error in compile time.

[2017-03-06 16:21] mgechev commented on #258
@rokerkony codelyzer does static code analysis. In `@AddValidationHandling` you dynamically set the prototype of the target class.

There are a lot of dynamic constructs which are not statically analyzable, i.e. not supported by codelyzer.

Does this code compilers with Angular's AoT compiler?

[2017-03-06 16:21] #258 closed

[2017-03-06 19:10] lazarljubenovic opened #260 "Do we need "Invoke Injectable" rule?"
Do we really need this as a rule? TypeScript simply fails if it's not invoked:

[code]

I see it being suggested in https://github.com/mgechev/codelyzer/issues/70, but is really all that "mysteriously"? My IDE (WS) also clearly underlines it.

[2017-03-06 19:25] mgechev commented on #260
Good point. There should be a clean-up. Few rules which are no longer required are:

- templates-use-public
- no-access-missing-member
- invoke-injectable

The final one is handled by the tsc, first two by ngc.

[2017-03-06 21:46] rokerkony commented on #258
Angular CLI with `--aot=true` does all the magic... at least I tried on as minimal example as possible:
[code]

any idea if it is achievable by codelyzer as well in the future?

looks like it could be related with https://github.com/Microsoft/TypeScript/issues/4881

[2017-03-07 09:42] grahamfowles commented on #205
I was seeing this issue with the atom-typescript plugin, every time i typed a key an error message appeared which was more than a little annoying

You solution worked for me, thanks

[2017-03-07 10:00] lazarljubenovic commented on #256
Do you have an outline about what is considered a "redundant" import? I'm interested in working on it.

[2017-03-07 13:11] lazarljubenovic opened #262 "import-destructuring-spacing should be configurable"
Sometimes I feel like I'm the only person in the world who prefers _no_ spaces inside braces :smile: Not sure about naming though.

[2017-03-07 17:43] lazarljubenovic opened #263 "no-input-rename should be configurabile"
Sometimes you want to align an input name with a common, well-known HTML attribute, [such as `aria-`](https://github.com/angular/material2/blob/master/src/lib/icon/icon.ts#L88). There are two ways I see this can be configured to allow some (sensible) freedom.

# Allow a certain prefix

We could allow users to list prefixes (such as `"aria"`) in their config file which would allow all `@Input('aria

[2017-03-07 17:44] mgechev commented on #262
Hey @lazarljubenovic I dropped this rule from version 3 because it's not Angular related style. Also, there's an existing [tslint implementation](https://palantir.github.io/tslint/rules/whitespace/).

[2017-03-07 17:44] #262 closed

[2017-03-07 17:51] mgechev commented on #263
Here's another related issue https://github.com/mgechev/codelyzer/issues/224.

Since the Angular compiler is case sensitive and the recommendation for naming attributes (from directive selectors) is to use camelCase literals, I'm not sure we should go this way.

Maybe, developers can provide key-value pairs of `propertyName: rename` as a whitelist. Ones the property name matches the `propertyName`

[2017-03-07 18:02] lazarljubenovic commented on #263
Personally, I dislike too much lint configuration. If you think you have a valid reason to break the rule a lot, you should just disable it in my opinion.

Whitelisting renames is pretty much disabling a next line with a source code comment. Otherwise it would require changing the lint configuration a lot during development, which shouldn't be the case. Config should stay more or less the same and

[2017-03-07 18:44] mgechev commented on #263
Yep, I agree. Let's keep the rule as it is for now.

[2017-03-07 18:44] #263 closed

[2017-03-07 18:46] mgechev commented on #224
@karptonite I'd suggest to keep the rule as it is for now. It can be disabled for a specific line in case an input/output rename is required. The snippet in the style guide is just an example which shows one appropriate case when renaming an input is not a bad idea but it's not exhaustive, and is not related to the name of the selector of the directive.

[2017-03-07 18:46] #224 closed

[2017-03-07 18:47] mgechev opened #264 "Drop rules which produce warnings that are supposed to be compile-time errors"
Drop:

- `templates-use-public`
- `no-access-missing-member`
- `invoke-injectable`

[2017-03-07 18:48] mgechev commented on #260
https://github.com/mgechev/codelyzer/issues/264

[2017-03-07 18:48] #260 closed

[2017-03-07 18:53] mgechev commented on #256
Here's an example:

[code]

The `CommonModule` import in `AppModule` is not required, since `ImportModule` exports it.

This seems like an interesting problem to solve. Probably, it'll require linting of all classes decorated with `@NgModule` and extracting their direct and transitive dependencies using `ngast`.

You can take a look at the `3.0.0-beta.x` branches and [ngast](https://github.com/mge

[2017-03-07 18:55] kpaxton opened #265 "Prefix output warnings with codelyzer"
I just ran into an issue where I was getting the "Unused Styles" warnings in my tslint output. I was unaware that codelyzer had a rule for no-unused-css which was actually throwing the warning. Putting some indication that a codelyzer rule was triggered would help with understanding what is what and whether it's a standard Angular rule or Typescript.
Codelyzer: 2.0.0
Typescript: 2.2
TsLint: 4.5.0

[2017-03-09 03:16] #234 closed

[2017-03-10 18:18] guojenman commented on #135
@mgechev How about enforcing the existence of changeDetection? At least this way, it's a conscious decision by the developer to say whether it is or not. This would prevent accidental default change detection by an accidental omission.

[2017-03-11 20:59] connor4312 commented on #190
I ran into the issue today with codelyzer 2.0.1. Here's an example of a failing usage:

[code]

[2017-03-11 21:54] colthreepv commented on #40
Reading on the documentation I'd agree with you, but having:

[code]

inside my `tslint.json` (I added `check-module` to the angular4 starter) does not give the same result

[2017-03-12 01:40] mgechev commented on #190
Codelyzer 3 should has this fixed.

[2017-03-12 03:16] connor4312 commented on #190
Awesome 😄 Not sure if we'll upgrade to a beta release but I'll let you know if we run into this again in 3.x

[2017-03-15 15:51] davidanaya opened #268 "Exclude node_modules using tsconfig.json"
Hi,

I'm trying to configure codelyzer so that I can run tslint over all the source files in my project, but obviously excluding node_modules.

I configured my script in package.json like this
[code]

So if I understand tslint should use tsconfig.json to check which files should lint.
When I run `npm run lint` I get an error in my app.component.ts, which is fine, but I also get a few errors from f

[2017-03-15 17:12] mgechev commented on #268
Hey @davidanaya! You must be using codelyzer@3.0.0.beta.x? If so, the problem comes from the deep metadata collection which is performed by ngast. This is required in order to be able to parse component templates in the appropriate context.

Usually the problem occurs when the `basePath` and `genDir` properties are not presented in `tsconfig.json`. Once codelyzer@3.0.0 is released, most such issue

[2017-03-15 17:12] #268 closed

[2017-03-16 10:08] tipag opened #269 "Public properties of extended class not found"
I get a warning like: "The property "x" that you're trying to access does not exist in the class declaration." for all properties in a base class.

[2017-03-16 16:06] samuel1ee commented on #269
I've set "no-access-missing-member": false, rule to omit that error

[2017-03-16 18:00] mgechev commented on #269
Also, fixed in https://github.com/mgechev/codelyzer/releases/tag/3.0.0-beta.0.

[2017-03-16 18:00] #269 closed

[2017-03-18 22:46] mgechev opened #270 "Update to Angular 4.0.0-rc.5 & ngast 0.0.15"

[2017-03-18 22:46] mgechev commented on #270
https://github.com/mgechev/codelyzer/commit/35aa9005c963ef2a302eaef892ee817f0b9101c0

[2017-03-18 22:46] #270 closed

[2017-03-19 00:28] Xertz commented on #228
Did not happen when I'd install it, but when I tried to create a new project.

After all files were created and started to install packages, it throws this error. The weird thing is that inside **package.json** there is no **node-sass** as a dependency whatsoever.`

[2017-03-19 17:46] preslavsh commented on #104
The rule is provided in #271 and will be available after merge

[2017-03-19 17:46] #104 closed

[2017-03-19 19:31] ctrl-brk opened #272 "Error encountered resolving symbol values statically. Calling function 'ɵmakeDecorator', function calls are not supported. Consider replacing the function or lambda with a reference to an exported function"
v. 3.0.0-beta.4 gives this.
ng 4.0.0-rc.5
@angular/cli 1.0.0-rc.2

[2017-03-19 20:09] mgechev commented on #272
codelyzer@3.0.0-beta.x does not have official integration with the CLI.

You can either configure it manually or use 2.x.x which is the stable release.

[2017-03-19 20:09] #272 closed

[2017-03-20 09:23] hccampos commented on #253
Same error here:

[code]

[2017-03-20 10:53] JohannesRudolph opened #273 "False positive for "The property X that you're trying to access does not exist in the class declaration.""
The following is perfectly legal angular template html:

[code]

Note that this code is inside a table and only uses the ngForm directive, not the usual `<form>` tag.
Codelyzer 2.0.1 throws a false positive in this case: `...component.html[54, 149]: The property "newInterfaceForm" that you're trying to access does not exist in the class declaration.`

[2017-03-20 11:05] JohannesRudolph commented on #273
I was able to fix it myself by adding a `.codelyzer.js` config as documented and adding the `[ngForm]` selector:

[code]

You might want to consider adding this to the defaults as its an angular core directive (as opposed to the additional material design selectors that are in there too).

[2017-03-21 05:44] mgechev commented on #273
This is fixed by codelyzer@3.0.0-beta.0.

[2017-03-21 05:44] #273 closed

[2017-03-21 15:01] jessesanders commented on #189
@mgechev - This is still an issue.  If you look closer at his html he is declaring an view only variable, using:

`#d="ngbDatepicker"`

This is a valid way of creating a view variable which then can be used to call the toggle method on the datePicker component.  This is the syntax provided by the angular/bootstrap team.

Turning off the rule means I no longer get to enforce the bad missing member

[2017-03-21 15:13] mgechev commented on #189
This is fixed in codelyzer@3.0.0-beta.1. Once codelyzer@3 gets stable enough I will release it out of beta.

[2017-03-22 14:21] Ancoron84 commented on #191
Looks promising, I tried the new beta 4 and all the warnings related to this topic are gone :)

Great Job

[2017-03-22 15:59] HFTSOL commented on #192
Can you make the requirement for the dash configurable?  We want the casing to be validated, but the naming of our components can't require a dash due to several "special use" components we have.  That leaves erroneous messages in the log that are just in the way.  We would remove this rule to clean up the log, but need the validation for the other components.

[2017-03-22 16:03] lazarljubenovic commented on #192
@HFTSOL What about disabling the rule with tslint-aware comments in the special cases?

[2017-03-22 17:15] mgechev commented on #192
@HFTSOL the dash is required for all custom elements. As @lazarljubenovic suggested you can disable the rule [with a comment](https://palantir.github.io/tslint/usage/rule-flags/).

[2017-03-22 19:18] HFTSOL commented on #192
@lazarljubenovic @mgechev
Given that the idea of Linting is to analyse and audit the code externally, it seems like a violation of the separation/pattern to make the code "aware" of, or dictate to, the auditor.

It would be great if the rules could account for the desired modification of the typical standard.  We still want the name validation on all selectors, but we can't have the requirement fo

[2017-03-23 12:32] wachri commented on #268
I have had the same problem. I could solve it with removing the.
[code]
from the config. But no idea why this helps...

[2017-03-24 12:48] MarkPieszak commented on #264
templates-use-public is being dropped?
Couldn't get that one working actually :(

[2017-03-24 14:40] mgechev commented on #264
What problem do you have with it?

[2017-03-24 22:08] dereklin commented on #262
I have this rule
[code]
It's still not complaining about this:
[code]

[2017-03-24 22:09] mgechev commented on #262
@dereklin would you report this to the [tslint project](https://github.com/palantir/tslint)?

[2017-03-24 22:15] dereklin commented on #262
done https://github.com/palantir/tslint/issues/2401

[2017-03-25 01:57] MarkPieszak commented on #264
It may of been the project I was working with (it had a boat-load of strange issues (hidden characters driving TSLint crazy I'm guessing), let me double check on a normal one!

[2017-03-26 07:06] Splaktar commented on #265
I agree. I'm seeing some error output in my production build, but I can't be sure what is generating it. If codelyzer gave some indication that it had generated those warnings, it would have saved me a lot of time and confusion.

[2017-03-28 09:15] NKjoep opened #274 "Update Readme with latest versions"
Hi,

I just tried to use the **B)** suggested method from the Readme and get this messages:

[code]

Versions:

    "codelyzer": "3.0.0-beta.4",
    "tslint": "4.5.1",
    "typescript": "2.2.1",

That would be nice if following the instructions from the Readme everything work :)

[2017-03-28 14:59] mgechev commented on #274
I will update the corresponding branch. Most of the rules shown as missing exist. This looks like misconfiguration.

[2017-03-29 18:53] sheridjs opened #275 "Prefix order problem with multiple prefixes for selector"
I noticed an issue with multiple selector prefixes. There seems to be an order dependency when one prefix contains another.

Example app component:
[code]

tslint.json properties:
[code]

With this setup, I get a TSLint error on the selector saying that it "should have one of the prefixes: ab,abc".

If I switch the selector to `ab-app`, there is no error. If I switch the prefix list to `["abc", "a

[2017-03-29 20:10] mgechev commented on #275
Thanks for the catch and for the detailed description. This rule is implemented [here](https://github.com/mgechev/codelyzer/blob/master/src/selectorNameBase.ts). I'll fix it and publish the release after ng-conf.
It'll be great if you have time to open a PR with a fix.

[2017-03-29 21:51] sheridjs commented on #275
Thanks! I'll see if I can find some time soon.

[2017-03-30 13:09] Yura13 opened #276 "Error related to rules 'no-access-missing-member' and 'templates-use-public'"
### Bug Report
I have the error when running `ng lint --type-check` (`tslint --type-check --project src/tsconfig.app.json`). If you run `ng lint` in a console you will see next warnings:
[code]
### Error
[code]
#### Version of packages:
[code]

`tslint.json` configuration - default generated by angular-cli 1.0.0
When I remove  "no-access-missing-member": true and "templates-use-public": true from

[2017-03-30 14:18] rbpimenta opened #277 "TypeError: Cannot read property '1' of undefined"
I get this error when run

The problem start after i made a **npm install** in my project. I just checked that tslint has updated to a break change (version 5.0.0 to be more exactly). But i can't say that this make the problem. My package's version:

The error:

`TypeError: Cannot read property '1' of undefined
    at Rule.SelectorRule [as constructor] (R:\VIXTEAM\_Implementacao\6.1\teamaudit.fron

[2017-03-30 15:51] kensiprell commented on #277
I get the same error after updating tslint from 4.5.1 to 5.0.0. Reverting back to 4.5.1 works as expected. I'm using the same versions of typescript and codelyzer as first poster.

[2017-03-30 16:31] mgechev commented on #277
Thanks for reporting the issue. I will sync with the other folks from the Angular CLI team and decide how to proceed with the tslint upgrade.

[2017-03-30 16:33] mgechev commented on #276
Codelyzer 3 is still in beta. Once it gets stable these errors will be gone and we will publish the final release.

[2017-03-30 16:33] #276 closed

[2017-03-31 16:43] basst314 opened #278 "templates-use-public rule does not fail when violated"
I've noticed a problem with the rule `"templates-use-public": true` in my `tslint.json` file, in that this rule will not trigger `ng lint` to report errors when it is violated.

**Steps to reproduce:**

1. create a new Angular-CLI Project with `ng new lint-test`
2. inside `app.component.ts` change accessor for property `title` to `private`. Title is accesses from html-template (via `{{title}}`).
3

[2017-03-31 19:03] alexjlockwood commented on #277
@kensiprell Thanks, that fixed the issue for me as well.

[2017-03-31 19:29] mgechev opened #280 "Automatic migration of deprecations"
Automatically migrate to `<ng-template>`.

[2017-03-31 19:29] mgechev commented on #280
Fixed by https://github.com/mgechev/codelyzer/commit/0d0e81cd501c7aecb59786553e75356d96e03e41.

[2017-03-31 19:29] #280 closed

[2017-03-31 19:31] mgechev commented on #277
This is technically not a problem in codelyzer since it has as peer dependency `tslint^4.0.0`. I'll open another issue for the upcoming upgrade to tslint^5.

[2017-03-31 19:31] #277 closed

[2017-03-31 19:31] mgechev opened #281 "Support for tslint^5"

[2017-03-31 19:31] #274 closed

[2017-03-31 19:49] mgechev opened #282 "Import destructuring spacing throws because of breaking changes in AST"

[2017-03-31 19:50] mgechev commented on #282
https://github.com/mgechev/codelyzer/commit/eebf10adc3bd67101a06abfb19d35729a2210d46

[2017-03-31 19:50] #282 closed

[2017-03-31 19:54] mgechev commented on #278
Works for me in codelyzer@2.1.1 that just released. Let me know if it helps.

[2017-03-31 19:54] #278 closed

[2017-04-02 17:41] leosvelperez opened #285 "no-access-missing-member throwing when template accessing public properties on parent class"
I have an Angular 4 app and I have a parent class for my custom components. There I have several public properties and methods which are used in the template of the custom components. The `no-access-missing-member` rule is throwing telling me those properties and methods don't exist on the class declaration.
Below is part of the files I'm using:
[code]
[code]
The `InputComponent` template is just

[2017-04-02 18:57] mgechev commented on #285
It's a known issue in version 2. It'll be fixed in version 3 (it already is).

[2017-04-02 18:57] #285 closed

[2017-04-02 20:31] #275 closed

[2017-04-03 11:50] MohammedSabbah opened #288 "Module 'ts' has no exported member 'NoSubstitutionTemplateLiteral'."
Hi I was working on angular 2 project and everything was OK. Suddenly I have faced this problem when compiled the project

/home/sabbah/Desktop/Here-you-will-work/watania_live/Devlop/node_modules/codelyzer/util/astQuery.d.ts (13,67): Module 'ts' has no exported member 'NoSubstitutionTemplateLiteral'.

I tracked the error and found this

![screenshot from 2017-04-02 09-44-49](https://cloud.githubus

[2017-04-03 13:27] basst314 commented on #278
Hi @mgechev, the new release fixed this issue for me.
Thanks!

[2017-04-03 15:06] mgechev commented on #288
What's your TypeScript version? Maybe there's mismatched peer dependency.

[2017-04-04 12:59] MohammedSabbah commented on #288
@mgechev
here are my package.json
`
  "dependencies": {
    "@angular/common": "^2.4.7",
    "@angular/compiler": "^2.4.7",
    "@angular/compiler-cli": "^2.4.7",
    "@angular/core": "^2.4.7",
    "@angular/forms": "^2.4.7",
    "@angular/http": "^2.4.7",
    "@angular/platform-browser": "^2.4.7",
    "@angular/platform-browser-dynamic": "^2.4.7",
    "@angular/router": "^3.4.7",
    "@ng-bootstr

[2017-04-05 10:23] trumbitta commented on #285
Hi, version 2 and 3 of what?

[2017-04-05 12:35] basst314 commented on #285
Hi @mgechev, will this be fixed in a 2.x version aswell?

[2017-04-05 12:36] basst314 commented on #285
@trumbitta version 2 and 3 of this repo, codelyzer

[2017-04-05 12:49] trumbitta commented on #285
@basst314 thanks, I should get more sleep. 😸

[2017-04-06 09:40] jskrzypek commented on #281
Fwiw, I've started taking a stab at refactoring some of the rules to be compatible with tslint^5
It's currently on my branch here: https://github.com/jskrzypek/codelyzer/tree/feat/tslint-5

Let me know if I should make a PR now or wait till this is more mature

[2017-04-06 15:45] mgechev commented on #281
Thanks for the help! PR sounds good. We should think how to release them. Probably introducing codelyzer@3.0.0 and pushing the features in the current 3.0.0 branches to 4.0.0 sounds reasonable.
Let me sync with the Angular CLI guys before we go any further.

[2017-04-06 16:55] jskrzypek commented on #281
I'll massage the commit based on @ajafff's comments and make a PR later today

[2017-04-07 16:27] johnrbaur opened #289 "Support for `as` syntax in template"
This line:
` <ng-container *ngIf="employee$ | async as emp">`

currently produces this error:
`The property "emp" that you're trying to access does not exist in the class declaration.`

The feature was added to Angular in this PR: https://github.com/angular/angular/pull/15025

[2017-04-07 16:46] mgechev commented on #289
Thanks for reporting this out! I'll work on it in the next week or two.

[2017-04-09 18:53] WiseBird commented on #264
These rules are very helpful when moving existing app to AOT compilation.

[2017-04-09 18:58] mgechev commented on #264
There are also useful in AngularJS applications using ng-metadata. I will not drop them in near future.

[2017-04-10 13:15] eugechielli opened #290 "Support for multiple selector type in directive-selector and component-selector rules"
The rules directive-selector and component-selector should allow the directives/components to accept both element and attribute type . With the rule definition, I'm forced to choose between an element and an attribute because If I don't respect it I get the following warning: "this.typeValidator is not function"

I would be great if I can set this type as null (so it would accept elements and attr

[2017-04-10 19:04] kylecordes opened #291 "Rule to check source file names"
Feature request...

A rule to check source file names, configuring in such a way that it can check that components, services, etc follow the file name patterns shown in the style guide.

For example, check that component `class MyComponent` resides in a file named `my.component.ts`.

[2017-04-10 19:22] mgechev commented on #291
That's a good candidate and should be relatively straightforward to implement. Do you have suggestion for the rule's config?

[2017-04-10 19:34] kylecordes commented on #291
How about something like this?

[code]

true: means this is on.

snake: means to look for `the-words` not `theWords`.

directive: means to look for `the-words.directive.ts`.

Of course, similar settings for component, module.

This could handle projects that follow the style guide closely:

`some-name.component.ts`

and also projects that choose another variation:

`someName.cmp.ts`

[2017-04-12 16:03] froodley commented on #277
I am getting the same error running:

codelyzer: 2.1.1 or 3.0.0-beta.4
tslint: 4.5.1
typescript: 2.2.2

[2017-04-12 19:24] brunosiqueira commented on #277
same error from @froodley

[2017-04-13 14:48] SamuelMarks commented on #277
Related https://github.com/angular/angular-cli/issues/5848

And yes, same issue here. Looks like everyone is passing the buck :-1:

[2017-04-13 15:24] fmorriso opened #292 "directive-selector and component-selector rules cause cannot read property '1' of undefined error"
After upgrading my Angular 4.0.2 project to use the latest codelyzer 2.1.1 and tslint 5.1.0, I find that the presence of either or both of the following two lines inside my tslint.json file causes the error mentioned in the subject:

    "directive-selector": [true, "attribute", "app", "camelCase"],
    "component-selector": [true, "element", "app", "kebab-case"],

Removing both lines is required

[2017-04-13 16:57] mgechev commented on #292
https://github.com/mgechev/codelyzer/issues/281

[2017-04-13 16:57] #292 closed

[2017-04-14 02:59] froodley commented on #277
I'm using angular 4.0.1 and gulp 4, possibly relevant

[2017-04-14 07:20] phil123456 commented on #114
does not work for directives

[2017-04-14 18:07] davidbarratt opened #293 "Enforce View & Container Components"
To separate concerns, and make components more reusable, it is probably a good idea to not store state within a component, but rather store that in a service (multiple or a single service like @ngrx [store](https://github.com/ngrx/store)). However, there is nothing (that I'm aware of) to enforce not storing state within the component itself.

It would be really helpful if there was some sort of "n

[2017-04-15 14:29] jvbianchi commented on #281
[tslint v5.1.0](https://github.com/palantir/tslint/releases/tag/5.1.0) was released.

Will you support this version too?

[2017-04-19 05:02] leocaseiro commented on #191
Temporary, another solution is use on your `app.component.ts`:

[code]

and
[code]

[2017-04-19 16:42] mgechev commented on #281
Since it's a minor release, in case we support 5.0.0 we'll automatically have support for 5.1.0.

Over the weekend I'll work on the migration to version 5 and open a PR in the CLI once done.

[2017-04-20 00:20] mgechev commented on #281
The support for tslint@5 just landed in master. I'll publish a new release over the weekend.

[2017-04-20 00:27] mgechev commented on #288
Doesn't seem problem related to codelyzer itself, most likely it's something in your build. The type declarations of this package should not be a part of it.

[2017-04-20 00:27] #288 closed

[2017-04-20 00:29] mgechev commented on #291
This way we need to have:

- `pipe-file-name`
- `component-file-name`
- `service-file-name`
- `module-file-name`
- `component-file-name`
- file name for a custom symbol?

We should come up with a more generic configuration which will not require declaration of 5 or more individual rules.

[2017-04-20 00:31] mgechev commented on #290
It makes sense to be more configurable. I'll try to introduce it as part of 3.0.0.

[2017-04-20 07:59] xnnkmd commented on #191
@mgechev It seems this problem persist in newer versions as well. I still run into this problem with angular cli 1.0, codelyzer 2.1.1 and ts-lint 4.5.1 (unfortunately, I can't upgrade ts-lint to the newst 5.xx version because of https://github.com/angular/angular-cli/issues/5848).

[2017-04-20 09:20] Shahor commented on #277
Same here :/

[2017-04-20 12:00] tsvetomir opened #294 "Error when linting with Angular 4.0.2"
This used to work fine with Angular 4.0.1

### Repro steps.
[code]

### The log given by the failure.
[code]

[2017-04-20 17:07] mgechev commented on #191
Yes, the problem exists in 2.1.1, as I mentioned it was scheduled as part of the 3.0.0 release. You can either disable this rule completely or only for this specific file where the lack of inheritance support fails.

[2017-04-20 17:09] mgechev commented on #294
Yes, it's better to switch to 2.1.1 (and 3.0.0 starting from Monday next week).

3.0.0 right now is in beta so it's not really intended for production usage.

[2017-04-20 17:09] #294 closed

[2017-04-21 02:41] #290 closed

[2017-04-21 02:47] mgechev commented on #293
Enforcing pure components sounds like a good idea to me. As discussed previously, it's impossible to support the entire TypeScript syntax and verify for lack of side-effects. Unfortunately, lack of component state doesn't guarantee independence from global state.

I like the rule suggestion, it'll be great if anyone is willing to contribute with initial version. The description by @davidbarratt so

[2017-04-21 10:11] vmasek commented on #291
In our team we also use the `name.model.ts` notation to mane files storing data structure and API Interfaces

[2017-04-22 00:59] mgechev commented on #289
Did you check if you're getting any mismatched `peerDependencies`? For me the new syntax works.

[2017-04-22 01:03] #289 closed

[2017-04-22 01:04] mgechev commented on #281
Closing the issue. 3.0.0 should be available tomorrow, followed by PR to the CLI.

[2017-04-22 01:04] #281 closed

[2017-04-22 01:25] mgechev opened #295 "Use flat symbol table for noAccessMissingMember"
Such table will allow O(1) checks.

[2017-04-22 01:25] mgechev commented on #295
https://github.com/mgechev/codelyzer/commit/b1b36a3218ba16a3926737776893f3b039be932f

[2017-04-22 01:25] #295 closed

[2017-04-22 10:49] klihelp opened #296 "Publish Version To 3.0.0 Npmp Package"

[2017-04-22 16:05] #296 closed

[2017-04-23 00:13] mgechev commented on #281
Codelyzer 3.0.0 is published https://www.npmjs.com/package/codelyzer.

[2017-04-24 12:21] cexbrayat commented on #281
@mgechev Thank you for this!

PR for the CLI pending for review https://github.com/angular/angular-cli/pull/6058

[2017-04-24 12:48] iliketomatoes commented on #200
This is still an issue in Codelyzer 3.0.0.

[2017-04-24 13:03] pgrm commented on #191
upgrading from `3.0.0-beta.4` to `3.0.0` we seem to be getting this issue again. Is it the same or it just looks very similar?

[2017-04-24 13:07] asadsahi commented on #191
having same issue still with 3.0.0.

[2017-04-24 13:08] pgrm commented on #191
To be clear, the issue was resolved for me when I updated to `3.0.0-beta.x` the betas were fine, the final release now is bringing it back to me

[2017-04-24 13:09] pgrm commented on #64
upgrading from `3.0.0-beta.4` to `3.0.0` we seem to be getting this issue again. Is it the same or it just looks very similar? - this also happened with https://github.com/mgechev/codelyzer/issues/191#issuecomment-296660455

[2017-04-24 14:59] mgechev commented on #64
Yes, ngast support is pushed for 4.0.0. Because of the breaking changes introduced by tslint@5 I had to push a new major release.

[2017-04-24 15:00] mgechev commented on #191
Yes, ngast support is pushed for 4.0.0. Because of the breaking changes introduced by tslint@5 I had to push a new major release. You can either set a specific version (i.e. 3.0.0-beta.x) or if it's more convenient for you, I can push 3.0.0-beta.x as 4.0.0-beta.x

[2017-04-24 15:02] asadsahi commented on #191
@mgechev

What do you mean by that?

[2017-04-24 15:05] mgechev commented on #191
I have to move the 3 release (i.e. the support for inheritance) as codelyzer 4, because in the meantime, while making 3 stable, tslint broke their backwards compatibility and I had to release support for tslint 5 as codelyzer 3.

What I can do is to release the support for inheritance as codelyzer 4.0.0-beta.0, if it's more convenient for you.

[2017-04-24 15:07] asadsahi commented on #191
Thanks @mgechev

4.0.0-beta.0 makes sense to me.

[2017-04-24 15:42] mgechev commented on #191
Ok, later this week I'll align to the changes introduced by 4.0.2 and push it.

[2017-04-25 00:15] damsorian opened #297 "Can't resolve template variable in mdAutocomplete"
Hi! I have this error after update to 3.0.0 with the [mdAutocomplete component](https://material.angular.io/components/component/autocomplete)

`The property "auto" that you're trying to access does not exist in the class declaration.`

The code:
[code]

Any idea? thanks!

[2017-04-25 00:25] mgechev commented on #297
3.0.0 does "flat analysis", i.e. it won't consider the entire project (won't collect the entire metadata for your project) which means that it will not be able to discover the `mdAutocomplete` template reference.

Take a look at this section for [more details](https://github.com/mgechev/codelyzer#advanced-configuration). Also, you may consider going back to 3.0.0-beta.x https://github.com/mgechev/