[2017-04-25 00:25] #297 closed

[2017-04-25 21:59] leosvelperez commented on #285
@mgechev I'm still getting this warning even when I'm now using v3.0.0. Was the fix actually merged?

Thanks!

[2017-04-26 01:51] leocaseiro commented on #276
I'm using `codelyzer@3.0.0`, and the warning was still happening:

```Warning: The 'no-use-before-declare' rule requires type checking```

To fix, just run `ng lint` with `typeCheck`, and the warning is gone:

```ng lint --typeCheck```

[2017-04-26 18:32] magnattic commented on #200
Can confirm, please reopen the issue.

[2017-04-26 18:42] mgechev commented on #200
https://github.com/mgechev/codelyzer/issues/297#issuecomment-296857427

[2017-04-27 03:19] leocaseiro commented on #268
Just to clarify. I was having the same issue and the exclude should be on your `angular-cli.json`, inside `{lint: []}`

https://github.com/angular/angular-cli/issues/4350#issuecomment-277501678

[2017-04-28 09:30] killzoner opened #298 "ExportAs and no-access-missing-member"
Hi,

I recently switched to codelyzer@3 and have encountered an issue that was not given in codelyzer@2. Actually i don't really know if it's real issue or on purpose, so the question here is rather open.

Here is the new "issue" in codelyzer3.
Given :

[code]
and
[code]
produces a warning related to "no-access-missing-member" rule :
[code]

To me, the property is only a template local ref so it s

[2017-04-28 15:07] mgechev commented on #298
Take a look at https://github.com/mgechev/codelyzer/issues/297

[2017-04-28 15:07] #298 closed

[2017-04-28 15:32] killzoner commented on #298
Thanks, should have seen it in existing issues, sorry

[2017-04-28 17:44] sebek64 opened #299 "Missing usePipeDecoratorRule from 3.0.0 build"
probably because it is missing in index.ts.

[2017-04-28 17:46] mgechev commented on #299
Yes, I don't see it exported but it shouldn't prevent you from using it since tslint will look at the files `node_modules/codelyzer/*Rule.js`.

What is the error that you get?

[2017-04-28 17:49] sebek64 commented on #299
The problem is that is is missing in this directory:

$ ls node_modules/codelyzer/*Rule.js
node_modules/codelyzer/componentClassSuffixRule.js
node_modules/codelyzer/componentSelectorRule.js
node_modules/codelyzer/directiveClassSuffixRule.js
node_modules/codelyzer/directiveSelectorRule.js
node_modules/codelyzer/importDestructuringSpacingRule.js
node_modules/codelyzer/invokeInjectableRule.js
node_mo

[2017-04-28 17:53] mgechev commented on #299
Ah, I see. Let me publish 3.0.1.

[2017-04-28 18:02] mgechev commented on #299
Fixed by https://github.com/mgechev/codelyzer/commit/c5869e04cdfedb1c58fac9c0f6bef027a745badf. You can try `npm i codelyzer@3.0.1`.

[2017-04-28 18:02] #299 closed

[2017-04-28 18:05] sebek64 commented on #299
Yes, it works. Thank you for a quick fix.

[2017-04-28 18:07] mgechev opened #300 "Enforce View Encapsulation"
Enforce `ViewEncapsulation.Emulated` or `ViewEncapsulation.Native`.

**This rule is good for first time contributors**.

I'd love to assist to the one willing to take the feature.

[2017-04-28 18:16] GregOnNet commented on #300
I would be honored to take this task to get into this topic.
:-)

[2017-04-28 18:19] mgechev opened #301 "Align to Angular 4.1 template parser API"

[2017-04-28 18:19] #301 closed

[2017-04-28 18:21] mgechev commented on #300
I can't assign it to you since you're not yet a collaborator. I'll assign it to myself to show that there's someone working on it.

[2017-04-28 18:22] GregOnNet commented on #300
Nice, thank you.

[2017-04-30 14:02] amivit commented on #86
Any suggestions to get VS Code to work with Angular component fields showing up as unused like WebStorm can?

[2017-05-01 18:27] khichar-anil commented on #268
The only working solution for me was to add **files** against all linting files

**`.angular-cli.json`**
[code]

[2017-05-02 14:16] brian428 commented on #190
Minko, I'm using 3.0.1. Should this issue be fixed with that version, or was this something you were waiting to tackle in 4.x? I ask because I'm still getting errors related to async pipe, as well as properties in a component superclass not being found:

[code]

If you think this shouldn't be happening, I can try to come up with a repro case.

[2017-05-02 14:19] brian428 commented on #190
Ah I *think* this is now slated for 4.x, correct? https://github.com/mgechev/codelyzer/issues/191#issuecomment-296697740

[2017-05-03 10:27] GregOnNet commented on #300
Hi,

I did my first steps writing the TSLint rule. :-)
[see first try](https://github.com/GregOnNet/codelyzer/blob/view-encapsulation/src/useViewEncapsulationRule.ts)

I need some help concerning `NgWalker`.
I want to output the position of ViewEncapsulation`.None` if it has been set. (see [spec](https://github.com/GregOnNet/codelyzer/blob/view-encapsulation/test/useViewEncapsulationRule.spec.ts#L

[2017-05-03 16:52] mgechev commented on #300
@GregOnNet good job! You can take a look at [this function](https://github.com/GregOnNet/codelyzer/blob/view-encapsulation/src/noUnusedCssRule.ts#L35-L50). `encapsulation.name.text` contains also the position of the node.

[2017-05-03 21:00] GregOnNet commented on #300
I thank you very much this has helped me a lot.

[2017-05-03 22:11] #300 closed

[2017-05-04 04:23] GregOnNet commented on #211
Hi,

I also tried to add a fix for #300 like described in the docs of tslint: https://palantir.github.io/tslint/develop/custom-rules/

My orovided fix was recognised by VS Code but unfortunately was not applied when clicking on the tooltip.

Do you know what is needed to get tslint fixes to work?

Kind regards
Gregor

[2017-05-04 18:16] 18steps commented on #277
Just in case it helps anyone, I was experiencing this issue in WebStorm. I took the advice from the other thread; "use codelyzer 2.1.1 and tslint 4.5.1 and ng lint works", and sure enough ng lint worked but WebStorm still gave the error even after closing and opening the file again. When I restarted WebStorm the problem was gone.

[2017-05-04 19:06] mgechev commented on #277
You can also use codelyzer@^3.0.1 with tslint@^5.1.0.

[2017-05-05 03:36] DaemonMM opened #303 "Issue #189 (View-only variable - does not exist in the class declaration ) regression in codelyzer 3.0.1"
View-only variable - does not exist in the class declaration

Problem exist in codelyzer 3.0.1 ( vs tslint@^5.0.0), however, is fixed in codelyzer3.0.0-beta.1 (vs tslint@^4.0.0).

[2017-05-05 04:18] leocaseiro commented on #297
As a workaround, you can instantiate using the `@ViewChild` decorator on your `@Component`, like so:
[code]

[2017-05-05 05:38] mgechev commented on #303
https://github.com/mgechev/codelyzer/issues/297#issuecomment-296857427

[2017-05-05 05:38] #303 closed

[2017-05-05 07:26] digimezzo commented on #189
I've just updated codelyzer from version 2.4.0 to 3.0.1 my Angular2 project because I'm experiencing this issue. However I'm still getting the output when using version 3.0.1:

`The method "d" that you're trying to access does not exist in the class declaration.`

Do I need to perform specific steps or configuration to apply this fix?

[2017-05-05 07:34] WiseBird opened #304 "Support for external templates with require"
Feature request.
Please, add support for external templates that are included using webpack's require:
[code]

[2017-05-05 14:26] damsorian commented on #297
thanks @leocaseiro , it works!

[2017-05-05 14:39] mgechev commented on #189
Take a look at the advanced options of codelyzer. It performs analysis **per file** which means that it's not aware of template references declared in other files. There's experimental support for type checking which performs "deep analysis" (per project). I need to figure out if the slower linting is worth it.

[2017-05-07 23:32] leocaseiro opened #305 "Feature Request: Ability to lint AOT template warnings/errors"
Currently, there's a bug ([#4252](https://github.com/angular/angular-cli/issues/4252)) on @angular-cli with `ng serve --aot`, so I'm not using aot for development.
However, I'm gettings lot's of errors and warnings on my `ng build --prod` which checks for AOT errors ([#5623](https://github.com/angular/angular-cli/issues/5623)) and quits the build.

At the moment, I have two git hooks: `ng lint --t

[2017-05-08 02:05] mgechev commented on #305
The compilation errors should be reported by the Angular compiler. All the linting errors (including style guide related warnings and other **non compile-time errors**), should be reported by tslint.

This issue seems out of the scope of codelyzer.

[2017-05-08 02:05] #305 closed

[2017-05-08 02:08] mgechev commented on #304
This is an additional syntax which is webpack specific. Angular CLI, for instance, does this inlining as part of the build process. This seems reasonable to me, because you're able to write build system agnostic code and later couple it with the specific bundler.

I think this should be kept outside codelyzer.

[2017-05-08 02:08] #304 closed

[2017-05-08 02:21] mgechev commented on #220
In fact, there are two issues here:

- The `smile` inside `ngFor` should be reported, since it's not public.
- The `smile` declared in the lexical scope of `<div/>` should not be reported.

Publishing a fix for the second one.

[2017-05-08 02:21] #220 closed

[2017-05-08 02:50] mgechev opened #306 "Report warnings when bound to private iterable in *ngFor"

[2017-05-08 02:51] #306 closed

[2017-05-08 06:56] gund commented on #191
BTW it also throws when referencing local template variable when reading different value (for ex. directive):
[code]
Results in error:
[code]

[2017-05-09 00:49] mgechev commented on #230
http://codelyzer.com/rules/

[2017-05-09 00:49] #230 closed

[2017-05-09 12:28] CSchulz commented on #191
I did run into the same issue and would like to try the 4.0.0-beta.

Is there no release yet?

[2017-05-09 12:33] guojenman commented on #191
@CSchulz Just disable where needed for now by putting the below comment at the top of your file

// tslint:disable:no-access-missing-member

[2017-05-10 10:06] WiseBird commented on #285
@mgechev This is issue is still reproducible on 3.0.1. Please check the repo: https://github.com/WiseBird/codelyzer_285

![screen](https://cloud.githubusercontent.com/assets/1745378/25893664/b7c1fcf0-3589-11e7-8221-88df0daa7162.png)

You can run tslint by `npm run tslint`

[2017-05-10 19:01] emilabraham commented on #117
@mgechev Any update on this?

[2017-05-10 19:19] emilabraham commented on #117
@mgechev Any update on this?

[2017-05-10 19:38] mgechev commented on #117
Fixed https://github.com/mgechev/codelyzer/blob/master/test/directiveSelectorRule.spec.ts#L214-L228.

[2017-05-11 08:14] almothafar commented on #184
I'm using:
[code]

But still getting the same issue!

[2017-05-11 13:37] diagramatics opened #307 "Allow components/directives to use both element and attribute as selectors"
Right now `directive-selector` and `component-selector` chooses between using `attribute` or `element` as the type, but you can't actually use both. I'd like to make a case for supporting having the two if it's not possible yet.

After listening to [Angular Material team's talk in ng-conf about component API designs](https://www.youtube.com/watch?v=0BikjL858OQ) there is a case for using attribute

[2017-05-11 15:12] mgechev commented on #307
It's already possible to pass an array with elements `["element", "attribute"]` for both. Another alternative is to disable the rules.

[2017-05-11 15:12] #307 closed

[2017-05-11 15:58] diagramatics commented on #307
Ah my bad, thanks for the clarification.

[2017-05-12 06:56] tipag commented on #269
Please reopen!
Can confirm that it works in 3.0.0-beta.0 but not in 3.0.1.

[2017-05-12 17:05] thinkingmedia commented on #191
I found that adding an interface to the base class that declares the shared properties also squashes this warning.

[code]

I'm not sure why, but seems to fix other auto-complete issues in IDEs as well.

[2017-05-15 19:47] mgechev commented on #226
ngast is out for a while, however, I'm planning to change the design a little bit.

It'll be best if there are two packages - one which provides context aware parsing primitives (including the collected project metadata), which requires type checking (we already have this by ngast) and another - providing parsing *per file*.

I'll work on the latter as soon as I find some spare time.

[2017-05-18 03:00] bangbang42 opened #308 "Initialization error (tslint). Cannot find module 'typescript'"
are there any possible ways to resolve this ??

[2017-05-18 04:17] mgechev commented on #308
Would you give more details? For instance, steps to reproduce, minimum demo, your environment, etc.

[2017-05-18 17:41] akrueger opened #309 "Feedback in Visual Studio Code, but not from tslint CLI"
[code]

I am getting feedback in Visual Studio Code, but nothing when I run tslint via package.json.

`tslint .` comes back clean, but I have many rules being applied in VSC.

[2017-05-18 20:03] mgechev commented on #309
That's matter of how you run the tool. I don't see provising any configuration over CLI. For more details visit tslint's documentation and make sure you invoke the linter with proper configuration and target.

[2017-05-18 20:03] #309 closed

[2017-05-18 20:04] #308 closed

[2017-05-18 21:08] akrueger commented on #309
I have fixed the linter config target and am now receiving:

[code]

I have the following `tslint.json`:

[code]

My `package.json` script is:

`"lint": "tslint './src_client/**/*.ts'",`

[2017-05-18 21:45] mgechev commented on #309
Follow the [instructions here](https://github.com/mgechev/codelyzer#how-to-use).

[2017-05-18 21:57] akrueger commented on #309
Yes, I followed [these](https://github.com/mgechev/codelyzer#custom-setup). At the initial step however I installed the latest of the packages rather than the specific ones here:

`npm i codelyzer@~2.0.0 tslint@4.0.0 typescript@2.0.9 @angular/core@2.4.0 @angular/compiler@2.4.0 rxjs@5.0.1 zone.js@0.7.2`

It's not clear that those are the required versions as the project itself has `3.0` and `4.0` w

[2017-05-19 20:11] jensbodal opened #310 "Type Hinting on suffix rules enforcing boolean values"
The generated `componentClassSuffixRule.d.ts` and `directiveClassSuffixRule.d.ts` files require a boolean value for validation, whereas either:

[code]

or

[code]

appear to be supported

[2017-05-22 15:08] fr0 opened #311 "no-access-missing-member doesn't work with external HTML"
When using a separate `.html` file (via `templateUrl` in the `@Component` decorator) instead of an inline template, `no-access-missing-member` doesn't complain about using properties (e.g. in an `*ngIf` expression) that don't exist in the class definition.

To reproduce:
1. Use Angular CLI to create a new project, e.g.: `ng new test-playground`
2. Edit the generated `src/app/app.component.html` to

[2017-05-22 15:42] mgechev commented on #311
Would you provide a sample component I can use to reproduce the issue?

[2017-05-22 15:43] fr0 commented on #311
Are you able to reproduce it using the instructions I just added to my original post?

[2017-05-22 15:43] mgechev commented on #311
I will try, thanks.

[2017-05-22 15:45] fr0 commented on #311
For reference, the output of `ng --version`:

@angular/cli: 1.0.1
node: 6.10.2
os: darwin x64
@angular/common: 4.1.3
@angular/compiler: 4.1.3
@angular/core: 4.1.3
@angular/forms: 4.1.3
@angular/http: 4.1.3
@angular/platform-browser: 4.1.3
@angular/platform-browser-dynamic: 4.1.3
@angular/router: 4.1.3
@angular/cli: 1.0.1
@angular/compiler-cli: 4.1.3

[2017-05-25 16:29] TonyCasey commented on #46
Having the same trouble and cannot solve it..
[code]

[2017-05-25 21:24] mwent-cray commented on #191
What @thinkingmedia mentioned doesn't seem to work when you import the base class.
Not even when you create an interface that extends the original one in another file.

[2017-05-29 08:01] CSchulz commented on #191
@mgechev Can we support you with implementation? The branch 4.0.0-beta.4 seems to be not up to date, right?

[2017-05-29 08:45] maartentibau commented on #285
@WiseBird got the same issue as well

[2017-05-31 03:35] karol-depka commented on #290
Hi. Thanks for taking care of this.
Is the doc updated?
http://codelyzer.com/rules/component-selector/

Currently, the schema there says:

What is the syntax to allow both attribute selector and element-based selector?
Is it this, as in changelog?

Can I submit a pull request to the docs?

Thanks!

[2017-05-31 03:37] mgechev commented on #290
The schema has different format compared to the example. This seems corrext to me.

[2017-05-31 03:43] karol-depka commented on #290
@mgechev Not sure what you mean.

Consider:

*either*

-- http://codelyzer.com/rules/component-selector/

It does not mention the option of allowing both.

Another thing is how to use it to allow both: is it:

?

I guess you understood that I confused/assumed that the schema should look the same as the example :). Which is not the case. I think the schema in the doc should have `"oneOf"` allowing

[2017-05-31 03:57] mgechev commented on #290
Yes, "either" might not be the most appropriate. I'll be happy to merge a more detailed description of the configuration options if you want to open a PR.

[2017-05-31 04:10] karol-depka commented on #290
https://github.com/mgechev/codelyzer/compare/master...karol-depka:patch-1 - wdyt?

[2017-05-31 04:24] mgechev commented on #290
LGTM! Open the PR so I can merge.

[2017-06-01 02:31] mgechev opened #313 "Check if @Input is applied to properties or setters & @Output to instances of EventEmitter"

[2017-06-02 12:35] QuentinFchx opened #314 "Rules to enforce template syntax"
Would it be possible/relevant to add rules that check the syntax of angular templates?
Ideas:
- ensure whitespaces in interpolation `{{ value }}`
- ensure whitespaces around pipe operator `{{ value | pipe }}`
- ensure whitespaces after semicolon in structural dir`*ngIf="condition; else"`
- check banana-box syntax `[()]` vs `([])`
- check for unused template-ref `<div #unusedRef></div>`

[2017-06-06 11:12] TomCaserta opened #315 "'templates-use-public' throws error when attempting to access a property of a property with the [] syntax"
**Rule**: templates-use-public
**Codealyzer Version**: 3.0.1
**Angular Version**: 4.1.3

### Minimal Snippet

Interface:
[code]

Class:
[code]

No class/interface definition:
[code]

### Error Displayed

[code]

[2017-06-06 13:09] mgechev commented on #315
Thanks for reporting the issue. Will fix it as soon as possible and release it.

[2017-06-06 13:21] abalad commented on #191
"codelyzer": "~3.0.1": This arises the same problem.

[2017-06-07 16:35] mgechev commented on #314
Hey @QuentinFchx good ideas!

Doable with the `TemplateVisitor`.

Sounds like a good fit for the `TemplateVisitor` as well. It also feels like a good candidate for a compile-time error.

The current shallow linting doesn't deal well with template references but that's another good candidate.

[2017-06-07 17:32] rafiwardak2003 commented on #191
This problem is back in 3.x.x (3.0.0 and 3.0.1). I had to revert back to 3.0.0-beta.0 to get it to work.

[2017-06-08 14:59] broodjetom opened #316 "Element is not known"
Hi, I don't know if I am doing something wrong, so maybe someone can help me with this.

In my main module I imported a module that has components in it. In my main component I use those components. But my VSCode TSLint says these components are not known.

[code]

Inside the app.component.ts I use the component from the new.component.ts. I have imported the newmodule in the appmodule.

The error

[2017-06-08 16:51] mgechev commented on #316
That's not an error coming from codelyzer. Most likely you've forgot to include a component with selector `new-component` in the `NgModule` where you're using it.

[2017-06-08 16:51] #316 closed

[2017-06-09 01:32] mgechev commented on #315
@TomCaserta cannot reproduce the issue https://github.com/mgechev/codelyzer/pull/318

[2017-06-09 01:32] #315 closed

[2017-06-09 01:48] mgechev opened #319 "Update to Angular 4.1.3"
There are breaking changes in the compiler's API.

[2017-06-09 01:48] #319 closed

[2017-06-09 01:51] mgechev commented on #311
Fixed by https://github.com/mgechev/codelyzer/issues/319
Will release in the next days.

[2017-06-09 01:51] #311 closed

[2017-06-09 01:54] mgechev commented on #310
Would you give me more information for what you mean here?

I'm not sure I understand the problem.

[2017-06-09 04:53] jensbodal commented on #310
Sure thing.

When adding `component-class-suffix` or `directive-class-suffix` rules to your `tslint.json`, the type hinter tells you that a `boolean` is expected.  This is a fairly low hanging fruit issue, either rule works, but if using the `[true, "Component"]` syntax the type hinter will complain.  Here's an example from Visual Studio Code:

![image](https://user-images.githubusercontent.com/55

[2017-06-09 05:56] mgechev commented on #310
I see, thanks. Will work on this tomorrow.

[2017-06-10 20:48] michaeljota commented on #291
I don't think this would be a easy configuration model, but still would be so useful to use this.
Maybe we can use something like

[code]
Underneath this could have some default configuration that follows the standard guide style, as usual.
[code]
But allow configuration per objects.
[code]

Or just set the `rule` or `casing` that would check that this rule would check
[code]

[2017-06-10 21:58] michaeljota commented on #222
I did not forget about this, I just wanted to give a better example and be clearer about it. Thanks you for the guidance and the assistance.

[2017-06-10 23:05] mgechev commented on #310
Opened PR here https://github.com/SchemaStore/schemastore/pull/306.

[2017-06-10 23:05] #310 closed

[2017-06-11 20:14] mgechev commented on #313
Closing it since it looks like a responsibility of the compiler & language service.

[2017-06-11 20:14] #313 closed

[2017-06-11 20:33] mgechev opened #320 "Ensure whitespace around interpolation"
https://github.com/mgechev/codelyzer/issues/314

- [x] Warn when extra whitespace (`{{  foo   }}`).
- [x] Warn when no whitespace (`{{foo}}`).
- [x] Implement autofix.

[2017-06-11 21:29] mgechev commented on #314
Started whitespace in interpolation here https://github.com/mgechev/codelyzer/commit/d9d7da425b0e92178914d5bde142ace43cbd95d5

[2017-06-12 03:36] emilio-martinez commented on #191
@mgechev is there another issue where you're tracking support for inheritance on a stable release? Just wondering since this particular thread is closed.

[2017-06-12 04:09] mgechev commented on #191
There won't be support for inheritance and it's very likely the `no-access-missing-member` rule to be removed in version 4. The language service already handles this.

[2017-06-12 07:24] mscelina commented on #285
@mgechev This issue should be reopen.
I see the issue was fixed and merged to master (master at that time): #238 . During the time master start to be out of sync with this commit. 3.0.0-beta.X versions were released with this. Now, these tags are completely out of sync with master and these tags are not at any branch. These changes were never merged with master and released as 3.0.0.
I didn't look

[2017-06-12 07:26] mscelina commented on #269
Probably it's the same as #238

[2017-06-12 08:19] pgrm commented on #191
@mgechev sry, could you please elaborate on what you meant with *The language service already handles this.* and *There won't be support for inheritance...* - does it mean that codelyzer won't need to support inheritance because it's only needed for `no-access-missing-member` and the language service already has support for that?

[2017-06-12 17:59] mgechev commented on #285
@mscelina this rule will be removed because the language service and the compiler are responsible for finding & reporting compile-time errors.

[2017-06-12 18:03] mgechev commented on #191
@pgrm there are a few codelyzer rules which provide static analysis for errors that have very tight intersection with ones that are supposed to be caught compile-time by the Angular compiler, and reported by the language service.

codelyzer aims to provide linting for style errors which can be found by providing a "shallow analysis" (one with no-type checking), only on top of the current file + ex

[2017-06-12 18:15] CSchulz commented on #191
As far as I know there is no implementation in the language service right?

Would you provide some support if somebody would try to migrate it?

[2017-06-12 18:26] mgechev commented on #191
There's no migration involve - just install the language service and everything works.

Regarding failures of the build when there's a missing property - just run the Angular's AoT and it will throw an error.

[2017-06-12 18:31] CSchulz commented on #191
Ah yeah right! We have already AoT in our build process.

Thanks!

[2017-06-14 05:18] wKoza opened #323 "Ng-template Rule : Rule Metadata property is wrong"
Change it to something like:

[code]

[2017-06-14 09:01] wKoza opened #325 "rules name in documentation aren't consistent"
For instance, in the documentation, we display the name use-input-property-decorator-rule for a rule named use-input-property-decorator in tslint.json.

@mgechev ,  are you interested in renaming this rules ? (I can propose a PR)

[2017-06-14 14:38] #323 closed

[2017-06-14 17:30] mgechev commented on #325
Yes. The documentation is being automatically generated with [this](https://github.com/mgechev/codelyzer/blob/master/build/buildDocs.ts) script, so you will have to change the source code.

[2017-06-15 17:46] #325 closed

[2017-06-15 20:19] wKoza opened #327 "Upgrade of codelyzer.com website"
I think we can upgrade the codelizer.com website :

- Update npm Packages in package.json (angular 4.X, codelizer 3.X, tslint, ...)
- Update rules used for the editor
- Maybe change the example in the editor
- ... Any ideas ?

[2017-06-15 20:30] mgechev commented on #327
I'll be glad to have the newest version of all dependencies in the demo app.

Since the support of external templates/styles, codelyzer is more coupled to node and it will require more work to bundle it as a browser app.

This is something which needs to be done anyway and will require extracting the low-level APIs into a host class (similar to the hosts of the language service of TypeScript).

[2017-06-15 23:11] mgechev opened #328 "Ensure whitespace around a pipe operator"
- [x] - Whitespace around pipe operator.
- [x] - Exactly one space on both sides.
- [x] - Implement autofixes.

[2017-06-15 23:14] mgechev commented on #314
Three of the rules are already implemented. I will open two issues to track the remaining two.

[2017-06-15 23:14] #314 closed

[2017-06-15 23:14] mgechev opened #329 "Check for unused template-ref"
Source https://github.com/mgechev/codelyzer/issues/314

[2017-06-15 23:15] mgechev opened #330 "Ensure whitespaces after semicolon in structural dir"
This rule should extend `angular-whitespace`.

Source https://github.com/mgechev/codelyzer/issues/314

[2017-06-15 23:16] mgechev commented on #226
Closing for now.

[2017-06-15 23:16] #226 closed

[2017-06-15 23:17] mgechev commented on #211
We're working incrementally on supporting tslint fixes. We have them for all newly implemented rules.

Closing this one since it's quite generic.

[2017-06-15 23:17] #211 closed

[2017-06-15 23:18] mgechev commented on #126
This can get tricky with inheritance. It also doesn't fit very well with the shallow code analysis we provide which aims enforcement of common style, rather than caching logical errors.

[2017-06-15 23:18] #126 closed

[2017-06-15 23:18] mgechev commented on #122
Closing since the rule will be dropped.

[2017-06-15 23:18] #122 closed

[2017-06-15 23:19] mgechev commented on #253
Wasn't able to reproduce. Closing for now.

[2017-06-15 23:19] #253 closed

[2017-06-15 23:19] mgechev commented on #293
This seems out of the scope of the current implementation of codelyzer. Closing it for now.

[2017-06-15 23:19] #293 closed

[2017-06-15 23:22] mgechev opened #331 "Enforce proper banana in a box syntax"
Source https://github.com/mgechev/codelyzer/issues/314
Implemented by https://github.com/mgechev/codelyzer/pull/322

[2017-06-15 23:22] #331 closed

[2017-06-15 23:25] mgechev opened #332 "Add a no-negated-async rule"
Source https://github.com/mgechev/codelyzer/pull/317
Implementation https://github.com/mgechev/codelyzer/pull/317

[2017-06-15 23:25] #332 closed

[2017-06-16 18:31] wKoza commented on #330
I take it !

[2017-06-17 00:23] #320 closed

[2017-06-17 00:23] #328 closed

[2017-06-18 07:59] wKoza opened #333 "Our links to angular.io are broken"
Since the new version of Angular.io, our links to the style guide are broken. For instance, `https://angular.io/styleguide#!#05-12` becomes `https://angular.io/guide/styleguide#style-05-12` .
I can fix them for the next version.

[2017-06-18 08:18] mgechev commented on #333
I will hold the release until we fix them.

[2017-06-18 21:28] #333 closed

[2017-06-18 21:31] mgechev commented on #330
@wKoza we can move this issue to the next milestone?

[2017-06-18 21:42] mgechev opened #335 "Angular Whitespace "check-interpolation" fails"
...with `{{ foo}}` and `{{foo }}`.

[2017-06-18 21:46] mgechev opened #336 "Reports errors twice"
Some errors are being reported twice in the latest release candidate:

[code]

Probably issue in the template visitors.

[2017-06-19 06:08] wKoza commented on #336
Yes, I saw this last night.  I'll look to this, this morning.

[2017-06-19 06:10] wKoza commented on #330
Yes, no problem. I had just started.

[2017-06-19 15:42] wKoza commented on #336
I saw that last night. The problem seems already to exist with version 3.0.0.

[2017-06-19 18:15] wKoza opened #337 "Bug since Angular 4.2.O"
Since Angular 4.2.0, Codelizer 3.0.1 doesn't seem to work anymore.

[2017-06-19 18:39] mgechev commented on #337
Yes, the fix is in master. Once 3.1.0 gets stable we can publish it.

[2017-06-19 18:39] #337 closed

[2017-06-19 18:40] mgechev commented on #337
The fix itself https://github.com/mgechev/codelyzer/commit/b60829663383adcaa8b2570f56242ce34e1d94a1

[2017-06-19 20:51] mgechev commented on #330
Ok, moving to the next milestone so we can focus on the remaining two issues.

[2017-06-19 21:20] elclanrs opened #338 "Could not find custom rule directory: node_modules/codelyzer"
We have a project built on angular-cli that also uses a package that was built on angular-cli. So our project has a tslint.json and so does the package. Since codelyzer is at the same version in both the project and the package then npm flattens the tree and installs codelyzer in the root `node_modules` folder; this is fine, and expected.

When we run `ng lint` we get this error:

This started hap

[2017-06-20 09:31] Justus-Maier commented on #277
[code]
Problem has returned with latest version.. looks very similar.

I'm on
TS 2.2.2
Codelyzer 3.0.1
TSLint 5.4.2

Do I have to upgrade TS to 2.3?

[2017-06-20 18:02] #336 closed

[2017-06-20 18:04] #335 closed

[2017-06-20 18:26] mgechev opened #341 "angularWhitespace doesn't work with chained pipes"

[2017-06-20 19:48] #341 closed

[2017-06-20 23:14] intellix opened #343 "TS2.4, NG 4.2.3 - Pipe operator should be surrounded by one space"
Was just testing the new stuff added in 3.1.0 and noticed that the "check-pipe" property never works for me. I've essentially copy/pasted from the tests so they should be supported:
[code]
Error:
[code]

My versions:
[code]

[2017-06-20 23:26] mgechev commented on #343
Hm, there's a spec [for this](https://github.com/mgechev/codelyzer/blob/master/test/angularWhitespaceRule.spec.ts#L65-L75), which passes successfully.

[2017-06-21 00:32] mgechev commented on #343
Got it. That's an external template, right?

[2017-06-21 01:48] #343 closed

[2017-06-21 01:49] mgechev opened #344 "Incorrect rule name in documentation"

[2017-06-21 01:50] mgechev commented on #344
https://github.com/mgechev/codelyzer/commit/6656b81dfd6466e090776d0bdb9f225169b6b7f0

[2017-06-21 01:50] #344 closed

[2017-06-21 02:02] mgechev opened #345 "Auto fix for check-interpolation part of angularWhitespace is broken"

[2017-06-21 09:07] intellix commented on #343
Yep, it was in an external template :) thanks so much

[2017-06-21 11:23] pgrm commented on #189
I have this issue again in 3.1 (up to 3.0.1 it worked fine). This is the html:

[code]

and these are the errors I see:

[code]

I don't think this is an actual issue in the html, is it the same bug in codelyzer again?

[2017-06-21 16:38] cexbrayat opened #346 "check-pipe breaks with ngFor"
It looks like the new `check-pipe` rule breaks with ngFor (as of 3.1.1):

    <div *ngFor="let user of users | slice:0:4">

Throws:

    The pipe operator should be surrounded by one space on each side, i.e. " | "

See #347 for a unit test reproducing the issue.

[2017-06-21 19:07] wKoza commented on #189
Did you not have a .codelyser.js config file before like this ?
[code]

[2017-06-21 23:38] pgrm commented on #189
definitely no file containing *codelyser* or *codelyzer* in my repository, but will try it tomorrow, thx

[2017-06-22 00:02] mgechev commented on #189
In 3.0.1 the template linting didn't work in the past a couple of days because of changes in the Angular API.

Take a look at the advanced configuration of codelyzer, to add template references manually, or disable these rules. Angular Compiler takes care of this anyway, and you can use it with the language service.

[2017-06-22 05:13] rafaelss95 opened #348 "Possibility of disable some rules in specific file/line"
It would be great to have some way to disable rule(s) in specific file or line, like this does in `tslint`:

[code]

A simple use case:

Let's suppose that I want to disallow the use of `ViewEncapsulation.None` in all my components, except in one component.

[2017-06-22 06:33] wKoza commented on #348
You can use this :
[code]

[2017-06-22 13:56] supamax opened #349 ""no-access-missing-member" rule doesn't see properties from base classes."
Angular 4.2.4.
Codelyzer 3.1.1.

Example:
ERROR: (no-access-missing-member) ********: The property "model" that you're trying to access does not exist in the class declaration.

But model property exists in the base class of Component class.
Have to disable it now.

On 3.0.1 there were no errors.

[2017-06-22 14:04] wKoza commented on #349
Hi,
Can you give us an example of code with a Component and a template ?

[2017-06-22 16:21] intellix commented on #343
Still having issues with this one. I'm running 3.1.1 and I'm still getting:
[code]

On stuff like:
[code]

Also, it seems the reported line/columns are wrong for those. I'm getting much less violations though than I did on 3.1.0

[2017-06-22 16:58] wKoza commented on #343
check-pipe seems to work only in interpolation.

looks like #346

[2017-06-22 18:25] mgechev commented on #349
@supamax, please use the search for details.

[2017-06-22 18:25] #349 closed

[2017-06-22 18:28] #348 closed

[2017-06-22 20:11] jordidiaz opened #351 "VSCode not showing errors"
Hi,

I'm trying to configure Codelyzer's VSCode error highlight. I have an angular-cli setup:

[code]

settings.json looks like:

[code]
 I have the tslint extension for VSCode installed, and those are my package.json's related dependencies:

[code]

I see the errors using `ng lint` but no error highlight is shown in VSCode.

Thank you very much.

[2017-06-22 21:56] intellix commented on #346
and an ngSwitch at least. Not sure which others are missing

[2017-06-22 23:18] rafaelss95 commented on #348
Oh, thanks @wKoza

[2017-06-23 01:33] rafaelss95 opened #352 "bug(no-unused-css-rule)"
I have the following config in `tslint.json`:

[code]

When I ran `npm run lint` I get the following warning:

Versions:

Codelyzer: 3.1.1
Tslint: 5.4.3

[2017-06-23 05:38] mgechev commented on #352
You should remove the rule suffix from the rule name.

[2017-06-23 05:39] mgechev commented on #346
Thanks for reporting the issue. I will take a look during the weekend on AngularUP.

[2017-06-23 05:40] mgechev commented on #351
Do you see any taking errors at all?

[2017-06-23 05:47] rafaelss95 commented on #352
@mgechev  Thanks!

I just pick this name from [**docs**](http://codelyzer.com/rules/no-unused-css-rule)

[2017-06-23 06:12] wKoza commented on #352
Hi @mgechev, can you reopen this issue ? Indeed, the rule's name is wrong.

[2017-06-23 06:23] wKoza commented on #329
@mgechev, Codelizer will be able to control this code without launching a false positive ?

[code]

[2017-06-23 09:33] jordidiaz commented on #351
Hi Minko,

I'm working with another computer now and the error hightlight is working for the rest of projetcs. It seems that the settings.json configuration is not being able to reach the tsserver. I'm going to check my project differences (folder structure seems to be the problem) with others working and I'll share the results.

[2017-06-23 10:47] mgechev commented on #329
No, template references won't work with the shallow parsing we perform. I suppose we can drop this from the roadmap.

[2017-06-23 10:47] #329 closed

[2017-06-23 14:13] rokerkony commented on #346
Other cases which fail on the `check-pipe` rule:

1.  `{{ (foo) | pipe }}` our code example: `{{ (totalPrice || price.total) | eur }}`
2. `<div *ngIf="items$ | async as items; else loading;"></div>`

[2017-06-23 14:30] rokerkony opened #353 "use-view-encapsulation: 'expression' of undefined"
Hi,
when `"use-view-encapsulation": true` is added there is a warning:
`Warning: Cannot read property 'expression' of undefined`

Versions:
Codelyzer: 3.1.1

I tried it on my repository and as well on https://github.com/mgechev/angular-seed

it can be related to #352

[2017-06-23 15:38] wKoza commented on #353
thanks @rokerkony , I will take a look this weekend.

[2017-06-23 16:45] BennieCopeland commented on #353
Ran into this also.
[code]

[2017-06-24 06:39] #353 closed

[2017-06-24 06:41] #352 closed

[2017-06-24 14:37] jordidiaz commented on #351
Problem solved!

Being the app's root folder where .vscode settings folder is located I had my angular-cli app bootstrapped in the 'Client' folder. I just moved all the app to the 'root folder', delete the 'Client' path from the settings and now works like a charm. Is it any known restriction @mgechev?

[2017-06-24 19:22] mgechev commented on #351
No, it isn't. Thanks for posting the solution you found!

[2017-06-24 19:22] #351 closed

[2017-06-26 10:57] Martin-Wegner commented on #352
@mgechev http://codelyzer.com/rules/ links to http://codelyzer.com/rules/no-unused-css which not exists. http://codelyzer.com/rules/no-unused-css-rule exists...

[2017-06-26 11:23] Martin-Wegner opened #358 "import-destructing-spacing or import-destructuring-spacing?"
The docs say `import-destructing-spacing` but the real implementation is `import-destructuring-spacing`.

I think you should rename `docs/rules/import-destructing-spacing/index.html` to `docs/rules/import-destructuring-spacing/index.html` and replace all `import-destructing-spacing` with `import-destructuring-spacing` in `docs/rules/import-destructuring-spacing/index.html`, `src/importDestructurin

[2017-06-26 12:21] Martin-Wegner opened #359 "check-pipe should ignore i18n meaning and description | separator"
`"angular-whitespace": [true, "check-pipe"]` complains about the i18n meaning and description | separator (see https://angular.io/guide/i18n#help-the-translator-with-a-description-and-meaning). For example: `<h1 i18n="site header|An introduction header for this sample">Hello i18n!</h1>`

[2017-06-26 12:54] mgechev commented on #358
Hey @Martin-Wegner, we generate the `docs` directory. Would you open a PR updating the rule name in the `importDestructuringSpacingRule.ts` file?

[2017-06-26 12:55] mgechev commented on #352
@Martin-Wegner the update is in master, haven't updated the docs yet https://github.com/mgechev/codelyzer/pull/355.

[2017-06-26 13:03] Martin-Wegner commented on #358
@mgechev OK: https://github.com/mgechev/codelyzer/pull/360

[2017-06-26 13:46] #358 closed

[2017-06-27 09:42] #330 closed

[2017-06-27 11:43] elwinarens commented on #191
Same issue with ^3.1.1. Reverted back to ~2.0.0 to get rid of the errors.

[2017-06-28 15:15] Almar commented on #349
I'm experiencing the same problem. I searched for other issues and I think #285 is relevant but I that doesn't bring me closer to a solution.
@mgechev, could you please explain a little more?

[2017-06-29 10:38] lammers commented on #338
if you go with angular-cli 1.3 this should work. check if tslint.json is in the root package of your dependency, because this is the trigger to start linting on that dependency.
If it is there add this file to .npmignore, then publish a new version to your npm repository

[2017-06-29 10:45] mgechev commented on #338
Thanks for the comment!

[2017-06-29 10:45] #338 closed

[2017-06-29 10:47] lammers commented on #338
you are welcome ;-) thanks for codelyzer

[2017-06-29 20:09] wKoza commented on #359
thank for your issue ! We will work on it !

[2017-06-29 21:06] fr0 opened #361 "no-access-missing-member doesn't look in a Component's base class(es)"
Example:

[code]

`ng run lint` will complain about the usage of `foo`, noticing that it is not in `ActualComponent`, and will not think to look in `ComponentBase`.

This is with Codelyzer v3.1.1, and angular/cli v1.3.0-beta.0.

[2017-06-30 05:57] #361 closed

[2017-06-30 05:58] mgechev commented on #361
Take a look at the existing issues. This rule will be removed.

[2017-07-01 13:37] #346 closed

[2017-07-01 13:43] #359 closed

[2017-07-01 15:00] mgechev opened #363 "Compiler should throw an error if I use @HostListener in a service"
By @adamdport
Source https://github.com/angular/angular/issues/17847

[2017-07-02 09:59] wKoza commented on #345
Fixed by #362

[2017-07-02 09:59] #345 closed

[2017-07-02 16:11] wKoza commented on #363
At first, we can focus on decorators like @HostListener, @HostBinding, @Input, @Output, ... But it would be interesting to work on the life cycle in another rule.

[2017-07-03 00:53] Matmo10 commented on #345
Just curious, when would 3.1.2 show up on npm?

[2017-07-03 14:26] mgechev commented on #345
@Matmo10 I'll try to push it tomorrow.

[2017-07-04 13:40] Martin-Wegner opened #364 "no-unused-css rule does not find class usage inside of nested *ngFor's"
CSS:

[code]

Template:

[code]

[2017-07-04 13:49] Martin-Wegner opened #365 "check-pipe totally broken"
Since 3.1.2 check-pipe is totally broken.

[code]

[2017-07-04 14:00] mgechev commented on #365
Thanks for reporting the issue. There are two issues in this case:

- The warning is reported for code having a valid style.
- The warning is reported on incorrect location.

I'll push a fix in upcoming releases.

[2017-07-04 14:00] mgechev commented on #364
This rule is highly experimental and has a lot of flaws at the moment.

I'll keep the issue open and fix it at some point, for the stable version of `no-unused-css`.

[2017-07-04 20:43] Matmo10 commented on #345
Just tried it out, I still get the following issues with the autofix:

[code]
gets changed to
[code]

Also this
[code]
gets changed to this:
[code]

Also this
[code]
gets changed to this:
[code]

Is this a separate issue?

[2017-07-05 05:49] mgechev commented on #345
The source of this issue seems the `check-pipe` option.

[2017-07-05 07:54] Delagen opened #366 "[no-access-missing-member]: bug or normal?"
[code]
gives warn
[code]

[2017-07-05 08:01] Delagen commented on #366
As for response #361. Close

[2017-07-05 08:01] #366 closed

[2017-07-05 08:42] rokerkony commented on #346
@mgechev this issue is closed but the use case n.2 was not fixed... can you take a look on it?

[2017-07-05 08:46] mgechev commented on #346
There's another issue related to `"check-pipe"` https://github.com/mgechev/codelyzer/issues/365. Looks the same as the one reported by you.

[2017-07-05 10:13] SteveVanOpstal opened #367 "check-interpolation checks non-interpolation expressions"
[code]

The Angular guidelines seem to allow non-interpolations in a input/attribute:
https://angular.io/guide/styleguide#style-05-17
Assuming from the `[hero]="hero"`, although they do not specifically mention it.

The expression should not raise an error for whitespaces issues.

[2017-07-05 11:14] mgechev commented on #367
`[hero]="hero"` this is not an interpolation syntax. The `angular-whitespace` rule will not run against the snippet above.

Would you give more details about the issue?

[2017-07-05 11:57] SteveVanOpstal commented on #367
For some reason the error logging indicated the wrong line, made me assume it was referring to the attribute.

[2017-07-05 11:57] #367 closed

[2017-07-05 14:57] rokerkony commented on #346
ok, thx :)

[2017-07-05 15:43] cexbrayat commented on #346
@mgechev I tried 3.1.2 but it still fail for `ngFor` in a simple use case, with an external template.

See #368 for a unit test reproducing the issue.

[2017-07-05 15:47] mgechev commented on #346
See https://github.com/mgechev/codelyzer/issues/365

[2017-07-05 15:50] cexbrayat commented on #346
@mgechev Ha sorry, I thought #365 was unrelated to this one (the title was not really explicit :) ).

[2017-07-05 15:56] mgechev commented on #346
No worries

[2017-07-05 16:55] willgm commented on #365
Similar error here:

For this line:
[code]

[2017-07-05 16:59] mgechev commented on #365
@Martin-Wegner not a related issue. Please, take a look at the search.

[2017-07-05 18:21] willgm commented on #365
@mgechev, sorry, but I can't see how this error is related to this issue. Can you explain?

I searched a little more, looks like there are other issues more likely to math the errors above: #190 and angular/angular-cli/issues/6554

This issue appeared after I updated from `3.0.1` to `3.1.0` or `3.0.2`:
[code]

[2017-07-05 20:34] wKoza commented on #365
Perharps, you should simply drop rule `no-access-missing-member` ?

[2017-07-05 22:03] willgm commented on #365
@wKoza, now I got it, thanks! :tada:

[2017-07-06 11:45] Orodan opened #369 "no-access-missing-member throw an error with template reference variable."
Hi,

When using template reference variable, codelyzer throw an error related to "no-access-missing-member". Here is an example :

[code]

And the report from tslint : The property "mainMetadata" that you're trying to access does not exist in the class declaration.

I know there is already some issues related to this problem like [189](https://github.com/mgechev/codelyzer/issues/189) but I still g

[2017-07-06 19:31] wKoza commented on #369
Hi, take a look at #213

[2017-07-06 19:31] #369 closed

[2017-07-07 07:20] Orodan commented on #369
Well I don't think you should close it for now : there is nothing in the readme advanced configuration example that helps me, and the other solution is to disable the rules.

[2017-07-07 09:03] wKoza commented on #369
This rule will be removed in a next release. You should use the language service Angular for catch this. And if you want failures of the build when there's a missing property , you can just run a build with aot and it will throw errors.

[2017-07-07 09:12] Orodan commented on #369
Thanks for the idea of Angular service language ! I just find it a bit disappointing that the "no-access-missing-member" rule is not able to detect correctly template reference variable.

One last thing : may I ask why this rule will be removed in the next release ? It's still usefull in most cases.

[2017-07-07 16:45] wKoza commented on #369
In **a** next release (Probably  with 4.0.0). The language service Angular is THE good candidat for this. Codelyzer aims to provide linting for style errors which can be found by providing a "shallow analysis". "No-access-missing-member" requires a deep analysis sometime.

[2017-07-08 13:06] michaeljota commented on #132
Reviewing this now, and still the docs lacks of examples of how to pass an array. Even the JSON Schema is lacking this options, throwing warnings in the `tslint.json` file if the array is passed as an option.

[2017-07-08 15:59] mgechev commented on #132
The JSON schema in maintained by third--party. I opened a PR sometimes back, at some point it will go upstream.

It'll be great if you open a PR with docs improvement.

[2017-07-08 20:22] michaeljota commented on #132
I was just doing that, but found the actual documentation. I think that maybe the problem. As is right now it seems like all the docs are in README, cause there is no link to the documentation, nor a mention of it. Maybe less information of usage in README and instead a link to the docs?

[2017-07-09 02:59] mgechev commented on #132
http://codelyzer.com/rules/ generated from the source code.

[2017-07-09 09:58] wKoza opened #371 "Add a rule which verifies the use of the life cycle methods according to the type of class (Component, Directive, Service, ...)"
Related to #363

[2017-07-09 13:57] DouglasWebster opened #372 "(no-access-missing-member) failing on update from 3.0.1 to 3.1.x"
I have a section of HTML (from ngx-bootstrap demo) that is now failing the no-access-missing-member rule.  The section of code is
[code]
The offending bit of code is `(click)="staticModal.show()"` which is giving the following error
`ERROR: (no-access-missing-member) /.../modal-sample.component.html[14, 59]: The method "staticModal" that you're trying to access does not exist in the class declarat

[2017-07-09 17:16] mgechev commented on #372
Take a look at the issue tracker and in the readme for existing issues related to template references.

[2017-07-09 17:16] #372 closed

[2017-07-10 12:05] #363 closed

[2017-07-10 19:22] rafaelss95 opened #373 "feat: Add a rule to ensure that the decorator has parentheses after it"
Actually if you forget to put the parentheses after `@Input`, for example, it doesn't give any hint/warning, just the generic error:

Also, according to [Angular's DI docs:](https://angular.io/guide/dependency-injection#why-injectable)

.. it also happens to `@Injectable`.

My suggestion is to provide a simple rule that ensure that the decorator has parentheses after it.

@mgechev What do you thin

[2017-07-10 19:35] dev054 opened #374 "Possible bug with no-input-rename"
Consider the following use-case:

**any-component.html**
[code]

**my-component.ts**

[code]
The `no-input-rename` *rule* doesn't shows warning in this case above.
So.. I'm just wondering if it's intentional or no... because in fact it doesn't make sense to write `myInput` inside the parentheses: `@Input('myInput')` instead of `@Input()`... besides writing more, it won't affect anything at all.

P

[2017-07-10 20:26] mgechev commented on #373
This will be handled by ngc and respectively the language service. There's already existing rule which verifies that `@Injectable` is invoked, however, this rule will be dropped in future releases.

[2017-07-10 20:31] rafaelss95 commented on #373
Well, as I mentioned in the case of `@Input` it'll **throw** that generic error, and devs may get stuck with this simple thing. The same happens for `@Output`.

[2017-07-10 20:48] mgechev commented on #373
This seems like opportunity for improvement in ngc. Let me sync with the Angular team and come back to you.

[2017-07-11 00:51] elclanrs commented on #338
@lammers any way I can make this work on angular-cli 1.2? I tried adding it to .npmignore but now the project's tslint.json is analyzing the package and throwing errors.

[2017-07-11 11:06] wKoza commented on #374
This rule seems to be intentional if we peek at the class test :

Because the Style Guide indicates :

In your case, it's the same name...

But, the style guide indicates also  :

It's a bit confusing ! Maybe, we can improve the style guide. @wardbell, what do you think about this ?

I think we can change Codelyzer in this direction. Are you agree  @mgechev ?

[2017-07-11 15:51] mgechev commented on #374
@wKoza maybe different error messages depending on the value passed to `@Input`.

Regarding the style guide, yes, probably we can make the explanation more complete.

[2017-07-11 22:30] SchnWalter opened #375 "Add new `max-import-line-length` rule"
It would be nice to have a larger line length limit for import rules. Depending on the project, the 140 characters limit sometimes isn't enough.

Here's an example:
[code]

Thank you!

[2017-07-12 04:42] mgechev commented on #375
That's not an Angular specific rule. You can try opening a feature request in the tslint repository.

[2017-07-12 04:42] #375 closed

[2017-07-12 09:55] reppners opened #376 "[feat] warn when lazy loaded module is imported statically"
It would be nice if there is a warning when a module that is "referenced" in a route by `loadChildren` is imported statically somewhere. As soon as a module is lazy loaded AND imported statically it is almost certainly an error.

Is this possible with the metadata at hand / ngast? I'm happy to work on this but would need directions to get started.

[2017-07-12 14:23] brian428 commented on #365
Does anyone know if there's a way to disable this rule just for the templates that have the problem? I'd like to avoid just turning off the whole rule, since it only seems to fail in some limited situations (async pipe, inherited properties, etc.).

[2017-07-12 14:31] mgechev commented on #365
You can disable the rule for the entire file by `/* tslint:disable:rule1 rule2 rule3... */`. In case the warning is in an external template, place the comment in the component file which references it.

[2017-07-12 14:37] brian428 commented on #365
Thanks, I was thinking it needed to go in the actual HTML somehow. I'll try it on the component itself.

[2017-07-13 11:53] mgechev opened #377 "i18n best practices"
Consider to add the following i18n best practice:

- [x] - Look for elements without custom ID.
- [x] - Look for elements with text content but no i18n attribute.

https://angular.io/guide/i18n#set-a-custom-id-to-improve-search-and-maintenance

[2017-07-15 12:43] mattlewis92 opened #378 "[feat] add a warning when not using trackBy with ngFor"
Even though its considered best practise, I always forget to add a trackBy when using ngFor. It would be awesome to have a rule to enforce this in templates. Since invalid usage of trackBy is currently swallowed silently by angular, as a stretch it would be cool if the rule validates the trackBy expression as well. If you're in favour of this I would love to take a go at a PR for this feature. Tha

[2017-07-15 19:42] mgechev commented on #378
Sounds like a good suggestion. There's issue related to the errors reporting in ngFor. Once this is fixed it'll be relatively easy to implement.

[2017-07-16 10:30] mgechev commented on #376
Yes, that's a rule which I've been considering for a while. It's definitely a good idea.

I'll add it to the release 4.x.x. `ngast` is a good candidate but it'll require further design. I'll spend time in August to write a design doc and release it publicly.

[2017-07-17 07:41] maxime1992 commented on #378
I came here to post that but @mattlewis92 did it 2 days ago :smile:  !
Indeed, I think it would be a really nice feature! :beers:

[2017-07-17 20:11] rolandjitsu opened #379 "some rules report false positives"
I just discovered some weird cases where `angular-whitespace` complains about:
- `<div fxLayout="column">` (the `l` - as in the letter `L` - must be the confusing part)
- `<md-icon *ngIf="isOnline | async; else offline">cloud_off</md-icon>`
- `<md-toolbar color="primary">` - might be the same case as the first one
- `<rj-image-filters (queryChange)="updateFilters($event)"></rj-image-filters>` - co

[2017-07-18 09:56] wKoza commented on #379
Thanks you for your issue report. For the last point, there are many issues in the tracker related to template references. For the others, we will investigate.

[2017-07-18 21:00] wKoza commented on #379
Can you give me an example of log for this item : `<div fxLayout="column">` ?

Concerning the check-pipe, can you remove it form your configuration for this moment because there is an issue opened (issue #365 ).

[2017-07-18 21:08] rolandjitsu commented on #379
Definitely:
[code]

[2017-07-18 21:14] wKoza commented on #379
And if you remove the check-pipe in your lint, what's happening ?

[2017-07-19 14:32] alienlike opened #380 "no-access-missing-member rule ignores template scope variables (let-item syntax)"
Codelyzer flags the following code with the error `The property "phone" that you're trying to access does not exist in the class declaration.`

[code]

[2017-07-19 15:07] mgechev commented on #380
Take a look at https://github.com/mgechev/codelyzer/issues/264

[2017-07-19 15:07] #380 closed

[2017-07-19 17:29] rolandjitsu commented on #379
If I remove that, I get no errors 😄

[2017-07-19 18:56] wKoza commented on #379
Ok nice. You can monitor this issue for resolution. Otherwise, there is indeed a problem with the rule "banana-in-a-box". I will take a look at this weekend.

[2017-07-20 16:38] cherzog opened #382 "component-selector: selector: 'a.ch-test-list-item'"
The following code give me an error, but - in my opionion - should be ok:
the selector of the component should be named kebab-case and include dash

[code]

[2017-07-20 20:02] wKoza commented on #382
In your case, there is an another problem because, the selector should begin by a prefix followed by a dash.
Concerning the dot, the element must be consistent with the specification for Custom Elements which seems to allow the dot. Indeed, it may be something to do .

cc @mgechev ?

[2017-07-21 08:55] cherzog commented on #382
To make it clear, this is the calling template:

`<a class="ch-test-list-item" *ngFor="let t of tests" [test]="t" (click)="showTest(t)"></a>`

The prefix is "ch"

[2017-07-21 09:24] mgechev commented on #382
Not sure if using class selector for components could be considered a best practice.

According to the style guide we worked on, components should be used with elements selectors.

@cherzog if this rule doesn't align with your internal style guidelines, you can disable it locally with `/* tslint:disable:rule-name */`.

[2017-07-21 09:24] #382 closed

[2017-07-23 01:29] kevinphelps opened #383 "no-access-missing-member does not find members in base classes"
Using `myMethod` from the `BaseComponent` class in the `MyComponent` template will result in an error.

`The method "myMethod" that you're trying to access does not exist in the class declaration.`

[code]

[code]

[code]

[2017-07-23 05:39] wKoza commented on #383
duplicate of #361

[2017-07-23 05:39] #383 closed

[2017-07-25 19:07] BorntraegerMarc commented on #365
Same thing in an HTML. This works:
[code]

this generates an error:
[code]

this is the error: `The pipe operator should be surrounded by one space on each side, i.e. " | ".`
do you know when you can release a fix for this? My CI is broken because of this...

[2017-07-25 20:35] mgechev commented on #365
You can disable the rule for now until we fix the issue.

[2017-07-25 20:41] BorntraegerMarc commented on #365
How do I disable it?

[2017-07-26 05:50] wKoza commented on #365
you should simply drop option `check-pipe` in your tslint file

[2017-07-26 10:10] abierbaum commented on #377
Would it be possible to also add a rule that looks for elements in component templates that have text content but no i18n attribute?

One issue we are having on our team is simply enforcing that people mark all the exposed strings for extraction and translation.

[2017-07-26 10:31] mgechev commented on #377
This should be relatively straightforward. I will add it as part of this issue.

[2017-07-26 10:32] abierbaum commented on #377
@mgechev Awesome.  Thanks!!!

[2017-07-26 10:39] mgechev commented on #371
@wKoza would you want to keep it in the next release or schedule it for future releases?

[2017-07-26 10:41] mgechev commented on #265
I'll close this issue for now. Not sure how it aligns with the future vision of the project.

[2017-07-26 10:41] #265 closed

[2017-07-26 12:48] wKoza commented on #371
In the next release ! Tonight, It's holiday time ;)

[2017-07-26 14:13] mgechev commented on #371
Sounds good! I am planning to focus on making existing rules stable (check-pipe, especially) and working on i18n.

[2017-07-26 16:14] mgechev commented on #373
@rafaelss95 tsc itself reports the error in case you don't pass argument to the `@Inject` property decorator.

[2017-07-26 16:14] #373 closed

[2017-07-27 11:37] wulfsberg commented on #374
I think this also warrants taking another look at https://github.com/mgechev/codelyzer/issues/224.

The "Angular Fundamentals" specifically recommends aliasing an input variable to the directive selector
(https://angular.io/guide/attribute-directives#binding-to-an-input-property), so I really think Codelyzer should recognize this special case and not flag it as an error.

(I am aware that it can b

[2017-08-02 14:08] mgechev commented on #377
@abierbaum both rules are implemented. Should be ready to use in codelyzer@3.2.0.

[2017-08-03 07:25] ciesielskico opened #387 "Component extends AbstractComponent -> The property does not exist"
I have a component that extends an AbstractComponent class with common properties within my app's components.

Codelyzer throws warnings, that the components access a property that does not exist in their declaration.

[2017-08-03 11:41] thorstenhirsch commented on #338
I could work around this problem by creating a symlink in the nested node_modules directory to the project's node_modules/codelyzer directory:
`node_modules/ng-socket-io/node_modules/codelyzer -> ../../codelyzer`

[2017-08-03 13:33] mgechev commented on #387
Take a look at the existing issues.

[2017-08-03 13:33] #387 closed

[2017-08-03 16:04] rafaelss95 commented on #379
Maybe it worth to create a new issue for this, but since the title is a bit generic, let's report it here:

Having:

[code]

Results in: the property "auto" that you're trying to access does not exist in the class declaration.

[2017-08-03 16:13] mgechev commented on #379
That's the expected behavior from the rule [`template-use-public`](https://github.com/mgechev/codelyzer/blob/master/src/templatesUsePublicRule.ts).

[2017-08-05 16:20] panuruj commented on #377
In general, I would not recommend overriding the auto-generated ID. In a project that have thousands of strings to be translated, it is error prone to rely on the developer to ensure that the ID is unique across the entire application.

[2017-08-05 20:18] #371 closed

[2017-08-05 20:55] #377 closed

[2017-08-05 21:06] mgechev commented on #378
Will move it to the next release in order to not bloat this one.

[2017-08-06 09:55] lazarljubenovic opened #390 "[feat] Lint passing function ref to output handlers"
As somebody who switches a lot between Angular, React and Vue, I often make mistakes in templates because of their different syntax. While most of mistakes simply produce syntax errors, there's one which keeps driving me mad:

[code]

In React and Vue, you pass in a reference to the function which will be called when `click` event occurs. In Angular, you _have_ to write an expression. You almost d

[2017-08-06 22:16] mgechev commented on #390
This looks useful.

It could be generalized to: "Verify that event handlers produce side effect".

In case the expression is something like: `(click)="foo(bar)"` and `foo` is a pure function, the handler is pointless. Not sure how trivial this will be.

[2017-08-07 08:39] wKoza commented on #390
The language service already proposes this with this error "Unexpected callable expression. Expected a method call" in our templates.  This is not what you are looking for ?

[2017-08-07 16:39] mgechev commented on #390
Cool, lets close the issue for now then.

[2017-08-07 16:39] #390 closed

[2017-08-08 15:13] abierbaum commented on #377
@mgechev Thanks for adding this!!!

[2017-08-08 17:41] mgechev commented on #379
Lets reopen the issue since there are problems in other rules (`angular-whitespace` has some flaws).

[2017-08-09 15:05] whyboris opened #391 "Why explicitly exclude Angular 5?"
Sorry I am unsure where/whether to ask:

Why is Angular 5 explicitly excluded as a peer dependency in _package.json_?
see: https://github.com/mgechev/codelyzer/blob/master/package.json#L75

[code]

[2017-08-09 15:06] mgechev commented on #391
Because we're not sure if there won't be any breaking changes in the internal APIs that we're using.

[2017-08-09 15:06] #391 closed

[2017-08-09 15:13] whyboris commented on #391
Thank you 👍

[2017-08-11 10:33] SridharSathya opened #392 ""Property doesn't exist" warning appears for extended classes"
Hi team,

The package is really nice to have good coding practice. But there is one problem which I face.

In my component1.ts I have the variable
export class firstComponent{
@Input editable: boolean = false;
....
...

I am extending component1.ts in component2.ts like below

export class secondComponent extends firstComponent{
....
....

And in my component2.html, I am using
<button [disabled] =

[2017-08-11 15:03] mgechev commented on #392
Please, take a look at existing issues.

[2017-08-11 15:03] #392 closed

[2017-08-11 17:48] DmitryEfimenko opened #393 "use-host-property-decorator: case with route animations"
The case when you'd want to use `host` property for route animation is quite common:
[code]
You would not want to use HostBinding in the class because this property would just be unused, and possibly trigger another linting error.

Perhaps, use-host-property-decorator should have an exception for the animation bindings.
I also feel this should be added to the [style guide](https://angular.io/guide

[2017-08-12 02:43] mgechev commented on #379
The problem in all rules which involve `EmbeddedTemplate` is that the syntax is being desugared from:

[code]

to:

[code]

which breaks our mapping. Here's [the solution by the language service](https://github.com/angular/angular/blob/master/packages/language-service/src/completions.ts#L300-L375). It's not straightforward. Most likely I'll reuse it, however, we risk to have frequent breaking chan

[2017-08-12 16:39] wKoza commented on #393
You can suggest this thought here with the prefix `docs(aio): `.

[2017-08-12 20:02] wKoza commented on #379
mmhm, i hope this will be okay ...

[2017-08-12 20:47] mgechev commented on #379
I'm afraid we'll need to [keep this](https://github.com/mgechev/codelyzer/blob/master/src/angular/templates/basicTemplateAstVisitor.ts#L12-L78). It can be implemented with a strategy, doesn't have to be in a long function but the logic will remain.

[2017-08-14 13:22] schmitch commented on #191
Actually I'm on codelyzer 3.1.2 and still getting that error.

[2017-08-14 13:41] CSchulz commented on #191
Use Angular's AoT or revert back to 2. There will be no fix: https://github.com/mgechev/codelyzer/issues/191#issuecomment-307876588

[2017-08-16 08:59] leocaseiro commented on #191
@mgechev sorry If I misunderstood, but I'm still having issues with extended classes.

It seems working fine for Classes, but not for templates inline and external `.html` with these versions:

[code]

I can use the property in the extended class, however, if I try to access in the template, the `ng lint --type-check` is giving errors:

[code]

Eq:
[code]

[code]

I wonder how would I run ng-lint

[2017-08-16 09:02] CSchulz commented on #191
@leocaseiro You don't run lint with AoT, you run a seperate AoT build which comes up with such errors.

[2017-08-16 09:03] leocaseiro commented on #191
Thanks @CSchulz
I thought so.

My question is: How can I pass my lint, though?

[2017-08-16 09:06] CSchulz commented on #191
https://github.com/mgechev/codelyzer/issues/191#issuecomment-307685909

You can disable the rule and rely on the AoT build.

[2017-08-16 12:43] csvn opened #394 "no-access-missing-member issue with ngForm template variable"
## Expected behavior
No errors

## Actual behavior
I get the error `The property "form" that you're trying to access does not exist in the class declaration.`

## Minimum reproducible code
[code]

[code]

[code]

## Suggestion
[Change this line's](https://github.com/mgechev/codelyzer/blob/master/src/angular/config.ts#L66) selector from `'form'` to `'form, [ngForm]'`. This will match the definition

[2017-08-16 12:57] csvn opened #395 ""predefinedDirectives" overwrites default directive configuration"
## Description
There is currently no way to just **extend** the `predefinedDirectives`. With the below config the settings for `common/forms/router/material` directives are lost.

[code]

## Suggestion
It would be nice if there was another field (e.g. `additionalPredefinedDirectives`) or a flag (e.g. `useDefaultPredefinedDirectives: boolean`) so that [all these settings](https://github.com/mgechev

[2017-08-16 13:02] csvn commented on #394
I created a pull request if this seems reasonable to the maintainers. #396

[2017-08-16 13:40] wKoza commented on #395
The rule `no-access-missing-member` will be dropped in the next release, so I don't think that is worth it.

[2017-08-16 13:49] csvn commented on #395
@wKoza Oh, I had no idea. Yeah, might as Wall close this issue.

[2017-08-16 13:49] #395 closed

[2017-08-16 18:09] #394 closed

[2017-08-17 10:41] RandomShaper opened #397 "[feature] Friendlier checking of validator directive names"
Angular builtin validators are suffixed with `Validator`, not `Directive`.

Would it be possible to allow directives to follow that, as long as they implement the `Validator` interface?

[2017-08-17 15:39] wKoza commented on #397
it seems to make sense. I'm ok.

[2017-08-17 18:44] wKoza commented on #397
I had thought about that, but as you say, its not context dependent.  I prefer the second option even if it's not extensible.
We should also manage the case of `AsyncValidator`.

[2017-08-17 19:18] RandomShaper commented on #397
Yes, the second option seems the way to go.

And in addition to `AsyncValidator`, suffix `ValueAccesor` for the `ControlValueAccessor` interface.

I've checked the Angular API for more interesting directive naming cases and I don't see any other naming schema of interest for developers. Either they begin with `Ng` (which seems to give them permission to skip the naming guidelines) or are too core

[2017-08-18 12:29] wKoza commented on #397
mhm, i'm not in favour of implementing a rule for a `ControlValueAccessor `. For me, it's just a Component with a specific behaviour. @mgechev , an opinion ?

[2017-08-18 13:02] RandomShaper commented on #397
The check would be for directives implementing that interface, allowing/forcing them to have the right suffix in their name.

That is, leaving components alone.

[2017-08-21 12:46] MaZderMind commented on #191
The AOT-Build does not catch usage of inexisting properties in `@angular/cli 1.2.6` / `@angular/compiler-cli / ^4.3`.

[2017-08-21 12:56] CSchulz commented on #191
Could be a bug with Angular itself. I am running 4.2 and there it is found. You should report this in the angular repository with an example.

[2017-08-24 00:30] RandomShaper opened #398 "[feature] Don't warn about abstract components not declared"
If a `Component` class is declared abstract you should not get this warning for it:

What do you think?

[2017-08-24 02:58] mgechev commented on #398
@RandomShaper this warning comes from the language service, codelyzer doesn't perform such check.

[2017-08-24 02:58] #398 closed

[2017-08-24 04:09] RandomShaper commented on #398
Oops. Sorry then! :)

[2017-08-24 04:37] mgechev commented on #398
No worries.

[2017-08-24 12:49] jobvanstiphout commented on #135
@mgechev A rule for this is landing soon in material2, would be nice to include this rule in codelyzer. It uses a whitelist to disable it for certain components.

[2017-08-24 18:49] mgechev commented on #135
Okay, lets reopen the issue.

[2017-08-28 11:26] leonadler opened #399 "Error on @Pipe decorator"
Follow-up on #111, this code we use for mocking pipes in unit tests throws `TypeError: Cannot read property 'text' of undefined
    at node_modules/codelyzer/pipeNamingRule.js:98:44`:

[code]

Instead of throwing, maybe the rule can ignore variables in the decorator?

[code]

Alternatively, a meaningful error message (like in #111) mentioning the file in question would be better than throwing.

--

[2017-08-28 11:40] leonadler commented on #399
To clarify: The same code works and does not break codelyzer when rewritten like this:
[code]
However, knowing that this file is the culprit instead of getting a 'property of undefined' error thrown would be preferrable.
[This is the method that throws](https://github.com/mgechev/codelyzer/blob/83ece6906384e2443b8b99d2f842e288b8864873/src/pipeNamingRule.ts#L104) since it is called with a `property

[2017-08-28 14:42] mgechev commented on #399
Yes, codelyzer should ignore variables. Thanks for reporting the issue, I'll be on it.

[2017-08-28 15:14] wKoza commented on #379
Hi @mgechev, have you progress in this issue ?

[2017-08-28 15:28] mgechev commented on #379
Haven't done anything here yet. The way to go is custom expression parser for *-prefixed attributes.

[2017-08-29 15:10] wKoza commented on #379
ok, I'll look at this If I have time.

[2017-08-31 13:54] markwhitfeld commented on #378
This would be an amazing feature!
... and it even looks like @maxime1992 offered some beer to get it fixed 😉

[2017-08-31 14:30] wKoza commented on #378
I keep track of that ;)

[2017-09-01 09:12] Umayalmuthupalaniappan opened #400 "no-unused-css rule does not identify pseudo classes in CSS"
Hi,

I am using the no-unused-css rule of codelyzer in my typescript project.I extend codelyzer in tslint.json and use the various rules in codelyzer.

I am referring to a CSS in the style URL of typescript component. The CSS file has classes with pseudo elements like  :hover, :after etc. When I run lint in my project I get errors saying that there are unused styles in CSS which points to the clas

[2017-09-01 12:22] wKoza commented on #400
This rule is highly experimental and has a lot of flaws at the moment.

Can you add  tslint:disable:no-unused-css in the corresponding typescript file ?

[2017-09-05 10:28] intellix opened #402 "directive-selector to allow button[xcButton] style selectors"
My Component/Directive prefixes are `xc` like so:

[code]

And I've created a Directive for button loaders that looks like:

[code]

The selector is: `selector: 'button[xcButton]'` but Codelyzer complains that it should be prefixed with xc. I feel like something like this should be allowed, or at least configurable to be

[2017-09-05 13:31] mspl13 opened #403 "Class method and property inheritance for components"
## Description
This bug was originally reported over at the angular-cli repository (https://github.com/angular/angular-cli/issues/7587). If you extend a class with an angular component annotation and reference class properties in the child's component html file, the linter will throw an error even though angular handles the inheritance perfectly fine and everything works as expected.

## Steps to

[2017-09-06 00:18] shahraship commented on #403
+1

[2017-09-06 07:53] lazarljubenovic commented on #403
@shahraship Please use the GitHub's reaction functionality to "vote" on issues instead of writing the "+1" responses.

[2017-09-06 08:00] wKoza commented on #402
Hi @intellix , it seems legitimate.  We will investigate. Thank you for this issue.

[2017-09-06 08:09] wKoza commented on #403
Hi @mspl13,  Take a look at the existing issues. For example #285 .

[2017-09-06 08:09] #403 closed

[2017-09-07 07:23] jobvanstiphout commented on #135
An even more beautiful rule has landed in material2, to lint any properties of any decorator:
https://github.com/angular/material2/blob/master/tools/tslint-rules/validateDecoratorsRule.ts

[2017-09-07 12:16] mspl13 commented on #403
@wKoza Thanks for the quick response and sorry for the duplicate. Just to be sure: the fix for the issue is that the rule will be removed because the functionality is out of scope for this tool? If so, we should report back to the angular-cli team, which seems to include this rule by default (see for example https://github.com/angular/angular-cli/issues/7587).

[2017-09-07 13:06] wKoza commented on #403
Yes, That's it ! I think it's an a mistake on our part.

@mgechev , you had create this [PR](https://github.com/angular/angular-cli/pull/6651) but we should also modify this [file](https://github.com/angular/angular-cli/blob/946933338095e6437c794a978b0da67da56b2ec0/packages/%40angular/cli/blueprints/ng/files/tslint.json#L131L132)

I went to open a new PR.
Thanks

[2017-09-07 13:18] wKoza commented on #403
Yes, That's it ! I think it's an a mistake on our part.

@mgechev , you had create this [PR](https://github.com/angular/angular-cli/pull/6651) but We would also have to modify this [file](https://github.com/angular/angular-cli/blob/946933338095e6437c794a978b0da67da56b2ec0/packages/%40angular/cli/blueprints/ng/files/tslint.json#L131L132) .

I went to open a new PR on devkit repo
Thanks

[2017-09-08 05:50] #379 closed

[2017-09-08 05:57] mgechev commented on #402
@intellix, the following spec passes:

[code]

Would you provide a code snippet so we can reproduce the problem?

[2017-09-08 06:27] #365 closed

[2017-09-08 06:33] mgechev commented on #397
@wKoza, this sounds good.

[2017-09-08 06:34] BorntraegerMarc commented on #365
@mgechev could you publish an update with this guy so we can get a clean CI build again? :)

[2017-09-08 06:34] mgechev commented on #393
Lets close this issue and keep the discussion in the Angular issue tracker when initiated.

[2017-09-08 06:34] #393 closed

[2017-09-08 06:35] mgechev commented on #365
Yes, I'll do over the weekend. Will also do some dogfooding to verify that everything is fine.

[2017-09-08 06:37] mgechev commented on #400
Lets close the issue for now. There are plenty of corner cases which are not handled in this rule. Probably, it's worth introducing a separate tool for this, which performs analysis over the entire project.

[2017-09-08 06:37] #400 closed

[2017-09-08 06:39] mgechev commented on #397
Will take this one right now.

[2017-09-08 10:22] #399 closed

[2017-09-08 10:32] intellix commented on #402
Ahah, now I see my folly :)

**directive-selector**: camelCase
**component-selector**: kebab-case

I'm using a Component with an attribute selector because I wanna have styles and a template. It seems what I'd like to enforce is:

**Attribute based selectors**: camelCase
**Element based selectors**: kebab-case

[2017-09-08 10:33] #402 closed

[2017-09-09 09:30] wKoza opened #408 "Add a status for each rule"
We now have many rules offered by Codelyzer. However, some are experimental, others deprecated and many are stable.
it would be nice to give clarity on this to our users.
Maybe we can add a property in `IRuleMetadata`.

[2017-09-09 20:31] williamBurgeson opened #409 "Request for (beta) support for angular 5 (currently beta 6)"
Noticed when experimentally upgrading my ng 4 (angular-cli) project to ng 5 (beta 6) there was a codelyzer warning that it only supports < 5.0.0

I've run ng test and ng build without any problems, other than a build warning (although I didn't do code coverage, or ng build --prod for that matter)

Just one to put on the work path so when ng 5 goes live we don't get warnings.

[2017-09-11 18:50] mgechev commented on #374
Lets move it to the next milestone.

[2017-09-11 19:17] #397 closed

[2017-09-11 22:41] nicolashenry opened #410 ""contextual-life-cycle" false positive on Directive"
According to [this test file](https://github.com/angular/angular/blob/4.3.x/packages/compiler/test/directive_lifecycle_spec.ts), the "contextual-life-cycle" rule should not report errors on ngAfterContentInit/ngAfterContentChecked/ngAfterViewInit/ngAfterViewChecked being used on directive. However, the [documentation ](https://angular.io/guide/lifecycle-hooks) seems to be wrong about this.

[2017-09-12 06:34] wKoza commented on #410
Hi @nicolashenry,
It's true. There is a problem in the documentation. An issue is open [here](https://github.com/angular/angular/issues/10221).

[2017-09-12 15:14] #410 closed

[2017-09-12 18:52] rolandjitsu commented on #379
I'm still seeing some problems with the `check-pipe` rule for:
[code]

[code]

For the latter, removing `&plusmn;` seems to fix it.

[2017-09-12 18:55] mgechev commented on #379
@rolandjitsu thanks for pointing this out! I'll move it to a separate issue. Hopefully we'll be able to soon clean the glitches and open a PR to Angular CLI with the new features.

[2017-09-12 18:56] mgechev opened #412 "Issue in `check-pipe`"
By @rolandjitsu

[2017-09-13 10:17] StefH commented on #191
@leocaseiro The problem with disabling the rule is that you lose this exact validation.

So is there a codelyzer version (and tslint combination) which solves this issue ? (FYI: I'm using this in a WebpackStarter project, not in a Angular CLI project)

[2017-09-14 02:32] leocaseiro commented on #191
@StefH, you can keep it in your `tslint.json`, but add the comments to pages that are extended https://github.com/mgechev/codelyzer/issues/191#issuecomment-295092702

[2017-09-14 06:53] sefo opened #413 "Member access error in templates for extended classes"
#### Bug report

- __TSLint version__: 5.7.0
- __Codelizer version__: 3.2.0
- __TypeScript version__: 2.5.2
- __Running TSLint via__: VSCode

#### TypeScript code being linted

[code]
[code]
[code]

#### Actual behavior

Error: The property "menu" that you're trying to access does not exist in the class declaration.

#### Expected behavior
No error.

In the template if I replace menu by this['menu

[2017-09-14 07:06] StefH commented on #191
@leocaseiro

The error message is pointing to a **html** file.

Example:

So where to put the lines ?
`/* tslint:disable:no-access-missing-member */`
`/* tslint:enable:no-access-missing-member */`

[2017-09-14 09:18] wKoza commented on #413
duplicate #191

[2017-09-14 09:18] #413 closed

[2017-09-14 10:16] StefH commented on #413
Now both issues are closed? Please re-open one !

[2017-09-14 10:16] StefH commented on #191
Now both issues are closed? Please re-open one !

[2017-09-14 10:19] CSchulz commented on #413
This won't be fixed https://github.com/mgechev/codelyzer/issues/191#issuecomment-307685909

You can use the AoT build of Angular.

[2017-09-14 10:50] leocaseiro commented on #191
Try on `src/app/example/example.component.ts`

[2017-09-14 12:00] wKoza commented on #413
@StefH , 'no-access-missing-member` is are out of date since the Language service Angular make this job. You can remove this rule now.

[2017-09-14 16:12] dominique-mueller opened #415 ""angular-whitespace" rule false-positive (when using string with pipe, ngx-translate)"
When using the "angular-whitespace" rule together with the translation pipes provided by ngx-translate, an error gets thrown although there actually is none.

The following code:

[code]

Results in the following error:
[code]

[2017-09-14 16:14] dominique-mueller commented on #415
Interestingly enough, this only seems to happen when using **content projection / transclusion**. In our case, for instance:

[code]

Everything works find when used within divs (also when using ngIf) or when using this for attribute binding.

[2017-09-14 17:42] mgechev commented on #415
Thanks for reporting this! We'll take a look at the issue.

[2017-09-15 13:45] BorntraegerMarc commented on #365
@mgechev the issue seems not to be resolved for me:
[code]

this is the HTML code:
[code]

[2017-09-16 07:46] wKoza opened #416 "Issue in check-pipe with interpolation"
By @BorntraegerMarc,

[2017-09-16 07:47] wKoza commented on #365
Closed and reported to #416

[2017-09-16 07:57] wKoza commented on #416
After investigation, our system of unit tests doesn't detect any problems.
But, indeed, there is a false positive in my IDE (WebStorm).

It's not a regression over the last release (v3.1.2).

[2017-09-16 08:01] wKoza commented on #415
@dominique-mueller ,

Can you test this :

[code]

[2017-09-16 15:38] BorntraegerMarc commented on #416
@wKoza what OS are you using? I could only reproduce it with widows until now

[2017-09-16 16:22] wKoza commented on #416
OSX, @BorntraegerMarc .

[2017-09-18 07:22] dominique-mueller commented on #415
Hmpf. Weirdly enough, I can no longer reproduce this issue, seems it has disappeared over the weekend. Perhaps a caching issue or something broken on my machine.

Thanks though for the quick replies :)

[2017-09-18 07:22] #415 closed

[2017-09-18 09:24] szykov commented on #338
I didn't generate project with angular-cli but after updating receive this error:

[2017-09-20 08:28] Martin-Wegner opened #417 "no-access-missing-member reports false positive"
I tried to use https://github.com/kekeh/ngx-mydatepicker with this code:

[code]

The `no-access-missing-member` rule complains about:

[2017-09-20 14:42] mgechev commented on #417
Please, use the search to find similar issues.

[2017-09-20 14:42] #417 closed

[2017-09-20 15:04] Martin-Wegner commented on #417
https://github.com/mgechev/codelyzer/issues/264 ?

[2017-09-20 17:25] wKoza commented on #416
Ok, there is a difference between angular compiler 4.3.6 and 4.4.3 that impacts codelyzer ... This is why our travis crashs

[2017-09-20 20:19] mgechev commented on #416
@wKoza maybe we can run conditionally the parser using `semver-dsl` like we do for other API differences?

[2017-09-21 06:20] wKoza commented on #416
Yes, we can do that !

[2017-09-21 15:04] #416 closed

[2017-09-22 23:36] buu700 opened #419 "no-access-missing-member Material Menu support"
When using `#menu='matMenu'` in an HTML template instead of `#menu='mdMenu'` (the latter of which is deprecated as of the latest Material beta release), I get the error `The property "menu" that you're trying to access does not exist in the class declaration.`. It looks like [this](https://github.com/mgechev/codelyzer/blob/bc412c5cee4e43fa5736990dad24ce1b4ab3da4b/src/angular/config.ts#L70) is prob

[2017-09-22 23:37] mgechev commented on #419
Please, take a look at the existing issues.

[2017-09-22 23:37] #419 closed

[2017-09-23 09:39] Ritzlgrmft commented on #415
I have the same problem, and it doesn't disappear by itself.

My code is par example:

[code]

This is complained by codelyzer.
However, if I add a `span`, codelyzer is satisfied:

[code]

It would be great, if you could fix it in an upcoming release, so that it will work also without the `span`

[2017-09-23 09:45] wKoza commented on #415
We have fixed it on the master branch. A new release will soon be available.
cc/ @mgechev

[2017-09-23 11:42] arielhenryson opened #420 "no-access-missing-member not finding super class method"
When "no-access-missing-member": true, and one of the template try to access member that was inherited from superclasses the error is thrown

[2017-09-23 13:14] wKoza commented on #420
Please, take a look at the existing issues.

[2017-09-23 13:14] #420 closed

[2017-10-03 09:33] elvirdolic opened #421 "Lint issue with latest angular/material2 beta.11 update"
The property "bookselection" that you're trying to access does not exist in the class declaration

<mat-menu #bookselection="matMenu">
blah
</mat-menu>

[2017-10-03 15:14] mgechev commented on #421
Please take a look at this issue https://github.com/mgechev/codelyzer/issues/264

[2017-10-03 15:14] #421 closed

[2017-10-03 15:51] elvirdolic commented on #264
Can we disable these rules until this gets in?

[2017-10-05 08:29] adros opened #422 "Error while parsing TS file with mixin"
I get this error,

    TypeError: Cannot read property 'text' of undefined at /home/UX/arakovskyux/workspaces/pvzp-clfe/node_modules/codelyzer/noAttributeParameterDecoratorRule.js:52:42
        at /home/UX/arakovskyux/workspaces/pvzp-clfe/node_modules/codelyzer/util/function.js:26:59
        at Maybe.bind (/home/UX/arakovskyux/workspaces/pvzp-clfe/node_modules/codelyzer/util/function.js:21:20)

[2017-10-05 08:30] mgechev commented on #422
@adros thanks for sharing the issue. I'll take a look at it today.

[2017-10-05 08:41] mgechev commented on #422
The issue should be fixed soon https://github.com/mgechev/codelyzer/pull/423.

[2017-10-05 08:47] mgechev commented on #409
Angular 5 has breaking changes for codelyzer. There's no longer `JitReflector`.

In the next a couple of days I'll see how much changes will be required and push an update.

[2017-10-05 13:16] almeidap opened #425 "Exported template variables are reported incorrectly (The property that you're trying to access does not exist in the class declaration)"
Codelyzer (3.2.0) is still reporting errors for exported template variables:

[code]

[code]

I'm creating a new issue as #189 is already locked. Is there a workaround to suppress this error without disabling `no-access-missing-member`?

Environment:
- Codelyzer: 3.2.0
- TSLint: 5.7.0
- TypeScript: 2.5.2
- Angular 4.4.3
- AngularCLI: 1.4.3

[2017-10-05 17:15] #422 closed

[2017-10-06 07:26] mgechev commented on #408
@wKoza good idea!

[2017-10-06 23:08] pnahtanoj commented on #338
I'm having this problem as well:
    "@angular/cli": "^1.4.5",
    "codelyzer": "3.1.2",

[2017-10-07 02:49] rajjaiswalsaumya opened #426 "Feature request : Force a type to be imported and extended"
Any way to force a particular type to be imported.

E.g. I want any developer creating any component should import the BaseComponent class as some basic functionality is already implemented in it. I don't want people to forget including that class altogether.
Similarly, a way to force inclusion of BasePipe and BaseDirective.

This will endure the basic functionalities will always be there.

Also,

[2017-10-08 14:13] dennisfleischmann commented on #338
yes we also facing this issue

 "dependencies": {
    "@angular-redux/store": "^6.5.7",
    "@angular/common": "^4.0.0",
    "@angular/compiler": "^4.0.0",
    "@angular/core": "^4.0.0",
    "@angular/forms": "^4.0.0",
    "@angular/http": "^4.0.0",
    "@angular/platform-browser": "^4.0.0",
    "@angular/platform-browser-dynamic": "^4.0.0",
    "@angular/router": "^4.0.0",
    "c3": "0.4.17",

[2017-10-08 22:35] lazarljubenovic opened #427 "Feature request: disallow explicit calls to lifecycle hooks"
Disallow code like

[code]

Instead, we should write something like

[code]

As [Rob put it](https://gitter.im/angular/angular?at=59daa728f7299e8f53c2c4f3), "don't call your own hooks, because one day, you'll be debugging something and you'll be really confused why hooks are firing unexpectedly/out of order/whatever".

Thought it would be a nice addition to codelyzer.

[2017-10-09 03:25] mgechev commented on #427
I like this proposal. Lets implement it.

[2017-10-09 06:09] pgrzywaczcic commented on #191
I have this issue in my project too:
codelyzer: 3.1.2
tslint: 5.3.2
angular/cli: 1.4.2

[2017-10-09 15:01] franekp opened #428 "Feature request: disallow modifying input properties"
Disallow assigning values to input properties of a component, as if they were readonly.
for example:
[code]

[2017-10-09 15:17] mgechev commented on #428
Sounds like a good idea.

[2017-10-09 17:19] lazarljubenovic commented on #426
How would you know which ones should be extended? I don't see a benefit of extending _all_ component in a project.

[2017-10-09 19:36] kputh commented on #81
I'd argue that these presets are codelyzer-specific because they build on rules provided mostly by codelyzer.

[2017-10-11 07:24] rajjaiswalsaumya commented on #426
That can be specified part of codelizer conf

[2017-10-11 12:20] lazarljubenovic opened #429 "Enforce wrapping all validators in an array when using FormBuilder"
It often happens to me that I accidentally register a validator as async validator because I fail to wrap them into an array. Basically, I have code like this for a long time:

[code]

A few days later, I realize I need to add another validator, so I do the following:

[code]

And :boom:, this is a _run-time_ error :scream: because this syntax expects `[value, syncV, asyncV]`. What I actually want

[2017-10-11 12:24] mgechev commented on #429
@lazarljubenovic we should decide if we want to introduce this as style in the style guide.

You can open an issue [here](https://github.com/angular/angular/issues) and we can start the keep the discussion there.

To me this looks like an error which should be handled by the TypeScript compiler.

[2017-10-12 10:08] wKoza commented on #429
Hi @lazarljubenovic ,

For me , if you want more typing, you should use the constructor of `FormControl` like this :

[code]
With Codelyzer, it seems to be complicated.

[2017-10-12 10:09] mgechev commented on #429
Lets close the issue for now.

[2017-10-12 10:09] #429 closed

[2017-10-12 10:14] almeidap commented on #425
@mgechev Thanks for the clarification. Could you point me to the workaround as I couldn't find it on the project's README.md (neither in master or 4.0.0-beta-4)?

[2017-10-12 10:44] lazarljubenovic commented on #429
Thanks for the response, guys. @wKoza's suggestion works obviously, but it's too verbose when there are many forms. I'll see to open an issue at Angular repo or check out why there are not stronger types when using FormBuilder.

[2017-10-12 11:34] wKoza opened #430 "RxJS operators should not patch the prototype of Observable"
It's an [opened issue](https://github.com/angular/material2/issues/2622) by Rob that may be implemented in Codelyzer.

What do you think about that ?

[2017-10-12 12:28] mgechev commented on #430
@wKoza some time back I implemented [this](https://palantir.github.io/tslint/rules/no-import-side-effect/) tslint rule which makes sure we don't use imports with side-effects.

[2017-10-12 12:32] mgechev commented on #429
@lazarljubenovic sounds like a good idea. The `any` types in the `FormBuilder` can be changed, however, keep in mind that this will be considered a breaking change, so probably it won't land in the next major release.

[2017-10-12 14:16] wKoza commented on #430
humm... excellent !  This rule deserves to be discovered more ...

[2017-10-12 14:20] wKoza commented on #412
@mgechev , do you have any idea for manage html entities (we have a problem with the position) ?

[2017-10-12 14:31] mgechev commented on #412
@wKoza, the compiler converts them to unicode chars?

[2017-10-12 14:31] #430 closed

[2017-10-12 15:03] wKoza commented on #412
yes, @mgechev

[2017-10-12 15:29] mgechev commented on #412
Not sure if there's a way to handle this, except the one I shown above, used by the language service. However, this way, I'm afraid we're getting coupled even further to lower, unstable APIs :-/.

[2017-10-12 17:51] kykint opened #431 "use-life-cycle-interface is not working properly for extended classes"
If we have next code:

[code]

We receive error, that ExtendedSomeComponent not implements OnInit , but it is not true. Is it possible to fix it?

[2017-10-12 22:58] mgechev commented on #431
@kykint codelyzer doesn't support inheritance chain since it does not perform type checking. I'd recommend you to disable the rule for this file or implement the interface explicitly for the child class as well.

[2017-10-12 22:58] #431 closed

[2017-10-13 15:09] HideDev commented on #291
Any news?

[2017-10-13 15:42] NiKlimenko commented on #81
@mgechev any updates about this suggestion?

[2017-10-18 12:32] Dzivo commented on #191
@pgrzywaczcic

disabling is not a solution for us who are not using angular cli.

[2017-10-18 15:12] vivekimsit opened #432 "Error using in latest angular cli"
I have following versions:

[code]

It seems like I am doing something wrong. I will update soon

[2017-10-18 15:17] mgechev commented on #432
This doesn't seem an issue related to codelyzer. As Angular CLI says, you cannot use `new` command inside of Angular CLI project.

[2017-10-18 15:20] vivekimsit commented on #432
@mgechev ok, that was a stupid thing from me. Can you please guide me to doc for setting it up for existing angular-cli project?

[2017-10-18 15:23] mgechev commented on #432
You can take a look at the [Angular CLI repository](https://github.com/angular/angular-cli).

[2017-10-18 15:23] #432 closed

[2017-10-19 05:35] reduckted opened #433 "i18n rule is missing from the npm package"
The new i18n rule is not in the npm package (v3.2.1)

I think this is because it's not exported from index.ts

[2017-10-19 06:59] mgechev commented on #433
@reduckted thanks for pointing this out. We should definitely fix this. I will be able to re-publish it over the weekend.

[2017-10-20 03:19] lukiffer opened #434 "Feature request: force access modifier on @Input and @Output decorators"
`public` is implied by using `@Input()` and `@Output()` and since TypeScript doesn't support the `internal` modifier, I can't think of a use case for an access modifier other than `public`. I know it's not super critical as the modifier is virtual and doesn't affect the JS artifact, but semantically it would be nice to check for this.

[2017-10-20 07:55] mgechev commented on #434
Hey @lukiffer thanks for giving codelyzer a try and thanks for the suggestion!

TypeScript supports `/* @internal */` annotation with a comment. Extending the syntax of TypeScript includes extension of the compiler that the language provides as well which is out of the scope of the tool.

[2017-10-20 07:55] #434 closed

[2017-10-22 14:19] wKoza commented on #191
@Dzivo , Angular CLI isn't necessary. You just should use the Language Service form Angular and disable this rule.

[2017-10-23 11:30] franekp opened #436 "Feature request: disallow returning object/array literals from getters in components"
When writing a component, it is very natural to write a getter that conditionally returns an object literal and use that getter inside a template. Such code confuses change detection because the getter returns a new object each time instead of reusing existing one.

Example:
[code]

[2017-10-23 16:23] csvn opened #437 "Built-in directive config not compatible with material2 beta.12"
All `md-/Md` prefixes has been removed in favor of `mat-/Mat` prefix. To those who upgrades, the codelyzer rule `no-access-missing-members` now throws errors on valid code.

[code]

The cause for this is that the configuration only exports `mdMenu`, not `matMenu`. Is it possible to have multiple exports (e.g. `exportAs: 'mdMenu, matMenu'`)? There are also several directives that are not configured

[2017-10-23 16:35] mgechev commented on #437
@csvn your suggestion sounds good. Would you open a PR with the update?

[2017-10-23 16:59] csvn commented on #437
@mgechev Sure, I'm on it!

[2017-10-23 18:31] #437 closed

[2017-10-23 18:32] #433 closed

[2017-10-24 02:06] reduckted opened #441 "decorator-not-allowed produces false positives after an error is found"
Once the `decorator-not-allowed` generates an error, it seems to generate more errors for decorators.

**Dependencies:**

|Package|Version|
|----------|---------|
|codelyzer|3.2.2|
|tslint|5.8.0|
|typescript| 2.5.3|
|angular/compiler|4.4.6|
|angular/core|4.4.6|

This code produces the expected errors (in `BadService`):
[code]

[code]

But, if you swap the order that the `GoodComponent` and `BadSer

[2017-10-24 07:25] jahd2602 commented on #192
@HFTSOL  That's why you have config files like `tsconfig.json` right?

[2017-10-24 08:29] Manduro opened #442 "i18n check-text edge cases"
Some cases where the i18n rule with `check-text` errors, but shouldn't (imo):

[code]

[code]

[2017-10-24 10:47] intellix opened #443 "Nested i18n linting"
A couple of us within our team accidentally nest i18n properties which will cause xi18n extraction to fail:
[code]

The error thrown during xi18n is:
[code]

Not sure if this should fail Angular compilation or if there should be a linting rule to help identify these before they get merged. Thoughts?

[2017-10-25 03:40] apeter10 commented on #425
@almeidap On my side, I just disabled the no-access-missing-member rule (which applies only to templates).

[2017-10-25 09:42] mderazon opened #444 "How to use with Angular 1 (angular.js)"
When migrating angular.js app to Angular one of the [steps](https://angular.io/guide/upgrade#preparation) is to make sure your code is following the [john papa styleguide](https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md). We can use [Angular.js ESLint plugin](https://github.com/Gillespie59/eslint-plugin-angular) for that and import those set of rules.

But another step in t

[2017-10-25 13:28] bthharper opened #446 "Codelyzer hanging for "styles" attribute in Angular component"
I am developing an application using @angular/cli 1.4.9 and @angular 4.4.x , but have encountered an issue running `ng lint` on the code recently.  I've diagnosed this using ` tslint -c tslint.json .\src\some.component.ts` which never returns.

I have traced this down to the following code snipet:

[code]

Specifically the _styles_ options, if I remove this the above command succeeds.

I have play

[2017-10-25 13:40] bthharper commented on #446
Okay, my mistake and I've worked out what was wrong with my code ... but it would be good if this was reported rather than causing the tool to hang.

I'd accidentally put a quote (") after the *20px;*.

[code]

The typescript / angular compilers don't report this, but tslint fails.

[2017-10-25 14:48] mgechev commented on #444
Codelyzer does not support AngularJS and introducing such feature is not part of the roadmap.

[2017-10-25 14:48] #444 closed

[2017-10-25 14:53] mgechev commented on #446
We can update the CSS parser that we use. Let's keep that open for now.

[2017-10-27 19:08] maosmurf opened #447 "Allow angular5"
Hi,

angular 5 is almost out (currently at RC7)
Codelyzers peerDependencies still state `<5.0.0` though.
Any reasons not to bump it?
We were working with a fork of yours, so far everything is stable.
https://github.com/kurier/codelyzer/commit/3c18cff13e5d8af258425d93a4d6f15e526bb995

Thank you!

[2017-10-27 23:34] mgechev commented on #447
https://github.com/mgechev/codelyzer/pull/439

[2017-10-27 23:34] #447 closed

[2017-10-29 20:34] #409 closed

[2017-10-29 20:50] mgechev commented on #441
@reduckted thanks for reporting this issue!

[2017-10-29 20:56] #264 closed

[2017-10-29 21:12] mgechev opened #449 "Report when find output property prefixed with on"

[2017-10-29 21:12] mgechev commented on #449
https://github.com/mgechev/codelyzer/pull/440

[2017-10-29 21:12] #449 closed

[2017-11-01 20:04] mgechev commented on #442
Thanks for reporting this! Added it to the next release.

[2017-11-01 20:07] mgechev commented on #436
That's a good point! I think the proposal addresses only one of the problems and a generic solution might not be suitable for a linting rule without type checking (similar to the codelyzer rules).

Lets keep the issue open for now.

[2017-11-01 20:08] mgechev commented on #426
This looks like an issue outside the scope of codelyzer. Thanks for sharing your ideas @rajjaiswalsaumya!

[2017-11-01 20:08] #426 closed

[2017-11-01 20:09] mgechev commented on #427
Btw, this is not very trivial to solve in the generic case. We need to check if given object instance implements a lifecycle hook interface and later, it's method is being invoked somewhere.

However, I think a basic check, such as:

- Find all method invocations in a class.
- Look for method names reserved by lifecycle hooks.
- Report a warning if find one.

Seems good enough.

[2017-11-02 09:48] Martin-Wegner opened #450 "no-on-prefix-output-name is an unknown rule"
Using the new rule `"no-on-prefix-output-name": true` does not work with codelyzer 4.0.0:

[code]

[2017-11-02 20:33] dhardtke commented on #450
Yep, same issue. Even the downloaded zip file from "Releases" does not contain a `noOnPrefixOutputName.ts` inside the src dir :(

[2017-11-02 20:47] mgechev commented on #450
Will take a look at the problem today and issue a minor release.

[2017-11-02 20:51] mgechev commented on #450
Sorry, mistake in the release logs. The rule name is `no-output-on-prefix-name`.

[2017-11-02 20:51] #450 closed

[2017-11-03 08:27] Martin-Wegner commented on #450
@mgechev `test/noOutputOnPrefixNameRule.spec.ts`, `docs/src/worker.ts` and `src/noOutputOnPrefixNameRule.ts` still contain the wrong name `no-on-prefix-output-name` :(

[2017-11-03 11:56] Vaelor commented on #264
Why are these being dropped? Couldn't find why, especially `templates-use-public`?

[2017-11-03 13:09] wKoza commented on #264
Because the Angular Language Service already checks that

[2017-11-03 14:50] mgechev commented on #450
Hey Martin, would you open a PR with a fix?

[2017-11-03 14:59] Martin-Wegner commented on #450
https://github.com/mgechev/codelyzer/pull/451

[2017-11-03 15:00] Martin-Wegner commented on #450
@mgechev https://github.com/mgechev/codelyzer/pull/451

[2017-11-04 12:17] Ritzlgrmft opened #452 ""angular-whitespace" rule false-positive (when using string with pipe, ngx-translate)"
My code is par example:

[code]

This is complained by codelyzer: `The pipe operator should be surrounded by one space on each side, i.e. " | ".`
However, if I add a `span`, codelyzer is satisfied:

[code]

The same problem was already reported in #415. It was fixed in release 3.2.2, but in 4.0.1, it happens again.

[2017-11-06 09:56] reduckted opened #454 "Build scripts are not cross-platform"
The build scripts don't work on Windows. This makes it difficult for me (and others) to contribute to this project.

Some examples:

[code]

[code]

It would be great if these scripts were cross-platform!

[2017-11-08 23:01] michahell commented on #408
Agree.

[code]

... nor could I :-)

[2017-11-09 11:06] Tragetaschen opened #455 "Pipe usage shows invalid whitespace error"
Version: 4.0.1

I have reduced my template to the dead simple
[code]
and still `check-pipe` shows a white space error on the second line:
[code]

When I reduce it to just one line, the error goes away.
The file has Windows line endings:
![image](https://user-images.githubusercontent.com/1947968/32602417-509c0320-c546-11e7-9b92-29845b1043da.png)

[2017-11-13 10:42] timvl commented on #114
@phil123456  this should work:

[code]

[2017-11-15 15:36] tilowestermann commented on #338
You need to exclude the npm_modules directory from linting (see https://stackoverflow.com/a/44777489/184245):

[code]

[2017-11-16 22:40] rafaelss95 opened #457 "[Feature Request] - Do not allow EventEmitter in Service"
The [docs](https://angular.io/api/core/EventEmitter) about `EventEmitter` says:

Although there's nothing explicit saying that we SHOULDN'T use EventEmitter in a Service, [this excellent answer on SO](https://stackoverflow.com/questions/36076700/what-is-the-proper-use-of-an-eventemitter#answer-36076701) clarify things a bit more:

<hr>

Example:

[code]

[2017-11-17 11:42] Philip-Sultanescu opened #458 "The selector of the component "Component" should be named undefined"
I am getting an undefined naming error on the Angular Component selector.

Although name is ok, seems like codelyzer has a problem finding the name_1 parameter in
codelyzer/docs/dist/src/selectorNameBase.js
[code]

Here is my code:

[code]

I am using:

[code]

[2017-11-17 13:57] Philip-Sultanescu commented on #458
Found the problem, it was because I updated the packages but not my tslint.json.

Changed in  tslint.json
`"component-selector": [true, "element", "kebab-case"]`
to
`"component-selector": [true, "element", ["client"], "kebab-case"]`

and it worked.

[2017-11-17 13:57] #458 closed

[2017-11-17 14:12] FabienDehopre commented on #452
I have this issue even when using version 3.2.2

[2017-11-17 14:20] FabienDehopre commented on #452
BTW, the error happens randomly with 3.2.2.
I made a change (removed an empty line) and the error did not happen.

[2017-11-17 15:44] #378 closed

[2017-11-18 21:20] #441 closed

[2017-11-21 07:50] yluijten commented on #208
@mgechev do you have any idea when this issue will be picked up?

[2017-11-21 16:43] mgechev commented on #208
You can disable the codelyzer rule for a specific component.

[2017-11-23 10:39] wKoza opened #460 "Drop check-pipe rule ?"
there are many issues open concerning the check-pipe rule. IMO, this problems are unsolvable without introduce other risks.
@mgechev , what do you think about drop once and for all this rule ?

[2017-11-24 09:00] stocksr opened #461 "[Feature Request] disallow using deprecated angular features"
I would love the linter to complain when I use anything listed on this page
https://angular.io/api?status=deprecated

adding a warning for this lot would be useful as well: https://angular.io/api?status=experimental

Any implementation of this would have to be tied into the version of angular installed in the project, but perhaps this could be done by accessing the comment defined on item. e.g: ht

[2017-11-24 10:31] wKoza commented on #461
Hi @stocksr ,

Tslint offers the rule `deprecated`  currently.

[code]

We can extend this rule to handle the @experimental tag.

Thanks

[2017-11-24 13:52] HideDev commented on #264
@wKoza `ng lint` will output this error?

[2017-11-24 15:14] wKoza commented on #264
No, of course. Codelyzer delegates this task to the compiler (with AOT mode) => ng build --prod

[2017-11-25 18:53] darkbasic opened #462 "no-input-rename rule: include exception for inputs used by directives"
I have several components which show a chat, user or message item.
Each one of them has a chat, user or message input.
I made a directive (which could be used on all of them) which needs to access the chat, user or message inputs. Since the directive has to be generic it creates another input called `item`.
So here is how I use my directive:

[code]

[chat, message, user] and item are redundant, s

[2017-11-25 19:59] mgechev commented on #462
You can disable this rule for the directive itself. Take a look at https://palantir.github.io/tslint/usage/rule-flags/.

[2017-11-25 19:59] #462 closed

[2017-11-25 20:01] mgechev commented on #460
I believe the Angular team is working on making the compiler with a friendlier API, especially for template references. We can remove it from the `README.md` file. If we drop it completely, this will be a breaking change so we'll have to release version 5 as well.

[2017-11-25 20:02] mgechev commented on #457
@rafaelss95 sounds good. Will be great if you can open a PR with this rule!

[2017-11-26 00:59] darkbasic commented on #462
Thanks, I'm using `// tslint:disable-next-line:no-input-rename`

[2017-11-26 09:31] wKoza opened #464 "Codelyzer core rules is out of date"
[Codelyzer core rules](http://codelyzer.com/rules/) should be updated with the latest release.

[2017-11-26 09:43] wKoza commented on #460
hmm, friendlier API ? good news ! indeed, it would be a breaking change. it may not be the right moment, yes. But, meanwhile, some people are waiting for an answer to these problems. I think we need to provide a answer to these people.

BTW, We have remove this option from the `README.md`but It's inconsistent with the [tslint doc](http://codelyzer.com/rules/) where we talk about it. It can be conf

[2017-11-26 17:32] mgechev commented on #460
We can drop if from master, generate the docs and push it to GitHub Page. We should remember to re-enable it if we push minor/patch versions.

[2017-11-27 08:30] stocksr commented on #461
Many thanks - I guess I was looking in the wrong place.

[2017-11-27 08:30] #461 closed

[2017-11-29 01:52] cormacrelf opened #467 "Feature Request: Check for unused returned RxJS Subscription objects"
IMO, the following is the best way to unsubscribe from Rx subscriptions you create in your components. It uses the very simple chained IDisposable-esque interface of a Subscription for exactly its intended purpose.

[code]

Unlike other methods (think `destroy = new Subject(); takeUntil(destroy$).subscribe(...)`), it's not hard to statically check if the subscription will eventually be unsubscribe

[2017-11-29 01:59] mgechev commented on #467
@cormacrelf TypeScript 1.6 will warn you if you are not reading a private variable, which handles the second case. The first one should be easy to catch by codelyzer, although without type checking it'll be more of a guess rather than a proof.

[2017-11-29 02:54] cormacrelf commented on #467
Do you get type checking in Tslint? It may be more broadly applicable to implement there instead, come to think of it.

[2017-11-29 03:01] mgechev commented on #467
Yes, you can use the type checker in tslint rules but this has a price:
- Slower linting
- VSCode doesn't support type checking in their tslint extension

[2017-11-29 03:11] cormacrelf commented on #467
Ok. I’d want this in any Rx project, so I’ll file on tslint and maybe have a go. Thanks for the help!

[2017-11-29 03:13] #467 closed

[2017-11-29 08:26] trenneman opened #468 "False positive use-pipe-transform-interface with inheritence"
The following code gives me an unfairly error `The MyPipe class has the Pipe decorator, so it should implement the PipeTransform interface`:

[code]

`MyPipe` does indeed not implement `PipeTransform`, but its parent `AbstractPipe` does.

[2017-11-29 09:22] wKoza commented on #464
@mgechev , can you take this issue ?

[2017-11-29 19:07] mgechev commented on #464
:+1:

[2017-11-29 19:11] #464 closed

[2017-11-29 21:21] wKoza commented on #468
Hi @trenneman ,

Codelyzer aims to provide linting for style errors which can be found by providing a "shallow analysis". Your example requires a deep analysis with Type Checker. This mecanism is very expensive and it is not supported by VSCode.

@mgechev , you confirm ?

[2017-11-29 23:10] mgechev commented on #468
Yes, correct.

[2017-11-29 23:11] #468 closed

[2017-12-03 20:18] MickL commented on #263
I think it should configurable, too. Best example is a component having the input `class` which sets class in html. But variable `class` is reserved.

[code]

<img [src]="src" [class]="classes" [alt]="alt">

[2017-12-04 10:26] trenneman commented on #468
Too bad. Thanks for the clarification.

[2017-12-07 15:11] t-ricci-molecle commented on #260
wow, I took some time to figure out why `ng lint --type-check` was giving me errors about missing rules after the update. I couldn't find documentation about these rules until I found this issue and found out they were removed by a codelyzer new version

[2017-12-07 15:14] t-ricci-molecle commented on #260
Nevermind, I figured out I should've gone to read the changelog instead of googleing the rule

https://github.com/mgechev/codelyzer/blob/master/CHANGELOG.md

[2017-12-08 10:06] sagittarius-rev opened #469 "two bugs of angular-whitespace"
**1. improper position of the errors with angular-whitespace**

For example,  the template is:

[code]

When lint this Angular template, it would locate an error before `trackBy` (Missing white space after semicolon) as expected. But actually, it will locate the error before ` item.id` .

This bug caused by `angularWhitespaceRule.ts` of line 86, line 97 and line 105:

`directive.split('=')[1].trim

[2017-12-08 12:40] sagittarius-rev commented on #469
For testing spec, rewrite the codes between line 42 and line 68 to:

[code]

[2017-12-08 14:27] wKoza commented on #469
Hi @sagittarius-rev,
Thanks for your analysis ! Do you want open a PR with this change ?

[2017-12-08 15:46] mgechev commented on #469
He already did https://github.com/mgechev/codelyzer/pull/470 ✨

[2017-12-11 09:13] #469 closed

[2017-12-11 09:13] mgechev opened #472 "angular-whitespace doesn't handle multiple semicolon errors properly"

[2017-12-11 09:13] #472 closed

[2017-12-11 10:21] stocksr commented on #82
the tslint extends feature works for this:
I simply add a tslint.json file in the relevant folder like this
[code]

[2017-12-11 11:22] yluijten commented on #208
@mgechev can this one be reopened? Looks like there's enough interest for it.

[2017-12-12 09:53] wKoza commented on #412
BTW, this issue (with html entity) happens  even with check-semicolon :(

[2017-12-12 13:42] FabienDehopre commented on #452
Any news about this issue?
It still happens on the latest release (4.0.2)

[2017-12-13 05:38] mgechev commented on #452
Here are the changes from [4.0.2](https://github.com/mgechev/codelyzer/blob/master/CHANGELOG.md#402).

[2017-12-13 10:40] FabienDehopre commented on #452
OK. I read the changelog for the 4.0.2.
My question was when would this issue (related to the check-pipe) be solved?

[2017-12-17 19:57] gbilodeau opened #473 "Feature request: no output named after a standard DOM event"
Naming a custom directive output after a standard DOM event can cause unwanted behaviour because of event bubbling. As explained clearly [here](https://stackoverflow.com/questions/40276400/what-are-recommanditions-for-output-event-names-to-prevent-native-event-name-c), declaring a listener for a custom directive output with a "submit" name will be invoked not only when this output emits a new valu

[2017-12-18 14:40] #473 closed

[2017-12-18 15:41] subramaniashiva commented on #208
I am facing the same issue. Would be happy if this reopened

[2017-12-20 21:37] HideDev commented on #446
Hi, any news?

[2017-12-21 15:16] mgechev commented on #446
@HideDev I'll fix this as part of the next minor release.

[2017-12-21 15:19] HideDev commented on #446
@mgechev thanks

[2017-12-21 15:35] dominique-mueller commented on #135
In our case, we're developing an Angular component library in which every component *must* have set the change detection strategy to `OnPush`. We also try to build our applications using `OnPush` everywhere.

Thus, it would be awesome to have linting rule for that!

[2017-12-21 15:54] mgechev commented on #135
Okay, lets do that. Maybe as argument of the rule we can provide a regex for matching the components which should have `OnPush`. By default it can be `.*`.

[2017-12-28 05:53] rtm opened #475 ""Could not find implementations for..." error when using extends: [codelyzer] approach"
I am using

    "extends": [codelyzer]

since I have a slightly non-standard repo structure where codelyzer has been hoisted to a higher level of a monorepo. Problem is, I consistently get the error

    Could not find implementations for the following rules specified in the configuration:
        banana-in-box

when my `tslint.json` file looks like this:

    {
      "extends": [ "codelyzer" ],

[2017-12-28 23:16] Tukks opened #476 "[Feature request] Warn user when Input/output does not exist in component and type checking"
Hi!

I have this component :

[code]
If I wrote this in another template like this :
[code]
I have no warning on the noExistingInput, and no warning on label input waiting for a string and receiving a number.
Can you provide this?

[2017-12-29 09:16] mgechev commented on #476
Hey @Tukks this is a compile-time error which makes the feature outside the scope of codelyzer. To get this behavior use the Angular language service.

[2017-12-29 09:16] #476 closed

[2017-12-29 13:23] HideDev opened #477 "Configuration presets"
@mgechev there are plans to add a config with presets for angular projects like presets for tslint:  tslint:latest, tslint-react, etc. ?

[2017-12-30 00:16] Tukks commented on #476
Ok, sorry I opened a issue at angular/angular#21204

[2018-01-01 17:35] juanmendes commented on #285
@mgechev I wish this check could be done in tslint, because we don't do aot during development and we end up having to fix problems only when we do a production build which takes a lot longer in our case.

[2018-01-01 18:49] mgechev commented on #285
@juanmendes you can use the Angular language service for the purpose. [Here](https://marketplace.visualstudio.com/items?itemName=Angular.ng-template) it is.

[2018-01-05 14:46] KKrisu opened #479 "templates-use-public removed - why? any alternative?"
Hey, I just upgraded to codelyzer 4 and noticed that **templates-use-public** is no longer available. That's a pity because it was very useful for checking AOT compatibility.

Could you explain why it's been removed and whether there is an alternative? Plan to reimplement it maybe?

(I should probably ask this question on slack, although there is already a topic about that created a while ago and

[2018-01-05 15:31] mgechev commented on #479
More details here https://github.com/mgechev/codelyzer/issues/264

[2018-01-05 15:31] #479 closed

[2018-01-05 19:00] compeek opened #480 "no-output-on-prefix incorrectly throws error if output property name starts with "one""
I enabled the new `no-output-on-prefix` rule and started getting an error for an output property named `oneTimeScheduleDetailItemChange`. It seems the rule is only looking at the first two letters. It should really check the first three and see if the first two are "on" and the third is a capital letter.

I'm using codelyzer 4.0.2 with Angular 5.1.3.

[2018-01-05 19:55] mgechev commented on #480
Good catch. Will add a fix in the next release.

[2018-01-06 13:35] ohrrkan commented on #81
I join kputh. Those are codelyzer specific. The goal is to provide some preset like tslint configuration preset : https://palantir.github.io/tslint/usage/configuration/

like a

[code]
or a

[code]

[2018-01-06 17:47] mgechev commented on #475
Here's how you can configure tslint properly:

[code]

[2018-01-06 17:47] #475 closed

[2018-01-06 17:50] mgechev commented on #477
Haven't considered introducing such. [This](https://github.com/angular/angular-cli/blob/ac09d40eacf5d33873260daebfd84752a94527ed/tests/e2e/assets/1.0.0-proj/tslint.json) looks like a valid option which can be published.

[2018-01-06 17:50] #477 closed

[2018-01-06 18:28] mgechev commented on #475
Btw, you can try the [`tslint-angular`](https://github.com/mgechev/tslint-angular) preset for using a configuration similar to the one you posted.

[2018-01-07 08:20] #480 closed

[2018-01-07 17:20] mgechev commented on #443
@intellix at first, to me it looks like it's the responsibility of xi18n to throw an error.

[2018-01-07 17:20] #443 closed

[2018-01-07 17:23] mgechev commented on #454
@reduckted I'll fix this as part of the next release. Will add it to my schedule for next week.

[2018-01-07 17:26] mgechev commented on #457
@rafaelss95 there's something which makes this rule not trivial to implement. We can easily verify if the value of given property equals `new EventEmitter` and throw a warning. The problem is that without type checking we cannot easily verify that `EventEmitter` is actually imported from `@angular/core` or, let's say, `const EventEmitter = require('event-emitter');`

[2018-01-08 12:14] wKoza commented on #457
I'm also implementing this rule and I come to the same conclusion ;)

@mgechev , have you an idea for testing this code ?

[code]

[2018-01-08 12:21] mgechev commented on #457
@wKoza using type checking is still an option but the rule won't be used by editors like VSCode, for instance.

[2018-01-08 13:46] wKoza commented on #457
Maybe, is it the time to provide two tools : one for the shallow analysis and an other for a deep analysis. We have some features in this way.

[2018-01-08 13:53] mgechev commented on #457
That's true, the only issue would be that at first the tool which performs deep analysis won't have editor/IDE support.

[2018-01-08 20:45] wKoza commented on #457
I will take a look at this. Do you already have tested it ?

[2018-01-09 08:34] mgechev commented on #457
It's used [here](https://github.com/mgechev/ngast/blob/master/lib/project-symbols.ts#L29). Mostly for [creating a program](https://github.com/mgechev/ngast/blob/master/lib/project-symbols.ts#L79). Still needs to be used together with `@angular/compiler` & `@angular/compiler-cli`.

[2018-01-09 09:56] mgechev commented on #442
@Manduro the rule with the `check-text` option will not fail if:

In such case, the first is invalid, right?

[2018-01-09 10:49] YiannisH opened #484 "Angular lint(codelyzer) failing with TypeError"
When i try to run the code analysis command

I get the following output repeatedly before the actual checkstyle XML code starts

[code]
The issue can observed on both Windows and Linux OSes

NPM and Node versions:
npm v5.6.0
node v9.3.0

package.json code

[code]

[2018-01-09 10:54] #446 closed

[2018-01-09 11:05] mgechev commented on #442
@Manduro would you take a look at the referenced PR and tell me if you think that's the behavior you think the rule should have?

In the end, the content of the element with i18n will be replaced by the compiler so the interpolation will be lost, right?

If that's the case, I'd suggest to introduce another config option to this rule which warns when an interpolation is used inside of an element wi

[2018-01-09 11:06] mgechev commented on #484
@YiannisH thanks for reporting this. Maybe a breaking API change in Angular 5.1.x...

[2018-01-09 11:21] mgechev opened #486 "Broken trackBy-function rule when the index is set"

[2018-01-09 11:22] mgechev commented on #486
Fix https://github.com/mgechev/codelyzer/pull/483

[2018-01-09 11:22] #486 closed

[2018-01-09 12:05] YiannisH commented on #484
Is there a way to fix this? I have been searching all morning and i was unable to find exactly the same issue. There were some similar issues on github that had their issues fixed by using older versions of the involved packages but those solutions refer to different issues.

Just writing this here as it might help the development team to identify the issue.

[2018-01-09 13:26] mgechev commented on #484
For now you can disable the codelyzer rules. I will try to publish a fix over the weekend if I am able to reproduce the issue.

[2018-01-09 14:51] HideDev commented on #477
@mgechev thanks

[2018-01-09 20:23] wKoza commented on #442
I'm not an i18n Expert, but the Angular documentation says that we can use interpolation with i18n attribute : see https://angular.io/guide/i18n#translate-singular-and-plural

[2018-01-09 20:28] Manduro commented on #442
Yes we can use interpolation if I'm correct, but be sure to double check it!

I'm not sure if the first case I submitted is valid. Maybe it was just my wishful thinking. I'd probably need to split that into two elements with two i18n attributes.

[2018-01-09 20:31] wKoza commented on #442
For me, it's not valid if we take a look at this : https://github.com/angular/angular/issues/18302

[2018-01-09 20:53] mgechev commented on #442
Sounds good. Looks like the PR I opened fixes the second, incorrect, behavior. Let me know if you think we can add anything else.

[2018-01-10 07:56] #442 closed

[2018-01-10 13:11] mgechev opened #487 "Incorrect formatting with check-interpolation"
@dereklin:

https://github.com/mgechev/tslint-angular/issues/1

[2018-01-10 20:40] wKoza commented on #487
Duplicate #452 ?

[2018-01-12 10:28] jeneg commented on #452
Got the same issue on 4.0.2. @mgechev Is it going to be fixed?

[2018-01-12 11:42] peterdolenc opened #488 "no-access-missing-member removed - needed for JIT"
Hi, since the update to **angular 5** and **codelyzer >=4.0.0** these two rules were removed from codelyzer.
[code]

This is a big problem for everyone who uses angular 5 with JIT compiler and not AOT compiler, as it results in templates not being linted.

Considering that in many instances AOT cannot be used as it does not support all language features and angular language service is only visible

[2018-01-12 13:45] mgechev commented on #488
Let's collect some feedback.

[2018-01-12 18:36] HideDev commented on #488
I agree with @peterdolenc

[2018-01-12 18:40] listepo commented on #488
+ 1, I think it would be good to have AOT checks as tslint rule for JIT mode

[2018-01-14 11:07] wKoza commented on #488
Soon, Angular CLI will propose AOT by default for our developments. Angular Team aims at AOT compilation by default. I'm not sure that it is a good reason for adding this rules again.

[2018-01-15 09:36] roychoo opened #489 "Missing Style 01-01"
Hi,

i was going through the angular styleguide and it recommend that we
`Do define one thing, such as a service or component, per file.`

should we add `max-classes-per-file` rule under the https://github.com/mgechev/codelyzer#recommended-configuration ?

[2018-01-15 11:07] wKoza commented on #489
Your remark is  interesting. Currently, we have a recommended configuration for our rules. `max-classes-per-file` is a tslint rule from `palentir`. @mgechev proposes a new project https://github.com/mgechev/tslint-angular. It's the good place for this rule.

[2018-01-15 12:48] wKoza commented on #488
Take a look at this issue https://github.com/angular/angular-cli/issues/8259.  Angular CLI does not use AOT (`ng serve`) by default, only for performance reasons; But it's the target. `ng build` uses AOT by default.

About this, Hansl says:

In your case, @sreichi , I can only advise you to find workarounds in your code and to use AOT.

[2018-01-15 13:02] peterdolenc commented on #488
At the moment JIT is the default (dev) compiler, therefore it makes sense to support template linting for it. Even if weren't default anymore (as indicated by @wKoza), I think it would still make sense to support it. I don't see why you would not support something just because it's not the default option out of the box (and at the moment it even is).

Furthermore, having these rules supported will

[2018-01-15 13:23] roychoo commented on #489
i agree, thanks for the suggestion, created a PR for this. https://github.com/mgechev/tslint-angular/pull/2

[2018-01-15 13:33] wKoza commented on #488
Why do you want to have the rule `templates-use-public` if you use JIT ?

Regarding the rule `no-access-missing-member`, we have some problems including class inheritance for example (https://github.com/mgechev/codelyzer/issues/191). This is one of the reasons for its deletion.

[2018-01-15 14:20] wKoza commented on #489
No, tslint-angular should replace the ts-lint of Angular CLI .

[2018-01-15 14:20] #489 closed

[2018-01-16 07:01] alan-agius4 opened #491 "Allow disabling of rules in templates and styles"
At the moment if I add a rule example `trackBy-function` which validates html content there is no way to disable a rule for a specific file or line such as https://palantir.github.io/tslint/usage/rule-flags/

It would be nice to have this feature, in order to disable a rule where one doesn't want to emit a lint error.

[2018-01-16 07:51] sreichi commented on #488
but is this really worth for its deletion? The rule set is not the list of "you must use this rules otherwise your code is shit" everyone can enable/disable every rule they want. So i really don't understand whats your point against putting it back since a lot of community members really wanna use it

[2018-01-16 10:02] wKoza commented on #488
I understand your problem @sreichi. The rule `no-access-missing-member` is interresting in your case but  the rule is perfidious currently ...

[2018-01-16 15:24] mgechev commented on #491
This could be caused by the rule naming. Did you try using both `/* tslint disable:trackBy-function */` and the lower case alternative?

[2018-01-16 15:26] alan-agius4 commented on #491
I can try again, but when I checked tslint was only looking for these in TS
files and not HTML files, causes it uses TypeScript to find comments and it
cannot read comments in Html files.

But surly I can try the lower case later and give you an update.

On Tue, 16 Jan 2018 at 16:24, Minko Gechev <notifications@github.com> wrote:

[2018-01-16 15:32] mgechev commented on #491
@alan-agius4 yes, you should add this marker in the TypeScript file referencing your HTML template.

[2018-01-16 15:32] #491 closed

[2018-01-16 17:06] alan-agius4 commented on #491
That works fine thanks :) I'll happily do a PR. Maybe you can indicate in
which readme it should go?

[2018-01-16 18:11] mgechev commented on #491
In the root of the project should be fine. Thanks!

[2018-01-16 18:41] mgechev commented on #487
Here we have a broken auto fix.

[2018-01-16 19:06] mgechev commented on #487
I cannot reproduce this issue https://github.com/mgechev/codelyzer/pull/494

[2018-01-16 19:28] wKoza commented on #487
What's your OS @dereklin ?

[2018-01-16 19:41] wKoza commented on #487
I took a closer look at this problem.  It's the same sort of problem that #452 . It may be a problem of carriage return. I've never been able to catch it with a TU.

[2018-01-16 20:15] mgechev commented on #487
@wKoza I thought it might be OS related but we run tests in Windows as well.

[2018-01-16 20:48] dereklin commented on #487
@wKoza It's Windows 10.  I encountered the problem when I was trying out tslint-angular.

[2018-01-17 06:48] wKoza commented on #487
I will test with my PC at work. But, if I remember correctly, This problem is not catchable with a TU currently .

[2018-01-17 08:45] shortthirdman commented on #205
Facing the same issue with the following configuration in my `poackage.json`.

`"dependencies": {
    "@angular/animations": "~5.0.0",
    "@angular/common": "~5.0.0",
    "@angular/compiler": "~5.0.0",
    "@angular/core": "~5.0.0",
    "@angular/forms": "~5.0.0",
    "@angular/http": "~5.0.0",
    "@angular/platform-browser": "~5.0.0",
    "@angular/platform-browser-dynamic": "~5.0.0",
    "@ang

[2018-01-17 10:19] wKoza commented on #487
I tested  with Windows. I  reproduce the problem with Webstrom.

![img1](https://image.ibb.co/c5z8sR/Capture1.png)

![img2](https://image.ibb.co/daFsK6/Capture2.png)

When I change the file encoding to LF instead of CRLF, it's work:

![img3](https://image.ibb.co/bs53Rm/Capture3.png)

I'll search a fix ...

[2018-01-17 14:44] mgechev commented on #487
Thanks for looking into it!

[2018-01-18 04:34] bhaskerchari commented on #291
Hi @mgechev ,

Any news or update on this? When is this planned to be fixed & released ?

Thanks,
Bhasker

[2018-01-18 14:18] intellix commented on #476
hey @mgechev it seems that the Inputs are AOT compilation errors but Outputs are not: https://github.com/angular/angular/issues/17483#issuecomment-358658842

Shall I open another issue perhaps?

[2018-01-18 17:48] mgechev opened #496 "Support for Angular Compiler 5.2"

[2018-01-18 17:48] mgechev commented on #496
https://github.com/mgechev/codelyzer/commit/6a6b3de0b1943cb5373e12e0fd7d24e7ea29c162

[2018-01-18 17:48] #496 closed

[2018-01-18 17:51] wKoza commented on #487
Correct this issue isn't easy. In this case, the problem happens when the corrected string  is injected into the file with Tslint. There is a lag between `\n` et `\r\n`.

[2018-01-18 18:03] mgechev commented on #476
This will require "deep analysis", or type checking, so we will hit these issues https://github.com/mgechev/codelyzer/issues/191. Let's leave this to the compiler, whenever it gets ready.

[2018-01-19 11:42] ampled commented on #488
I'm running a hybrid application with a manual webpack setup with JiT for our dev server and AoT for building using the @ngtools/webpack package from angular. Having this rule in place would be great for the dev server as a soft reminder.

[2018-01-19 11:52] intellix commented on #488
to reinforce the above comment. I've been trying to use the Angular Language Service every couple of months since it came out and end up disabling it same or next day due to how unstable it is. I'm still finding it to be largely unusable.

Writing in HTML and getting autocomplete for Emmet suggestions just dies and I end up disabling it each time. Dunno when it'll become usable for me really, stil

[2018-01-22 10:00] Martin-Wegner opened #497 "i18n rule check-text does not work"
- codelyzer 4.1.0
- Angular 5.2.1
- TypeScript 2.6.2

` "i18n": [true, "check-text"]` does not work for this examples:

[code]

or

[code]

And can you please explain which codelyzer rules are stable and production ready and which not? For example you said that the no-unused-css rule is not stable (here https://github.com/mgechev/codelyzer/issues/364) and this i18n rule seems to be unstable as wel

[2018-01-22 15:22] mgechev commented on #497
Thanks for reporting the issue. I will add test for your specific examples and fix the issues. The `i18n` rules were recently added, we are still figuring out the correct behavior in some cases.

[2018-01-23 20:11] wKoza commented on #497
There is an issue opened concerning the status of each rule  #408. In the meantime, maybe can we a this status in our Readme.

[2018-01-23 20:12] mgechev commented on #497
I'll update the readme in a sec.

[2018-01-24 09:11] Martin-Wegner commented on #497
@mgechev you missed the following rules:

`import-destructuring-spacing`, `pipe-naming` and `no-output-named-after-standard-event`.

@mgechev and the rules page doesn't contain:

`trackBy-function` and `no-output-named-after-standard-event`

Should I open a new issue for that?

[2018-01-24 10:15] wKoza commented on #497
Yes @Martin-Wegner , you can !

[2018-01-24 10:42] Martin-Wegner opened #501 "Complete Rules Status section in README and complete Rules Page"
The **Rules Status** section in the *README.md* does not list the following rules:

`import-destructuring-spacing`, `pipe-naming` and `no-output-named-after-standard-event`

The Rules Page (http://codelyzer.com/rules/) does not list the following rules:

`trackBy-function` and `no-output-named-after-standard-event`

[2018-01-24 10:45] Martin-Wegner commented on #497
https://github.com/mgechev/codelyzer/issues/501

[2018-01-24 17:59] #501 closed

[2018-01-25 09:07] Martin-Wegner commented on #501
@mgechev great job :)

[2018-01-25 09:46] Martin-Wegner commented on #501
@mgechev can you please explain why pipe-naming is deprecated? I can't find any information here...

[2018-01-30 06:36] domkrel opened #504 "i18n rule pluralization does not work"
**Dependencies**
* codelyzer: 4.1.0
* tslint: 5.9.1
* angular: 5.0.0
* typescript: 2.4.2

**Affected rule**
i18n
`"i18n": [true, "check-text"]`

**Problem**
The i18n rule does not recognize an i18n tag with pluralization rules correctly.
The problem appears with and without a meaning|descripion.

**Code to reproduce problem**
`<span i18n>Updated {minutes, plural, =0 {just now} =1 {one minute ago}

[2018-01-30 09:10] wKoza commented on #504
Thank you for this issue. We will investigate.

[2018-01-31 08:21] scott-ho opened #505 ""extends": ["codelyzer"] is broken"
The docs stated in https://github.com/mgechev/codelyzer/tree/4.1.0#custom-installation is some how invalid now.

the published package(download from npm) does not have index.js as https://github.com/mgechev/codelyzer/blob/4.1.0/index.js, therefore, extends feature is broken

[2018-01-31 14:56] mgechev commented on #505
@scott-ho thanks for pointing this out! Will fix it as part of the next release.

[2018-02-01 13:55] NiKlimenko opened #507 "Using a deprecated API"
- codelyzer 4.1.0
- Angular 5.2.3
- TypeScript 2.7.1

Get the following warnings:
**WARNING: 47:41  deprecation  get is deprecated: from v4.0.0 use `Type<T> or InjectionToken<T>`
WARNING: 57:41  deprecation  get is deprecated: from v4.0.0 use `Type<T> or InjectionToken<T>`
WARNING: 73:41  deprecation  get is deprecated: from v4.0.0 use `Type<T> or InjectionToken<T>`
WARNING: 93:43  deprecation  ge

[2018-02-01 16:27] intellix opened #508 "[Feature Request] Limiting template condition complexity"
We've got a payment process with conditions to reveal different steps of said process to push the user through it. An example of an *ngIf condition for revealing the Card entry step to the user:

[code]

This amount of condition complexity is dangerous because it's breakage can only be detected via E2E or Manual QA. During refactor another developer can completely break payments.

I think one way

[2018-02-01 17:39] mgechev commented on #508
Love this feature request. Probably we can apply some version of cyclomatic complexity estimation.

[2018-02-01 17:57] wKoza commented on #508
I'm not surprised

[2018-02-01 18:03] wKoza commented on #507
When have your this error ?
What's your lint configuration (Codelyzer rules) ?

[2018-02-01 18:24] mgechev commented on #508
Here's a simple estimation of cyclomatic complexity implemented in go https://github.com/fzipp/gocyclo/blob/master/gocyclo.go. It should be easy to port it to the Angular expression/template ASTs.

[2018-02-01 20:05] wKoza commented on #508
If we want to test boolean expression complexity, this implementation seems to be fine: https://github.com/maddingo/checkstyle/blob/master/src/checkstyle/com/puppycrawl/tools/checkstyle/checks/metrics/BooleanExpressionComplexityCheck.java

Its test: https://github.com/checkstyle/checkstyle/blob/master/src/main/java/com/puppycrawl/tools/checkstyle/checks/metrics/BooleanExpressionComplexityCheck.jav

[2018-02-02 07:25] NiKlimenko commented on #507
@wKoza during the run the angular-cli linting: `ng lint`.
tslint.json:
{
  "extends": ["tslint-angular", "tslint-no-unused-expression-chai"],
  "rules": {
    "directive-selector": [true, "attribute", "app", "camelCase"],
    "component-selector": [true, ["attribute", "element"], "app", ["kebab-case", "camelCase"]],
    "angular-whitespace": [true, "check-semicolon"]
  }
}

[2018-02-02 08:42] NiKlimenko commented on #507
Just realized that it looks like my code causes these warnings, if so then feel free to close issue.

[2018-02-02 13:59] #507 closed

[2018-02-07 09:38] YiannisH commented on #484
Any news on the issue above??

[2018-02-07 15:26] roddy opened #510 "Message for 'use-host-property-decorator' includes invalid link to Angular style docs"
The "use-host-property-decorator", as documented [here](http://codelyzer.com/rules/use-host-property-decorator/), displays the following warning message when triggered via TSLint:

The documentation is also wrong:

The URL is wrong and leads to an error/404 page. The correct URL is https://angular.io/guide/styleguide#style-06-03

Observed on:
* Angular 5.2.2
* Codelyzer 4.1.0
* TSLint 5.9.1

Code

[2018-02-07 18:02] mgechev commented on #510
Thanks for sharing this! I'll talk to the docs team.

[2018-02-08 07:12] mgechev commented on #510
https://github.com/angular/angular/issues/22078 will resolve it.

[2018-02-08 07:12] #510 closed

[2018-02-08 07:57] mgechev commented on #504
@domkrel, would you test against the branch with the fix?

[2018-02-10 23:43] #508 closed

[2018-02-11 10:21] HideDev commented on #256
A very useful rule, we are waiting!

[2018-02-11 20:02] mgechev opened #514 "Cyclomatic complexity"

[2018-02-11 20:03] mgechev commented on #514
https://github.com/mgechev/codelyzer/pull/512

[2018-02-11 20:03] #514 closed

[2018-02-11 20:03] mgechev commented on #505
This should fix the issue https://github.com/mgechev/codelyzer/pull/511/files

[2018-02-11 20:03] #505 closed

[2018-02-11 20:04] mgechev commented on #487
Will move this issue to a future release.

[2018-02-13 09:12] pgrm opened #515 "[Feature Request] - Force output fields to be readonly"
I'm not sure if this is 100% correct, since I don't recall seeing it anywhere else, but in our Angular project, we are marking all `@Output` fields `readonly` because really, there is no need to ever re-assign them.

Unless there are some edge cases, which we aren't aware of right now, it would be great if codelyzer could do the check, if all `@Output` fields are marked as `readonly` for us, other

[2018-02-13 09:47] wKoza commented on #515
Usually, we use `readonly` when there is a `functional` risk that our property is overwritten. What is your fear ?

[2018-02-13 15:32] pgrm commented on #515
Well basically, I'd love to use https://www.npmjs.com/package/tslint-immutable - but we're not quite there yet unfortunately, that's why we started just to enforce readonly markings on anything we don't intend to change, which are mostly Observables, just to prevent if somebody unfamiliar with observables might assign a new value to a field, instead of emitting a new value.

Those issues already h

[2018-02-14 04:16] avanibhatnagar opened #516 "Could not find custom rule directory: C:....\angular-src\node_modules\codelyzer. I have never used this before. Any help would be appreciated."

[2018-02-14 08:01] alan-agius4 opened #517 "`use-view-encapsulation` only accepts a boolean"
Using `encapsulation` other than `ViewEncapsulation.None` can be problematic in case you are building an atomic component library similar to `Material` As in some cases you'd want to allow the consumers to override it without using `/deep/`

Thus in my case I want to enforce the use of `ViewEncapsulation.None`

I'd see the usage like
[code]

[2018-02-14 14:02] hisantoo commented on #192
what if the app location is replaced by [ ] in component-selector

[2018-02-14 14:20] wKoza commented on #515
I don't see the link between immutable and `@output`. Your problematic seems to be specific. I'm not sure that this proposal has its place in Codelyzer but let's see other opinions.

[2018-02-14 15:38] mgechev commented on #517
Codelyzer enforces view encapsulation. Allowing `None` is possible if you disable the rule. Let's keep this outside codelyzer for now.

[2018-02-14 15:38] #517 closed

[2018-02-14 15:39] mgechev commented on #516
For support requests I would recommend you to use Stack overflow or our gitter channel. Thanks!

[2018-02-14 15:39] #516 closed

[2018-02-16 19:24] olivierscheffler opened #518 "Export error in json or xml"
Hi !

For statistic purpose, I would like to have an export in json or xml of the lint error for making graph and being able to track down evolution.
Do you know if there's any solution already working or if codelyzer can do that ?

Thank you for your help !

[2018-02-16 19:31] mgechev commented on #518
Hey @olivierscheffler you should be able to do this with a custom tslint reporter. See https://palantir.github.io/tslint/formatters/json/.

[2018-02-16 19:31] #518 closed

[2018-02-19 13:35] yannickglt opened #519 "Why is the pipe-naming rule deprecated?"
Hey!
Sorry to create an issue to ask such a question but I could not find any answer on the repo or in the doc.
I saw that the `pipe-naming` rule was deprecated in the Readme. Could you tell me what's the reason and if it was replaced with another rule?
Thanks

[2018-02-19 19:37] mgechev commented on #519
You can name your pipes only camel case if you try to use snake-case then your application will not compile. This is a compile-time error, not a linting one. The alternative is to use AoT.

[2018-02-20 14:04] AdamKernig opened #520 "Angular 5.X peer dependencies"
Standard NG CLI 5.x project,

Npm install gives me:
codelyzer@2.1.1 requires a peer of tslint@^4.0.0 but none is installed. You must install peer dependencies yourself.
npm WARN codelyzer@2.1.1 requires a peer of @angular/compiler@^2.3.1 || >=4.0.0-beta <5.0.0 but none is installed. You must install peer dependencies yourself.
npm WARN codelyzer@2.1.1 requires a peer of @angular/core@^2.3.1 || >=4

[2018-02-20 15:06] dsmclaughlin commented on #520
I'm also seeing this issue.

[2018-02-20 15:22] mgechev commented on #520
Thanks! I will make a new release today.

[2018-02-21 02:54] mgechev commented on #520
@AdamKernig your log says `codelyzer@2.1.1`. The peer dependencies of the current release look fine:

[code]

Verify that codelyzer is not installed as a transitive dependency.

[2018-02-21 02:54] #520 closed

[2018-02-21 07:39] AdamKernig commented on #520
You have closed the ticket without problem resolution can you ezplain what
a teansiticie is?

On 21 Feb 2018 02:54, "Minko Gechev" <notifications@github.com> wrote:

[2018-02-21 08:47] wKoza commented on #520
Your codelyzer's version should be 2.1.1, not 4.1.0. Maybe do you have a npm package that depends on Codelyzer 2.1.1. Check your npm package.

[2018-02-21 09:05] sreeramachandramurthy opened #521 "TypeError: Cannot read property '0' of undefined"
Getting the below error while trying to run `tslint --project tslint.json`
The linting fails and no issues are being reported for any typescript file.

`
D:\android>tslint --project tslint.json
C:\Users\XXXXX\AppData\Roaming\npm\node_modules\tslint\lib\runner.js:118
            throw error;
            ^

TypeError: Cannot read property '0' of undefined
    at Rule.SelectorRule [as constructor] (D

[2018-02-21 09:11] sreeramachandramurthy commented on #521
More Info

tslint.json

`
{
  "rulesDirectory": [
    "node_modules/codelyzer"
  ],
  "rules": {
    "class-name": true,
    "comment-format": [
      true,
      "check-space"
    ],
    "curly": true,
    "eofline": true,
    "forin": true,
    "indent": [
      true,
      "spaces"
    ],
    "label-position": true,
    "max-line-length": [
      true,
      140
    ],
    "member-access": fals

[2018-02-21 10:44] Clemzd commented on #191
I get it work with ~3.0.1 version.

[2018-02-21 10:54] wKoza commented on #521
Hi,
You should use this command:
[code]

[2018-02-21 10:54] #521 closed

[2018-02-21 11:37] sreeramachandramurthy commented on #521
Not working!
Tried again on a fresh project starting from scratch

Steps to Reproduce
1. Open terminal
2. `ng new trial`
`
Installed packages for tooling via npm.
`
`
Project 'trial' successfully created.
`
3. `cd trial`
4. `tslint --project tsconfig.json -c tslint.json`
`
C:\Users\XXXXX\AppData\Roaming\npm\node_modules\tslint\lib\runner.js:118
            throw error;
            ^
TypeError: Can

[2018-02-22 06:37] yannickglt commented on #519
Thanks for your quick answer!

Good to learn that there's a compile error now.

I mainly wanted to know if the practices about prefixing pipes have changed. If it is not a good practice anymore then I guess the rule is not useful anymore.

[2018-02-22 15:12] mgechev commented on #519
It's still considered a good practice. Prefixing will not be caught by the compiler thought.

[2018-02-22 15:13] yannickglt commented on #519
Great. Thank you!

[2018-02-22 15:13] #519 closed

[2018-02-22 16:38] rysilva commented on #400
Could a note that this rule is experimental and buggy be added to the rule's documentation?

[2018-02-22 18:45] mgechev commented on #400
There's a note already https://github.com/mgechev/codelyzer#rules-status.

[2018-02-23 14:35] amcdnl commented on #135
Whats the status on this? Would love to incorporate this.

[2018-02-23 19:13] wKoza commented on #135
I think that you can do it. If we want bypass this rule, we can also simply mark our component with `tslint:disable:onPushStrategy`(with a comment)

[2018-02-27 01:15] mariohmol opened #522 "False positive in Directive class name in Angular 5"
### Bug Report

- __TSLint version__: ^5.9.1
- __TypeScript version__: 2.4.2
- __Running TSLint via__: VSCODE

#### TypeScript code being linted

[code]

Error i'm getting

[code]

[2018-02-27 12:51] mariohmol commented on #522
My bad! The decorator was Component! DIdt now that decorator was validated as well!

[2018-02-27 12:51] #522 closed

[2018-03-02 01:06] mgechev opened #524 "Support for Angular version 6"

[2018-03-02 01:06] mgechev commented on #524
https://github.com/mgechev/codelyzer/commit/50fa2d6a2ea64082f2179bf4e3e93777888a9797

[2018-03-02 01:06] #524 closed

[2018-03-02 04:27] mgechev opened #525 "Drop @angular/platform-browser-dynamic from peerDependencies"

[2018-03-02 12:00] JJBocanegra opened #526 "angular-whitespace linter fix is not working properly"
When I use the linter fix with codelyzer and the rule `angular-whitespace` it fix them like this:

[code]

[code]

**Also happens with this for example:**
```{{ 'CODE' | translate }} <strong>{{box?._promo_promoCode}}</strong>```
```{{ 'CODE' | translate }} <s{{ ong>{{box?._promo_pro }}Code}}</strong>```

**Or this one:**
[code]

[code]

I have this rules for **codelyzer**:
[code]

I'm using **code

[2018-03-02 12:05] akkumar opened #527 "changelog to be updated for 4.2.1"
npm shows codelyzer to be 4.2.1 but changelog does not reflect the changes since 4.1.0 and nor does the "releases" under github .

It would be useful to get the changelog be updated to get a sense of what has changed since 4.1.0 .  Thanks in advance.

[2018-03-02 14:42] wKoza commented on #526
Hi,
Thanks for this report. What's your OS ?

[2018-03-02 14:45] wKoza commented on #527
/cc @mgechev

we should also think about modifying the readme (with the new rules)

[2018-03-02 16:47] mgechev commented on #527
There was an emergency and I had to push a new release yesterday. Will add details in the change log over the weekend.

[2018-03-04 17:43] sgallen opened #530 "i18n rule with check-id and check-text does not handle the ng-container tag"
Reference: PR #506

Today I updated to version 4.2.0 of Codelyzer, as I was finding the linter was incorrectly reporting errors with our use of `select` ICU expressions (see: https://angular.io/guide/i18n#translate-select).  PR #506 seems to have addressed those issues (thanks!).  Unfortunately, I'm now finding that when I use `ng-container` tags with i18n ids I get linting errors, that I don't ex

[2018-03-04 19:04] mgechev commented on #530
I believe @wKoza worked on this https://github.com/mgechev/codelyzer/pull/506/files

[2018-03-04 19:23] #527 closed

[2018-03-04 19:23] mgechev commented on #527
https://github.com/mgechev/codelyzer/blob/master/CHANGELOG.md

[2018-03-05 08:51] JJBocanegra commented on #526
@wKoza It's **Windows 10**

[2018-03-05 16:59] AmandaFoster opened #533 "Template Conditional Complexity reports incorrect threshold"
When an error is reported, the [default max complexity](https://github.com/mgechev/codelyzer/blob/master/src/templateConditionalComplexityRule.ts#L89) is always used:

[code]

This leads to incorrect reporting:

[code]

[code]

Somewhat related, the [error message](https://github.com/mgechev/codelyzer/blob/master/src/templateConditionalComplexityRule.ts#L34) reads a bit awkward:
_The conditional e

[2018-03-05 19:00] wKoza commented on #533
Hi @AmandaFoster ,
good catch ! and yes,

seems to be more understandable

[2018-03-06 07:02] SatishMHiremath commented on #165
0
down vote
Codelyzer

A set of tslint rules for static code analysis of Angular TypeScript projects.

You can run the static code analyzer over web apps, NativeScript, Ionic, etc.

Angular CLI Angular CLI has support for codelyzer.Run the below npm command for tslint

npm i tslint-angular

[2018-03-06 07:04] SatishMHiremath commented on #161
Codelyzer

A set of tslint rules for static code analysis of Angular TypeScript projects.

You can run the static code analyzer over web apps, NativeScript, Ionic, etc.

Angular CLI has support for codelyzer.Run the below npm command for tslint

npm i tslint-angular

[2018-03-06 10:15] cexbrayat commented on #533
@wKoza I think the same is true for `template-cyclomatic-complexity`

[2018-03-06 20:18] wKoza commented on #530
Hi,
That's what I feared . it is going to be difficult to distinguish `ng-container` declared by developer and generated by Angular.

[2018-03-06 20:19] #533 closed

[2018-03-06 23:40] rafaelss95 commented on #428
Another example:

[code]

[2018-03-07 12:03] sokolovstas opened #535 "Check that component doesn't have @Outputs that conflict with standards events"
For now if we have `@Output click:EventEmitter` in component and bind like this `(click)="test()"` handler was called for standard click event. Maybe codelyzer need to check that we use standard event name in `@Output`?

I have found this so far `'wheel'
'touchmove'
'paste'
'focusin'
'focus'
'blur'
'keydown'
'mousedown'
'mousemove'
'mouseover'
'mouseout'
'mouseenter'
'mouseleave'
'scroll'
'click'

[2018-03-07 18:19] listepo-alterpost opened #536 "[Feature Request] max-inline-template-lines and min-template-lines"
- min-template-lines - the minimum number of lines that is allowed in `templateUrl` file, otherwise recommend using `template` string;
- max-inline-template-lines - the maximum number of lines that is allowed in `template` string, otherwise recommend using `templateUrl` file;

[2018-03-07 19:14] ngiebel opened #537 "`no-output-named-after-standard-event` Does Not Check Output Rename"
[code]

Is not caught by the `no-output-named-after-standard-event` rule.

[2018-03-07 19:16] ngiebel commented on #535
See the rule [no-output-named-after-standard-event](http://codelyzer.com/rules/no-output-named-after-standard-event/)

[2018-03-07 19:22] sokolovstas commented on #535
Thanks!

[2018-03-07 19:22] #535 closed

[2018-03-07 19:29] sokolovstas commented on #535
Short question: is there are rule to check that event in templates exist in component `@Output`?

[code]

I have found that this check is disabled on angular compiler, and used only when template is included in .ts file. I have try to restore it, but compiler couldn't find standard events like `(click)`

[2018-03-07 21:30] mgechev commented on #536
It's a good issue for newcomers.

[2018-03-12 08:08] victornoel opened #541 "fix of rule whitespace in interpolation breaks html"
I'm using tslint-angular and the following was wrongly fixed

From:
[code]

To:
[code]

I'm not sure which rule is used exactly though…

[2018-03-12 08:26] alan-agius4 opened #542 "The condition complexity (cost '2') exceeded the defined limit (cost '3')."
`template-conditional-complexity` is giving an error when the template conditional complexity is returning the wrong error message

[code]

Code example
[code]

** Actual behaviour**
The condition complexity (cost '2') exceeded the defined limit (cost '3').

[code]

** Actual behaviour**
The condition complexity (cost '3') exceeded the defined limit (cost '3').

** Expected **
Proper error message

[2018-03-12 08:40] alan-agius4 commented on #542
Duplicate: #533

[2018-03-12 08:40] #542 closed

[2018-03-12 16:59] mgechev commented on #541
Duplicate of https://github.com/mgechev/codelyzer/issues/526.

We'll temporarily disable auto fixes in the next release.

[2018-03-12 16:59] #541 closed

[2018-03-12 17:15] mgechev opened #543 "codelyzer verified"
In the README, I'm planning to create a "codelyzer verified ✅" section with a list of projects which pass the recommended set of codelyzer rules.

If you want me to include your project as well, just comment here and link to your repository and `tslint.json` configuration.

[2018-03-13 04:12] paulshelestovich commented on #64
Still happening, same error with inheritance

[2018-03-14 02:45] sam-s4s opened #544 "Component Selector Suffix"
There is a rule "component-class-suffix", and in that you can specify a custom list of allowed suffixes (by default "Component" only). This is great, as I'm also using the suffix "Page" for a sub-type of components.

The problem is that I can't find any matching functionality for the selector. There is a rule "component-selector", but it does not seem to give me the option to specify a custom list

[2018-03-14 07:07] wKoza commented on #544
Why do you need to disable the `component-selector` rule ? This rule enforces a prefix. You can use all suffixes that you want.

[2018-03-14 22:15] sam-s4s commented on #544
Yes, it enforces a prefix, buy only in the case of there being no "component" suffix.

I don't want a prefix.

But I do want to be able to provide an alternate list of suffixes (not just "component").

I hope that makes sense :)

[2018-03-16 07:36] agnislav commented on #526
The same issue
[code]
was transformed to
[code]
MacOS X 10.13.3, codelyzer 4.2.1, tslint 5.9.1

[2018-03-16 14:41] jakpaw commented on #402
@mgechev It would be great to be able to achieve what @intellix said:

If we configure "component-selector" like this:
`"component-selector": [true, ["element", "attribute"], ["prefix"], ["kebab-case", "camelCase"]`, nothing is really enforced and one can create a component with kebab-case atrribute selector, which I would like to avoid.

[2018-03-16 16:14] wKoza commented on #544
You have this error because you have defined `app` as prefix:

[code]

[2018-03-16 16:14] #544 closed

[2018-03-18 22:30] sam-s4s commented on #544
Wait... you're saying that it expects me to put the prefix "app" in front of every component in my entire app? And that's Angular CLI's default setting? That is terrible lol

[2018-03-19 01:09] lazarljubenovic commented on #544
@sam-s4s It's far from terrible. It ensures two things, apart from consistency:

- namespacing your components meaning less chances for a clash with another library;
- a dash in the selector, even when your component is a single word.

[2018-03-19 01:47] sam-s4s commented on #544
Yeah, I guess it's a good idea from that perspective... But it seems a little unrealistic for real-world large-scale usage...

ie. our app has over 160 components already, some with selectors over 40 characters (adding more verbosity would be annoying).

Back when we started development, that pattern didn't really exist.

Anyway, I can just disable that rule now I know what's going on.

Thanks!

[2018-03-21 14:17] ngiebel opened #545 "Rule `contextual-life-cycle` too aggressively scoped"
When turning on the rule `contextual-life-cycle`, if an `@Injectable` is defined before a component/directive using lifecycle hooks the rule incorrectly flags a violation. Sample below as an adaptation of the main codelyzer demo, but it seems the demo does not have the rule activated.

[code]

[2018-03-21 15:08] mgechev commented on #545
Thanks for reporting this issue! It should be fixed in the next released.

[2018-03-25 20:51] #545 closed

[2018-03-26 22:05] haubbixa opened #549 "[Feature Request] Enforce single line @Input decorator"
I'd like to have a rule to enforce the recommendation of 'Consider placing @Input() or @Output() on the same line as the property it decorates.' described in Style 05-12.  As far as I can tell use-input-property-decorator only enforces the usage of @Input not the styling

[2018-03-27 07:04] mgechev commented on #549
Yes, correct. This is a good suggestion. Will add it to the roadmap.

[2018-03-28 02:57] sam-s4s opened #551 "[Feature Request] Component Selector Required"
Quick feature request... I'd love it if there was a rule I could enable that would force people to always include a selector for any @Component. Currently if it's for a dialog (dynamically created component) or routed page, you don't technically need one, but it makes the DOM a bit messy.

Perhaps it could be added to the existing component-selector rule?

[2018-03-28 06:27] wKoza commented on #551
Hi,
What do you think when you say "but it makes the DOM a bit messy." ?

[2018-03-28 07:03] lazarljubenovic commented on #551
It's difficult to debug or get around it at all, since the selector which Angular uses for components without a selector is `ng-component`.

Since you don't need it for any dynamic component, including things such as modals, flash messages and routes, you could easily end up with something like the following.

[code]

[2018-03-28 08:03] wKoza commented on #551
Ok. It makes sense :+1:  . Adding this check to `component-selector` is an option since his rationale:

but, this rule is embedeed with Angular CLI and we are dealing with a Breaking change...
So, we should add an option that active the check like this:

 "component-selector": [true, "element", "app", "kebab-case", **_true_**]

[2018-03-29 14:35] NagRock commented on #428
Whats the purpose for this? What is bad with setting input value?

[2018-03-29 16:43] lazarljubenovic commented on #428
Developers expect them to be in sync. Furthermore, they can be overwritten when the parent component sets the inputs to a child.

By the way, Vue has a built-in run-time-dev warning for this.

[2018-03-30 19:11] #525 closed

[2018-04-02 17:35] intellix opened #553 "Importing SCSS/CSS into multiple components"
I'm performing a refactor of HTML, SCSS and removing stuff that's unused. Typically with a CLI application you have a structure like:
[code]

I'm looking inside account SCSS and notice quite a few styles referencing HTML that doesn't exist within it's HTML counterpart and remove them.

Realised that activity and sessions broke because they were importing **account.component.scss** (likely due to s

[2018-04-02 17:53] mgechev commented on #553
Yes, the rule which detects dead CSS is experimental. The two main limitations it has you already listed - it doesn't consider `ViewEncapsulation` and shared styles.

I'll close this issue because we've already marked it as not production ready in the readme.

[2018-04-02 17:54] mgechev commented on #553
Sorry, misread the issue. Would you share more details on the functionality you're looking for?

[2018-04-04 06:36] sam-s4s opened #554 "contextual-life-cycle - multiple classes in same file"
When enabling the "contextual-life-cycle" rule, I have 2 classes in a single file:

[code]
and
[code]

This gives the following error:
`In the class "InvoicesPage" which have the "@Pipe" decorator, the "ngOnInit()" hook method is not allowed. Please, drop it.`
Which is incorrect, as the ngOnInit is actually in the Component, not the Pipe.

[2018-04-04 08:38] intellix commented on #553
That other components can't re-use the SCSS of another component

[code]

[2018-04-04 08:43] ahmedfarag2010 opened #555 "update version"
How to update from v5 to v6 please?

[2018-04-04 16:11] wKoza commented on #555
Hi @ahmedfarag2010 ,

Can you explain what do you want when you say "upgrade".
Codelyzer 4.2 should work with Angular 6-rc.

[2018-04-04 17:24] wKoza commented on #554
I think this fix #548  solves the problem. You can verify if you can.
I let this issue open.

[2018-04-04 23:08] sam-s4s commented on #554
Wow sorry guys, I must have done a poor job searching for existing issues, my bad!

[2018-04-04 23:34] mgechev commented on #554
No worries!

[2018-04-08 19:17] wKoza commented on #553
@intellix , can you confirm the supposition of @mgechev ?

[2018-04-09 10:09] wKoza opened #558 "add new rule to enforce the use of providedIn flag"
This is recognized as best practice for providers with Angular 6 (we can now perform tree shaking and remove services that aren't used by your app

[2018-04-16 01:06] rafaelss95 opened #560 "Prevent to implement OnChanges and DoCheck on the same class"
According to [DoCheck#description](https://angular.io/api/core/DoCheck#description):

I thought it was a good idea to add a rule to prevent this.

[2018-04-16 03:43] rafaelss95 commented on #549
What should happen for the following case?

[code]

[2018-04-16 10:08] rafaelss95 opened #562 "Disallow accessing "decorated" properties before its initialization"
- `@Input`;
- `@ContentChild / @ContentChildren`;
- `@ViewChild / @ViewChildren`;

Ex.:

[code]

[2018-04-16 14:58] wKoza commented on #560
It makes sense. :+1:

[2018-04-16 15:07] wKoza commented on #562
It's an interesting feature @rafaelss95 !

[2018-04-16 18:01] mgechev commented on #428
@rafaelss95 it won't be safe to make inputs `readonly` (reasons that @franekp mentioned) but for outputs, this seems to work well.

What you suggested sounds good. You can store the inputs in a `Set` to have a check with `O(1)`.

[2018-04-16 18:03] mgechev commented on #549
@rafaelss95 it's a good corner case that you caught! My suggestion would be to ignore the rule in case the input is applied to a setter.

[2018-04-17 01:47] rafaelss95 commented on #428
@franekp @mgechev I'm not sure this breaks AOT compilation. Maybe in past... idk, but I always make my `@Input`s `readonly` and it doesn't break AOT.

[2018-04-17 01:57] rafaelss95 commented on #560
@wKoza Do you have any name in mind for this rule?

[2018-04-17 02:37] mgechev commented on #428
@rafaelss95 since assignment to different values of already initialized `readonly`properties is not allowed, my guess is that it's not a good idea to be used for inputs.

[2018-04-17 02:37] mgechev commented on #560
`no-conflicting-life-cycle-hooks`?

[2018-04-17 17:28] franekp commented on #428
@rafaelss95 @mgechev I was wrong, I checked and this does not break AOT compilation. Sorry for unnecessary confusion. Also, `readonly` is only a compile-time thing: https://blog.mariusschulz.com/2016/10/31/typescript-2-0-read-only-properties#readonly-vs-immutability

Therefore I think that enforcing inputs being `readonly` is the most clean way to do it.

[2018-04-17 21:38] mgechev commented on #428
Yes, static analysis is ahead of time check as well. If inputs are mutable (and they are), they should not be readonly.

[2018-04-18 06:24] #374 closed

[2018-04-19 00:02] #427 closed

[2018-04-19 00:31] rafaelss95 commented on #560
I like this name. I'm implementing it right now. Do you think this rule needs to be made in a generic way to provide flexibility or only for `DoCheck` and `OnChanges` hooks?

[2018-04-19 00:37] rafaelss95 commented on #562
Do you have any idea in mind to this rule?

[2018-04-19 02:26] rafaelss95 commented on #558
Related to #135. Btw, any news on integrate material2#validateDecoratorsRule here?

[2018-04-19 07:31] chengwanxin9825 opened #565 "Pipe-naming's config kebab-case has not bean implement"
"codelyzer": "4.2.1",
tslint.json
        "pipe-naming": {
            "options": ["kebab-case"],
            "severity": "error"
        },

I have confirmed the source (pipeNamingRule.js )
The problem is that  [_this.validator] has notbean Initialized when args[0]=kebab-case

        if (args[0] === 'camelCase') {
            _this.validator = selectorValidator_1.SelectorValidator.camelCase;

[2018-04-19 09:44] wKoza commented on #565
Hi @chengwanxin9825 ,
`pipe-naming` is now deprecated. You should drop this rule of your tslint file.

[2018-04-19 09:44] #565 closed

[2018-04-19 13:56] #551 closed

[2018-04-20 00:47] rafaelss95 commented on #484
Is it still an issue with the latest version?

[2018-04-20 01:02] chengwanxin9825 commented on #565
@wKoza
thank you very march.

[2018-04-20 19:39] #515 closed

[2018-04-20 19:40] mgechev commented on #536
https://github.com/mgechev/codelyzer/commit/174ed46f11dddd2837559163d6475e00cef8be84

[2018-04-20 19:40] #536 closed

[2018-04-20 19:43] mgechev commented on #376
Let's close this issue for now. Codelyzer is performing local analysis (i.e. per file).

[2018-04-20 19:43] #376 closed

[2018-04-20 19:45] #560 closed

[2018-04-20 20:09] #555 closed

[2018-04-20 20:10] mgechev commented on #488
Let's close this rule. There are a lot of upcoming changes in the Angular compiler.

[2018-04-20 20:10] #488 closed

[2018-04-20 23:46] rafaelss95 commented on #536
@mgechev I just noticed that `min-lines templates/styles` weren't handled on that PR. Does it makes sense to implement this?

[2018-04-20 23:58] mgechev commented on #536
Please do

[2018-04-21 21:29] rafaelss95 opened #567 "[Feature request] - Generic rule to enforce prefixes/suffixes"
Currently we have rules to enforce `component` and `directive` suffixes, but Angular style guide have more rules for the other suffixes:

- [`Service` for injectables](https://angular.io/guide/styleguide#service-names);
- [`Module` for modules](https://angular.io/guide/styleguide#angular-ngmodule-names);
- [`Pipe` for pipes](https://angular.io/guide/styleguide#pipe-names);
- [`RoutingModule` for r

[2018-04-21 22:46] rafaelss95 opened #568 "[max-inline-declarations] - Add option for animations"
Although not mentioned in the Angular style guide (maybe because it's a really new thing), I think it makes sense to warn in `max-inline-declarations` rule if the `animations` declaration is _too_ large as well as `template` and `styles`.

[2018-04-23 05:53] mgechev opened #572 "Add no-queries-parameter rule"

[2018-04-23 05:54] mgechev commented on #572
https://github.com/mgechev/codelyzer/pull/571

[2018-04-23 05:54] #572 closed

[2018-04-24 15:11] jscharett opened #573 "Rule "no-life-cycle-call" does not allow for subclassing"
If I extend a component and I override a lifecycle hook, this rule prevents me from calling the super method.  While I agree with the premise of the rule, it should, however, allow me to call the super method when overriding.

[2018-04-24 15:31] jscharett opened #574 "Possible to sue rule flags for "template-conditional-complexity" and "template-cyclomatic-complexity""
Is it possible to use tslint rule flags to disable the template rules for a particular file?

[2018-04-24 16:04] rafaelss95 commented on #574
Check this https://github.com/mgechev/codelyzer#disable-a-rule-that-validates-template-or-styles

[2018-04-24 16:09] rafaelss95 commented on #573
IMHO, this `rule` should prevent this as it does right now because any parent's lifecycle should be called by `Angular` itself. See https://github.com/angular/angular/issues/23091 and its related issues.

[2018-04-24 17:11] #574 closed

[2018-04-24 17:11] mgechev commented on #573
@jscharett makes sense to me. @rafaelss95 would you want to check if the receiver of the method call isn't `super`?

[2018-04-24 22:07] kevinphelps commented on #573
@rafaelss95: If I understand correctly, the issue you linked to is a bug where Angular does not call a lifecycle hook that is defined in a TypeScript mixin, not a base class.

Consider the following:

[code]

The `super.ngOnInit();` line should be allowed by the "no-lifecycle-call" rule because that is ONLY way `BaseComponent#ngOnInit` can be called in this case.

If you don't provide an implement

[2018-04-25 00:31] rafaelss95 commented on #573
You're totally right. I misread the issue. Good catch :)

[2018-04-25 00:49] kevinphelps commented on #573
If both classes are decorated, it works differently.

[2018-04-25 03:37] kevinphelps opened #577 "no-template-call-expression rule is not published"
The `no-template-call-expression` rule has been merged since v4.1.0 and is in the tag for v4.3.0 (https://github.com/mgechev/codelyzer/blob/4.3.0/src/noTemplateCallExpressionRule.ts). But it is not present in the package that is published to `npm`. https://registry.npmjs.org/codelyzer/-/codelyzer-4.3.0.tgz

I'm not sure why.

[2018-04-25 19:24] #573 closed

[2018-04-26 02:40] rafaelss95 commented on #549
@mgechev I'd like to implement this (I've already started). I think we can use more generic approach, to enforce single line for `Output`, `ContentChild`, `ViewChild`... and so on. What do you think?

[2018-04-26 03:48] scott-ho opened #579 "Auto fixing template cause html entity crashed"
input:
[code]

output:
[code]

desired output
[code]

codelyzer config:
[code]

[2018-04-26 04:47] mgechev commented on #579
That's a know reported issue. Thanks for the details.

[2018-04-26 04:47] #579 closed

[2018-04-26 05:58] scott-ho commented on #579
@mgechev could you link to the related issue? I create this issue for not finding out similar issue.

[2018-04-26 06:18] mgechev commented on #579
https://github.com/mgechev/codelyzer/issues/412

[2018-04-26 13:23] diminutivesloop opened #580 "no-input-rename fails on input alias to directive selector"
According to the changelog for version 4.3.0 the no-input-rename rule should now allow input aliasing for directives when the alias matches the selector name as described in the angular [attribute directive guide](https://angular.io/guide/attribute-directives#bind-to-an-input-alias). However after updating to 4.3.0 the following code is still reported as violating the no-input-rename rule:
[code]

[2018-04-26 17:28] #577 closed

[2018-04-26 17:29] #454 closed

[2018-04-27 16:56] mertdeg2 opened #583 "Upgrade TypeScript dependency to 2.7.2"
https://github.com/mgechev/codelyzer/blob/4.3.0/package.json#L69

We couldn't use codelyzer because its pinning TS 2.4

[2018-04-27 17:55] mgechev commented on #583
I'll take a look at this today.

[2018-04-27 17:57] mertdeg2 commented on #583
Sounds good. Thanks Minko! Let me know if i can help.

[2018-04-27 18:17] mgechev commented on #583
@mertdeg2 would you try the branch `minko/dev-typescript`. It should work properly with the latest TypeScript.

[2018-04-27 18:48] mgechev commented on #583
@mertdeg2 I added the return type to `noTemplateCallExpressionRule`. Let me know if the build still fails.

[2018-04-27 18:56] mertdeg2 commented on #583
Nope, this works. Thanks! :)

[2018-04-27 20:36] #583 closed

[2018-04-28 21:44] Ks89 commented on #338
I still have the same problem with either angular-cli 1.7.x or angular-cli 6.0.0 rc

How can I fix this?

[2018-04-29 18:01] #580 closed

[2018-04-30 00:37] rafaelss95 opened #589 "[no-input-prefix] - Bug in concurrent prefixes"
If you have this config in your `tslint.json`:

[code]

it won't report a failure for this:

`@Input() iscHange = '';`

... but if you change the config to `"no-input-prefix": [true, "isc", "is"]`, it works.

**In addition**, I don't know if it is intentional, but this rule isn't checking if the alias is prefixed by a non-allowed prefix (it is useful in case where the `no-input-rename` rule isn't

[2018-04-30 07:33] #589 closed

[2018-04-30 15:06] #549 closed

[2018-05-01 21:03] rafaelss95 opened #591 "[Feature request] - use output for EventEmitter"
It'd be great to check if an `EventEmitter` is decorated with `@Output`.

If you simply forgot to decorate it (something like `fakeOutput = new EventEmitter<void>();`) it'll fail silently and you may waste some time to find this mistake.

An use case:

[code]

[DEMO](https://stackblitz.com/edit/angular-gitter-kcgkhd)

<hr>

Not sure if here is the best place, because for `@Input`'s, `@angular`, th

[2018-05-01 21:03] rafaelss95 opened #592 "About use-pipe-decorator"
The rule `usePipeDecorator` seems to be unnecessary now, because once you try to put any class without any valid decorators (`Component`, `Directive` or even `Pipe` decorator) in `@NgModule`'s declarations it throws an error:

[2018-05-02 02:11] mgechev commented on #592
Let's keep it for now until Ivy gets released.

[2018-05-02 02:12] #592 closed

[2018-05-02 02:12] mgechev commented on #592
@rafaelss95 love your suggestion btw, I definitely agree. I closed the issue because of the plans for the locality of the compiler.

[2018-05-02 05:06] rafaelss95 opened #594 "About prefixes rules"
In theory, `prefix` is a word, letter, or number placed before another, however I noticed that there's a test case in `noOutputOnPrefix`:

https://github.com/mgechev/codelyzer/blob/651be15e7a5e0ce047b1ab0be5a90b51a3adb4aa/test/noOutputOnPrefixRule.spec.ts#L35-L47

... where it implies that we can't name a variable `on`. Is it really the expected behavior? For me, it's a little strange because ther

[2018-05-02 12:22] Teamop opened #596 "[Feature request] - check unused properties in class declaration"
Right now, there's an edge case that doesn't covered by tslint, codelyzer and language service.
The demo is easy, just use http://codelyzer.com/, then just add `a: string;` in the component, like this:
![image](https://user-images.githubusercontent.com/8519685/39522554-2b056d80-4e45-11e8-8166-d91f6715bfba.png)
Here, no error, no warning.

For TSLint, [only complains about unused private properties

[2018-05-02 17:29] mgechev commented on #596
@Teamop the feature request is to detect properties which are not later read?

[2018-05-02 17:31] Teamop commented on #596
@mgechev yes, just declare but don't use.

[2018-05-02 17:34] mgechev commented on #596
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2018-05-02 17:34] #596 closed

[2018-05-02 17:34] mgechev commented on #591
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2018-05-02 17:34] #591 closed

[2018-05-02 17:35] mgechev commented on #256
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2018-05-02 17:35] #256 closed

[2018-05-02 17:35] mgechev commented on #291
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2018-05-02 17:35] #291 closed

[2018-05-02 17:36] #242 closed

[2018-05-02 17:36] mgechev commented on #82
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2018-05-02 17:36] #82 closed

[2018-05-02 17:36] mgechev commented on #327
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2018-05-02 17:36] #327 closed

[2018-05-02 17:37] mgechev commented on #567
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2018-05-02 17:37] #567 closed

[2018-05-02 17:37] mgechev commented on #553
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2018-05-02 17:37] #553 closed

[2018-05-02 17:37] mgechev commented on #562
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2018-05-02 17:37] #562 closed

[2018-05-02 17:38] #484 closed

[2018-05-02 17:38] #408 closed

[2018-05-02 17:38] mgechev commented on #408
We have this in the readme.

[2018-05-02 17:39] mgechev commented on #135
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2018-05-02 17:39] #135 closed

[2018-05-02 17:39] mgechev commented on #428
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2018-05-02 17:39] #428 closed

[2018-05-02 17:39] mgechev commented on #436
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2018-05-02 17:39] #436 closed

[2018-05-02 17:40] mgechev commented on #457
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2018-05-02 17:40] #457 closed

[2018-05-02 17:40] mgechev commented on #558
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2018-05-02 17:40] #558 closed

[2018-05-02 17:40] mgechev commented on #568
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2018-05-02 17:40] #568 closed

[2018-05-02 17:41] mgechev commented on #526
https://github.com/mgechev/codelyzer/issues/487

[2018-05-02 17:41] #526 closed

[2018-05-02 17:42] mgechev commented on #452
Let's drop the `check-pipe` as @wKoza suggested https://github.com/mgechev/codelyzer/issues/460.

[2018-05-02 17:42] #452 closed

[2018-05-02 17:42] mgechev commented on #412
https://github.com/mgechev/codelyzer/issues/460

[2018-05-02 17:42] #412 closed

[2018-05-02 17:44] mgechev commented on #594
To me, it sounds fine to disallow `on` as the name of an output. Let's reopen this if anyone disagrees.

[2018-05-02 17:44] #594 closed

[2018-05-02 17:45] mgechev commented on #455
https://github.com/mgechev/codelyzer/issues/460

[2018-05-02 17:45] #455 closed

[2018-05-02 19:26] michaeljota commented on #291
Just want to say I hate the feature request process that Lodash has. But, I understand you would like to close some issues if they won't be implemented anytime soon. Thanks for the notice.

[2018-05-04 00:23] dev054 opened #598 "Request - Component restrictions"
Could we have a rule to disallow the following situations?

[code]

Another situation is when you have by mistaken this code:

[code]

It should report a failure because you have both attributes: `template` and `templateUrl` in the same definition and Angular will only recognize the last attribute, in this case, `templateUrl`. The same happens for `styles` and `styleUrls`.

[2018-05-04 00:25] dev054 opened #599 "Request - Enforce pipe names"
There's one rule to enforce component selectors, could we have one for `pipe` names?

[code]

[2018-05-04 00:25] mgechev commented on #598
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2018-05-04 00:25] #598 closed

[2018-05-04 00:26] mgechev commented on #599
`name: null` should be a compile-time error. The name is not nullable, no?

[2018-05-04 00:26] mgechev commented on #599
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2018-05-04 00:26] #599 closed

[2018-05-04 00:34] dev054 commented on #599
Unfortunately not, it compiles [here](https://stackblitz.com/edit/angular-gitter-ttdpfz). The maximum we can get now is a warning from the deprecated `pipe-naming` rule if the value is **undefined** (not null or empty):

Interestingly, Angular throws an compile-time error for `@Directive`:

... when your `selector` is equal to `null`, `undefined` or `empty`.

[2018-05-04 00:36] dev054 opened #600 "Request - Import line spacing"
According to https://angular.io/guide/styleguide#style-03-06, we should "Consider leaving one empty line between third party imports and application imports.".

[2018-05-04 00:40] dev054 opened #601 "Request - Http only in services"
According to https://angular.io/guide/styleguide#style-08-01, we should "Do refactor logic for making data operations and interacting with data to a service.". Is it possible to prevent http directly calls in other places that `@Injectable` ones?

[2018-05-04 00:44] mgechev commented on #601
That's a pretty good suggestion.

[2018-05-04 00:44] mgechev commented on #601
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2018-05-04 00:44] #601 closed

[2018-05-04 00:45] mgechev commented on #600
That's more of a coding practice which should be part of tslint. We tried to stay away from these while working on the style guide but this one sneaked somehow, I suppose.

[2018-05-04 00:45] #600 closed

[2018-05-04 00:48] mgechev commented on #599
@dev054 `name` is [not nullable](https://github.com/angular/angular/blob/master/packages/core/src/metadata/directives.ts#L793). With stricter type checking this should not be a semantically valid program.

[2018-05-04 00:52] dev054 commented on #599
Hmm, yes. While I agree that enable `strict` makes it more easier to find errors, not all projects use it. Also, it doesn't prevent `''`.

[2018-05-04 00:56] dev054 opened #602 "Request - Use injectable"
According to https://angular.io/guide/styleguide#style-07-04, we should "Do use the @Injectable() class decorator instead of the @Inject parameter decorator when using types as tokens for the dependencies of a service.".

Also, according to https://angular.io/guide/styleguide#style-02-04, we should "Do suffix a service class name with Service. For example, something that gets data or heroes should

[2018-05-04 00:58] #602 closed

[2018-05-05 19:30] rafaelss95 opened #606 "Show code examples in site"
https://github.com/palantir/tslint/pull/3602 adds optional capability to provide code examples in rules' metadata. It'd be great if we use something like this.

[2018-05-06 14:39] lazarljubenovic commented on #599
I think prevent anything that leads to `name.trim() == ''` should be handled by Angular. I don't think it's linter's responsibility to ensure that you can use the pipe you've created. It's a direct Angular problem.

[2018-05-06 16:06] rafaelss95 opened #607 "template-conditional-complexity not reporting failures when `[ngIf]` is used"
**Reproduction:**

[code]

[code]

**Expected behavior:**
Failure.

**Actual behavior:**
No failure.

[2018-05-06 16:06] rafaelss95 opened #608 "trackBy-function not reporting failures when `[ngForOf]` is used"
**Reproduction:**

[code]

[code]

**Expected behavior:**
Failure. Missing `[ngForTrackBy]`.

**Actual behavior:**
No failure.

[2018-05-06 16:06] rafaelss95 opened #609 "template-cyclomatic-complexity not reporting failures when `[ngIf]` or `[ngForOf]` are used"
**Reproduction:**

[code]

[code]

**Expected behavior:**
Failure.

**Actual behavior:**
No failure.

[2018-05-06 16:13] rafaelss95 opened #613 "no-output-rename not reporting some failures"
**Reproduction:**

[code]

[code]

[2018-05-06 16:19] rafaelss95 opened #615 "templates-no-negated-async not reporting some failures"
**Reproduction:**

[code]

[code]

[2018-05-06 16:32] rafaelss95 opened #616 "[Feature request] - change prefixes rules"
Per https://github.com/mgechev/codelyzer/pull/576#issuecomment-384403638, I'm opening this.

**Proposal**:

- `no-output-on-prefix`: This rule is little bit restrictive, it only prevents a single prefix, what would not be suitable for many cases. I vote for something more generic, accepting a regex pattern: `"no-output-prefix": [true, "^(on|yes)[a-zA-Z]+"]`.
- `no-input-prefix`: Instead of passing

[2018-05-06 18:57] #608 closed

[2018-05-06 20:54] #616 closed

[2018-05-06 20:55] #613 closed

[2018-05-06 20:56] #606 closed

[2018-05-07 10:07] #609 closed

[2018-05-09 18:13] jaufgang opened #619 "Whitespace rules in angular templates"
the [TSLint `Whitespace` rule](https://palantir.github.io/tslint/rules/whitespace/) can check for whitespace around operators, for example

[code]
However, the codelyzer `angular-whitespace` rule does not catch this

[code]

Is there a way to catch this?  Could the `angular-whitespace` rule be configured to piggyback off the `whitespace` rule, and enforce the same config options for code in angula

[2018-05-09 19:04] #619 closed

[2018-05-10 02:16] dev054 opened #620 "component-selector stopped working in Angular v6"
I have the config:

`"component-selector": [true, "element", "sg", "kebab-case"],`

and this component:

[code]

Now I'm getting a warning

It used to working before upgrade.

**ng -v:**
[code]

[2018-05-10 07:42] wKoza commented on #620
When you say "before upgrade", what are you talking about ? Angular CLI, Codelyzer or the both ?

[2018-05-11 01:37] dev054 commented on #620
Hard to say, but I've upgraded everything.

Before all `@angular` related stuff was in 5.2.10 and `Codelyzer` 4.2.1. After upgrading I'm getting these warnings.

[2018-05-11 01:44] dev054 opened #622 "[no-template-this]"
A rule to disallow `this` in template:

[code]

[2018-05-11 01:49] rafaelss95 commented on #619
Some people, such as Material2 team, doesn't like whitespaces between the interpolations), so it could be another improvement: add some configuration like `never`, so that would validate it to have no spaces.

[2018-05-11 02:00] mgechev commented on #622
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2018-05-11 02:00] #622 closed

[2018-05-11 06:05] wKoza commented on #620
Are you sure about your `tslint.json` , maybe have you more than one  `component-selector` entry in your file.
Can you push one repro in Github ?

[2018-05-11 11:44] wKoza opened #623 "prefixed with ./. the url of template or style file"
Example:

This code

[code]

should fail.

[2018-05-11 11:44] #623 closed

[2018-05-12 18:10] rafaelss95 opened #624 "A rule to enforce the use of property binding"
Samples:

[code]

[2018-05-12 19:12] mgechev commented on #624
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2018-05-12 19:12] #624 closed

[2018-05-12 20:51] rafaelss95 commented on #606
@mgechev does it really need votes? It's just a docs change/feature.

[2018-05-14 01:44] rafaelss95 opened #627 "template-conditional-complexity not reporting failures in some cases"
Sample:

**Config:**
[code]

[code]

[2018-05-14 02:18] rafaelss95 opened #628 "i18n (check-text) returning false positives"
**Config:**
[code]

[code]

[2018-05-15 13:48] jaufgang commented on #619
Another example of where whitespace rule could be enforced:
[code]

[2018-05-16 07:38] wKoza commented on #627
@rafaelss95 ,
Can you split this issue in order to classifie issues (bugs // features)?

[2018-05-16 07:40] wKoza commented on #620
Without further informations, I close this issue for the moment.

[2018-05-16 07:40] #620 closed

[2018-05-16 16:39] rkirov opened #629 "Turn on strict TS compilation mode"
We started syncing this repo for google internal usage. Technically we have exceptions for code that doesn't have `'strict': true`, but it is generally best to use that flag to be consistent with the rest of google TS users.

[2018-05-16 17:36] rafaelss95 commented on #629
I was about to open an issue to suggest the same thing.

@ mgechev can I work on it?

[2018-05-16 17:46] rafaelss95 opened #630 "[template-conditional-complexity] - Report failures for other directives besides ngIf"
Currently this rule only computes conditionals wrapped by `*ngIf`, it'd be great if we could have failures for `[class]` and `[ngClass]` bindings as well, e.g.:

**Config:**
[code]

[code]

[2018-05-16 17:47] rafaelss95 commented on #627
@wKoza Done. Can you apply the label `bug` here?

[2018-05-16 17:47] rafaelss95 commented on #615
@wKoza, can you apply the label `bug` here?

[2018-05-16 20:18] mgechev commented on #629
@rafaelss95 sure!

[2018-05-16 22:04] rafaelss95 commented on #630
@mgechev is it a bug? I thought it was an enhancement. That's why I separate this and #627.

[2018-05-16 22:26] mgechev commented on #630
@rafaelss95 you're correct. Will close it as a feature request.

[2018-05-16 22:26] #630 closed

[2018-05-16 22:26] #460 closed

[2018-05-19 01:56] rafaelss95 commented on #619
Thinking more about it... do we really want to messing with formatting rules in a linter? Well, while I can imagine how this rule could be useful in many cases, I really think it's more appropriated to left this kind of rule to a formatter, like `Prettier`*, for example.

IMHO, this project shouldn't mess with spaces and formatting in general. Formatting rules are always a pain and it also never s

[2018-05-21 10:28] nikolay-borzov commented on #338
@tilowestermann gave a good hint. If you lint `node_modules` folder tslint will take `tslint.json` from package's folder. For example `@ngx-translate` have one.

[2018-05-21 18:14] mgechev commented on #629
@rafaelss95 how's this task going?

[2018-05-22 03:53] rafaelss95 commented on #629
@mgechev Sry for the delay, I'm a little busy this week, but I hope I can send a PR tomorrow. :rocket:

[2018-05-26 21:45] rafaelss95 opened #632 "Feature request: template-prefer-safe-navigation-operator"
A rule to enforce the following:

[code]

... instead of this:

[code]

[2018-05-26 21:50] rafaelss95 opened #633 "Feature request: template-no-any"
A rule to disallow the `$any(...)` usage:

[code]

Similar to https://palantir.github.io/tslint/rules/no-any/

[2018-05-26 21:53] rafaelss95 opened #634 "Feature request: template-max-line-length"
Reference: https://palantir.github.io/tslint/rules/max-line-length/

[2018-05-26 22:01] rafaelss95 opened #635 "Feature request: template-no-duplicate-directives"
[code]

[2018-05-26 22:05] rafaelss95 opened #636 "Feature request: template-deprecation"
For example, if we use the `@Input classList`, which is deprecated, of [MatMenu](https://material.angular.io/components/menu/api#directives), it should report a failure:

[code]

Reference: https://palantir.github.io/tslint/rules/deprecation/

[2018-05-26 22:08] rafaelss95 opened #637 "Feature request: template-eofline"
Reference: https://palantir.github.io/tslint/rules/eofline/

[2018-05-26 22:12] rafaelss95 opened #638 "Feature request: template-min-lines"
Originally from https://github.com/mgechev/codelyzer/issues/536#issuecomment-383249236.

[2018-05-26 22:13] rafaelss95 opened #639 "Feature request: template-max-file-line-count"
Reference: https://palantir.github.io/tslint/rules/max-file-line-count/

[2018-05-26 22:22] rafaelss95 opened #640 "Feature request: template-prefer-switch"
Reference: https://palantir.github.io/tslint/rules/prefer-switch/

[2018-05-26 22:30] #640 closed

[2018-05-26 22:30] #639 closed

[2018-05-26 22:30] rafaelss95 opened #641 "Feature request: template-no-magic-numbers"
Reference: https://palantir.github.io/tslint/rules/no-magic-numbers/

[2018-05-26 22:30] #638 closed

[2018-05-26 22:31] #637 closed

[2018-05-26 22:31] #636 closed

[2018-05-26 22:31] #635 closed

[2018-05-26 22:31] #634 closed

[2018-05-26 22:31] #633 closed

[2018-05-26 22:31] #632 closed

[2018-05-26 22:32] #641 closed

[2018-05-26 22:33] rafaelss95 opened #642 "Feature request: A rule to disallow literals in *ngFor"
I find the following very hard to read. Instead you could just declare it at component level.

[code]

[2018-05-26 22:33] #642 closed

[2018-05-26 22:35] rafaelss95 opened #643 "Feature request: template-triple-equals"
Reference: https://palantir.github.io/tslint/rules/triple-equals/