[2018-05-26 22:35] #643 closed

[2018-05-26 22:36] rafaelss95 opened #644 "Feature request: no-consecutive-blank-lines"
Reference: https://palantir.github.io/tslint/rules/no-consecutive-blank-lines/

[2018-05-26 22:40] mgechev commented on #644
@rafaelss95 @wKoza FYI just added [an additional line](https://github.com/mgechev/codelyzer#codelyzer) in the README regarding the feature request process.

[2018-05-26 22:51] rafaelss95 opened #645 "Feature request: A rule to turn private variables and methods if unused outside the class"
[code]

[2018-05-26 22:51] #645 closed

[2018-05-26 22:56] rafaelss95 opened #646 "Feature request: template-no-duplicate-ngSwitchCase"
Reference: https://palantir.github.io/tslint/rules/no-duplicate-switch-case/

[2018-05-26 22:56] #646 closed

[2018-05-26 23:39] rafaelss95 opened #649 "Feature request: template-prefer-sugar-ngFor"
Instead of:

[code]

Prefer:

[code]

[2018-05-26 23:40] #649 closed

[2018-05-26 23:40] rafaelss95 opened #650 "Feature request: template-no-boolean-literal-compare"
Reference: https://palantir.github.io/tslint/rules/no-boolean-literal-compare/

By default it should be allowed only when comparing to `false` by `Observable` values.

[2018-05-26 23:40] #650 closed

[2018-05-26 23:41] rafaelss95 opened #651 "Feature request: template-prefer-sugar-ngIf"
Instead of:

[code]

Prefer:

[code]

[2018-05-26 23:46] rafaelss95 opened #652 "Feature request: A rule to enforce literal string in *ngSwitchCase"
Example:

[code]

[2018-05-26 23:46] #652 closed

[2018-05-26 23:46] #651 closed

[2018-05-26 23:57] rafaelss95 opened #653 "About rule names"
Template rules are a little bit mixed, some start with `template`, others with `templates`, others with nothing.
I want to propose to normalize them with the prefix `template-`:

`banana-in-box` -> `template-banana-in-box`;
`i18n` -> `template-i18n`;
`templates-no-negated-async` -> `template-no-negated-async`
`trackBy-function` -> `template-use-trackBy-function` (not sure about the capitalized "B"

[2018-05-27 00:00] rafaelss95 opened #654 "A better way to disable rules in template"
Consider the following markup:

[code]

I can't disable a specific rule for specific line/lines. Currently I've to disable all the template.

[2018-05-27 00:02] rafaelss95 opened #655 "Create configs"
It'd be great to have configs as [TSLint](https://github.com/palantir/tslint/tree/master/src/configs) does. People would only extends `codelyzer:recommended`, for example, and done.

[2018-05-27 06:01] lazarljubenovic commented on #654
Idea:

[code]

But indeed, it's ugly. I wonder if the disable/enable commets are configurable in tslint...

[2018-05-27 06:03] lazarljubenovic commented on #652
I don't think you'd want to do this globally. Isn't it a too common usecase to use an enum from the component, or a number?

[2018-05-27 06:05] lazarljubenovic commented on #649
Last time I checked, although these two have the same effect, they produc different code. The first one recognizes if there is a single element inside it, while the second one always uses the upoptimized version.

(Just observing, not saying this is a bad rule - I'd love to see it as well.)

[2018-05-27 06:08] lazarljubenovic commented on #646
It's actually worth checking out what does Angular do in case cases (ha!) are repeated...

[2018-05-27 06:09] lazarljubenovic commented on #645
Can the linter try to change it to `private` in a dry run of type checking and then check if it broke something? That seems like the easiest way to know if the user is using it somewhere.

[2018-05-27 06:12] lazarljubenovic commented on #632
Is compiled code exactly like this with `?.`? Or does it do an actual `!= null` check?

[2018-05-27 06:13] lazarljubenovic commented on #635
I wonder if this should be Anguar compile-time error. In what cases does this even make sense?

[2018-05-27 06:45] #654 closed

[2018-05-27 06:45] #655 closed

[2018-05-27 14:32] rafaelss95 commented on #652
Good catch! When I created this issue I was just wondering about the above use case, forgot totally about what you described. Now I'm unsure about this would be a good rule.

[2018-05-27 14:37] rafaelss95 commented on #632
According to [docs](https://angular.io/guide/template-syntax#the-safe-navigation-operator----and-null-property-paths):

[2018-05-30 14:12] #629 closed

[2018-05-31 08:33] SanderElias opened #656 "Feature request: directive and components selector support for module-name"
Both the component as well as the directive selector do this:
`The selector of the component "Sub1Component" should have prefix "app" (https://angular.io/styleguide#style-02-07) (component-selector)`

However, I would love to have support for enforcing de module name in there, if that is at all possible.
I mean, that something like this:

[code]

should be valid when it is part of the `demo`  modu

[2018-05-31 09:18] wKoza commented on #656
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2018-05-31 09:18] #656 closed

[2018-05-31 18:00] SanderElias commented on #656
@wKoza perhaps a clue on how to vote might help the voting process? ;)

[2018-05-31 18:20] mgechev commented on #656
Give yourself a 👍

[2018-06-01 01:34] rafaelss95 commented on #622
I like this proposal. I can see one case where `this` in template is "useful": when you want to access dynamic properties: `{{ this[dynamicProp] }}`, so I think it could be configurable:

[code]

[2018-06-01 02:22] SebasG22 commented on #620
@wKoza The issue should be open, the problem persist.
Typescript File
![image](https://user-images.githubusercontent.com/17608169/40817531-77f6f2d2-6518-11e8-9c8b-e4006ea35aab.png)
Tslint config
![image](https://user-images.githubusercontent.com/17608169/40817550-9e96dd62-6518-11e8-86a2-df1b2d9c98e1.png)

[2018-06-01 06:02] wKoza commented on #620
I think you confound the type (`element` or `attribute`) and the list of prefixes. You have an error because you have set prefixes `app` and `page`. You should therefore change your selector name with `app-login-main` or `page-login-main`.

[2018-06-01 14:56] jaufgang commented on #460
Perhaps instead of removing it from the docs, you could document that it has been removed.  That way, developers trying to use the `check-pipe` who are looking at the docs won't be scratching their heads wondering where it is and need to search around to find this issue in order to figure out what happened to it.

[2018-06-01 14:58] SebasG22 commented on #620
@wKoza You are right, but still not working.
![captura de pantalla 2018-06-01 a la s 9 57 42 a m](https://user-images.githubusercontent.com/17608169/40847548-53fbfb92-6582-11e8-879a-d766f5d1e625.png)

[2018-06-02 18:39] piyukore06 opened #657 "export NgWalker for library users"
Hello Maintainers,

Thank you for building Codelyzer. It is really helpful not just for catching lint errors but also knowing what is a good way of doing a certain thing.

TsLint has exported it's Walkers. On top of which devs can build custom TsLint rules. I wanted to build a custom rule using angular metadata but I found out that NgWalker is not exported.

Is there any particular reason it was n

[2018-06-02 19:45] mgechev commented on #657
Hey @piyukore06, I've thought of externalizing the `NgWalker` several times. Your proposal makes a lot of sense. To prioritize this feature request, I'll add `votes needed` label and close it, so that people can vote and we can introduce it as part of the roadmap if the demand is high. Alternatively, if you have some time, we'd love to get a PR from you!

[2018-06-02 19:45] #657 closed

[2018-06-02 19:46] mgechev commented on #291
Actually, that's a feature great for people who want to contribute to codelyzer! There's no AST traversal required.

[2018-06-03 03:07] rafaelss95 commented on #620
Are you sure guys that your config are not being overwritten in `<your-project>/src/tslint.json`? It's a new file that came in `angular-cli` v6 and maybe you didn't notice that.

[2018-06-03 03:07] rafaelss95 commented on #620
Are you sure that your config are not being overwritten in `<your-project>/src/tslint.json`? It's a new file that came in `angular-cli` v6 and maybe you didn't notice that.

[2018-06-04 19:42] SebasG22 commented on #620
@rafaelss95 thanks you, I realized that the src/tslint.json (Angular Generated) overwritten my global ( tslint.json )custom rules.

[2018-06-11 07:18] dominique-mueller opened #661 "[Feature Request] Detect attribute & event conflicts with native HTML / DOM"
### Feature

Codelyzer could detect component attributes (inputs) and events (outputs) that have the exact name as native HTML / DOM attributes and events. By detecting those conflicts, Codelyzer can eliminate confusion by preventing (assumingly) unexpected behaviour from occuring.

### Example

The `title` attribute can be used to show a small tooltip when the user is hovering over the element th

[2018-06-11 11:39] klinki opened #662 "Bug: no-life-cycle-call for inherited components"
Hello,

there is a bug in `no-life-cycle-call` rule. If component extends some other component, it should be valid to call `super.ngOnInit()` (or any other parent's life-cycle callback). Currently it is not.

[2018-06-11 11:59] klinki commented on #662
Sorry, duplicate for https://github.com/mgechev/codelyzer/issues/573

[2018-06-11 11:59] #662 closed

[2018-06-11 17:50] mgechev commented on #661
Thanks! Marking it as a `votes needed` and closing it. Once we implement it, I'll drop the `votes needed` label.

[2018-06-11 17:50] #661 closed

[2018-06-13 01:55] mgechev commented on #653
@rafaelss95 the proposal makes sense. We should coordinate the effort with Angular CLI. It might be a good idea to push the rules before their next major release.

[2018-06-13 14:09] jaufgang commented on #628
perhaps a config option could be added to provide a list of elements to ignore (eg: `["mat-icon"]`).

[2018-06-18 07:49] sgronblo commented on #176
I am trying to get this working in 2018 with codelyzer@4.2.1 and it doesn't seem to be working.

[2018-06-19 06:22] mertdeg2 opened #663 "no-input-rename rule should allow aliasing dashed properties"
Specifically, something like this should be allowed:

`@Input('aria-label') ariaLabel: string;`

In above, we can't have a variable called aria-label. TS code wouldn't compile, and JS engine would complain invalid left hand side assignment.

[2018-06-19 08:42] FDIM opened #664 "Feature request: disallow import from parent directory"
I am not sure how others do this, but at least in our project we are using baseUrl in tsconfig and almost all of our imports are relative to the root of the repo, e.g.:
[code]

A rule to enforce this would be quite nice. How about `no-parent-dir-import`?

I am willing to investigate and make a PR if there is some interest.

[2018-06-19 10:20] lazarljubenovic commented on #664
This looks like a tslint feature, not codelyzer. Nothing Angular-specific here, right?

[2018-06-19 10:49] FDIM commented on #664
yep, nothing angular specific - but it might be easier / faster to include it here than in the tslint itself. I'll open the issue there and reference this one.

As for node_modules, it just goes down to order - it tries base directory first and then fallbacks to node_modules or any other folder dictated by compiler options paths property in tsconfig

[2018-06-19 21:46] #664 closed

[2018-06-19 22:28] mgechev commented on #663
Regex to whitelist names makes sense.

[2018-06-19 22:33] rafaelss95 commented on #663
Whitelist only for `aria-*` family then? Btw, I found [this reference](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques).

[2018-06-20 01:56] rafaelss95 opened #666 "Feature request: A rule to disallow the use of providers in NgModule"
Angular 6 brings a new **recommended** way to define injectable using `providedIn`.

Relates to #558.

[2018-06-20 01:56] #666 closed

[2018-06-20 02:00] rafaelss95 opened #667 "Feature request: A rule to disallow multiple function calls"
Ex:

[code]

Instead, create and call a single function that wraps all these functions.

[2018-06-20 02:00] #667 closed

[2018-06-20 02:29] #663 closed

[2018-06-22 00:12] rafaelss95 opened #668 "Feature request: A rule to disallow predefined inputs/pipes/selectors"
Basic examples:

***Input***:

[code]

***Pipe:***

[code]

***Selector:***

[code]

[2018-06-22 00:28] #668 closed

[2018-06-23 09:31] 82antu opened #669 "TypeError: ts.isStringLiteralLike is not a function"
Hi,

I just update right now from 4.3.0 to 4.4.0,...and:

[code]

Any help is appreciate.

thank in advance

[2018-06-23 09:57] LukasKlement commented on #669
I'm experiencing the same issue, downgrading to version 4.3.0 fixes it.

[2018-06-23 11:03] chrisguttandin opened #670 "prefer-inline-decorator is missing in v4.4"
Hi @mgechev, I think the `prefer-inline-decorator` rule somehow got lost when releasing v4.4. The 'preferInlineDecoratorRule.ts' file is not part of the package and tslint does also complain that it can't find the rule.

[code]

[2018-06-24 00:18] #669 closed

[2018-06-24 00:19] #670 closed

[2018-06-24 01:37] rafaelss95 opened #672 "Some PRs are missing in changelog (v4.4.0)"
**Features:**
#569, #595

**Bug fixes:**
#575, #582, #585, #590, #593, #597, #610, #611, #612, #614, #617

**Others:**
#625

[2018-06-24 01:37] rafaelss95 commented on #672
@mgechev can you tell me how is the changelog being generated currently?

[2018-06-24 02:00] mgechev commented on #672
@rafaelss95 the process is manual ATM. We can go with [github-changelog-generator](https://github.com/github-changelog-generator/github-changelog-generator).

[2018-06-24 02:02] mgechev commented on #672
@rafaelss95 looks like I've missed these commits because they weren't part of the 4.4.0 milestone.

[2018-06-24 07:19] #672 closed

[2018-06-24 12:34] chrisguttandin commented on #670
thank you very much

[2018-06-25 07:04] krichert opened #678 "no-output-on-prefix rule"
Actual: no-output-on-prefix rule fails when 'on' is in the word (irrelevant where it is - on the begging, in the middle, on the end)
Expected: no-output-on-prefix rule fails 'on' is in the beginning of word (prefix)

[2018-06-25 07:54] mgechev commented on #678
This is fixed by https://github.com/mgechev/codelyzer/commit/adc974af75193a78b1e9f6f4760319143965b6b1. I'll release the change in the next few days.

[2018-06-25 07:54] #678 closed

[2018-06-25 07:59] mgechev commented on #678
Actually, it's already out in 4.4.2.

[2018-06-25 15:02] mertdeg2 opened #679 "Fix compilation issues with TS 2.9"
We had to locally change following rules to get them compiled under TS 2.9

noInputRenameRule.ts
preferOutputReadonlyRule.ts

These rules had something like this: `(property.parent as ts.PropertyAccessExpression)`.

Everything seems to compile when we changed above to `(property.parent as ts.ClassLikeDeclaration)`

[2018-06-26 15:00] tahuba opened #680 "Cannot parse the styles"
I'm running codelyzer, and it gives lot of these error message:
[code]

Node: v10.5.0
Angular: v6.0.6
Typescript: v2.7.2
Codelyzer: v4.3.0

[2018-06-26 23:31] rafaelss95 commented on #679
Codelyzer supports up to the latest version of TS supported by the Angular, which is so far I am writing this comment, 2.7.2.

[2018-06-26 23:37] rafaelss95 commented on #680
Can you show the code of the file which throws this error? Also, have you checked if it's still an issue with the latest version (4.4.2)?

[2018-06-27 00:43] #679 closed

[2018-06-27 08:23] tahuba commented on #680
The error thrown on line `styleUrls: ['./login.style.scss'],` in the @Component decorator in all of my components. Previously I used the version 4.3.0 and there wasn't error. The error appeared after the upgrade to version 4.4.2.

[2018-06-27 08:31] mgechev commented on #680
Closing it due to insufficient information.

[2018-06-27 08:31] #680 closed

[2018-06-27 12:35] robzenn92 opened #681 "Property length misspelled twice in useLifeCycleInterfaceRule.js"
Hi,
I found that in [useLifeCycleInterfaceRule.js](https://github.com/mgechev/codelyzer/blob/master/docs/dist/src/useLifeCycleInterfaceRule.js)  [L#83](https://github.com/mgechev/codelyzer/blob/master/docs/dist/src/useLifeCycleInterfaceRule.js#L83) and [L#91](https://github.com/mgechev/codelyzer/blob/master/docs/dist/src/useLifeCycleInterfaceRule.js#L91) contain the property `.lengHT` misspelled t

[2018-06-27 21:35] #681 closed

[2018-06-27 22:03] rafaelss95 opened #683 "Feature request: Inverse of no-template-call-expression"
It would be useful to avoid too much logic in template, keeping it as clean and readable.

An example:

[code]

vs

[code]

[2018-06-27 22:03] #683 closed

[2018-06-27 22:18] rafaelss95 opened #684 "Feature request: Rule to limit the maximum of components/directives/pipes/services per modules"
The larger a module gets, the more difficult it is to maintain with so many files, multiple dependencies/imports. It would be really better to separate into several skinny modules.

A configuration could be:

[code]
<hr>

Not sure if it's a real problem, however with the configuration above, people won't be able to disable a specific check (i.e. disable components limit for a specific module).

[2018-06-27 22:19] #684 closed

[2018-06-28 20:44] lazarljubenovic commented on #683
Just before someone tells how the second snippet is "wrong"... People freak out about calling functions in templates ("because perf") but then they go ahead and write things like in the first snippet.

Perf-wise, assuming the function does the same logic like the first snippet, are completely equivalent. It's probably no harm if you functions are lean. Also there's no harm if you cache them. So ca

[2018-06-29 09:53] mahdi-hajian commented on #192
change dog to app-dog
app-Dog is wrong too
just app-name by Lower Case

[2018-06-29 16:43] szymonbultrowicz opened #685 "TypeScript compilation error due to missing source-map types"
After creating a simple TypeScript project with an empty Codelyzer rule, TypeScript compilation failes due to:

[code]

It looks like `source-map` in version 0.5.7 (which codelyzer uses) doesn't have it's own typings. Moreover, types from `@typings/source-map` are also deprecated and actually don't work because instead of having type definitions they just have a dependency to the latest `source-ma

[2018-07-05 00:53] buu700 opened #687 "Rule suggestion: no conflicting flex-layout directives"
I've caught a few instances in my code of accidental things like `fxFlex.gt-sm='80' fxFlex.gt-md='90'` (or the same thing with `ngClass`), which in the case of a large screen seems to wind up picking one of the two at random. It'd be convenient if codelyzer could catch this mistake for us.

Similarly, I recently discovered that flex-layout doesn't like when the responsive directives are bound to d

[2018-07-05 14:06] #687 closed

[2018-07-07 17:33] rafaelss95 commented on #615
I've started to looking at this issue and I found what's the problem:

https://github.com/mgechev/codelyzer/blob/5a84041253dc07ffd6445bef5d6d6733ff43fecd/src/templatesNoNegatedAsyncRule.ts#L28

For the first template above the results are:

`endLeftSpan = 28`
`startRightSpan = 33`
`this.codeWithMap.code.slice(endLeftSpan, startRightSpan);` returns "t a o" (from `*ngFor` line).

It seems that there

[2018-07-08 11:20] bibeksinha opened #688 "Could not find implementations for the following rules specified in the configuration: label-undefined no-duplicate-key no-trailing-comma no-unreachable use-strict"

[2018-07-08 11:20] #688 closed

[2018-07-09 01:18] slimlime commented on #452
I had an issue with angular-whitespace or one of the fixers that seemed to identify angular moustache templates in my typescript files (no templates) and

[code]
became
[code]

I had ridiculously run the tslint --fix autofix while working out how to use tslint and ended up replacing even more `}}` 🤣.

I'm still trying to track things down.

[2018-07-09 01:19] slimlime commented on #335
I had an issue with angular-whitespace or one of the fixers that seemed to identify angular moustache templates in my typescript files (no templates) and

[code]
became
[code]

I had ridiculously run the tslint --fix autofix while working out how to use tslint and ended up replacing even more `}}` 🤣.

I'm still trying to track things down.

[2018-07-09 01:29] slimlime commented on #460
@jaufgang I think I just had an issue when I thoughtlessly copied a config file and somehow managed to replace parts of my `ts` code with `}}{}{}}{}}}{}` *scratches head*

I still managed to accidentally copy this from some version of docs(?) with check-pipe and ended up breaking my code
[code]

[2018-07-09 01:50] slimlime commented on #460
## Clearer example
[code]
became

[code]

regex?

[2018-07-10 12:43] pockata-kt commented on #479
Could you please bring this rule back?
As explained here: https://www.rednxt.com/whats-new-in-angular-6/ in angular 6 this is no longer handled by the compiler but still isn't recommended.
It would be very useful because there is currently no way to check this.
Thanks!

[2018-07-10 14:55] AbakumovAlexandr commented on #290
@mgechev , can you provide an example of how the rule should look like to set up kebab style for elements and camel case for attributes, please?

[2018-07-12 01:56] rafaelss95 commented on #615
bump...

[2018-07-12 02:51] mgechev commented on #615
Yes, we should remove the fix since it's not safe.

[2018-07-12 07:10] buu700 commented on #135
What about validating that every variable referenced in the template is either `@Input()` or `readonly` (with the latter intended to cover static values and observables)? (There's also the issue of getters — that feels hairier to properly address, but maybe just validate that they don't blatantly reference non-read-only class members?)

There would probably be some exceptions where users need to d

[2018-07-12 23:49] rafaelss95 commented on #615
@mgechev I'm still trying to find a valid use case for this rule, do you have one?

Here...
https://github.com/mgechev/codelyzer/blob/5a84041253dc07ffd6445bef5d6d6733ff43fecd/src/templatesNoNegatedAsyncRule.ts#L50
... we say "_Async pipes can not be negated_". Why not?.

Take a look at this sample:

[code]

What would be the benefits of an explicit check like this `<div *ngIf="(obs$ | async) === n

[2018-07-13 11:01] pockata-kt opened #689 "Bring back templates-use-public"
I would want to suggest to bring back the **templates-use-public** rule. I understand that it was removed because it is something that the angular compiler should handle, but in Angular 6, templates are now static fields in their components, thus they have access to the private properties. ([source](https://www.rednxt.com/whats-new-in-angular-6/) under section _New Features > Private properties in

[2018-07-13 12:08] apo34 opened #690 "no-unused-css can't handle @media"
I've encountered an error regarding no-unused-css rule.
It seems as if the rule wouldn't be able to handle @media calls in the scss files.
![no-unused-css](https://user-images.githubusercontent.com/28670067/42690653-647325c4-86a5-11e8-9745-bd53f174c9ce.gif)

![image](https://user-images.githubusercontent.com/28670067/42690886-4f7cb4ea-86a6-11e8-8c98-6627459b46be.png)

Versions:

- angular: 6.0.3
-

[2018-07-13 15:51] mgechev commented on #689
Hey @pockata-kt, the Angular compiler determines if private members should be accessible within the templates. If it generates code where they can be, then there's no point restricting this behavior.

[2018-07-13 15:51] #689 closed

[2018-07-13 15:52] mgechev commented on #690
The rule is experimental and the chances are that we'll remove it at some point, or completely rewrite it.

I'll close this issue for now and consider it when we decide how we'll proceed.

[2018-07-13 15:52] #690 closed

[2018-07-13 23:33] rafaelss95 commented on #615
@mgechev just to complement: unless there's a valid case that this rule could be useful, I'm voting in favor of deprecate this rule.

[2018-07-14 00:34] mgechev commented on #615
I'll look at the story behind it over the weekend.

[2018-07-15 23:33] rafaelss95 commented on #615
@mgechev Friendly bump, have you looked?

[2018-07-16 01:15] mgechev commented on #615
Yes, here's the [motivation](https://github.com/mgechev/codelyzer/pull/317).

[2018-07-16 08:55] hugonoro opened #691 "Out of date tslint rules"
I'm running an Angular 6 project with codelyzer 4.4.2 and tslint 5.10.0 and I'm getting the following message when running the ng lint:

Could not find implementations for the following rules specified in the configuration:
    no-access-missing-member
    templates-use-public
    invoke-injectable
Try upgrading TSLint and/or ensuring that you have all necessary custom rules installed.
If TSLint w

[2018-07-16 13:35] mgechev commented on #691
These rules are no longer part or codelyzer. You can remove them from `tslint.json`.

[2018-07-16 13:35] #691 closed

[2018-07-17 15:18] borriej opened #692 "Bug: angular-whitespace issue in some *.ts files #25"
Hi,

im using
[code]

(complete list)
[code]

when i run ```ng lint``` I get around 20 the same errors on different files about whitepace interpolation... but these files are controllers.. I think it is a bug.

[code]

my components are as simple as below... but tslint thinks i should have extra }} at the end.. (as if it is a template?)
https://ibb.co/nzr5wy
[code]

Note: when i add ```"angular-wh

[2018-07-17 15:30] borriej commented on #692
Note:
also tried with downgraded npm modules:
[code]
same results

[2018-07-17 17:19] mgechev commented on #692
You can get the same version of tslint with both `^5.9.0` and `^5.11.0`. Try `5.9.0` without `^`.

[2018-07-17 17:38] borriej commented on #692
@mgechev thank you. I removed the caret, did npm install... checked the package.json of tslint. It is 5.9.0 now..

ran ```ng lint``` ... but still i get serval:

[code]

[2018-07-17 17:47] borriej commented on #692
I also just tried to fix the npm versions to:

[code]

```npm install```

check package.json versions inside node modules.. yes, correct versions..

ran ```ng lint```

[code]

[2018-07-17 17:57] Shinigami92 commented on #692
The problem is that it complains about the ts file but the error is in the html file

[2018-07-17 22:21] emilio-martinez commented on #519
@mgechev is there a replacement for checking that the Pipe names are prefixed accordingly?

[code]

[2018-07-18 08:00] borriej commented on #692
@Shinigami92 you're right!

examples like this we're causing it:
[code]

but the bug remains that the error should point to the correct file

[2018-07-23 17:40] mrmeku commented on #135
+1 vote. If and when you decide to go ahead with this @mgechev I'd be willing to try and implement it. I think detecting whether something should be OnPush is nearly impossible as you've said, but requiring that you add your component to a whitelist of things that are exempt is super easy. That's what I'm voting for

[2018-07-23 18:22] dominique-mueller commented on #135
Assuming there is no relevant difference between defining a whitelist array in the tslint file vs. using tslint:disable comments, I would certainly prefer the comment-based solution.

In my opinion, tslint:disable comments are much easier to maintain because the linting exception is closer to the actual source code it affects.

[2018-07-23 19:04] mrmeku commented on #135
I would too. I used the term white list intentionally ambiguous just in
case other people felt differently.

On Mon, Jul 23, 2018, 12:22 PM Dominique Müller <notifications@github.com>
wrote:

[2018-07-23 19:17] mgechev commented on #135
@dominique-mueller I agree with you. @mrmeku feel free to take this! If you do, just let me know so I can assign you to the issue.

[2018-07-24 03:53] mrmeku commented on #135
I'll take it! Assign it to me :D

[2018-07-24 13:34] chaosmonster commented on #427
How can I disable this rule for specs?

I can see the benefit for application code, but within specs I actually do want to call lifecycle hooks to test them.

[2018-07-24 17:48] mgechev commented on #135
@mrmeku I'll assign it to myself so that nobody takes it. GitHub does not allow me to attach the issue to you.

[2018-07-25 11:11] Xample commented on #692
Same issue here, present on both 5.9.0 and 5.11.0
[code]
Fails, while the code below works
[code]

[2018-07-27 23:53] Nexeuz commented on #457
+1

[2018-07-28 00:11] mgechev commented on #457
@Nexeuz you can hit 👍 on @rafaelss95's comment. `+1` will not be reflected in the [voting process](https://github.com/mgechev/codelyzer/blob/master/CONTRIBUTING.md#-missing-a-feature).

[2018-07-29 15:14] rafaelss95 commented on #291
Just want to point that a similar rule has landed recently in tslint: [`file-name-casing`](https://github.com/palantir/tslint/pull/3978).

Also, there's some suggestions to improve this rule: https://github.com/palantir/tslint/issues/4050 (for exclusions) and https://github.com/palantir/tslint/issues/4071 (for pattern matching).

[2018-07-29 19:39] rafaelss95 commented on #628
I'm afraid we can't add this option without breaking changes. Thoughts @mgechev?

[2018-07-29 20:06] mgechev commented on #628
[code]

Looks fine to me.

[2018-07-29 21:39] rafaelss95 commented on #615
@mgechev better close this and create a new issue about deprecate this rule or keep the discussion here?

[2018-07-29 22:03] mgechev commented on #615
Sounds good!

[2018-07-30 10:32] pasame-el-codigo commented on #520
@AdamKernig did you have a solution??

[2018-07-31 13:12] poke commented on #61
@mgechev Seeing that the styleguide issue is closed, would there be any chance we could make this configurable in some way? By adding some `'allow-constant-values'` setting to the rule?

[2018-08-02 06:45] tahuba opened #696 "Codelyzer fails because PropertyBindingType is not exported in Angular 6.1.0"
I get this error to all of my Components:
[code]

`PropertyBindingType` is not exported since v6.1.0 @angular/compiler.

[2018-08-02 06:45] tahuba commented on #696
Details: https://github.com/angular/angular/issues/25241

[2018-08-06 02:10] mgechev commented on #61
I'd prefer to collect some more votes here.

[2018-08-06 09:04] #696 closed

[2018-08-06 17:45] sgwatgit commented on #656
This convention is mentioned in the official [style guide](https://angular.io/guide/styleguide#style-02-07)

`Do use a custom prefix for a component selector. For example, the prefix toh represents from Tour of Heroes and the prefix admin represents an admin feature area.`

[2018-08-06 17:59] mgechev commented on #656
In the style guide, we agreed on application level prefixes for directives & component. One of the core motivations for this practice is to make the directives & components developed by your team more apparent when reading the code. I can see why the module level may make sense as well.

[2018-08-08 17:30] NarHakobyan commented on #692
I have the same issue, is there any news about this?

[2018-08-08 21:27] mgechev commented on #692
This could be a regression in tslint, vscode-tslint, or codelyzer. I haven't had time to look at it.

Until we resolve the problem, I'd recommend you to disable the `angular-whitespace` rule.

[2018-08-09 02:29] cwoolum opened #699 "Using fixers in external Angular templates."
I'm using Codelyzer as a base for ionic-team/v4-migration-tslint. We have some rules that work against HTML and they seem to work fine when the template is inlined but they mangle the TypeScript when a templateUrl is used. I've only seen one usage of templateUrl for finding unused CSS classes but there is no fixer for it. Have any of the rules ever had fixers working against an external template?

[2018-08-09 03:30] mgechev commented on #699
There's a bug related to reporting in external templates. This seems like a regression caused by a dependency. You can look at this issue for details https://github.com/mgechev/codelyzer/issues/692.

[2018-08-10 08:06] joseluisq commented on #692
Confirmed the @Xample solution using white spaces solves the issue:

- codelyzer: `^4.4.3`
- tslint: `^5.10.0`

[code]

[2018-08-13 04:03] #692 closed

[2018-08-13 04:03] #699 closed

[2018-08-14 08:36] Zoomink commented on #64
This is still an issue using `4.4.4`. @mgechev any suggestions?

[2018-08-16 09:29] tatsujb commented on #480
I'm currently getting this but with "on"

[2018-08-16 09:30] lazarljubenovic commented on #480
@tatsujb I'm not sure I understand you correctly but if you're getting an error with an output named something like "onClick", then that's the point of the rule: it should be just "click".

[2018-08-16 11:00] tatsujb commented on #480
ok that's dumb. why can't it be "on" when that would allow you to match Angular's naming convention?

[2018-08-16 11:05] lazarljubenovic commented on #480
It doesn't: https://angular.io/guide/styleguide#dont-prefix-output-properties

[2018-08-16 11:05] lazarljubenovic commented on #480
If you want to use the `on` prefix for some reason, simply turn off this lint rule. This one is specifically for forbidding the `on` prefix, as the name implies: _no output "on" prefix_.

[2018-08-16 11:13] tatsujb commented on #480
Oh. my bad. so they bridge the "name-gap" html-side :
`<toh-hero (savedTheDay)="onSavedTheDay($event)"></toh-hero>`

yeah that makes more sense, sorry.

[2018-08-17 08:53] ajantsch commented on #135
We're working on optimizing on of our apps right now, and one of the measures we take is to make all the components to use `ChangeDetectionStrategy.onPush`, while during the transition period we would also like to whitelist some components that haven't been updated yet. So this feature would be very beneficial for us 👍

[2018-08-17 09:10] lazarljubenovic commented on #135
Why don't you just the use the comments to disable linting? Whitelisting in a separate file is cumbersome, you have info about the class scattered around.

[code]

[code]

The exact same rationale is in Angular's own styleguide for using `inputs: []` vs `@Input`.

[code]

[code]

---

Imagine if tslint config had a whitelist for lines you want to disable it in:

[code]

[code]

It's always better

[2018-08-17 21:32] michaeljota commented on #427
@mgechev I second the question. How can this be disabled just for testing? (Aside for the obvious solution of turning it off in a comment)

[2018-08-17 23:15] mgechev commented on #427
There are two options:
- Comments in the beginning of the file
- Two tslint config files - one for tests which does not include this rule and another for your app, which includes the rule and extends the original one

[2018-08-20 14:32] michaeljota commented on #427
@mgechev Just for you to notice, that Angular CLI seems to ignore the `linterOptions` options setting of tslint. I know that this is also an Angular CLI problem, but the solution of having two tslint config files won't work. Thanks any way.

[2018-08-20 18:07] mgechev commented on #427
If there's no issue for this in the Angular CLI repo, it might be worth opening.

[2018-08-20 18:08] michaeljota commented on #427
angular/angular-cli#11951

[2018-08-21 15:40] michaeljota opened #702 "angular-whitespace autofix broke the html document"
The rule is to put spaces after and before the Angular interpolation (`{{}}`), but sometimes it removes and adds angular brakes on its own leaving something like this `{{ { firstNam }}}`. Notice there is even a missing char from the `firstName` variable.

[2018-08-21 17:13] mgechev commented on #702
Thanks for sharing this problem! Are there any HTML entities in the template? Would you share a test case that we can use to debug the issue?

[2018-08-21 17:25] michaeljota commented on #702
I had this issue with some regular variables, when two or more interpolations were close, and I have to say it seems to reproduce more by using the translation key and pipe used by ngx-translation

[2018-08-22 06:17] mgechev commented on #702
Also, what's your operating system? I remember we had similar issues on Windows.

[2018-08-24 13:18] someblue opened #703 "Test may pass test cases which should be fail"
## Problem
Test may pass test cases which should be fail, if test case use `assertAnnotated/assertFailure`.

## Reproduce
Change any test case using `assertAnnotated/assertFailure` to a wrong case deliberately and execute `npm run test`.

For example, change the first failure case in test/bananaInBoxRule.ts
[code]
to
[code]
This template doesn't violate rule and assert should fail and Chai report

[2018-08-24 14:14] mgechev commented on #703
Thanks for pointing this out! We'd love to get a PR! :-)

[2018-08-24 17:27] #703 closed

[2018-08-27 11:01] marcincichocki opened #705 "no-input-rename fails if input alias is prefixed with directive selector"
Currently codelyzer doesn't allow to rename inputs of a directive other than its selector.

[code]

[code]

In example above `HighlightDirective#color` have alias prefixed with directive's selector to prevent name collisions within the template(if component or other directive have same input prop).

If this means anything, `@angular/material` uses this convention(for example: https://github.com/an

[2018-08-29 16:11] marbug opened #707 "component-selector rule does not work as expected"
Hello.

I tried this with node v8.11.4 and v.10.9.0 and Angular6

Steps to reproduce are the following:

* Create project

            ng new marbug-app

* Go to project folder

            cd marbug-app

* Generate home module

            ng g module home

* Generate home component

            ng g component home

* Change prefix in **marbug-app/angular.json** from **app** to **marbug**:

[2018-08-29 18:59] mgechev commented on #707
Thanks for the detailed description. We'll take a look at this in the next few days.

[2018-08-29 19:01] mgechev commented on #705
@marcincichocki thanks for reporting this! I can see that @rafaelss95 already took care of the issue ⚡️. I'll review & merge today.

[2018-08-30 06:12] KumailHussain commented on #400
the issue is not resolved yet?
And disabling the rule also not work in css
/* tslint:disable:no-unused-css */

[2018-08-30 06:13] KumailHussain opened #708 "disable rule in css"
/* tslint:disable:no-unused-css */
not working in css files

[2018-08-30 15:13] mgechev commented on #708
You should set `/* tslint:disable:no-unused-css */` in the corresponding TypeScript file.

[2018-08-30 15:13] #708 closed

[2018-09-03 04:30] Linkker commented on #620
insert line
@Component({
  // tslint:disable-next-line:component-selector
  selector: 'vtc-temp',

[2018-09-03 14:16] michaeljota commented on #702
I'm sorry I didn't reply earlier. My OS is Windows 10. I was using the cli with powershell, calling it from a npm script.

[2018-09-03 14:16] marbug commented on #707
the root of the issue: the additional **marbug-app/src/tslint.json** file is being used, which also has **component-selector** rule by default, and it redefines **component-selector** rule from **marbug-app/tslint.json** by default prefix. Sorry for disturbing. Closing the issue...

[2018-09-03 14:16] #707 closed

[2018-09-03 14:19] michaeljota commented on #702
@rafaelss95 I'm using latest of each, but Angular I'm using latest from 5.x. I don't sure if I can share the whole file, but it's just extending recommended, and for the rules of codelyzer the same, just copy pasted the recommended.

[2018-09-03 15:12] mgechev commented on #707
No worries.

[2018-09-03 15:13] mgechev commented on #702
@michaeljota I believe @JamesHenry was working on prettier support for Angular (inline?) templates.

[2018-09-03 15:46] JamesHenry commented on #702
Not just yet, I originally had it in the same PR as when I added inline style formatting, but the HTML formatting (in general) in Prettier is still a WIP, once that lands it will be straightforward to add inline template formatting for Angular Components.

You can subscribe to the general issue here: https://github.com/prettier/prettier/pull/4753

[2018-09-12 13:50] mastermsd opened #709 "Support for Angular 7.x.x"
**What is the desired behavior?**
To not have these warnings:
`warning " > codelyzer@4.4.4" has incorrect peer dependency "@angular/compiler@>=2.3.1 <7.0.0 || >6.0.0-beta <7.0.0".`
`warning " > codelyzer@4.4.4" has incorrect peer dependency "@angular/core@>=2.3.1 <7.0.0 || >6.0.0-beta <7.0.0".`

**What is the use-case or motivation for the desired behavior?**
Have a more stable base Angular Enviro

[2018-09-12 16:16] hughanderson4 commented on #61
It's super annoying to have to create a boolean set to true, just to bind a static class to a component.  It's so much cleaner to use the host property for a static string binding.  Really feels like I'm fighting the compiler to do something "the right way" and the compiler is forcing me to do it "the wrong way".

[2018-09-12 17:00] lazarljubenovic commented on #61
I disabled this lint rule since there is 0 argument for avoiding `host` when binding literals. I often bind `tabindex` or `aria-*` o `role` up there. It makes much more sense than polluting the class with public stuff all over the place just to bind to the host. If we could have what the issue suggests, it would be useful again.

[2018-09-12 19:08] #709 closed

[2018-09-12 19:09] mgechev commented on #709
@mastermsd we'll need to sync with the Angular CLI team before we release support for Angular version 7.

[2018-09-16 23:41] vanslly opened #711 "no-life-cycle-call to skip unit tests"
### Versions:
`codelyzer@4.4.4`
`angular@6.1.3`
`angular-cli@6.1.4`

### Use Case
When writing unit tests for components that are OnPush it's common to call the `ngOnChanges` life-cycle hook. Unlike `ngOnInit` the `ngOnChanges` life-cycle hook is not called for a component under test: https://github.com/angular/angular/issues/9866

#### Example component unit test:
[code]

Since I am using Angular

[2018-09-17 00:17] mgechev commented on #711
You can add: `// tslint:disable:no-life-cycle-call` in the beginning of the file.

[2018-09-17 00:17] #711 closed

[2018-09-17 19:00] jpmckearin opened #712 "Support for Angular 7.x.x"
Angular 7 is currently in beta. I didn't see a branch for 7.0.0 development so I wanted to make sure this was brought to your attention. Might be as simple as a dependency version bump. So far I haven't seen any obvious issues while using codelyzer with angular@7.0.0-beta.5.

[code]

[code]

[2018-09-17 19:03] mgechev commented on #712
You can check https://github.com/mgechev/codelyzer/issues/709. Once we coordinate with the Angular CLI team, we'll release the next version.

[2018-09-17 19:03] #712 closed

[2018-09-17 19:13] jpmckearin commented on #712
Thanks for the quick response.  Sorry about wasting your time by not searching the closed issues 😄

[2018-09-17 19:17] mgechev commented on #712
No worries.

[2018-09-20 19:46] etramell-tem opened #713 "overridden BasicTemplateAstVisitor.visitEvent() doesn't visit all events"
**What I'm trying to do:**  Write a custom rule that enforces event handler naming consistency, by copying and modifying the code from [banana-in-box](https://github.com/mgechev/codelyzer/blob/master/src/bananaInBoxRule.ts).

**Problem:**  The custom rule is not visiting most Angular template events, by which I mean bindings like `(event)="handler()"`.

**Minimal example:**  I've stripped away all

[2018-09-20 21:45] etramell-tem commented on #713
**Followup:**  I have been trying to figure out a commonality between the events that get visited, vs. those that don't, and I think I have it...

In our project, we (very!) often format our HTML like this to avoid long unreadable lines:
[code]
instead of:
[code]
It appears that the only events that get visited are the ones in HTML like the latter.  Events like in HTML like the former are not visi

[2018-09-20 22:15] mgechev commented on #713
@etramell-tem thanks for reporting the issue! I'll look at it over the weekend.

[2018-09-20 23:06] gaspardip commented on #702
Same thing here. Trying to setup prettier+codelyzer+stylelint. Not that easy so far.

tslint.json
`{
  "rulesDirectory": ["node_modules/codelyzer"],
  "extends": ["angular-tslint-rules", "tslint-consistent-codestyle", "tslint-config-prettier"],
  "rules": {
    "array-type": [true, "array"],
    "ban": [
        true,
        "eval",
        "alert",
        "$",
        {
          "name": ["*",

[2018-09-21 08:00] andreasgebauer opened #714 "Rule use-pipe-transform-interface shows violation when extending a class which implements PipeTransform"
When extending a class which already implements the PipeTransform interface a violation of that rule is shown on that class. This rule should analyze the class hierarchy and check if PipeTransform is already implemented higher up in the hierarchy.

[2018-09-21 17:54] mgechev commented on #714
I'd recommend you to disable the rule for this specific class. codelyzer does not perform type checking at the moment, and we don't have plans for introducing it in the near future.

[2018-09-21 17:54] #714 closed

[2018-09-26 11:00] PRR24 commented on #479
Please add it back, was one of the most useful rules for me.

[2018-09-26 11:18] lazarljubenovic commented on #479
Why double the work? The `ngc` already handles it. It's not a linting rule anymore, it's simply a compile-time error. You don't have lint rules for invalid JavaScript syntax since it will fail anyway. You don't have lint rules for types with TypeScript because that's what TypeScript is for. Why would you have this as a lint rule now?

[2018-09-26 11:41] PRR24 commented on #479
I use "open" file-watcher/tsc/systemjs solution for development that is provided by IDE.
For prod build I use ngc --aot that takes place on separate build server.
As a result, development version works perfectly with invalid access rights, but the prod build fails. With the removal of the option developers will find the issue only after code has been commited to VCS and built for release.

[2018-09-29 17:32] PRR24 opened #715 "Request: Create a separate package containing removed rules"
There is a lot of discussion here about removed rules like templates-use-public.
For me personally it means being stuck in version 3.2.1 as I heavily depend on this specific rule.
Saying that, I do respect a Minko's decision to keep the software modern and unbloated.

As a solution I would recommend to create a separate package, like "codelyzer-compat" (or similar), that contains rules that do not

[2018-09-30 14:16] lazarljubenovic commented on #715
It would be better to just split the rules across packages. Have `@codelyzer/core` for common helper logic, and then have each rule as a `@codelyzer/rule-xxx`. And then have `@codelyzer/all` or `@codelyzer/common` for the ones that are "official" -- maybe even name it `@codelyzer/styleguide` or `@codelyzer/official`.

Then people could install whatever they want if they are not happy with what the

[2018-10-08 01:31] HFTSOL commented on #192
It doesn't appear they intend to allow people to use standards that differ from their own.  For this reason, and many others, I just disable tslint entirely on every project since it causes more problems than it solves.

[2018-10-18 09:00] axelboc opened #716 "templates-no-negated-async ignores when parens are missing"
I just ran into a bug with a negated async pipe. Rule `templates-no-negated-async` didn't catch it because the parens were missing:

[code]

This condition is perfectly valid, but this is not what was intended (a bit like the case of the box in the banana). Moreover, in cases where the parens are purposely left out, there are less confusing ways of implementing the same behaviour (like an extra `n

[2018-10-19 17:58] DanielHabenicht opened #717 "Update peer Dependencies to support Angular v7 without warnings"
Currently when installed with Angular 7 npm produces two warnings:

[code]

in order to have a clean installation the peer Dependencies of this project have to be updated.

I did not encounter any problems when using the current version (4.4.4) with Angular 7

[2018-10-19 18:10] mgechev commented on #717
Use `codelyzer@4.5.0`.

[2018-10-19 18:10] #717 closed

[2018-10-19 19:01] DanielHabenicht commented on #717
I am sorry. I did not see the PR 7 days ago. Thought I had upgraded all my packages but it did not.

[2018-10-19 19:54] mgechev commented on #717
No worries

[2018-10-22 07:53] axelboc opened #718 "trackBy-function not reporting failures involving multiple `*ngFor` directives"
I have two `*ngFor` directives within the same template.

- If neither has a `trackBy` function, rule `trackBy-function` reports two failures. ✅
- If only the first one has a `trackBy` function and the second one doesn't, rule `trackBy-function` **doesn't report any failure**. ❌

[2018-10-23 09:54] wKoza commented on #718
Thanks for your report. We're going to figure out the problem.

[2018-10-25 12:11] elgervb opened #719 "Rule angular-whitespace with check-pipe in *ngFor using parentheses gives error"
When enabling the `angular-whitespace` rule in `tslint.json` and enable option `check-pipe`, usage of the pipe within a `*ngFor` always gives an error

**tslint rule**:
[code]

**template**
[code]

always gives error when using parentheses:
[code]

without parentheses all goes well.
**template**
[code]

**expected**
no tslint error..

Note:
you could say: "don't use parentheses", but sometimes you

[2018-10-26 20:57] #718 closed

[2018-10-29 18:48] fbaezap opened #722 "No async on life cycle angular"
Feature Requests

Using async on ngOnInit method make it seems that we could make async calls and the component will wait.
It would be helpfull to have a rule that warn us about that.

https://stackblitz.com/edit/angular-2mkcma

Thanks

[2018-11-01 20:48] agrinko commented on #487
I can add another case to this issue.
Angular-whitespace autofix breaks my component in the following piece of template:
[code]
It replaced it like this:
[code]
Luckily Angular reported error and I could notice it and fix.
I'm using Ubuntu, and I don't think it depends on OS. Looks like some flaws in the algorithm or regexp.

[2018-11-02 08:03] wKoza commented on #487
@agrinko , your error isn't in relation to your OS;  It's the same problem that this issue #579.

[2018-11-07 15:12] #705 closed

[2018-11-07 20:35] michaeljota commented on #702
Prettier just release 1.15 with support for Angular templates and fix spaces between the declaration and the interpolation.

[2018-11-11 17:59] johnhamm commented on #192
This is beyond annoying.  Give us the option to disable this already - literally the entire reason for the tsling.json file.

[2018-11-13 13:34] kevinbosman commented on #719
Prettier 1.15 (https://prettier.io/blog/2018/11/07/1.15.0.html) always now adds parentheses when formatting an html file with an `*ngFor` with async pipe, so `check-pipe` is now incompatible with prettier.

[2018-11-13 14:34] michaeljota opened #724 "Enforce order of attributes"
From [eslint-plugin-vue~attributes-order](https://github.com/vuejs/eslint-plugin-vue/blob/master/docs/rules/attributes-order.md)

I think it would be nice to have something like this in Angular as well. However, I would suggest to follow first some HTML style guides as:

- http://codeguide.co/#html-syntax (This is actually the one I get from)
- http://www.codestyle.co/Guidelines/html
- https://goo

[2018-11-14 05:53] #724 closed

[2018-11-21 20:40] wKoza commented on #623
see [Style guide 05-04](https://angular.io/guide/styleguide#style-05-04)

[2018-11-25 17:39] wKoza commented on #702
`angular-whitespace` is now deprecated. So, we can close this issue.

[2018-11-25 17:39] #702 closed

[2018-11-25 21:07] mgechev commented on #135
Anyone wants to take this issue? I'll be happy to assist if needed.

[2018-11-25 22:11] ajafff commented on #722
I have written a rule to disallow override a void returning method with a promise returning method: https://github.com/fimbullinter/wotan/blob/master/packages/mimir/docs/async-function-assignability.md
If you are using `implements OnInit` this rule does exactly what you want. It covers a lot more cases and should detect almost all assignments of async functions to `void`-returning functions.

Have

[2018-11-26 08:46] wKoza commented on #719
Since `angular-whitespace` is now deprecated, we can close this issue.

[2018-11-26 08:48] wKoza commented on #487
Since `angular-whitespace` is now deprecated, we can close this issue.

[2018-11-26 08:48] #487 closed

[2018-11-26 12:40] fbaezap commented on #722
@ajafff That's great. Thanks a lot.

@mgechev The problem is that making async onInit makes it seems that the afterInit will wait until onInit is finished. That clearly doesn't happen and it's okay because it would, as you say, slow down rendering time.
For example:
[code]
First: I know it should be done with a resolver.
Second: We know i will throw an error, because we know it would trigger ngOnI

[2018-11-26 18:17] mgechev commented on #722
@fbaezap thanks for the detailed explanation. It makes sense to have a warning in such case, which explains that async calls would not block rendering. Would you want to take this feature? I'll be happy to assist if needed.

[2018-11-27 09:32] jonsamwell commented on #628
Any progress on this? Using @mgechev solution above makes the i18n rule not work at all rather than just ignoring mat-icon elements

[2018-11-28 12:43] fbaezap commented on #722
Yeah. I would like to. Thanks for the willingness

[2018-12-03 04:32] wd4444 opened #727 "Need this lib support Angular 7"
Please help to keep this lib update to date with Angular 7. Below is the warning with latest version of Angular 7:
npm WARN codelyzer@4.4.4 requires a peer of @angular/core@>=2.3.1 <7.0.0 || >6.0.0-beta <7.0.0 but none is installed. You must install peer dependencies yourself.

[2018-12-03 04:44] #727 closed

[2018-12-05 07:05] Karamuto commented on #628
Would appreaciate the blacklist rule. As by the moment this produces unnesscassary i18n attributes.

[2018-12-05 18:48] lucadeangeli opened #728 "i18n in html comments returns a nested translatable error"
with template markup as:

`
<div *ngIf="tData" class="theme-detail__masthead">

    <div class="headerblock">
        <h3 class="header header--panel">{{tData.sectionText}}</h3>
        <p class="strapline" i18n="theme detail intro - header">foo bar</p>
    </div>

</div>
`
`xi18n` triggers the following:

`<!-- i18n` on line 1 is the culprit, however the error is flagged on line `<p class="strapl

[2018-12-18 06:57] oocx opened #729 "feature request: detect incorrrect usage of async/inject in specs"
We recently discovered the following subtile error in many of our specs:
[code]
As you could probably immediately see :), inject was used incorrectly here. Inject returns a function which is supposed to be called from async, but the dev here did not know that and used it in a way in which it got never called.

Our team is new to Angular, so someone did it wrong once and everybody else just copied

[2018-12-18 17:11] mgechev commented on #729
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2018-12-18 17:11] #729 closed

[2018-12-19 06:20] Karamuto opened #730 "Extends i18n rule to check attributes"
As the i18n can also be used for attributes for example to translate a 'title' attribute you place a 'i18n-title' on the element, it would be great if one could define themselves a list of attributes to translate.

This could look like the proposel in #628:

[code]

[2018-12-19 07:06] wKoza commented on #730
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2018-12-19 07:06] #730 closed

[2018-12-21 04:41] cosmenguerrero commented on #192
A mi me aparecía ese error cuando borraba la imagen de Angular en el app.component.html, pero me fui al app.module.ts y lo volví a compilar si efectuar ningún cambio y se desapareció el mensaje.

[2019-01-03 21:39] gregjacobs opened #731 "Feature Request: Disallow inline "style" attribute"
Hey @mgechev. First off, great work on this project. We're finding it very useful to maintain code consistency and catch common errors.

A colleague of mine and I are tasked with providing direction for UI projects within our organization, and have noticed that a number of projects make use of inline `style` attributes in their HTML. We all know that this is a generally bad practice, so we were th

[2019-01-03 21:41] #731 closed

[2019-01-03 22:03] gregjacobs commented on #731
Does anyone actually vote on closed issues?

[2019-01-03 23:14] mgechev commented on #731
Here you can find the [issues sorted](https://github.com/mgechev/codelyzer/issues?utf8=%E2%9C%93&q=label%3A%22votes+needed%22+sort%3Areactions-%2B1-desc+) by the number of votes they have.

[2019-01-08 15:22] tommueller opened #732 "Add rule to avoid patterns being used with number inputs."
By spec number inputs do not support pattern validation. It would be great to add a rule for this! This issue came up here: https://github.com/angular/angular/issues/27758#issuecomment-449198662

Thanks a lot!

[2019-01-16 12:43] massimilianorango commented on #479
I really don't understand this choice.
I use `ng serve` without the `--aot` flag because I want my dev environment to be as fast as possible and JIT compilation is made to achieve this purpose.
During development I also want to be informed as soon as possible if I'm writing code that won't work in production, when I will run `ng build --prod`. I don't want to find it out once I think I'm done but

[2019-01-16 12:46] massimilianorango commented on #264
I really don't understand this choice.
I use ng serve without the --aot flag because I want my dev environment to be as fast as possible and JIT compilation is made to achieve this purpose.
During development I also want to be informed as soon as possible if I'm writing code that won't work in production, when I will run ng build --prod. I don't want to find it out once I think I'm done but I'm ac

[2019-01-16 12:51] PRR24 commented on #479
I have no good idea, how to force ng serve to highlight errors in the IDE.
Also the project is not angular-cli project and converting it is not feasible at this time.

[2019-01-16 13:36] wKoza commented on #264
Yes, it's a common use case but as I already said,  the Angular Language Service checks that.
Check if you have this dependency into your package.json:

[code]

You have to see an error in your template if you use a private member.

[2019-01-16 14:40] massimilianorango commented on #264
@wKoza Even though this is a fix to my problem, I do not fully agree with this approach:

1. This is a visual extension to commonly used IDEs. It means that some of the editors will not be supported / someone could choose not to install the extension => **not scalable**.
2. The VSCode plugin is super slow, plus if I use external templates I need to edit the html in order for the extension to detec

[2019-01-16 15:12] wKoza commented on #264
1. VSC and Webstorm both implement this feature.
2. You should also see errors in your error console (with Webstorm, I can see it on my Typescript error tab)
3. I'm agree, It  takes time but you can delegate this task to your CI for instance.

[2019-01-16 15:30] massimilianorango commented on #264
1. I know. Luckily for me, I use VSCode. Not everyone does though.
2. I don't unless I edit the html file. Unluckily for me, I use VSCode.
3. That's my point. I should not use the CI for this. Everything should fail fast. This is something I want to know as I type, at most before committing/pushing. I don't want to find it out when I already implemented everything, pushed it to master and switched

[2019-01-20 03:41] mgechev opened #734 "Discourage ngDoCheck"
If a component implements the `DoCheck` interface and the `ngDoCheck` method is slow, this may lead to an overall slowdown of the entire application.

Discourage the usage of `ngDoCheck` so that we can reduce such a blocking behavior.

[2019-01-20 03:41] #734 closed

[2019-01-22 12:18] skrzepij commented on #264
And there is still a problem with data types.
If we use in html template some parameter (as object property) which is not valid with assigned object type, then error occurs only when we make production build with AOT.
For example:
TS:
[code]
HTML:
[code]

It's quite confusing.

[2019-01-22 19:50] artaommahe commented on #136
@mgechev it crashes at this cases
[code]
last version

[2019-01-22 20:01] mgechev commented on #136
@artaommahe are all the peer dependencies satisfied? If not, it's probably an incompatible TypeScript version.

[2019-01-22 20:15] artaommahe commented on #136
@mgechev
[code]

[2019-01-26 02:42] crush83 commented on #475
I've tried both of the following with no luck:
[code]
and
[code]

I am running `ng lint` from the root of my angular-cli project directory.

The path to `codelyzer` from my `tslint.json` is `node_modules/codelyzer`...

I have also installed `tslint-consistent-codestyle` and it runs without issue.

I am using `"codelyzer": "~4.4.4",` with `"@angular/cli": "~6.2.1",` and "tslint": "~5.11.0",

I'm un

[2019-01-29 16:23] wKoza commented on #192
it's `component-selector`

[2019-01-31 14:33] Shinigami92 opened #736 "[BUG] angular-whitespace check-pipe false positiv"
Following is reported but correct:

```...<mat-option *ngFor="let a of (sub$ | async)">...```
Message: `ERROR: 57:59   angular-whitespace      The pipe operator should be surrounded by one space on each side, i.e. " | ".`

I assume thats because the brackets?

[2019-02-05 21:45] mgechev opened #738 "Support for Ivy"
We should investigate what would be the changes required to support Ivy.

[2019-02-06 02:41] rafaelss95 commented on #653
Hey @mgechev :), what about makes these changes before Angular 8?

[2019-02-08 09:12] aryaroudi opened #740 "Using the codelyzer in a custom build with Webpack"
I have a question. Is it possible somehow we use codelyzer inside my Angular custom build with @ngtools in Webpack 4? I want to run it over my codes while the Webpack is running in `watch` mode

[2019-02-08 16:33] mohammedzamakhan commented on #654
I think with more and more rules for template in this repo, we definitely will need a way to disable rules.

[2019-02-09 05:51] mohammedzamakhan opened #750 "Feature Request: Template Roles should be valid"
https://github.com/GoogleChrome/accessibility-developer-tools/wiki/Audit-Rules#ax_aria_01

[2019-02-09 05:52] mohammedzamakhan opened #751 "Feature Request: aria-labelledby should have associated element in DOM"
https://github.com/GoogleChrome/accessibility-developer-tools/wiki/Audit-Rules#ax_aria_02

[2019-02-09 05:55] mohammedzamakhan opened #752 "Feature Request: Elements with Aria roles should have all required attributes"
https://github.com/GoogleChrome/accessibility-developer-tools/wiki/Audit-Rules#ax_aria_03

[2019-02-09 18:26] rafaelss95 commented on #736
See #719.

[2019-02-09 19:19] Shinigami92 commented on #719
@wKoza why is it deprecated? What is the new replacement? Maybe I missed something in the changelog?

[2019-02-09 19:44] wKoza commented on #719
This rule is now deprecated because Prettier is more adapted for this kind of handling.

[2019-02-09 19:44] #736 closed

[2019-02-09 20:22] mgechev commented on #752
Sounds good!

[2019-02-09 20:23] mgechev commented on #751
Sounds good!

[2019-02-09 20:23] mgechev commented on #750
👍

[2019-02-09 20:24] mgechev commented on #740
Yes, it's possible. All you need is tslint and to point to the codelyzer rules in `tslint.json`.

[2019-02-09 20:24] #740 closed

[2019-02-10 11:24] wKoza commented on #751
we can also handle  aria-describedby which is important when we show an error message for instance.

[2019-02-11 03:05] rafaelss95 opened #757 "no-template-call-expression: not reporting failures in specific cases"
**Reproduction:**

[code]

[code]

[2019-02-11 03:13] rafaelss95 opened #758 "Feature request: template-no-non-null-assertion"
Reference: https://palantir.github.io/tslint/rules/no-non-null-assertion/

[2019-02-11 10:45] wKoza commented on #758
If we apply this rule on our code, ouch ...

[2019-02-13 22:44] mohammedzamakhan commented on #94
@mgechev I do not see it to work in a new angular cli project on external templates! Am I missing something?

[2019-02-14 13:19] Koslun opened #763 "Future ESLint compatibility"
In the roadmap presented by the TypeScript team for the first half of 2019 there was an announcement to migrate their own linting from TSLint to ESLint as well as starting to do major contributions to bring ESLint up to parity with TSLint. Where I'm unsure how much of the work would be required in the main ESLint repository compared to the [monorepo for all the tooling which enables ESLint to supp

[2019-02-14 21:35] mohammedzamakhan commented on #94
Can we reopen this?

[2019-02-14 21:55] mgechev commented on #763
This is currently not on the roadmap and I don't see clear benefits of such migration.

Closing the issue for now, but I'll keep it in the back of my head for Q3-Q4 this year.

[2019-02-16 00:44] rafaelss95 commented on #82
@mgechev is there anything that hasn't been addressed for this issue yet or we can just remove the `votes needed` label?

[2019-02-16 00:46] rafaelss95 commented on #657
@mgechev Let's remove the 'votes needed` label from issues that have already been finalized? It's a little confusing...

[2019-02-16 01:44] rafaelss95 commented on #596
@mgechev Do you have any idea on how to start the implementation for this rule?

[2019-02-16 05:52] mgechev commented on #596
Not sure if it's possible to solve this in the general case.

The property can be accessed from outside of the component.

[2019-02-16 08:18] wKoza commented on #596
yes, and we have had lot of problem with inheritance...

[2019-02-17 01:43] mgechev commented on #615
@rafaelss95 since we had this conversation, we reevaluated the pros and cons of this rule and introduced it in Google. Let's keep it as part of codelyzer.

[2019-02-17 01:43] #615 closed

[2019-02-17 02:39] rafaelss95 commented on #624
@mgechev @wKoza I'm implementing this rule (actually 95% complete) and some questions came to my mind, can we discuss this?

**1 -** Is it good/safe to have a fix for this rule?
**2 -** Considering the following case:

[code]

  2.1 - Should we report failures if there are multiple interpolations? Maybe it should be configurable?
  2.2 - If the answer above was yes: How the fix would be done for t

[2019-02-18 02:04] rafaelss95 commented on #615
@mgechev Okay, can we just update the following failure message?https://github.com/mgechev/codelyzer/blob/bc5a7ec5fd94e665423c77cb4c08fa98d2e2dfe9/src/templatesNoNegatedAsyncRule.ts#L68

[2019-02-18 11:22] Emeryao opened #767 "`!.` in html prevents working for rules like `angular-whitespace`"
A tricky story

I have an angular project with `--strict` in `tsconfig.json` so it starts to complain about null property in html files like `<div>foo.bar</div>` when the object of `foo` is possibly null
so I change the html template to `<div>foo!.bar</div>` to suppress the error

but with those codes the codelyzer rules like `angular-whitespace` starts not checking the html file
it seems that the

[2019-02-18 17:22] mgechev commented on #615
Sure. How do you suggest to update it?

[2019-02-19 08:28] sanidz commented on #338
Making new angular apps with cli will make tslint.ts file inside src folder.
That means that the path "./node_modules" or just "node_modules/codelyzer" to the node modules will be wrong, make sure to target parent folder of src to get to modules folder.

`"rulesDirectory": [
        "../node_modules/codelyzer"
    ],`

[2019-02-20 09:00] mgol commented on #763
Palantir [has just announced](https://medium.com/palantir/tslint-in-2019-1a144c2317a9) TSLint will be deprecated in favor of ESLint.

[2019-02-20 13:17] wKoza commented on #763
thks @mgol for your link; We are going to think about this problem.

[2019-02-21 00:13] rafaelss95 commented on #767
`angular-whitespace` is deprecated. See #719.

[2019-02-21 00:13] #767 closed

[2019-02-21 00:15] rafaelss95 commented on #619
Update: Now you can use Prettier to format HTML :)

@mgechev Let's remove the `votes needed` label here?

[2019-02-21 01:33] mgechev commented on #619
@rafaelss95 you're a project collaborator. I believe you should have write access as well. Let me know if that's not the case so I can fix it.

[2019-02-21 01:40] rafaelss95 commented on #619
@mgechev Ah, yes I have :)

[2019-02-21 08:02] chaosmonster opened #769 "Migration to ESlint"
This is a long-term feature request.

As Palantir decided to drop TSLint and to move everything to ESLint [read here](https://medium.com/palantir/tslint-in-2019-1a144c2317a9) codelyzer should start thinking about a migration path.
This might to be done with the Angular-CLI team together as they are integrating codelyzer with every build [Angular-CLI issue](https://github.com/angular/angular-cli/is

[2019-02-21 10:18] wKoza commented on #769
Thks @chaosmonster ,

I close your issue and re-open #763 .

Duplicate #763

[2019-02-21 10:18] #769 closed

[2019-02-21 16:46] mohammedzamakhan opened #770 "Doesn't work with external templates"
I created new project using Angular CLI, and didn't see the template rules running in external templates, though they worked in internal template.

[2019-02-21 16:47] mohammedzamakhan commented on #770
Either close this issue and reopen https://github.com/mgechev/codelyzer/issues/94 or keep this open

[2019-02-21 17:33] mohammedzamakhan opened #771 "bug: template-click-events-have-key-events: Exclude interactive elements"
Make sure that interactive elements like button are excluded

[2019-02-21 17:46] wKoza commented on #770
Hi @mohammedzamakhan ,
Codelyzer has to work with external template. You can test that adding this rule

` "banana-in-box": true` in your tslint file and

[code]

in your app.component.html file.

What is your version of Angular CLI ?

[2019-02-21 19:01] mohammedzamakhan commented on #770
I am using the latest 7.3.2, and yes I do that the rule `"banana-in-box": true` in my tslint

[2019-02-21 19:37] wKoza commented on #770
Can you push me a repo ?

[2019-02-21 20:36] mohammedzamakhan commented on #770
https://github.com/mohammedzamakhan/test-a11y

[2019-02-21 20:49] wKoza commented on #770
curious, it's work for me.

[code]

You launch `ng lint` ?

[2019-02-21 20:53] mohammedzamakhan commented on #770
So it only shows error using `ng lint`, but does not show errors directly in the VSCode editor when using `tslint` VSCode Extension?

I want it to show errors directly in the editor, like it shows for internal templates

<img width="945" alt="screen shot 2019-02-21 at 2 51 58 pm" src="https://user-images.githubusercontent.com/2327532/53200940-6a15a900-35e8-11e9-9eed-55d5dea0dacb.png">

[2019-02-21 22:44] mgechev commented on #770
@mohammedzamakhan yes, that's a known issue. Unfortunately at the moment we cannot do this because of limitations in the tslint plugin.

Let's close this issue because it's likely that we don't use tslint in the future and this is a tslint-specific problem.

[2019-02-21 22:44] #770 closed

[2019-02-21 22:45] mgechev commented on #771
@mohammedzamakhan would you want to push a fix?

[2019-02-21 22:47] mohammedzamakhan commented on #771
Yes I am currently working on it @mgechev

[2019-02-22 19:02] mohammedzamakhan opened #773 "Feature Request: Media has caption"
media `video` and `audio` should have captions using `track`

[2019-02-22 19:04] mohammedzamakhan opened #774 "Feature Request: Images should not have redundant words"
Images should not have alt with text `image`, `picture` or `photo` as the image element is already understood as image by the screen reader

For example: `<img src="/assets/angular.png" alt="image of angular">`

The screen reader might read `Image of Image of Angular` which will be confusing to screen reader users

[2019-02-22 19:06] mohammedzamakhan opened #775 "Feature Request: iframe should have titles"
Enforce iframe elements have a title attribute.

[2019-02-22 19:44] #775 closed

[2019-02-22 19:44] #774 closed

[2019-02-22 19:45] #773 closed

[2019-02-23 01:30] #758 closed

[2019-02-24 21:38] rafaelss95 opened #776 "contextual-decorator: fails for some cases"
~**Case 1:** (It doesn't report failures for pipes)~ **Fixed in #754**.

[code]

**Case 2:** (it doesn't report failures if `ViewChild` decorator is applied to a setter accessor)
[code]

<hr>

Also, the `@Attribute` decorator is not handled at the moment. Is it intentional? @mgechev @wKoza

[2019-02-24 21:43] rafaelss95 opened #777 "About RuleWalker"
In the [latest TSLint's release](https://github.com/palantir/tslint/blob/master/CHANGELOG.md#v5130), they marked `RuleWalker` as deprecated. Apparently, [RuleWalker-based rules are slow and should be avoided](https://github.com/palantir/tslint/issues/2522). Considering this, what should we do with the current rules? @mgechev @wKoza

[2019-02-24 22:52] #653 closed

[2019-02-25 06:43] wKoza opened #778 "Codelyzer doesn't support export default"
I reedit [my comment](https://github.com/mgechev/codelyzer/pull/754#discussion_r258851555) form the PR #754.

If we create a simple class like that:

[code]

and we launch `ng lint`, we have a big big crash [here] (https://github.com/mgechev/codelyzer/blob/master/src/propertyDecoratorBase.ts#L41) and many other places !

[2019-02-25 06:54] wKoza commented on #776
@Attribute can only be used in a constructor. It's maybe the reason (which it's not a valid reason ;) ).
But, if we handle `@Attribute`, what about `@Host`, `@Self`, ... ?

So, I don't think it's intentional.

[2019-02-25 07:12] wKoza commented on #777
@rafaelss95 , `RuleWalker` is deprecated ? Tslint will be also deprecated by the end of the year. There is also a big problem with the new compiler Ivy. There are many impacts.
That's a lot of change in one year. :stuck_out_tongue_winking_eye:

[2019-02-25 07:18] wKoza opened #779 "Good source of inspiration about a11y"
This is a good source of inspiration about [accessibility](https://github.com/Microsoft/tslint-microsoft-contrib/tree/master/src) .

[2019-02-25 19:45] mgechev commented on #777
We can catch up on hangouts to discuss what we're going to do with TSLint. I'll ping you over email.

[2019-02-25 19:46] mgechev commented on #778
That's probably in the Angular router where we collect the metadata?

[2019-02-25 20:17] wKoza commented on #778
Each call to `visitClassDeclaration` is often following by `node.name!.text`, [here](https://github.com/mgechev/codelyzer/blob/5e067a1857fea1b609b6eb44340fd31619ec1526/src/selectorNameBase.ts#L105) or [there](https://github.com/mgechev/codelyzer/blob/a23ccde36de2b76ea7aa218458fd17a03d4f4a92/src/componentChangeDetectionRule.ts#L39) and without name ... it's the crash
I'll do a complete check tomorr

[2019-02-25 23:56] rafaelss95 commented on #778
I agree that instead of using the non-null assertion operator, we should check all these properties correctly!

However, I disagree on the point of returning class names (not just class names) in failure messages because I don't see much value in returning them since the `lint` already returns the exact line where _failure_ occurred accompanied by a (descriptive) message.

I really prefer to retur

[2019-02-26 07:47] wKoza commented on #778
I didn't go much more deeper into the analyse. But, I can say that a class with a decorator and no name should be throw an error.
@rafaelss95 , your idea is interesting. A generic message allows to make statistic easily.

[2019-02-26 17:30] mgechev commented on #778
@rafaelss95 yes, this makes sense.

[2019-02-26 18:20] wKoza commented on #776
@rafaelss95 , I've just seen that `@Attribute` is a bad practice [here](https://github.com/mgechev/codelyzer/blob/a9d74bef3a93818520127676612fc67531dde785/src/noAttributeParameterDecoratorRule.ts)

[2019-02-27 23:59] rafaelss95 commented on #776
@wKoza Yep, it's supposed to be, however the rules are independent, right?

[2019-02-28 06:55] wKoza commented on #776
I think we should still keep some consistency but I don't have the whole history of this rule.

[2019-03-01 10:09] #779 closed

[2019-03-01 10:11] #751 closed

[2019-03-01 10:11] #752 closed

[2019-03-01 10:11] #750 closed

[2019-03-01 10:12] #732 closed

[2019-03-02 02:30] #771 closed

[2019-03-04 17:57] rafaelss95 commented on #624
I'm extending `BasicTemplateAstVisitor` and using `visitElementProperty` to try to distinguish `cannonical-form` from `property-binding`, but it seems that it's not possible. Thoughts @mgechev?

[2019-03-04 18:37] rafaelss95 commented on #661
@dominique-mueller About `input attributes`, do you have any source that we can find a complete list? For `output native`, we already a have one now :)

[2019-03-04 18:58] wKoza commented on #624
@rafaelss95 , I like your original idea and your last proposal seems to move in this bad direction. The enemy is the interpolation. After , maybe can we give the choice between property binding and canonical form but I'm not really convinced  of the gain.
For the first question, attempting a fix seems dangerous.
And for the name, `template-prefer-property-binding` seems good.

[2019-03-04 19:49] rafaelss95 commented on #624
Hey @wKoza after having created this issue (almost an year ago), I noticed that Angular does not indicate one of the forms, so I guess we shouldn't also. That's the reason why I've proposed to leave it configurable so that users can choose the best option according to the standard of their projects.

I think the best definition for this rule is: Let's standarize one form in the project, no matter

[2019-03-04 20:15] wKoza commented on #624
hmm.. Your rule checks the binding on which attribut ? only HTML attribut  or all properties ?

[2019-03-04 20:24] wKoza commented on #661
https://github.com/angular/angular/blob/f8096d499324cf0961f092944bbaedd05364eea1/packages/language-service/src/html_info.ts

or https://www.w3schools.com/tags/ref_attributes.asp

[2019-03-04 21:02] rafaelss95 commented on #661
Looking at the above lists.. it seems it's kind of weird restricting people from naming their `inputs` as `disabled`,` value`, etc ...

[2019-03-04 21:03] rafaelss95 commented on #624
Only element properties for now..

[2019-03-05 06:33] wKoza commented on #624
okay. So, the name is ambiguous. Maybe template-harmonize-html-attribute-binding. And let's the choice to the user in this case.

[2019-03-05 06:56] wKoza commented on #661
We should restrict to the "Global Attributes".

[2019-03-06 01:26] rafaelss95 commented on #661
Hmm.. let's imagine a component that wraps the input behavior with some predefined styles, etc., like this:

[code]

Since `id` is a 'global attribute', we should have a failure there, right? Btw... how should people name it?

[2019-03-11 17:42] #778 closed

[2019-03-13 22:57] mohammedzamakhan commented on #666
Some third-party libraries force you to use providers
https://aws-amplify.github.io/docs/js/angular#importing-the-angular-module

[2019-03-13 22:57] mohammedzamakhan commented on #558
You can assign it to me

[2019-03-13 23:45] mgechev commented on #558
GitHub does not allow this but since you're taking it I'll drop `votes needed`.

[2019-03-13 23:46] rafaelss95 commented on #666
@mohammedzamakhan you're right. When I created this issue I was just thinking in the app's own providers :/

[2019-03-14 00:16] rafaelss95 commented on #592
@mgechev I just missed this discussion... now that `Ivy` is closer, what's your opinion for this rule?

[2019-03-14 00:22] mgechev commented on #592
Would you see how `ngtsc` handles this? If it still throws, let us deprecate.

[2019-03-14 00:54] rafaelss95 commented on #558
@mgechev @wKoza
Currently we have the following rules to (dis)allow decorator properties values:

| List of rules |
|:-:|
| `no-host-metadata-property`                                 |
| `no-inputs-metadata-property`                              |
| `no-outputs-metadata-property`                            |
| `no-queries-metadata-property`                            |
| `no-pipe-impure`

[2019-03-14 01:56] mgechev commented on #558
Sounds good. I can talk to @jelbourn to converge both rules.

[2019-03-14 15:50] mohammedzamakhan commented on #666
Yeah, the rule still makes sense, and I think most of the projects can have this rule enabled, and in such rare case, they will add tslint ignore for just this alone

[2019-03-14 21:34] cafesanu opened #789 "Feature Request: `prefer-template-url` and `prefer-style-urls`"
Would love to have optional rules `prefer-template-url` and `prefer-style-urls` (or similar names), which will force you to create an html and a style file as opposed to have the html and css within the component.ts file

Thanks!

[2019-03-14 21:50] mgechev commented on #789
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2019-03-14 21:50] #789 closed

[2019-03-15 14:07] cafesanu commented on #789
@mgechev would love to create a pull request with these rules if you think they make sense. The angular style guide mentions this as a DO in here https://angular.io/guide/styleguide#style-05-04, so it would be nice to have theme at least optionally.

If you think it makes sense and my PR will make it, are there any guidelines to follow or recommendations?

[2019-03-15 14:50] wKoza commented on #789
Currently, we have the rule `component-max-inline-declarations` which checks whether the number        of line is above 3. You can configure this rule with the number 0. You'll have an error like this:
` Exceeds the maximum allowed inline lines for template. Defined limit: 0 / total lines: 1 (https://angular.io/guide/styleguide#style-05-04)
`

[2019-03-15 17:06] cafesanu commented on #789
Nice! that is what I needed! Thanks!

[2019-03-18 17:44] rolandschuster opened #791 ""Could not find implementations for the following rules..." Message after upgrading to v5.0.0-beta.1"
After upgrading from Version 4.5.0 to Version 5.0.0-beta.1 i recieve the following message when linting my files:

[code]
In Version 4.5.0 linting works without this message. I also updated tslint to v5.14.0 and Angular to v7.2.9.

I am not sure if thats a bug or what i need to do to get rid of this message.

The used tsconfig.json looks like this:

[code]

[2019-03-18 17:54] mgechev commented on #791
Here are renames that we did:

`contextual-life-cycle` => `contextual-lifecycle`
`no-conflicting-life-cycle-hooks` => `no-conflicting-lifecycle`
`no-life-cycle-call` => `no-lifecycle-call`
`use-life-cycle-interface` => `use-lifecycle-interface`
`decorator-not-allowed` => `contextual-decorator`
`enforce-component-selector` => `use-component-selector`
`no-output-named-after-standard-event` => `no-ou

[2019-03-18 17:54] #791 closed

[2019-03-18 19:16] wKoza commented on #791
@mgechev , in the meantime, I'll pin this issue.

[2019-03-19 14:00] fetis commented on #728
any progress on it?

[2019-03-23 20:41] rafaelss95 opened #796 "[Feature request] - Rule to disallow the misuse of `PipeTransform`"
Consider the following snippet:

[code]

`MyAwesomeService` is not decorated with  `@Pipe()` and is implementing the `PipeTransform` interface.

This obviously makes no sense and currently we doesn't have a rule that handle this case.

<hr>

I was thinking to add it to the existing rule `contextual-lifecycle`, but this rule is, as its name implies, specifically to `lifecycle` cases (interfaces and

[2019-03-23 20:49] mgechev commented on #796
I see cases when people may want to implement the `PipeTransform` interface for a service. It means - I want to declare a service which has a `transform` method, this seems fine to me.

[2019-03-25 02:14] rafaelss95 commented on #796
Hmm, I'm not sure if people would do this in the real world, because as the name implies, it should be only used for `@Pipe`s. It would be really strange to see a _non_ `@Pipe` class implemeting it. Also, if people try to do this with the `use-pipe-decorator` rule enabled, failures will be reported to enforce the class to be decorated with `@Pipe()`.

Let's imagine the same situation for `lifecycl

[2019-03-25 02:31] rafaelss95 opened #799 "Support for svg templates"
Since `@angular/cli@8.0.0-beta.5` we can use `svg` files in templates: https://github.com/angular/angular-cli/commit/dfb08b95b73f3e75d0f2cd0c61f336dc86d0769a.

[2019-03-25 04:25] #799 closed

[2019-03-25 04:31] mgechev commented on #796
I'd probably return code which has service implementing `PipeTransform` during code review because of personal preferences. It doesn't feel right; at the same time, I'm not sure it deserves an entire rule.

I don't think implementing the `ngOnInit` method is comparable with `transform,` mostly because of the `ng` prefix. Still, these are very vague arguments, and it's mostly a matter of personal p

[2019-03-25 07:43] cexbrayat opened #801 "Rule template-accessibility-elements-content not found"
Using `5.0.0-beta.2`, I've got the following error:

[code]

using the following `tslint.json`:

[code]

Note that the other rules are found, so I may be missing something, but I think the name is correct (see https://github.com/mgechev/codelyzer/blob/master/src/templateAccessibilityElementsContentRule.ts#L44).
The error was already present in `beta.0` and `beta.1`.

[2019-03-25 10:31] lonix1 opened #802 "[Feature Request] Docs should mention defaults"
The docs pages for the rules should mention each rule's default.

Otherwise the only way to know is to inspect the code.

[2019-03-25 12:53] wKoza commented on #801
Indeed, This rule is missing in the file https://github.com/mgechev/codelyzer/blob/master/src/index.ts

[2019-03-25 18:10] santoshyadav198613 commented on #757
@rafaelss95  will try to wok on it, if this is still open. Also first time contributor here, so may need help here.

[2019-03-25 21:10] #801 closed

[2019-04-03 09:07] kamilchlebek opened #807 "[docs] Update rule names after recent renaming"
Currently docs contains only old names for recently renamed rules.

ex. http://codelyzer.com/rules/use-input-property-decorator/ that was renamed to `no-inputs-metadata-property`

It would be good to reference new names inside the description or rename these entries totally.

[2019-04-03 14:42] mgechev commented on #807
https://github.com/mgechev/codelyzer/commit/6d283e6fc5ff4a46fceb81d8885f4813a11cd929

[2019-04-03 14:42] #807 closed

[2019-04-03 20:42] TrevorKarjanis commented on #802
Unfortunately, TSLint doesn't do this for any rule. No rules are enabled by default with ESLint, so I'd imagine that is the case for TSLint and codelyzer. Instead, they can come with predefined configurations, like "recommended" used with TSLint and ESLint. The codelyzer [recommended configuration](https://github.com/mgechev/codelyzer#recommended-configuration) is provided in the README. However,

[2019-04-04 04:47] lonix1 commented on #802
Let's wait for one of the library's authors to shoot it down before we dismiss this idea. Thanks.

[2019-04-08 14:50] chrismbarr opened #808 "template-accessibility-label-for: not recognizing id/for attributes with interpolated values"
**Describe the bug**

The new `template-accessibility-label-for` rule seems to not recognize associated id/for attributes that contain interpolated values such as `item-{{index}}` that would typically be used when a component generates input controls inside of an `ngFor` loop.

**Context and configuration**
[code]

**Code & Expected behavior**
[code]

The above code **will** generate unique ID's t

[2019-04-14 20:35] buu700 opened #809 "[Feature Request] prefer-reactive-forms/no-ng-model rule"
Not sure which would be the better name, but I'm working on a project right now where the team has internally deprecated usage of `[ngModel]` in favor of `[formControl]`. A lint rule to automatically flag uses of `[ngModel]` would make this a lot easier to enforce going forward.

[2019-04-14 20:40] buu700 opened #810 "[Feature Request] no-unused-public-component-members rule"
A rule to flag every instance of a public component class variable or method that isn't referenced by the associated template would be extremely useful.

There are certainly some edge cases where a public member might be needed without having been referenced in the template, but I think these would be the vast minority of cases, and so would be fine for most projects to just comment with one-off l

[2019-04-14 21:20] rafaelss95 commented on #810
@buu700 It seems that it was already suggested in #596. Can you check if that issue is the same as yours?

[2019-04-14 21:22] buu700 commented on #810
Ah whoops, thanks! That sounds pretty much the same, but I'll add my additional suggestion in a comment there.

[2019-04-14 21:22] #810 closed

[2019-04-14 21:26] buu700 commented on #596
My request (#810) was pretty much the same as this, with the addition that it should flag methods that aren't referenced in the template, not just class variables.

Also, an additional consideration comes to mind: in the case of both variables and methods, I think we should overlook anything specified by an implemented interface by default. e.g. no need to complain that `ngOnInit` is never called,

[2019-04-14 21:28] buu700 commented on #596
I don't know whether you'd consider this an acceptable solution, but this was my suggestion in the other ticket:

[2019-04-14 21:35] rafaelss95 commented on #809
Hmm.. not sure if I understood your feature request. Are you suggesting a rule to **flag** all `ngModel` usages? Or only the _mixed_ ones, e.g.: `<input [ngModel]="someValue" formControlName="someName">`?

[2019-04-14 21:38] buu700 commented on #809
Yeah, I was suggesting a rule to flag all uses (maybe with an optional parameter to find just mixed ones). Not that this should be recommended for everyone or included in the tslint-angular preset, but it would definitely be helpful for teams/projects that are trying to use reactive forms for most or all of their application.

[2019-04-14 21:43] rafaelss95 commented on #809
Although I use `Reactive Forms` in 90% of cases, I still can see some cases where `ngModel` is more suitable... as for example, a paginator component where you don't necessarily deal with `forms` and have a select element to control how many items should be on the page.

For the _mixed_ ones, I saw that there's an open PR https://github.com/angular/angular/pull/28996 that will remove deprecated su

[2019-04-14 21:49] buu700 commented on #809
Yeah, I agree with that, and wouldn't try to advocate 100% reactive forms usage as a general best practice.

Where we're looking to use this is a project that's pretty big/complicated but basically just a bunch of forms and tables, and all the custom UI implementations exist in (or are being factored out to) a separate module that wouldn't have this rule applied.

[2019-04-15 10:40] Merott opened #811 "template-accessibility-label-for does not recognise nested custom control components."
**Describe the bug**

I have a custom checkbox form control, with the selector `x-checkbox`, nested inside a `label`. Despite configuring `controlComponents` for `template-accessibility-label-for`, I still get this:

This feels like I must be doing something wrong because it's a really basic use case...

**Context and configuration**

Rule configuration:

[code]

Simplified Template code:

[code]

[2019-04-15 10:54] rafaelss95 commented on #811
Thanks for reporting this bug. I'll submit a PR later to fix this along with #808.

[2019-04-16 19:24] emilio-martinez commented on #809
There are cases where ngModel is helpful in that it can instantiate a `FormControl` without needing to be within a Form, i.e., leverage CVA streams. I also use ReactiveForms 90% of the time, but I wouldn't ban ngModel entirely for it.

[2019-04-17 21:00] #808 closed

[2019-04-17 21:00] #811 closed

[2019-04-23 16:11] santoshyadav198613 opened #815 "update typescript to 3.4.x"
Angular is going to support typescript 3.4.x in version 8. So we need to update the same.

[2019-04-23 17:21] mohammedzamakhan commented on #624
@mgechev since @rafaelss95 is working on this, can you remove the votes needed tag from this issue?

[2019-04-23 17:48] benjamincharity opened #816 "relative-url-prefix errors on any relative links that are not at the same depth"
**Describe the bug**

When the rule `relative-url-prefix` is enabled it considers deep relative URLs to **not** be prefixed correctly.

[code]

While this seems like a bug to me since `./../foo.ts` **is** a relative URL, this library is explicitly testing for this behavior so it may not be considered a bug by the maintainer(s). Reference: https://github.com/mgechev/codelyzer/blob/f12f27b699187bbb4

[2019-04-24 00:40] rafaelss95 commented on #624
@mohammedzamakhan I've removed the _label_.

[2019-04-24 04:52] mgechev commented on #815
Would you want to open a PR with this?

[2019-04-24 04:57] santoshyadav198613 commented on #815
Yes will open the PR.

[2019-04-25 03:13] vmurillo opened #817 "Disable "template-use-track-by-function" globally"
Hello,

My tslint.json is:

`{
  "rulesDirectory": [
    "node_modules/codelyzer"
  ],
  "extends": ["angular-tslint-rules"],
  "rules": {
    "template-use-track-by-function": false
  }
}
`

However when I run `./node_modules/.bin/tslint src/**/*.ts`

I still get
 src/app/components/select/select.component.html:3:10 - Missing trackBy function in ngFor directive

Is it possible to deactivate this

[2019-04-25 14:47] benjamincharity commented on #763
Really looking forward to this one. We are in a rough spot currently where we are using ESLint for most stuff but still need TSLint running just for these rules.

[2019-04-26 23:09] DerZyklop opened #819 "Atoms linter-tslint shows codelyzer error: Invalid regular expression: /^\[(?!\()(.*)(?<!\))\]$/"
**Describe the bug**

Code editor Atom shows an error when using codelyzer rules:

[code]

**To Reproduce**

Doesn‘t matter which rule. Just put one `"extends": ["codelyzer"],` in your lint config and it breaks.

**Expected behavior**

No error.

**Environment**

 - codelyzer v5.0.1
 - OSX 10.14
 - Node.js v11.9.0
 - npm v6.9.0
 - atom v1.36.0
 - linter-tslint v1.10.22

[2019-04-27 00:31] rafaelss95 commented on #817
It should work. Check if you don't have this rule enabled in any other `tslint.json` (Angular projects usually have at least 2).

[2019-04-27 00:32] rafaelss95 commented on #816
cc @wKoza

[2019-04-29 03:10] #815 closed

[2019-04-29 12:06] superdyzio commented on #776
Today I noticed weird behavior for `@Pipe` and `@Injectable`.
Example:
[code]
and
[code]

Similar behavior for `@Injectable()` and `@Injectable({...})`. Codelyzer `5.0.1` and tslint `5.16.0`.

[2019-04-29 18:26] #817 closed

[2019-04-29 22:35] vmurillo commented on #817
My bad, it is working. Thanks a lot

[2019-04-30 08:51] crushjz opened #821 "Cannot disable template rules"
**Describe the bug**

Can't disable the `template-cyclomatic-complexity` rule.

**Context and configuration**

I'm using tslint in an Angular project.

`tsconfig.json` setting: `"template-cyclomatic-complexity": [true, 10],`

Following this readme (https://github.com/mgechev/codelyzer/blob/master/README.md#disable-a-rule-that-validates-template-or-styles) in order to disable a rule, I have to writ

[2019-05-01 02:50] #776 closed

[2019-05-01 04:44] #819 closed

[2019-05-02 02:28] rafaelss95 commented on #821
Additional fact: the `disable` like comment works if you use _inline_ `template`.

I took a quick look and could not find where this error might be (btw, we have no test for this). Any thoughts, @mgechev?

[2019-05-02 03:57] mgechev commented on #821
I will take a look at this right after I/O.

[2019-05-18 20:52] dedward3 opened #822 "[Feature Request] no-implicit-barrel-imports"
**Disclaimer** I'm admittedly weak in my knowledge of how typescript actually goes about building things and specifically how the Angular build system works. So if I get some terminology wrong or I've assumed something incorrectly. Please forgive me, I'm doing my best to convey this issue that I've run into quite a few times.

Also I want to say this upfront. I've built a lint rule for this proble

[2019-05-22 14:44] maxime1992 opened #823 "Rule to forbid using ::ng-deep at the top level"
When a component uses in its style(s) `:ng-deep` at the top level, this will basically act as a global style. This is really dangerous and it'd be nice to have a rule to enforce *not* doing that.

I've made a small stackblitz demo here: https://stackblitz.com/edit/ng-deep-leak

`AppComponent`
  |__ `Sub1Component`
  |__ `Sub2Component`

In this example, every component has within its template a `d

[2019-05-22 15:21] mgechev commented on #823
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2019-05-22 15:21] #823 closed

[2019-05-22 15:21] mgechev commented on #822
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2019-05-22 15:21] #822 closed

[2019-05-22 15:22] #796 closed

[2019-05-22 15:22] #809 closed

[2019-05-22 15:23] #543 closed

[2019-05-22 15:24] mgechev commented on #685
Looks like this is no longer reproducible.

[2019-05-22 15:24] #685 closed

[2019-05-22 15:25] mgechev commented on #763
FYI https://twitter.com/MrJamesHenry/status/1130143387292786688

[2019-05-22 15:27] mgechev commented on #715
Let's keep this outside of the scope of codelyzer. Currently, in the CLI we provide automatic migration for breaking changes, which helps us workaround this.

[2019-05-22 15:27] #715 closed

[2019-05-31 13:02] markgoho opened #824 "ng update codelyzer complains about typescript version"
**Describe the bug**

I've just upgraded an existing project to Angular v8 using `ng update @angular/cli @angular/core` and it did not update Codelyzer. When manually running `ng update codelyzer` I get an error message about incompatible peer dependencies:

[code]

**Environment**

 - Version 4.5.0
 - OS: Windows
 - Node.js version: 12.3.1
 - Package manager (yarn/npm) version: Npm 6.9.0
 - Angul

[2019-06-04 18:18] antch commented on #64
This issue should be re-opened.

[2019-06-06 09:05] jscharett commented on #558
Does this rule allow for a non-singleton services?  I haven't seen an example where provideIn is used for a component, only root/Modules.

[2019-06-06 17:44] Zarepheth opened #848 "Cannot disable "template-no-call-expression" rules."
**Describe the bug**

`tslint` processes the `template-no-call-expression` rule even when it is set to `false` and also when a `tslint:disable:template-no-call-expression` comment is added to either the template (using an HTML comment) or the component's class file (using a TypeScript comment).

As a result, `tslint` spams me with `Call expressions are not allowed in templates except in output han

[2019-06-10 02:41] rafaelss95 commented on #848
Duplicate of #821.

[2019-06-10 02:41] #848 closed

[2019-06-16 10:19] redayoub commented on #191
I have the same issue for:

 "@angular/core": "8.0.0",
"codelyzer": "4.5.0",
"@angular/cli": "8.0.2",
"tslint": "5.11.0",

[2019-06-17 15:01] JamesHenry commented on #763
I have migrated over 50% of the rules now, and will coordinate with Minko on making an alpha available soon.

I have also created the builder necessary to run ESLint via “ng lint” and will add schematics soon.

Stay tuned!

[2019-06-19 19:52] michaeljota commented on #763
Angular CLI it's waiting for the migration to ESLint to complete in order to switch to it from TSLint. Maybe this should be coordinated as well.

angular/angular-cli#13732

[2019-06-26 08:34] tibinvpaul commented on #791
Hello @mgechev - did we release the changes? Thanks.

[2019-06-26 17:21] mgechev commented on #791
Yes, [this](https://github.com/mgechev/codelyzer/issues/791#issuecomment-474031004) we released over a month ago. Try 5.1.0.

[2019-07-03 06:22] MicMicMon commented on #824
For me, I'm stuck at 4.5.0 because `ng update codelyzer` complains about:
[code]

[2019-07-03 20:16] jorgekleeen commented on #702
Is still in [the docs](http://codelyzer.com/rules/angular-whitespace/)

[2019-07-10 21:01] Plondrein commented on #821
Any update on this?

[2019-07-11 09:24] ganqqwerty commented on #791
Is it maybe possible to change the tslint message so that it shows the new key for a deprecated one?

[2019-07-14 16:03] wescopeland commented on #628
This would be awesome, unfortunately the blacklist property seems to break the `template-i18n` rule entirely. Does anyone happen to have the blacklist property suggested by @mgechev above working..? I'm wondering if there's something obvious I'm missing. Going through the codelyzer source code I don't think a `blacklist` property on this rule is possible, but I could be mistaken.

To recap, this w

[2019-07-15 15:40] michaeljota commented on #61
I think the option should be considered. I understand this is prefer, but in the case I have a value I know it won't ever change, having Angular checking if it did change in the check detection cycle seems like a waste of resources for me.

[2019-07-16 06:08] MicMicMon commented on #824
@mgechev , any clue or workaround on this?

[2019-07-16 17:12] mgechev commented on #824
Codelyzer does not have TypeScript in its `peerDependencies`. @MicMicMon could you try updating `codelyzer` manually? You can update the Angular CLI to version 8 which will automatically migrate codelyzer as well.

[2019-07-16 17:24] MicMicMon commented on #824
I already have Angular CLI at version 8.
I will try to force the update (through `ng update codelyzer --force` right? always worried to mess things up when forcing updates)

[2019-07-16 17:30] mgechev commented on #824
You can just update the codelyzer version in `package.json`.

[2019-07-16 19:34] MicMicMon commented on #824
ok thanks, updating by hand in packages.json worked fine :)

[2019-07-16 19:52] mgechev commented on #824
@markgoho there was some peer dependency issue that we resolved already. Would you double check? I believe we can close this issue.

[2019-07-18 02:20] markgoho commented on #824
Getting a similar error as @MicMicMon now:
When going from 5.0.1 to 5.1.0:
[code]

[2019-07-18 14:37] markgoho opened #856 "a11y errors in console have absolute paths"
**Describe the bug**
Errors in the console link to absolute paths. We should use relative paths.

**Context and configuration**

Please share:
a11y rules are what are specifically linking to absolute file paths

**To Reproduce**
Create a template that violates a rule, one for angular style guide, the other for an a11y rule

**Expected behavior**
The error would print in the console with a relative

[2019-07-18 17:55] mgechev commented on #856
@mohammedzamakhan would you have a moment to look at that?

[2019-07-18 18:30] mohammedzamakhan commented on #856
Sure 👍

[2019-07-22 14:08] yuri1969 commented on #191
Have you tried the dirty workaround of prepending a disable directive as the component's first line?

`// tslint:disable:no-access-missing-member`

[2019-07-23 12:19] glen-84 commented on #763
@JamesHenry Is your work public somewhere? I would be interested in following the progress. 🙂

[2019-07-23 13:09] JamesHenry commented on #763
@glen-84 I had a meeting with Minko yesterday about it :) It will be publicly accessibly (although not documented initially) very soon!

[2019-07-23 13:19] undeadcat opened #859 "Column numbers are off by one when codelyzer reports errors in template files"
**Describe the bug**

Column numbers are off by one when codelyzer reports errors in template files (works fine in inline templates).

With an inline template, errors are reported at the syntax element causing the error:
![image](https://user-images.githubusercontent.com/7509842/61714756-5b344d80-ad64-11e9-97c3-9ac87a07851b.png)

[code]
If we replace inline (`template`) with file (`templateUrl`),

[2019-07-28 20:33] fulls1z3 commented on #628
i can also confirm that blacklisting causes the rule to become inert

angular 8.1.3
tslint 5.18.0
codelyzer 5.1.0

[2019-08-01 22:58] aboyton opened #865 "Documentation not updated with 5.0 names"
**Describe the bug**

A clear and concise description of what the bug is.

**Context and configuration**

The documentation http://codelyzer.com/rules/templates-no-negated-async/ says that the rule is called `templates-no-negated-async` but the rule appears to have been renamed to `template-no-negated-async` both in code and the release notes.

**Environment**

 - Version 5.0.1

[2019-08-02 02:14] #865 closed

[2019-08-08 12:28] hzitoun commented on #791
It has to be like so!

[2019-08-21 17:48] jbogarthyde opened #879 "Add check for restriction on hyphens in pipe names"
Giving a pipe a name with hyphens causes a compilation error. A contributor suggested adding a check to codelyzer.

https://github.com/angular/angular/issues/31787

[2019-08-21 18:23] mgechev commented on #879
I'd suggest to implement this as part of the ESLint Angular effort in https://github.com/angular-eslint/angular-eslint. Let me enable the issues there.

[2019-08-21 18:24] #879 closed

[2019-08-22 09:32] undsoft opened #880 "Using template rules with pug"
Hey,

I'm trying to use template rules, such as 'template-use-track-by-function' on my project.
The problem is that I'm using pug in my templates.

I'm using https://github.com/danguilherme/ng-cli-pug-loader.

Is there any way for me to make template rules work with pug?
I'm willing do extend the rules if that's necessary, but would need some direction to do that.

Thanks.

[2019-08-22 17:46] mgechev commented on #880
Hey @undsoft, you can check the [advanced config](https://github.com/mgechev/codelyzer#advanced-configuration) section in the readme. The functionality exists in codelyzer, but hasn't been exhaustively tested yet.

Let me know how it goes.

[2019-08-23 15:24] dumptruckman commented on #763
@JamesHenry Any update on this?

[2019-08-23 18:21] mgechev commented on #763
@dumptruckman you can follow the progress [here](https://github.com/angular-eslint/angular-eslint). If you have a spare moment, feel free to push a port of any of the not implemented rules to the repo.

Moving the CLI to ESLint is not part of the version 9 timeline, but @JamesHenry already has a CLI builder which will let you opt in.

[2019-08-23 22:13] aruballo commented on #791
I second ganqqwerty's request; if the old value has been deprecrated we should at least be informed of the new value.

[2019-08-26 12:16] undsoft commented on #880
It seems to be working okay more or less.
Here's my .codelyzer.js config:
[code]

Unfortunately I wasn't able to find anything that would generate proper sourcemaps, which means that numbers in tslint logs are off, but that's something I can live with.

[2019-08-26 12:16] #880 closed

[2019-08-26 14:02] undsoft opened #882 "Fixer should not be added when using custom tempalte transformation without sourcemaps"
This relates to me trying to use pug with codelyzer here:
https://github.com/mgechev/codelyzer/issues/880

The problem is that I don't have sourcemaps.
When I use tslint --fix, any template rules that have a fixer (I've just tried angular-whitespace) will update the code incorrectly.

I think it would be best if codelyzer didn't attempt to add a fix, if a custom transformTemplate function is used

[2019-09-06 18:36] klemenoslaj commented on #628
I am @mgechev was just replying to @rafaelss95, suggesting a potential "non breaking change" solution and not pointing to the existing solution for the problem at hand.

I however would love to see this rule being updated with blacklist :+1:

[2019-09-06 19:33] martinakraus commented on #738
@wKoza I would love to support here as well :-) So how are your investigation so far?

[2019-09-15 10:51] Edouardbozon opened #888 "Pseudo events not supported with accessibility rule"
**Describe the bug**

Hi, I would like to use accessibility rules [as described here](https://web.dev/accessible-angular-with-codelyzer/) but they don't support pseudo events.

![image](https://user-images.githubusercontent.com/8522558/64920317-75b00380-d7b6-11e9-9009-f354e7ed3d2a.png)

**Context and configuration**

Please share:
 - Which rule is causing the problem: **template-click-events-have-

[2019-09-15 15:24] lazarljubenovic commented on #888
Since we're talking about accessibility, that thing's supposed to be a button, not an anchor.

[2019-09-15 17:22] Edouardbozon commented on #888
@lazarljubenovic In this case `selectGroup(name)` do a redirection using the `PlatformLocation` API. IMO the `<a>` element is appropriate.

[2019-09-16 04:04] lazarljubenovic commented on #888
It's an anchor tag without `href`, which means it's a "placeholder for a link". Things like "Open in new tab" won't work. You should pre-compute the URL and then use `routerLink`.

[2019-09-16 14:30] Edouardbozon commented on #888
@lazarljubenovic Ok noted, thanks for the advice.

However it doesn't resolve the main problem with pseudo events. Here is an other example without link element :

[code]

The rule should cover this case as described [here](https://medium.com/ngconf/new-accessibility-rules-in-codelyzer-v5-0-0-85eec1d3e9bb).

But it fails when using pseudo events.

[2019-09-16 14:40] lazarljubenovic commented on #888
Yeah, sorry for side-tracking the topic :pray: You're completely correct that it's a bug (or, well, a missing feature) in Codelyzer.

[2019-09-16 19:28] mgechev commented on #888
@mohammedzamakhan do you think you can alter the rule `template-click-events-have-key-events` so we can handle this case?

[2019-09-16 22:26] mohammedzamakhan commented on #888
yes we can update it to handle it, I will take a look into it

[2019-09-20 06:15] Edouardbozon commented on #888
Fixed in #893

[2019-09-20 06:15] #888 closed

[2019-09-23 15:48] SebasG22 commented on #821
Hi guys, any updates?
This happens when you get the value of a reactive form in the template.
![image](https://user-images.githubusercontent.com/17608169/65441258-b7146480-ddef-11e9-8109-767e8c2c3781.png)

@mgechev @rafaelss95 @crushjz

[2019-09-24 14:29] rgant commented on #491
It would be great if we could actually disable this rule for specific lines in the template file. I have a situation where some of my ngForOfs are just looping over strings and don't need template-use-track-by-function.

[2019-09-25 22:55] mgechev commented on #821
The following workaround would work (I know it's not ideal):

[code]

And in your template:

[code]

[2019-09-26 13:58] rgant opened #899 "Lowercase File Paths In Output"
Rules that apply to templates lowercase the file paths. (Perhaps only on macOS.) This makes [tools](https://github.com/SublimeLinter/SublimeLinter/issues/1665#issuecomment-535213408) trying to identify the location of the file not be able to do a string comparison.

This happens both when I run `ng lint` in my Angular project, and when I run manually:

[code]

Note how the first error has `/Users/

[2019-10-03 18:52] b2k commented on #791
I've got no idea how to fix my tslint.config now.

Based upon @mgechev comment above, many names were changed. But when I updated my tslint, it broke on the new names. Here's what I ended up with that appears to be working. That is until another arbitrary name change breaks my ide.

Seriously, can we dispense with this nonsense, and either support both names or provide a migration when updating so

[2019-10-08 09:10] crushjz commented on #821
@mgechev
Unfortunately it does not work, if you have multiple pieces of code violating that rule.

The rule I'm using is `template-no-call-expression`.

I cannot test the rule `template-cyclomatic-complexity` right now because we have disabled it completely from our project.

(I have also updated codelyzer to `5.1.2` and tslint to `5.20.0`)

[2019-10-09 08:02] serkon opened #909 "template literal indent"
I need to set template literal indentation: space or tab and how much will be.

I need 2 space inside template like this,
[code]

but Webstorm IDE changes space count to 4 automatically and not give an error

[code]

Like this configuration rule maybe help to developers at tslint.json:
`"literal-indent": [true,"spaces", 2]`

[2019-10-10 13:46] patoezequiel opened #911 "template-click-events-have-key-events rule not recognizing key events with modifiers"
**Describe the bug**

I'm having a problem with the aforementioned rule when using modified key events.

For instance:

`(keydown.enter)="handler()"`

**Context and configuration**

- **Rule:** template-click-events-have-key-events
- **Contents of tslint.json:**
[code]

**To Reproduce**

1- Set the `template-click-events-have-key-events` rule to _true_ in tslint.json.
2- Add an element with both a

[2019-10-14 18:59] mgechev commented on #909
The focus of codelyzer is not code-formatting but rather linting. Let's keep this outside of the scope of the project.

[2019-10-14 18:59] #909 closed

[2019-10-27 07:28] jeandat commented on #666
How do you write an HttpInterceptor with "providedIn"? Is it possible?

[2019-11-03 13:35] qzmfranklin opened #924 "tslint deprecating"
Per [this issue](https://github.com/palantir/tslint/issues/4534), tslint is going to be deprecated soon.

We are heavy users of codelyzer.

What about this repo?

[2019-11-04 19:22] mgechev commented on #924
For updates you can track https://github.com/mgechev/codelyzer/issues/763.

[2019-11-04 19:22] #924 closed

[2019-11-08 09:09] marcelcremer opened #928 "[Feature Request] disallow-pipe"
Hey everyone,

I just encountered a frequent issue after adding a complex feature, that I pushed some leftover debug information to our QS system. Of course, the review will find it, but that means opening another issue, removing the debug and create a new merge request.

That's why I came up with the idea, that it would be awesome to have "disallow-pipe"-Rule, like

[code]

The linter could throw

[2019-11-11 02:05] mgechev commented on #928
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2019-11-11 02:05] #928 closed

[2019-11-11 22:52] alxjmueller opened #930 "Is it possible to extend the predefined directives?"
We have a bunch of custom structural directives `*foo="bar"` which don't get picked up in the AST, unless they are predefined in `src/angular/config.ts`.

Is there a way to extend or override the array in `config.ts` somehow, or is forking our best bet?

Thanks!

[2019-11-12 08:16] JWO719 opened #931 "[Feature Request] Check that Services are provided"
I think it would be valuable to have a linting rule to catch services that aren't provided in any module. Right now one just get a runtime error in this situation, looking like this:

[code]

Especially in an aot compiled app this is not really helpful. Having a linting rule to prevent this scenario could help people from deploying a broken application.

[2019-11-13 01:07] alxjmueller commented on #930
This is indeed possible as detailed in `README.md`:https://github.com/mgechev/codelyzer#advanced-configuration

[2019-11-13 01:07] #930 closed

[2019-11-26 05:47] keradus opened #936 "use-injectable-provided-in not documented on website"
**Describe the bug**

`use-injectable-provided-in` rule, added in #814, is not documented on http://codelyzer.com/rules/ website

[2019-12-16 10:46] y-moroz opened #939 "Documentation for prefer-inline-decorator rule is outdated"
The syntax of options for the prefer-inline-decorator rule was changed in the https://github.com/mgechev/codelyzer/pull/794, and now docs show wrong information. Now the only way to understand how it works is to look at the source code - https://github.com/rafaelss95/codelyzer/blob/master/src/preferInlineDecoratorRule.ts#L91. Also, the documentation states that this rule has a fixer, while the has

[2019-12-16 19:15] mgechev commented on #939
Thanks for pointing this out! [This](https://github.com/mgechev/codelyzer/commit/3348a1edffad2a272bc32034cc6ad78e73645428) commit should have fixed the problem.

[2019-12-16 19:15] #939 closed

[2019-12-19 21:06] MalcolmAnderson opened #941 "Documentation - Pull the install instructions to a new file and improve."
**Documentation - Pull the install instructions to a new file and improve.**

I'm in a situation where I want to run static code analysis on my existing set of angular projects.
I believe that I can get there with a couple of hours of experimentation with the sample project and 3 - 7 read through's of the current instructions.   (The documentation appears to cover 3 or 4 different starting point s

[2019-12-20 18:07] wKoza commented on #941
Hi @MalcolmAnderson ,

Codelyzer is a tool which verifies that your code respects the Angular's best practices. It is not designed to be used as a "Sonar like".
There are other tools in order to check that.

[2019-12-21 23:57] MalcolmAnderson commented on #941
Thank you @wKoza, do you have any suggestions of which other tools to start with?  Any time I search for "Angular static code analysis" I see a lot of enterprise-level ads and links to Codelyzer.

It's for little things.  For instance, I've found the same 12 line section of code duplicated 21 times in our codebase (in 7 files, exactly 3 times in each file.)  For all I know, there's a valid reason

[2019-12-22 08:56] wKoza commented on #941
For your needs,  [SonarQube](https://www.sonarqube.org/downloads/)  seems to be the best choice. It's a highly comprehensive tool.  There is a community edition.
I know there are some tools like [jscpd](https://github.com/kucherenko/jscpd) but I've never tested it.

[2019-12-23 00:31] MalcolmAnderson commented on #941
Awesome, thanks, looks like what I require.

[2019-12-23 00:31] #941 closed

[2019-12-29 14:25] BO41 commented on #763
Unfortunately there is not much progress or any update in this [repository](https://github.com/angular-eslint/angular-eslint).

Could you please give it some attention and at least [update the README](https://github.com/angular-eslint/angular-eslint/issues/28) with an ETA, a TODO list and a way for users to test existing functionality :)

[2019-12-30 13:07] JamesHenry commented on #763
I will add some more information this week, on my vacation.

It’s always important to remember that these are not products - they are communities. I do not get paid to work on it any more than you do.

As Minko noted on the 23rd August, it has been open for a while and we’ve been happy to accept contributions from other members of the community we share together.

[2020-01-08 09:14] FDIM opened #947 "angular-whitespace: check-pipe false positives"
**Describe the bug**

There are some false positives in check-pipe option in angular whitespace rule

**To Reproduce**

[code]
[code]

Same error also error occurs with following template:
[code]

**Expected behavior**

I'd think that whitespace inside ngFor above and inside the button tag is correct

**Environment**

 - Version 5.1.0
 - Angular version: 8.2.4
 - tslint version: 5.20.0

[2020-01-09 04:23] jpike88 opened #948 "Update axobject-query"
Current version of axobject-query is spamming core-js donation messages, is it possible to update it

[2020-01-10 07:49] samuelfernandez opened #949 "Feature request: Avoid using Angular's directives add input name"
Imagine a component that by mistake uses an input with the name `routerLink`. In the parent it would be used like `<comp [routerLink]="...">`, which will add Angular's directive, something wrong. I feel having a linter that checks input names and has a blacklist of Angular's directives to warn about misuses could be useful.

[2020-01-10 07:50] samuelfernandez commented on #949
I can try to submit a PR if approved.

[2020-01-11 13:38] lazarljubenovic commented on #949
Such a rule would, in its most general form, allow for providing a blacklist of input names. Then we could have some pre-defined configurations like "standard", which would include a bunch of DOM properties, things from `@angular/forms` like `formGroup`, `formGroupName`, things from `@angular/router` like `routerLink`, etc.

Note, however, that Angular's selector mechanism was specifically designe

[2020-01-14 01:02] rafaelss95 commented on #949
Not sure I got the point of this issue, but it sounds like what I suggested in #668, no?

[2020-01-17 19:25] fr0 commented on #763
Using the [tslint-to-eslint-config](https://github.com/typescript-eslint/tslint-to-eslint-config) package seems to have created an ESLint config that does not include codelyzer. Is there guidance on how to add codelyzer back to an `.eslintrc.js` configuration?

[2020-01-19 16:32] naeramarth7 commented on #763
@fr0 you can add them as params to an [`@typescript-eslint/tslint/config`](https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/eslint-plugin-tslint#usage) rule entry:

[code]

Note, that any of codelyzer's `template-*` rules are not compatible with eslint (at least not, when using separate template files, not sure about inline templates though), since there's no angular bui

[2020-01-24 19:52] mgechev commented on #949
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2020-01-24 19:52] #949 closed

[2020-01-24 19:53] mgechev commented on #948
We can't update because it brings dependency on eslint. I reached to the author but haven't heard from her yet. Closing since there are no possible action items.

[2020-01-24 19:53] #948 closed

[2020-01-24 19:56] mgechev commented on #931
Following the feature request process that [lodash has](https://github.com/lodash/lodash/blob/master/.github/CONTRIBUTING.md#feature-requests), I'm closing the issue and adding `votes needed` label.

Later we can prioritize the feature requests by popularity and include them in a future release.

[2020-01-24 19:56] #931 closed

[2020-01-28 13:10] plathub opened #952 "[template-i18n]: Single HTML entities should be ignored"
**Describe the bug**

Single HTML entities should be ignored.

**To Reproduce**

Rule: template-i18n is enabled
Template contains: `<span>&ndash;</span>`

**Expected behavior**

Do not throw a linter error for single HTML entities.

[2020-02-05 07:53] samuelfernandez commented on #949
@rafaelss95 You are right, #668 should cover this one.

[2020-02-12 22:38] DerHerrGammler opened #955 "contextual-decorator throw some unexpectet errors"
My console is spammed with the same error in every ts file.

A clear and concise description of what the bug is.

[code]

Please share:
 - Which rule is causing the problem
 - What's the content of your `tsconfig.json`
 - What's the content of `~/.codelyzer.js` (if applicable)

**To Reproduce**

Just open ts files

**Expected behavior**

No errors at all.

[code]

Share the code which will let us

[2020-02-19 13:54] piotrl commented on #955
I'm encountering the same after update to Angular 9.0.1 and TypeScript 3.6.5.

* It happens both node 12.16.0 and 10.15.0
* It happens both MacOs and Linux
* Package manager: Yarn 1.22
* tslint: 5.18.0
* codelyzer: 5.1.0

Exception for every fileL
[code]

[2020-02-19 16:12] christopherallanperry opened #956 "Codelyzer Accessibility Rule Violations Not Showing in VSCode Editor Window"
**Describe the bug**

In order to include accessibility checks in an Angular 9.0 project, I followed the configuration steps in this article - https://web.dev/accessible-angular-with-codelyzer/

Subsequent tests show that the rules are applied using `ng lint` from the CLI, but are not highlighted as a warning, nor is the descriptor popup  available.

TSLint warnings are shown as normal, but not th

[2020-02-20 14:46] antch commented on #491
Absolutely. I'm finding that I have to disable the rule altogether as around half of the usages in the codebase use strings/numbers, and if we have to disable the rule for an entire template there's really no point in trying to enforce it.

[2020-02-21 20:23] mgechev commented on #956
There was a discussion with the maintainers of the tslint extension for VSCode on how to implement this. Unfortunately, there's nothing on codelyzer's side we can do.

[2020-02-21 20:23] #956 closed

[2020-02-21 20:27] christopherallanperry commented on #956
Hi Minko,

Unfortunate, but thanks for letting me know.

Chris

[2020-02-22 14:45] JamesHenry commented on #763
As @mgechev notes, you can try ESLint out at any time with your Angular projects by using (and I would suggest watching) the https://github.com/angular-eslint/angular-eslint project on github.

You can check out the latest v9 Angular CLI integration test for how to manually set up ESLint with your Angular CLI projects today:

- **ESLint config:** https://github.com/angular-eslint/angular-eslint/bl

[2020-02-27 11:32] nseni opened #958 "No changelog for version 5.2.1"
https://www.npmjs.com/package/codelyzer?activeTab=versions
The latest available version is 5.2.1.

But this version is not mentioned in Releases, Changelog or Commits
https://github.com/mgechev/codelyzer/releases
https://github.com/mgechev/codelyzer/blob/master/CHANGELOG.md
https://github.com/mgechev/codelyzer/commits/master

and in the package.json I see that the latest version is 5.2.0
https://g

[2020-03-01 21:50] Sampath-Lokuge commented on #338
This works for me:

[code]

[2020-03-03 01:38] mgechev commented on #958
Thanks for pointing this out. Here it is https://github.com/mgechev/codelyzer/blob/master/CHANGELOG.md#521-2020-03-03.

[2020-03-03 01:38] #958 closed

[2020-03-06 09:33] hoeni commented on #947
same here. Lots of false positives for this

[2020-03-08 23:53] snebjorn opened #959 "tslint 6 compatibility"
**Describe the bug**

I was wondering if the tslint version could be bumped to 6, it's currently 5

I keep getting peer dependency warnings :(

[2020-03-11 12:09] umdstu opened #960 "Support for Angular 8.x.x"
**Describe the bug**

codelyzer@5.1.x requires angular/core@7.2.x

When you're on angular >= 8.0.x, ng update is unhappy updating without being foroced.
"Package "codelyzer" has an incompatible peer dependency to "@angular/core" (requires "^2.3.1 || >= 4.0.0-beta < 5.0.0" (extended), would install "9.0.5").
"Package "codelyzer" has an incompatible peer dependency to "@angular/compiler" (requires "

[2020-03-13 21:37] KBeDevel commented on #959
I think this could be ignored due to ESLint migration :/

[2020-03-17 09:16] snebjorn commented on #959
The ESLint migration is possibly months/years away.

I'd be willing to make a PR

[2020-03-19 04:34] usmanmustafa33 commented on #821
Any update on this?

I am facing the same problem for `tslint:disable:template-i18n`, I went disable `template-i18n` rule for some template but it's not working. @mgechev's solution is not working.

@rafaelss95  @mgechev

[2020-03-24 03:41] fromage9747 commented on #791
@b2k Thank you.  Yours worked.

[2020-03-25 18:47] snebjorn commented on #959
From changelog for easy reference

[2020-03-26 08:35] PowerKiKi commented on #959
This should be fixed by https://github.com/mgechev/codelyzer/pull/961

[2020-03-26 17:27] alan-agius4 commented on #959
Version 5.2.2 has been released which contains the above fix.

[2020-03-26 17:37] #959 closed

[2020-04-28 15:30] jaufgang commented on #757
Also doesn't fail when accessing getters in a template.

[code]

[2020-04-29 16:13] kylekatarnls commented on #560
My 2 cents, an important part of this quote is "on the same input"

Using OnChanges and DoCheck to respond to independent changes is a relevant usage.

[2020-05-02 13:11] Folivi95 commented on #338
running npm i codelyzer on the project resolved the issue.

[2020-06-03 13:13] BramMeerten opened #965 "directive-selector throws an error when it comes across an empty @Directive()"
**Describe the bug**

When you have the following annotation:
[code]

The `directive-selector` rule crashes with the following error:
[code]

**Context and configuration**
`tsconfig.json`:
[code]

**Expected behavior**

Expected no error to be thrown.

**Environment**

 - Version 5.2.1
 - Node.js version 13.10.1
 - Package manager (yarn/npm) version 6.14.2
 - Angular version 9.1.7
 - tslint versio

[2020-06-03 13:18] BramMeerten commented on #965
You can circumvent this bug by adding `{}`: `@Directive({})`

[2020-06-03 14:06] BramMeerten commented on #965
Sorry, thought I was using version 5.2.1 but wasn't.
This is not an issue in the latest versions.

[2020-06-03 14:06] #965 closed

[2020-06-04 01:19] rafaelss95 commented on #936
Closed by #938.

[2020-06-04 01:19] #936 closed

[2020-06-04 01:30] rafaelss95 commented on #947
`angular-whitespace` is deprecated. See #719.

[2020-06-04 01:30] #947 closed

[2020-06-04 02:16] rafaelss95 commented on #955
@DerHerrGammler @piotrl can you confirm that it's still an issue? I wasn't able to reproduce it with the latest version.

[2020-06-04 02:26] rafaelss95 commented on #911
@patricio-ezequiel-hondagneu-roig can you confirm that it's still an issue? I wasn't able to reproduce it with the latest version.

[2020-06-04 02:30] rafaelss95 commented on #882
@undsoft I don't use pug, but `angular-whitespace` is **deprecated** and it as far I can remember, it has some problems with its fixer. We have just another template rule that has a fixer, the `template-banana-in-box`. Would you mind to try to reproduce the problem with it?

[2020-06-04 02:33] rafaelss95 commented on #960
I guess the `peerDependencies` are adjusted now.

https://github.com/mgechev/codelyzer/blob/4d597cd1497e9d1ff036a2362e7812961d63fc75/package.json#L94-L98

[2020-06-04 02:33] #960 closed

[2020-06-04 03:56] rafaelss95 commented on #824
I'm closing this as it seems to be solved in the latest versions.

[2020-06-04 03:56] #824 closed

[2020-06-04 15:23] piotrl commented on #955
hey @rafaelss95 - I consider it as fixed in v5.2.

After update there was different error in `no-redundant-jsdoc` that happened to be in TSlint repo.

[2020-06-04 16:18] #955 closed

[2020-06-16 03:51] deerawan opened #966 "[feature request]: Add a new rule validate decorators"
I found this could be useful if we want to enforce the code to use always specific rule in decorators e.g always use `OnPush` change detection

References:
https://github.com/angular/components/pull/7119/files#diff-ace19bd0c04529e685320269e3c05de9
https://github.com/angular/components/pull/6800/files#diff-4f12977d13592c5f817099357ce8af08

[2020-06-25 21:02] crfrolik opened #967 "Support Angular 10"
[code]

[2020-06-26 15:52] denis-starchenko commented on #967
++ The same problem

[2020-06-27 14:20] emiliovmq commented on #967
The same here

[2020-06-28 16:41] pickfire commented on #967
Well, the same problem happen to a lot of angular libraries every time there is an update.

[2020-07-03 18:14] markgoho commented on #967
Have you guys checked out the `6.0.0` release? https://www.npmjs.com/package/codelyzer

[2020-07-04 15:19] pickfire commented on #967
No, it was just up 2 days ago.

[2020-07-04 15:26] markgoho commented on #967
@crfrolik can you confirm?

[2020-07-06 07:44] viceice opened #969 "No changelog for version 6.0.0"
The changelog entry for version 6.0.0 is missing.

[2020-07-06 09:04] Dassderdie commented on #969
Also there is a [changelog for version 5.3.0](https://github.com/mgechev/codelyzer/blob/master/CHANGELOG.md#530-2020-07-02) but no version 5.3 published to npm...

[2020-07-06 16:29] hamfastgamgee commented on #967
It looks like there is a direct dependency in 6.0.0 to v9 @angular/core and @angular/compiler.  I'm guessing it's not quite ready yet?

[2020-07-06 16:52] mgechev commented on #967
It's ready. The dependency is intentional to make sure codelyzer uses View Engine's parsing machinery.

[2020-07-06 16:52] #967 closed

[2020-07-09 15:50] aramperes commented on #969
The 5.3.0/6.0.0 changelog also mentions support for Angular 10, yet the project still has a hard dependency on `@angular/core` and `@angular/compiler` 9.0.0. Shouldn't those be `devDependencies` since v10 is supported in `peerDependencies`?

https://github.com/mgechev/codelyzer/blob/0b2e233457cbf3d326ac6138e5329138561b10ce/package.json#L96-L98

[2020-07-09 18:32] crfrolik commented on #967
Running `npm list` with Angular 10 and codelyzer 6 shows this in the console:

[code]

I'm not sure if this is actually a problem, though.

[2020-07-10 08:13] jimivdw commented on #969
@aramperes I noticed the same thing. It actually causes the linter not to work for me in combination with Angular 10 (throws some type errors).

Maybe it's worth it to file this as a separate issue?

[2020-07-10 14:05] C0ZEN commented on #969
@jimivdw what kind of errors do you have?
I have the latest version of Angular `10.0.3` and this on `6.0.0` and everything is fine on my project.
Sounds not safe but still good to me to upgrade it.

[2020-07-11 09:47] mgechev commented on #967
Codelyzer should have a direct dependency on v9 because of some internal APIs it uses. I'm surprised it errors out. Does your `ng lint` command work?

[2020-07-12 08:02] mariusbolik commented on #969
Also `tslint` which is deprecated should be replaced by a similar tool. This was also mentioned here: https://github.com/mgechev/codelyzer/issues/763 :)
https://github.com/mgechev/codelyzer/blob/0b2e233457cbf3d326ac6138e5329138561b10ce/package.json#L94

[2020-07-13 09:32] jimivdw commented on #969
@C0ZEN seems I jumped to conclusions a bit too fast. The type errors I got were actually related to a custom linter I have, where I import types from Angular (local, which is v10) which are different than the ones codelyzer uses (Angular v9).

A workaround for that would be to import the types from `codelyzer/node_modules/@angular/compiler` instead of just from `@angular/compiler`, but that's real

[2020-07-13 14:32] crfrolik commented on #967
Yes, `ng lint` does work work, so maybe this isn't really a problem.

[2020-07-23 21:14] mercuriete commented on #802
Hi, not sure if my request is similar to this but I am expect something like  "extends": "tslint:recommended",

So please implement a tslint profile for extending the default rule set.

example of usage:
[code]

So that we can add automatically more rules on each upgrade of the dependency.

Thanks for your work.

[2020-08-04 11:28] Yrkki commented on #634
👍👍👍

[2020-08-04 11:29] Yrkki commented on #639
👍👍👍

[2020-08-10 18:01] karmasakshi opened #975 "[Feature Request] Rule: Inputs, Outputs and lifecycle methods on top"
Presently in TSLint, one can set
[code]
This enforces the code to be as following:
[code]
Proposing a new rule which puts members alphabetized in the following order:
1. Inputs
2. Outputs
3. Public fields
4. Private fields
5. Lifecycle hooks, preferably in the order they are called
6. Public methods
7. Private methods

Thus, the file would look like this:
[code]
Reason:

1. Having Inputs and Outpu

[2020-08-14 22:35] mgechev commented on #975
Hey @karmasakshi feel free to open this feature request in [angular-eslint](https://github.com/angular-eslint/angular-eslint). Since tslint's maintenance was discontinued we'll be moving to ESLint.

[2020-08-14 22:35] #975 closed

[2020-08-14 22:40] mgechev commented on #969
Hey everyone, sorry for the late response. I just saw this issue after digging into hundreds of @dependabot PRs.

We'll be moving to ESLint in the next few months and deprecating codelyzer. You'll be able to use [angular-eslint](https://github.com/angular-eslint/angular-eslint), which currently has a similar feature set.

In v6 I added dependencies on Angular v9 so we can use the compiler API code

[2020-08-19 17:56] ModestosV opened #976 "Allow aria-label to suppress template-accessibility-alt-text violation"
I am facing a use case where I do not want to specify an empty or non-empty alt text on an image element. However, I still want to provide an aria-label for assistive technologies.

Would it be possible for `template-accessibility-alt-text` to consider `aria-label` to be an acceptable alternative (either by default or as a rule option)?

[2020-08-20 10:09] larsvanpoucke commented on #911
@rafaelss95 I can confirm :)

[2020-08-25 01:59] ranouf opened #977 "component-class-suffix does not work."
Hi,

I added this rule to tslint.json for my Angular project:

    "rules": {
        "component-class-suffix": [ true, "Component", "Container" ],
    }
or

    "rules": {
        "component-class-suffix": false,
    }

But, I continue to have this warning:

Do I need to do something else to make this custom rule works?

Thanks

[2020-08-25 02:43] rafaelss95 commented on #977
Hello @ranouf, I just tested it locally and I was unable to reproduce it. Do you mind in share your full `tslint.json` or even creating a repo to demonstrate this issue? Thanks.

[2020-08-25 03:37] ranouf commented on #977
Hi,

kind of long to create a new repo, the project is pretty big, if we can't find a solution, I will do it.

here us the tslint.json file:

[2020-08-25 03:47] rafaelss95 commented on #977
Could you please tell me which versions are you using: Angular and Codelyzer? Also, please check if there is no other `tslint.json` file across the project overriding this one.

Just a note about the repo, I was asking about a clean repo, with only the `tslint.json` filled and a component to demonstrates the issue.

[2020-08-25 03:51] ranouf commented on #977
[code]

thanks for the explanation about the repo :)

[2020-08-25 06:25] ranouf commented on #977
I finally found the issue, I modified the file in its parent folder instead of using the one in angular app.

Thanks for your help.

[2020-08-25 06:25] #977 closed

[2020-09-18 14:33] mgechev commented on #763
Closing this issue since we've been working on a [replacement on top of ESLint](https://github.com/angular-eslint).

[2020-09-18 15:17] seawave23 commented on #628
any progress on this? I'm meanwhile thinking about writing a custom linter rule based on that one...

[2020-11-28 12:41] wKoza commented on #816
Hi,
It seems to be a bug. We only need to have a relative url. Whatever we do after that.

[2020-12-05 10:13] chandrabiji commented on #719
core.js:9813 NG0303: Can't bind to 'ngforOf' since it isn't a known property of 'tr'.
logUnknownPropertyError @ core.js:9813
elementPropertyInternal @ core.js:9725
ɵɵproperty @ core.js:14444
StudentComponent_Template @ student.component.html:14
executeTemplate @ core.js:9302
refreshView @ core.js:9171
refreshComponent @ core.js:10324
refreshChildComponents @ core.js:8968
refreshView @ core.js:9221

[2020-12-08 19:18] mfabioe opened #987 "5.3.0 not published on NPM"
I was updating an angular 9 application to angular 10 (cant update to 11 yet due to dependencies), but 5.3.0 is not published on npm, which causes a warning after npm install:
codelyzer@5.2.2 requires a peer of @angular/compiler@>=2.3.1 <10.0.0 || >9.0.0-beta <10.0.0 || >9.1.0-beta <10.0.0 || >9.2.0-beta <10.0.0 but
none is installed. You must install peer dependencies yourself.

[2020-12-08 19:21] mfabioe commented on #987
$ ng update codelyzer@5.3.0
The installed local Angular CLI version is older than the latest stable version.
Installing a temporary version to perform the update.
Installing packages for tooling via npm.
Installed packages for tooling via npm.
Using package manager: 'npm'
Collecting installed dependencies...
Found 46 dependencies.
Fetching dependency metadata from registry...
Package specified by

[2020-12-09 16:27] MohdRashid01 opened #988 "How to Run Codelyzer"
Hi All,

I got below error when i execute npm run lint command (ERROR : angular-seed@1.0.0 lint: `gulp tslint)

Actually i want to run my code through codelyzer and im following this link https://www.npmjs.com/package/codelyzer for installation or setup codelyzer in ubuntu.
image

Here is the screenshot of npm, nodejs, gulp and angular version showing.

image
and
image

when i type ng serve below

[2020-12-17 11:42] Timebutt opened #990 "@angular/core and @angular/compiler explicitly listed as dependencies in published package.json"
**Describe the bug**

I'm seeing a Typescript issue because of `@angular/core` being explicitly listed as a dependency of `codelyzer`.

**Context and configuration**

`codelyzer` lists `@angular/core: 9.0.0` as an explicit dependency in its `package.json`, while my own app is running `@angular/core: 9.2.13`. I have a custom rule that extends `BasicTemplateAstVisitor`.

The following code snippet i

[2020-12-29 20:52] SevagNadjarianTR commented on #987
Any update on this issue? I'm running into this issue as well.  5.3.0 is currently not within the npm registry

https://www.npmjs.com/package/codelyzer

[2021-01-04 07:34] yannickl88 commented on #990
Was upgrading our Angular app and had to upgrade Codelyzer for the support of v11. However, this will result in two different versions of `@angular/compiler` and `@angular/core` in my yarn.lock file: one version 11 (Angular itself) and one version 9 (Codelyzer).

This does not seem the desired behavior, so it means our upgrade is blocked because of this.

[2021-01-11 17:21] georgms commented on #519
Sorry for resurrecting this but I can still do:

[code]

But according to the Angular style guide [pipe name strings should use *lowerCamelCase*](https://angular.io/guide/styleguide#pipe-names), ie. `@Pipe({ name: 'underscoreName' })`.

How can I enforce *lowerCamelCase* for pipe names?

[2021-01-13 14:29] abzats opened #993 "[feature request]: Allow aria-label to suppress template-accessibility-elements-content violation"
**Describe the bug**

I'm facing an issue when I don't want to set explicit text content for a button element but I want to use `aria-label` for assistive technologies instead. In my current situation, I have a directive that adds icons to the button but without text.

Would it be possible for template-accessibility-elements-content to consider aria-label to be an acceptable alternative (either by

[2021-01-14 20:25] rafaelss95 commented on #993
@abzats I'm afraid we can't support this in Codelyzer as TSLint is _out_, you could open this in https://github.com/angular-eslint/angular-eslint/issues instead.

[2021-01-18 20:58] mgechev commented on #519
I'd recommend opening an issue in [angular-eslint](https://github.com/angular-eslint/angular-eslint). Codelyzer is now deprecated.

[2021-02-02 09:32] mksby commented on #987
I run up against the same issue. 5.3.0 is still not published in npm registry. What's ETA?

[2021-02-05 13:58] d4nc3r commented on #987
Also requesting info about why version 6 is in the npm registry but it's missing version 5.3.0, we aren't ready to move to ng11 yet, and are just updating to ng10

[2021-02-08 17:04] fikkatra opened #996 "template-click-events-have-key-events throws error on anchor <a> element"
**Describe the bug**

The rule should exclude interactive elements. Buttons are indeed excluded, however, anchor tags with click events (without key events) still cause a lint error:

`<a (click)="handleClick()">My link</a>`

**Context and configuration**
rule: template-click-events-have-key-events
tsconfig.json:
[code]
no codelyzer.js

**Expected behavior**

The rule should pass for anchor tags w

[2021-02-26 16:12] LucaFranceschini commented on #987
Any update on this?

[2021-03-09 18:34] mlevinem6 commented on #348
Just an update for anyone who happens upon this page as I did, it currently would be done like this:
[code]

[2021-05-12 12:03] codestart commented on #990
This error caused me to have to remove Codelyzer from our app. There is a work-around, but we have too many people installing to have to explain work-around to each.

Work-around is to:
1. installl angular core 9
2. install angular compiler 9 (this will have updated package.json)
3. run npm install (or whatever you use) for the rest
4. revert package.json
5. run npm install again (now with correct

[2021-05-12 18:09] snowinmars commented on #135
num13ru/eslint-plugin-change-detection-strategy#1

[2021-08-25 05:00] renovate[bot] opened #1016 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/mgechev/codelyzer).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## Deprecati

[2021-10-28 14:46] ccarmesin commented on #967
Hey @crfrolik I have the exact same Problem. Do you remember your solution for it? Thanks Cami :)

[2021-10-28 14:55] crfrolik commented on #967
Are you using codelyzer 6.0.2? That is the latest version, and it should work with that.

[2021-11-01 12:44] ccarmesin commented on #967
Yes, I tried also codelyzer 6.0.2 but the error is still there
[code]

[2021-11-01 13:15] ccarmesin opened #1017 "Support for Angular 10"
**Codelyzer requires Angular 9 instead of Angular 10**

When I am running the command `npm ls -json` in my node js project I get the following error:

`npm ERR! missing: @angular/core@9.0.0, required by codelyzer@6.0.2`
`npm ERR! missing: @angular/compiler@9.0.0, required by codelyzer@6.0.2`

@angular/core and @angular/compiler are already installed in the dependencies of my project, but with vers

[2021-12-02 06:51] langthiennhai opened #1019 "Update codelyzer support for Angular v13"
OS: Window 10
Angular 13
Node 14.15.0

**Peer dep missing:**
npm ERR! peer dep missing: @angular/core@>=2.3.1 <13.0.0 || ^12.0.0-next || ^12.1.0-next || ^12.2.0-next, required by codelyzer@6.0.2

[2021-12-07 21:46] renemadsen commented on #1019
Any update on this @mgechev ?

[2021-12-15 09:27] afnecors commented on #1019
[https://blog.angular.io/version-11-of-angular-now-available-74721b7952f7](https://blog.angular.io/version-11-of-angular-now-available-74721b7952f7)

[2022-01-20 20:02] mgechev commented on #1019
For v11+ I recommend you moving to ESLint.

[2022-01-20 20:02] #1019 closed, assigned to nobody

[2022-03-28 09:47] Beef-Tech commented on #987
**Up please.**

Same issue for me, build doesn't seems to pass.

I've tried to build a release package on my local repo and it's OK.

I've mailed the author to publish a release ASAP.

[2022-05-18 14:26] konstantinhatvan commented on #628
Would be nice to have the configuration option.
I worked around the problem by using string interpolation and a string literal.

So something like this:
[code]

I have to be honest though.
I have no idea if this has any downsides to it.

[2022-06-22 11:44] drk-mtr commented on #990
This also leads to npm audit vulnerabilities that can't be resolved:

[code]

Running `npm audit fix --force` will result in codelyzer being downgraded to 0.0.28 which wouldn't be what we want, removing codelyzer from our solution for now.

[2022-07-11 06:14] mohitrth26 commented on #967
Hi @ccarmesin , I have the exact same Problem

Have you got the solution for this error?

[2022-07-14 03:15] robertdempsey commented on #990
Having these dependencies results in not being able to build our project that is within a monorepo, as Angular 9.0.0 is what gets installed in the root `node_modules` directory, as opposed to version ^14.0.0 that our project desires. Is there a chance these are going to be removed?

[2022-07-27 11:52] LukasMachetanz opened #1032 "Angular 14"
Hey.

Is it possible to update angular, specifically `@angular/compiler` and `@angular/core`, to the latest version (e.g. `~14.1.0`)?

This would help to resolve the following peer dependency warning within a nrwl/nx workspace:

[code]

Greets,
Lukas

[2022-08-01 16:24] DesertFoxNV commented on #990
@robertdempsey Until there is a better solution you can override it in your package.json if you are using npm as your package manager:

[code]

[2022-08-31 18:59] NotTheSamAdamsGuy opened #1033 "Update Angular to resolve vulnerability CVE-2021-4231"
Versions of Angular < 11.0.5 have a cross-site scripting vulnerability as described at https://github.com/advisories/GHSA-c75v-2vq8-878f.

[2022-10-11 14:55] ahoss63 commented on #1033
same issue here due to the version 9.0.0 of @angular/core referenced in package.json
any info about when the correction will be shipped ?

[2022-10-13 13:49] chaixdev commented on #1033
this issue is keeping me from updating angular. please fix!

[2022-10-13 13:50] chaixdev commented on #1032
this issue is keeping me from updating angular. please fix!

[2022-11-26 12:00] scurk1415 commented on #1032
As far as i know you should use https://github.com/angular-eslint/angular-eslint instead of this